<div class="interns-apply-wrapper">
	<h1 class="fellows-steps-head fellpadtop">
			Steps for applying
	</h1>
	<div class="row fellpadbtm">
		<div class="small 12 columns">
			<p class="featured fellows-steps-subhead">
				We match your skills and interests with a position based on Kiva's team and project needs. Please apply to the general Kiva internship role unless you have a specific skill set that matches the individual internship roles posted online.
			</p>
		</div>
	</div>

	<svg class="icon-apply">
		<use xlink:href="#icon-apply"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 1: Apply</p>
			<p class="fellows-text-step extra-lineheight">Please apply by submitting your resume and cover letter.</p>
			<p class="featured steps-green-feat"><strong>By October 28, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-screen">
		<use xlink:href="#icon-screen"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 2: Phone interview</p>
			<p class="fellows-text-step extra-lineheight">We'll email you to schedule a phone/Skype interview if we move forward with your application.</p>
			<p class="featured steps-green-feat"><strong>By November 7, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-interview">
		<use xlink:href="#icon-matchmaking"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 3: Matchmaking</p>
			<p class="fellows-text-step extra-lineheight">We consider your skills, experience and interests and work to match them with a need at Kiva.</p>
			<p class="featured steps-green-feat"><strong>By November 11, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-offer">
		<use xlink:href="#icon-interview"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 4: Face-to-face interview</p>
			<p class="fellows-text-step extra-lineheight">If we find a potential match, we'll contact you to schedule an in-person (or Skype) interview with the hiring manager for that position.</p>
			<p class="featured steps-green-feat"><strong>By December 2, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-offer">
		<use xlink:href="#icon-offer"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 5: Offer</p>
			<p class="fellows-text-step extra-lineheight">If the hiring manager sees a fit for their team, you'll be offered an internship position.</p>
			<p class="featured steps-green-feat"><strong>By December 15, 2016</strong></p>
		</div>
	</div>

	<div class="row mousepadtop">
		<div class="small 12 columns">
			<p class="fellows-steps-subhead extra-lineheight">
				Due to the competitive nature of our internships, we recommend that you submit your application as soon as possible. We receive a large number of applications, so are only able to respond to people who will be moving forward in the process. Please note, if you are invited to an in-person interview and are located outside the San Francisco Bay Area, we will schedule an interview with you via Skype.
			</p>
		</div>
	</div>

</div>
