<div class="fellowsStatsContainer text-center">
    <div class="topStats">
		<div class="row row1 show-for-small-up">
			<div class="small-12 medium-12 large-12 columns">
				<p class="huge kiva-green">Fellows make an impact</p>
			</div>
		</div>

		<div class="row row2 show-for-small-up">
			<div class="small-12 medium-12 large-4 columns">
				<h1 class="stat white">3,500+</h1>
				<div class="featured white fellpadbtm">Borrowers visited in the field</div>
			</div>

			<div class="small-12 medium-12 large-4 columns">
				<h1 class="stat white">340,000+</h1>
				<div class="featured white fellpadbtm">Hours worked to promote Kiva's mission</div>
			</div>

			<div class="small-12 medium-12 large-4 columns">
				<h1 class="stat white">2,600+</h1>
				<div class="featured white fellpadbtm">Blog posts shared with the Kiva community</div>
			</div>
		</div>
  </div>
</div>
