<a href="#" data-reveal-id="fellows-video">
	<div class="fellows-video-wrapper">

		<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows-video2.jpg" img alt="Kiva fellow screen grab">

		<div class="button-wrapper">
			<div class="play-button">
				<svg class="icon icon-triangle">
					<use xlink:href="#icon-triangle"></use>
				</svg>
				<span kvtrackevent="Fellows|View|Video" class="white">Advice from a Kiva fellow</span>
			</div>
		</div>
	</div>
</a>

{{!This lightbox has been copied and pasted from the 02-video-lightbox.mustache file within the molecules folder. If you
make changes to any content within the div="video-lightbox" you should recopy this whole div into the
02-video-lightbox.mustache file within the molecules folder}}
<div id="fellows-video" class="reveal-modal" data-reveal aria-hidden="true" role="video">
	<div class="row">
		<div class="columns small-12">
			<a class="close-reveal-modal" aria-label="Close">
				<svg class="icon icon-x">
					<use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
				</svg>
			</a>
			<div class="lightbox-content white">

				<h1 class="white">{{lightbox.video.youtube.modal-title}}</h1>

				<div class="flex-video widescreen vimeo">
					<iframe width="{{lightbox.video.youtube.width}}" height="{{lightbox.video.youtube.height}}" src="{{lightbox.video.youtube.src}}" frameborder="{{lightbox.video.youtube.frameborder}}" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
