<div class="control-region row">
    <div class="control-box">
        <a href="#" class="hide-for-xxlarge-up filter-menu-button button setting left-off-canvas-toggle">
            <svg class="icon icon-filter">
                <use xlink:href="#icon-filter"/>
            </svg>
            Filters
        </a>
    </div>
</div>