<div class="control-box">
	<a href="#" class="filter-menu-button button setting left-off-canvas-toggle">
		<svg class="icon icon-filter">
			<use xlink:href="#icon-filter"/>
		</svg>
		Filters
	</a>

	<div class="filter-menu-sort">
		<span class="filter-menu-sort-text" class="small-text">Sort By:&nbsp;&nbsp;&nbsp;</span>
			<span class="filter-menu-sort-dropdown">
				<select name="sort[]" id="filter-loan-sort-dropdown" class="filter-dropdown">
					{{#sort_options}}
						<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{label}}</option>
					{{/sort_options}}
				</select>
			</span>
	</div>
	<div style="clear:both"></div>

	{{#is-category-page}}
		{{> 01-molecules/00-text/05-category-page-head}}
	{{/is-category-page}}

</div>
<div class="secondary-nav filter-loan-count {{#is-category-page}}hide{{/is-category-page}}">
	{{loan-count}} loans
	<span><a href="#" class="hide-for-small filter-links filter-clear-button clear-touch">Clear all</a></span>
	<span><a href="#" class="hide-for-small filter-links save-search-button clear-touch"
			 data-reveal-id="save-search-modal">Save search</a></span>
</div>

<div id="save-search-modal" class="reveal-modal" data-reveal>
	<div class="row">
		<div class="columns small-12">
			<a class="close-reveal-modal" aria-label="Close">
				<svg class="icon icon-x">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
				</svg>
			</a>
			<div class="lightbox-content white">
				<div class="row">
					<div class="columns small-7">
						<input type="text" name="save-search-text">
					</div>
					<div class="columns small-4">
						<button class="button submit-save-search">Save Search</button>
					</div>
					<div class="columns small-offset-1"></div>
				</div>
				<div class="row">
					<div class="columns small-12">
						<input type="checkbox" name="save-search-alert">
						<span style="color: black">Email me when new loans become available.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
