<div class="heading-region row">
	<div class="small-8 large-10 columns">
		<p class="page-title">Make a loan, change a life</p>
		<p class="category-description small-12 xlarge-9">
			Each Kiva loan helps people build a better future for themselves and their families.
		</p>
	</div>
	<div class="browse-filter-toggle-container small-4 large-2 columns">
		<a href="/lend-by-category">
			<div class="browse-filter-toggle browse-filter-toggle-browse">
				<div class="browse-filter-toggle-icon-wrapper browse-filter-toggle-link-browse">
					<svg class="icon icon-toggle-browse">
						<use xlink:href="#icon-toggle-browse" />
					</svg>
				</div>
				<div class="browse-filter-toggle-label">Explore</div>
			</div>
		</a>
		<div class="browse-filter-toggle-spacer"></div>
		<div class="browse-filter-toggle browse-filter-toggle-filter active">
			<div class="browse-filter-toggle-icon-wrapper">
				<svg class="icon icon-toggle-filter">
					<use xlink:href="#icon-toggle-filter" />
				</svg>
			</div>
			<div class="browse-filter-toggle-label">Filter</div>
		</div>
	</div>
</div>
