<div class="submit-controls text-center">
	{{^has_billing_agreement}}
		<div id="paypal-button"></div>

		<div class="disclaimer">Thanks to PayPal, Kiva receives
			<br class="so">free payment processing.</div>
	{{/has_billing_agreement}}

	{{#has_billing_agreement}}
		<div id="monthly-good-save-button">
			<button class="button smaller">Confirm</button>
			<div class="text-center">
				<em>We'll charge your PayPal account for your Monthly Good</em>
			</div>
		</div>
	{{/has_billing_agreement}}
</div>
