<!-- Size Classes -->
<p>
	<a href="#" class="button">Button</a>
</p>

<p>
	<a href="#" class="button setting"><i class="fa fa-sort-alpha-asc"></i> Setting</a>
</p>


<div class="sg-type-size-head">Accessabilty</div>
<a role="button" href="#" class="button">Default</a>
<a role="button" aria-label="submit form" href="#" class="button">Submit</a>
<div role="button" tabindex="0" class="button">Default</div>
