<!-- Size Classes -->
<p>
	<a href="#" class="button">Button</a>
</p>

<div class="sg-element-description">Setting button with no icon</div>
<p>
	<a href="#" class="button setting">Setting</a>
</p>

<div class="sg-element-description">Setting button with icon</div>
<p>
	<a href="#" class="button setting">
		<svg class="icon icon-filter">
			<use xlink:href="#icon-filter"/>
		</svg>
		Filters</a>
</p>


<div class="sg-element-description">Accessabilty</div>
<a role="button" href="#" class="button">Default</a>
<a role="button" aria-label="submit form" href="#" class="button">Submit</a>
<div role="button" tabindex="0" class="button">Default</div>


<div class="sg-element-description">Smaller button</div>
<p>
	<a href="#" class="button smaller">Smaller</a>
</p>
