<!-- A default button-group -->
<ul class="button-group">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
</ul>

<!-- Rounded Button Group -->
<ul class="button-group round">
  <li><a href="#" class="button">Button 1</a></li>
  <li><a href="#" class="button">Button 2</a></li>
  <li><a href="#" class="button">Button 3</a></li>
  <li><a href="#" class="button">Button 4</a></li>
</ul>

<ul class="button-group even-3">
  <li><a href="#" class="button secondary">Button 1</a></li>
  <li><a href="#" class="button secondary">Button 2</a></li>
  <li><a href="#" class="button secondary">Button 3</a></li>
</ul>
