<div class="row">
	<div class="small-12 columns">
		<h1>Our Trustees</h1>
	</div>
	<div class="large-8 medium-6 small-12 columns">
		<p>
			Kiva Trustees source entrepreneurs they believe in and publicly endorse them as borrowers on the Kiva website.
		</p>
		<p>
			Trustees have no financial liability for loans, but their reputation is tied to the repayment rate of the borrowers they endorse. Unlike Field Partners, Trustees never actually handle the loans, which Kiva disburses directly to the borrowers. Trustees can be individuals or organizations.
		</p>
	</div>

	<div class="large-4 medium-6 small-12 columns become-a-trustee">
		<h2>Become a Trustee</h2>

		<p>Increase the economic vitality of your community and help fund entrepreneurs you believe in.</p>

		<a class="button" target="_blank" href="{{trusteeApplyHref}}">Get Started</a>
	</div>
</div>
<div class="trustee-filters-region"></div>
<div class="trustee-results-region"></div>

