<div class="row">
	<div class="small-12 columns">
		<h1>Our Trustees</h1>
	</div>
	<div class="large-8 medium-6 small-12 columns">
		<p>
			Kiva Trustees source entrepreneurs they believe in and publicly endorse them as borrowers on the Kiva website.
		</p>
		<p>
			Trustees have no financial liability for loans, but their reputation is tied to the repayment rate of the borrowers they endorse. Unlike Field Partners, Trustees never actually handle the loans, which Kiva disburses directly to the borrowers. Trustees can be individuals or organizations.
		</p>
	</div>

	<div class="large-4 medium-6 small-12 columns become-a-trustee">
        <p>
            <strong>Notice:</strong> Kiva US is not currently accepting new Trustee applications at this time.
            Please e-mail <a href="mailto:US-partnerships@kiva.org ">US-partnerships@kiva.org</a> to be added to a list to partner with Kiva US in the future once applications re-open.
        </p>
	</div>
</div>
<div class="trustee-filters-region"></div>
<div class="trustee-results-region"></div>

