<form method="post" action="{{ url }}" class="comment-form">
    <fieldset>
        <div class="field-container">
            <label for="comment-field">Comment</label>
            <textarea id="comment-field" rows="5" placeholder="Write your comment here"></textarea>
        </div>
    </fieldset>
    <div class="row  hide-for-large-up">
        <div class="small-3 columns">
            <a href="#" class="button setting smaller">comment</a>
        </div>
        <div class="small-6 columns right">
            <h6> <small><a href="#">Kiva conversation guidelines</a></small></h6>
        </div>
    </div>
    <div class="row   hide-for-large-up">
        <div class="small-3 columns">
            <a href="#" class="button setting smaller">subscribe</a>
        </div>
        <div class="small-6 columns right">
            <h6><small>to be notified of replies</small></h6>
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns show-for-large-up">
            <a href="#" class="button setting">Comment</a>
        </div>
        <div class="large-3 show-for-large-up columns">
            <a href="#" class="button setting">Subscribe</a>
        </div>
        <div class="large-3 show-for-large-up columns">
            <h6><small>to be notified of replies</small></h6>
        </div>
        <div class="large-3 show-for-large-up columns ">
            <a href="#" class="guidelines-link-large"> Kiva conversation guidelines</a>
        </div>
    </div>
</form>
