<form method="post" action="{{url}}" class="comment-form">
    <fieldset>
        <div class="field-container">
            <label for="comment-field" style="display:none;">Comment</label>
            <textarea id="comment-field" rows="8" cols="48"></textarea>
        </div>
    </fieldset>
</form>
