        <!--DO NOT REMOVE-->
        {% pattern-lab-foot %}

		<script src="/dep/jquery/jquery.js?{{ cacheBuster }}"></script>
		<script src="/dep/typeahead/typeahead.js?{{ cacheBuster }}"></script>
		<script src="/js/styleguide.bundle.js?{{ cacheBuster }}"></script>
        <script src="/js/init.js?{{ cacheBuster }}"></script>

	</body>
</html>