
				</div>
			</div>
		</div>
	<div id="siteFooter" class="siteFooter">
		<footer>This is the footer</footer>
	</div>

	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

		<script src="../../dep/jquery/jquery.js?{{ cacheBuster }}"></script>
		<script src="../../dep/fastclick/fastclick.js?{{ cacheBuster }}"></script>
        <script src="../../dep/nouislider/nouislider.js?{{ cacheBuster }}"></script>
        <script src="../../dep/select2/select2.js?{{ cacheBuster }}"></script>
		<script src="../../dep/foundation/foundation.js?{{ cacheBuster }}"></script>

	</body>
</html>