<section class="loan-story ac-container">
    <h2 class="ac-title" data-kv-accordion aria-controls="ac-loan-story-body" aria-expanded="true">
        {{borrowerOrGroupName}}'s Story
	        <span class="ac-dropdown-icon">
		        <svg class="icon icon-large-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
	        </span>
    </h2>
    <div class="ac-body" id="ac-loan-story-body" aria-hidden="false">
        {{#storyDescription}}
            <p>{{.}}</p>
        {{/storyDescription}}

        {{#displayBorrowers}}
            <p>In this group: {{#borrowers}}{{name}}{{^pictured}}*{{/pictured}} {{/borrowers}}<br>*not pictured</p>
        {{/displayBorrowers}}

        {{#translation}}
            {{#reviewerImageLink}}
                <img class="reviewer-image" src="{{reviewerImageLink}}" alt="Translator profile picture"/>
            {{/reviewerImageLink}}
            <p>
                Translated from {{language}} by <a href="{{reviewerLink}}">Kiva Volunteer</a> {{reviewerName}}<br>
                <span class="ac-title black-underlined" data-kv-accordion aria-controls="ac-translation-body" aria-expanded="false">
                    View original language description
                </span>
            </p>
            <div class="ac-body" id="ac-translation-body" aria-hidden="true">
                {{#storyDescription}}
                    <p>{{.}}</p>
                {{/storyDescription}}
            </div>
        {{/translation}}
    </div>
</section>