<div class="borrower-info-card small-6 large-3 columns">
	<p class="featured text-center">{{borrower-info-card.name}}</p>
	<img src="{{borrower-info-card.img_src}}" style="display: block;
    margin: auto;">
	<p class="text-center">{{borrower-info-card.company}}</p>
	<a href="#">
		<p class="text-center">{{borrower-info-card.profile_link}}</p>
	</a>
</div>