<div class="borrower-info-card small-6 large-3 columns">
	<p class="featured text-center">{{borrower-info-card.name}}</p>
	<img class="borrower-image" src="{{borrower-info-card.img_src}}">
	<p class="text-center">{{borrower-info-card.company}}</p>
	<p class="text-center"><a href="{{borrower-info-card.profile_link}}">View profile link</a></p>
</div>