<div class="columns large-2 small-6">
	<img src="{{trustee.imageThumb}}"/>
</div>
<div class="columns large-6 small-6">
	<h3>{{trustee.title}}</h3>
	<p>{{whyEndorse}}</p>
</div>
<div class="columns large-4 small-6">
	{{^isActive}}
		<a href="#" class="activate-endorsement-button">Show this</a>
	{{/isActive}}
	{{#isActive}}
		Currently shown
	{{/isActive}}
</div>