<p class="loan-funded-description">{{{loanFundedDescription}}}</p>
<p class="loan-amount bold">Total loan:${{totalLoanAmount}}</p>
<p>
	<a class="num-lenders bold">Powered by {{numLenders}} lenders</a>
</p>