<p class="loan-funded-description">Your loan is 100% funded and will be disbursed to your PayPal account within the next 5-7 business days.
	In the meantime, consider thanking your lenders by clicking the button below!</p>
<p class="loan-amount bold">Total loan:$ {{totalLoanAmount}}</p>
<p>
	<a class="num-lenders bold">Powered by {{numLenders}} lenders</a>
</p>