<p class="loan-in-review-description">Your loan application is currently under review by the Kiva team. You should expect
	to be contacted within a few business days regarding next steps with your application.</p>

<strong class="loan-amount">Total loan requested: ${{totalLoanAmount}}</strong>