<p class="loan-refunded-description">We're sorry that your loan was refunded. At Kiva, loans are refunded when loans violate
	our fraud policies or if the decision has been driven by you as the borrower.</p>