<p class="loan-rejected-description">Unfortunately, the loan application did not meet our minimum requirements. To apply
	again, please make sure to read over <a href='#'>our requirements</a> to have a better chance of being approved.</p>
<p class="loan-amount bold">Total loan requested:$ {{totalLoanAmount}}</p>