<div class="yellow-background">
	<p class="loan-flagged-description">Please submit a photo of you and your business - not a selfie.</p>
	</br>
	<p class="reviewer-name">{{reviewerName}}, Kiva Reviewer</p>
</div>