<div class="yellow-background">
	<p class="loan-flagged-description">Looks like there was an issue with your loan application. Please be sure to check your email to know what you need to do in order to revise your application and continue with the review process.</p>
</div>