<p class="loan-raised-description">Congratulations! Your loan has been fully repaid.</p>
<strong class="loan-amount">Total loan: ${{totalLoanAmount}}</strong>
<p>
	<a href="{{profileLink}}#lenders-teams" class="lender-count black-underlined">
		<strong>Powered by {{lenderCount}} lenders</strong>
	</a>
</p>
