<p class="loan-raised-description">Congratulations! Your loan has been fully repaid.</p>
<strong class="loan-amount">Total loan: ${{totalLoanAmount}}</strong>
<p>
	<strong class="num-lenders black-underlined">Powered by {{lenderCount}} lenders</strong>
</p>
