{{#inReview}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/04-review-and-approval-process}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/05-lend-to-another-entrepreneur}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/03-prepare-for-pfp}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/18-auto-repay}}
	</div>
{{/inReview}}

{{#isFlagged}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/02-improve-your-application}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/04-review-and-approval-process}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/05-lend-to-another-entrepreneur}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/03-prepare-for-pfp}}
	</div>
{{/isFlagged}}

{{#inPfpFundraising}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/07-get-support}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/08-use-social-media}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/06-your-photo-is-valuable}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/18-auto-repay}}
	</div>
{{/inPfpFundraising}}

{{#inPublicFundraising}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/07-get-support}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/08-use-social-media}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/06-your-photo-is-valuable}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/18-auto-repay}}
	</div>
{{/inPublicFundraising}}

{{#isRefunded}}
	{{> 01-molecules/51-borrower-dashboard/05-loan-status-refunded}}
{{/isRefunded}}

{{#isFunded}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/18-auto-repay}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/09-receiving-your-loan}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/10-thank-lenders}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/14-refer-another-borrower}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/17-tell-us-your-story}}
	</div>
{{/isFunded}}

{{#isPayingBack}}
	{{#isPayingBackDelinquent}}
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/12-back-on-track}}
		</div>
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/13-updating-lenders}}
		</div>
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/11-payment-through-paypal}}
		</div>
	{{/isPayingBackDelinquent}}

	{{^isPayingBackDelinquent}}
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/18-auto-repay}}
		</div>
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/13-updating-lenders}}
		</div>
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/11-payment-through-paypal}}
		</div>
		<div class="whats-next-slide">
			{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/14-refer-another-borrower}}
		</div>
	{{/isPayingBackDelinquent}}
{{/isPayingBack}}

{{#endedInDefault}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/12-back-on-track}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/13-updating-lenders}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/11-payment-through-paypal}}
	</div>
{{/endedInDefault}}

{{#isRepaid}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/16-apply-again}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/14-refer-another-borrower}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/13-updating-lenders}}
	</div>
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/05-lend-to-another-entrepreneur}}
	</div>
{{/isRepaid}}

{{#isExpiringSoon}}
	<div class="whats-next-slide">
		{{> 01-molecules/51-borrower-dashboard/01-whats-next-content/16-apply-again}}
	</div>
{{/isExpiringSoon}}
