<div class="trustee-borrower-actions">
	{{#previewProfileUrl}}
		<a href="{{previewProfileUrl}}">Preview profile</a>
	{{/previewProfileUrl}}
	{{#viewProfileUrl}}
		<a href="{{viewProfileUrl}}">View profile</a>
	{{/viewProfileUrl}}
	{{#showEndorseButton}}
		<a class="button endorse-button" href="#">Endorse</a>
	{{/showEndorseButton}}
	{{#copyInviteUrl}}
		<a href="{{copyInviteUrl}}">Copy referral link</a>
	{{/copyInviteUrl}}
	{{#editEndorsementUrl}}
		<a href="{{editEndorsementUrl}}" class="endorse-button">Edit your endorsement</a>
	{{/editEndorsementUrl}}
	{{#commentLoanUrl}}
		<a href="{{commentLoanUrl}}">Comment on loan</a>
	{{/commentLoanUrl}}
	{{#repaymentScheduleUrl}}
		<a href="{{repaymentScheduleUrl}}">Repayment schedule</a>
	{{/repaymentScheduleUrl}}
</div>
