<a href="#"><span class="filter mobile-filter-title">Keywords</span></a>
<div id="filter-keywords-search-box-container" class="button-group toggle filter-button-group-ul">
    <input id="filter-keywords-search-box" name="filter-keywords-search-box" class="filter filter-keywords-search-box-mobile" type="text" value="Borrower name, description" />
</div>
<hr/>