<ul id="filter-gender-ul" class="filter button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#filter_groups}}
        <li class="filter borrower-filter-box-mobile">
			{{> 02-organisms/05-filters/27-mobile-group-items}}
        </li>
	{{/filter_groups}}
</ul>
<hr/>