{{#is-standalone}}
<div class="email-settings row">
	<form class="small-12 columns">
		<div class="global-region row">
			<div class="global-control small-12 columns">
{{/is-standalone}}

<label for="global-unsubscribed-input">Do you want to receive emails from Kiva?</label>
<select id="global-unsubscribed-input">
	<option value="0" {{^globalUnsubscribed}}selected="selected"{{/globalUnsubscribed}}>Yes, send me emails</option>
	<option value="1" {{#globalUnsubscribed}}selected="selected"{{/globalUnsubscribed}}>Send only legally required emails</option>
</select>

{{#is-standalone}}
			</div>
		</div>
	</form>
</div>
{{/is-standalone}}