{{#is-standalone}}
<div class="email-settings row">
	<form class="small-12 columns">
		<div class="general-region row">
			<div class="general-inputs small-12 columns">
{{/is-standalone}}

<h3>
	General Kiva / account updates
</h3>
{{^allGeneralSelected}}<a class="select-all" href="#">Select all</a>{{/allGeneralSelected}}
{{#allGeneralSelected}}<a class="deselect-all" href="#">Deselect all</a>{{/allGeneralSelected}}

<div class="region-inner">
	<div class="input-wrapper">
		<input id="lender-news-input" type="checkbox" {{#lenderNews}}checked="checked"{{/lenderNews}}>
		<label for="lender-news-input">
			News, inspiration and promotions
		</label>
	</div>
	<div class="input-wrapper">
		<input id="account-updates-input" type="checkbox" {{#accountUpdates}}checked="checked"{{/accountUpdates}}>
		<label for="account-updates-input">
			Portfolio and balance updates
		</label>
	</div>
	{{#showMonthlyGood}}
		<div class="input-wrapper">
			<input id="monthly-good-input" type="checkbox" {{#monthlyGood}}checked="checked"{{/monthlyGood}}>
			<label for="monthly-good-input">
				Monthly Good updates
			</label>
		</div>
	{{/showMonthlyGood}}
	<div class="region-inner">
		<div class="input-wrapper">
			<label for="repayment-updates-input"><strong>Repayment notifications</strong></label>
			<select id="repayment-updates-input">
				{{#repaymentOptions}}
					<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{title}}</option>
				{{/repaymentOptions}}
			</select>
		</div>
		{{#showPush}}
			<div class="input-wrapper nested">
				<input id="push-repayment-updates-input" type="checkbox" {{#repaymentPush}}checked="checked"{{/repaymentPush}}>
				<label for="push-repayment-updates-input">
					Receive notifications on this device
				</label>
			</div>
		{{/showPush}}

		<div class="input-wrapper">
			<label for="autolend-updates-input"><strong>Autolending notifications</strong></label>
			<select id="autolend-updates-input">
				{{#autolendOptions}}
					<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{title}}</option>
				{{/autolendOptions}}
			</select>
		</div>
	</div>
	<a href="{{savedSearchesUrl}}">Saved searches notifications</a>
</div>

{{#is-standalone}}
			</div>
		</div>
	</form>
</div>
{{/is-standalone}}
