{{#is-standalone}}
<div class="email-settings row">
	<form class="small-12 columns">
		<div class="lender-region row">
			<div class="lender-inputs small-12 columns">
{{/is-standalone}}

<h3>
	Lending activity updates
</h3>
{{^allLenderSelected}}<a class="select-all" href="#">Select all</a>{{/allLenderSelected}}
{{#allLenderSelected}}<a class="deselect-all" href="#">Deselect all</a>{{/allLenderSelected}}
<div>
	<input id="loan-updates-input" type="checkbox" {{#loanUpdates}}checked="checked"{{/loanUpdates}}>
	<label for="loan-updates-input">
		Loan and borrower updates
	</label>
</div>
<div>
	<input id="comments-messages-input" type="checkbox" {{#commentsMessages}}checked="checked"{{/commentsMessages}}>
	<label for="comments-messages-input">
		Loan comments, lender to lender messages
	</label>
</div>
<div>
	<label for="team-digests-input"><strong>Team digests and per team preferences</strong></label>
	<select id="team-digests-input">
		{{#teamDigestOptions}}
			<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{title}}</option>
		{{/teamDigestOptions}}
	</select>
	{{#hasTeams}}
		<a href="#">Show per-team preferences</a>
	{{/hasTeams}}
</div>

{{#is-standalone}}
			</div>
		</div>
	</form>
</div>
{{/is-standalone}}