{{#is-standalone}}
<div class="email-settings row">
	<form class="small-12 columns">
		<div class="trustee-region row">
			<div class="trustee-inputs small-12 columns">
{{/is-standalone}}

<h3>
	Trustee updates
</h3>
{{^allTrusteeSelected}}<a class="select-all" href="#">Select all</a>{{/allTrusteeSelected}}
{{#allTrusteeSelected}}<a class="deselect-all" href="#">Deselect all</a>{{/allTrusteeSelected}}

<div class="region-inner">
	<div class="input-wrapper">
		<input id="network-transactions-input" type="checkbox" {{#networkTransactions}}checked="checked"{{/networkTransactions}}>
		<label for="network-transactions-input">
			Borrower network transactions
		</label>
	</div>
	<div class="input-wrapper">
		<input id="network-digest-input" type="checkbox" {{#networkDigest}}checked="checked"{{/networkDigest}}>
		<label for="network-digest-input">
			Borrower network digest
		</label>
	</div>
	<div class="input-wrapper">
		<input id="trustee-news-input" type="checkbox" {{#trusteeNews}}checked="checked"{{/trusteeNews}}>
		<label for="trustee-news-input">
			Trustee news and tips
		</label>
	</div>
</div>

{{#is-standalone}}
			</div>
		</div>
	</form>
</div>
{{/is-standalone}}
