{{#is-standalone}}
<div class="email-settings row">
	<form class="small-12 columns">
		<div class="submit-region row">
			<div class="form-submit small-12 columns">
{{/is-standalone}}

<input type="submit" class="button" value="Save email settings" {{^dirty}}disabled="disabled"{{/dirty}}/>
{{#dirty}}
	<a href="#">Reset</a>
{{/dirty}}

{{#is-standalone}}
			</div>
		</div>
	</form>
</div>
{{/is-standalone}}