<div class="pageWrap">
    {{> organisms-header}}

    <div class="borrower-profile-wrapper">
        <div class="row">
            <div class="small-12 medium-7 columns loan-figure">
                {{> molecules-loan-figure-multiple-photos}}
            </div>
            <div class="small-12 medium-5 columns">
                {{> molecules-pfp-meter}}
            </div>
        </div>

        <hr class="line-break"/>

        <div class="row">
            <div class="small-12 columns">
                {{> molecules-more-loan-info}}
            </div>
        </div>

        <hr class="line-break"/>

        <div class="row story">
            <div class="small-12 medium-7 columns left-content">
                {{> organisms-loan-story}}
                <hr class="line-break"/>
                {{> molecules-is-special}}
            </div>
            <div class="small-12 medium-5 columns left-content">
            </div>
        </div>


    </div>
</div>

{{> organisms-header}}