<div class="pageWrap">
    {{> organisms-header}}

    <div class="borrower-profile-wrapper">
        <div class="row">
            <div class="small-12 medium-7 columns">
                {{> molecules-loan-figure-multiple-photos}}
            </div>
            <div class="small-12 medium-5 columns">
                {{> molecules-pfp-meter}}
            </div>
        </div>

        <hr class="line-break"/>

        <div class="row">
            <div class="small-12 columns">
                {{> molecules-more-loan-info}}
            </div>
        </div>

        <hr class="line-break"/>
    </div>
</div>

{{> organisms-header}}