<div id="siteWrapper" class="siteWrapper">
    <div id="mainWrapper" class="mainWrapper">
        <div id="main" class="main">

            {{> templates-header}}

			<!-- controls -->
   			{{> 02-organisms/10-lend/01-control-region }}

			<!-- results -->
   			{{> 02-organisms/10-lend/02-results-region }}

		</div>
  {{> organisms-footer}}
</div>
</div>