<div class="pageWrap leadership">
	{{> templates-header}}
	{{> molecules-secondary-nav}}
	
	<div class="row press">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<div class="small-12 columns">
				<h2>Press Highlights</h2>
					<div class="row awards highlight">
						<div class="small-12 large-4 columns">
							<a href="http://www.oprah.com/oprahshow/Oprahs-Ultimate-Favorite-Things-2010" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/oprahs-favorite-things-std.jpg, (default)],[//kiva.org/cms/page/images/oprahs-favorite-things-retina.jpg, (retina)]" alt="Oprah's Favorite Things">
							<noscript><img src="//kiva.org/cms/page/images/oprahs-favorite-things-std.jpg" alt="Oprah's Favorite Things"></noscript></a>
							<p>"Kiva.org, one of Oprah's favorite organizations, is a site for people all over the world seeking small loans to start their own businesses."</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="http://www.wired.co.uk/news/archive/2015-07/08/kiva-julie-hanna-wired-money-2015" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/wired-uk-std.jpg, (default)],[//kiva.org/cms/page/images/wired-uk-retina.jpg, (retina)]" alt="Wired UK">
								<noscript><img src="//kiva.org/cms/page/images/wired-uk-std.jpg" alt="Wired UK"></noscript></a>
							<p>"The numbers involved in the world's biggest crowd- lending marketplace Kiva are impressive on their own&hellip;"</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="http://www.wsj.com/video/financial-inclusion-challenge-finalist-kiva/D7440226-C296-427E-A449-8F849D3D4D06.html" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/the-wall-street-journal-std.jpg, (default)],[//kiva.org/cms/page/images/the-wall-street-journal-retina.jpg, (retina)]" alt="The Wall Street Journal">
							<noscript><img src="//kiva.org/cms/page/images/the-wall-street-journal-std.jpg" alt="The Wall Street Journal"></noscript></a>
							<p>Kiva Wins WSJ's Financial Inclusion Challenge for Effectiveness</p>
						</div>
					</div>
					<div class="row awards highlight">
						<div class="small-12 large-4 columns">
							<a href="http://parenting.blogs.nytimes.com/2015/01/19/charities-that-inspire-kids-kiva/?_r=0" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/the-new-york-times-std.jpg, (default)],[//kiva.org/cms/page/images/the-new-york-times-retina.jpg, (retina)]" alt="The New York Times">
							<noscript><img src="//kiva.org/cms/page/images/the-new-york-times-std.jpg" alt="The New York Times"></noscript></a>
							<p>"Not only are you empowering people who are living in poverty to make meaningful choices for basic human rights, you are also helping children to understand their responsibility to give back to the global community and appreciate the quality of life they enjoy."</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="http://www.inc.com/magazine/201509/james-ledbetter/inc-interview-bill-clinton.html" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/inc-std.jpg, (default)],[//kiva.org/cms/page/images/inc-retina.jpg, (retina)]" alt="Inc.">
							<noscript><img src="//kiva.org/cms/page/images/inc-std.jpg" alt="Inc."></noscript></a>
							<p>"&hellip;the Kiva concept will work in America. That brings me to another point. I think we shouldn't have preconceptions about who entrepreneurs are."<br>- Bill Clinton</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="http://www.theguardian.com/global-development-professionals-network/2014/jun/10/crowdfunding-for-development" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/the-guardian-std.jpg, (default)],[//kiva.org/cms/page/images/the-guardian-retina.jpg, (retina)]" alt="The Guardian">
							<noscript><img src="//kiva.org/cms/page/images/the-guardian-std.jpg" alt="The Guardian"></noscript></a>
							<p>"Neither Kiva nor Kiva lenders make any money from the loans they facilitate. Because of this, Kiva is able to partner with groups based on social motive, rather than profit motive."
<br>- Premal Shah, Kiva President</p>
						</div>
					</div>
					<div class="row awards highlight">
						<div class="small-12 large-4 columns">
							<a href="http://www.csmonitor.com/World/Making-a-difference/Change-Agent/2013/0320/What-six-piles-of-pennies-can-mean-in-Rwanda-why-I-Kiva" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/the-christian-science-monitor-std.jpg, (default)],[//kiva.org/cms/page/images/the-christian-science-monitor-retina.jpg, (retina)]" alt="The Christian Science Monitor">
							<noscript><img src="//kiva.org/cms/page/images/the-christian-science-monitor-std.jpg" alt="The Christian Science Monitor"></noscript></a>
							<p>"Through Kiva, I’d sent $25 chunks of my own cash toward hundreds of clients like Yvonne all over the world. Curious to see the results, I was now traveling through five continents—from Peru to Bosnia to Kenya to Lebanon to Nepal to Cambodia and beyond—to hear the stories of as many clients as I could."<br>- Bob Harris, Author 'The International Bank of Bob'</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="http://techcrunch.com/2013/03/18/kiva-passes-one-million-borrowers/" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/tech-crunch-std.jpg, (default)],[//kiva.org/cms/page/images/tech-crunch-retina.jpg, (retina)]" alt="Tech Crunch">
							<noscript><img src="//kiva.org/cms/page/images/tech-crunch-std.jpg" alt="Tech Crunch"></noscript></a>
							<p>"The loans typically back individual economic activity to help alleviate poverty through support for entrepreneurial ventures in places where other sources of funding are hard to come by."</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="http://www.huffingtonpost.com/jesse-seaver/business-with-impact-kiva_b_1761983.html" target="_blank" class="highlight-wrapper"><img data-interchange="[//kiva.org/cms/page/images/the-huffington-post-std.jpg, (default)],[//kiva.org/cms/page/images/the-huffington-post-retina.jpg, (retina)]" alt="The Huffington Post">
							<noscript><img src="//kiva.org/cms/page/images/the-huffington-post-std.jpg" alt="The Huffington Post"></noscript></a>
							<p>"In lieu of a financial profit from the money you lend, you get something that, in my opinion, is more valuable: the chance to make a tangible difference in the world and to impact a stranger's life in a positive, permanent way. Kiva is not about investing money in the traditional sense; it's about using your excess cash to jumpstart a life somewhere else in the world."</p>
						</div>
					</div>
			</div>
			
			<div class="small-12 columns press-release">
				<h2>Press Releases</h2>
				<p><a href="https://www.kiva.org/press/releases/release_20130114-3">Kiva.org and Capital One Launch Kiva San Francisco</a>
				<br>Oct 2, 2015
				</p>
				<p><a href="https://www.kiva.org/press/releases/release_20130114-3">President Obama names Julie Hanna Presidential Ambassador for Global Entrepreneurship</a>
				<br>May 11, 2015
				</p>
			</div>

			<div class="small-12 columns">
				<h2>Media Contact</h2>
				<p>Working on a story about Kiva? Ask our media department a question. 415.857.8668 (media contacts only)
				<br>
				<a href="mailto:media@kiva.org">media@kiva.org</a>
				</p>
				<h2>Non-Media Questions:</h2>
				<p><a href="http://speakerportal.kiva.org/speakerrequestform">Request a Kiva spokesperson attend an event</a>
				<br>
				<a href="https://www.kiva.org/help">General questions or support need</a>
				</p>
			</div>
		</div>
	</div>
</div>

{{> organisms-footer}}