<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}
	
	<div class="row due-diligence">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
	
			<p>Most loans on Kiva are administered by one of our local partners in more than 80 countries. Kiva conducts due diligence on all Field Partners prior to allowing them to begin posting loans on the Kiva platform. Kiva partners with a range of organizations, including microfinance institutions, social businesses, schools and nonprofits. These organizations are united by a strong commitment to serving the needs of low-income, vulnerable, and/or excluded populations, either through financial services or by using credit to expand access to pro-poor products and services.</p>
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-credit-tiers" aria-expanded="false">
			        Credit Tiers
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-credit-tiers" aria-hidden="true">
					<p>Kiva has developed a system of credit tiers that enables us to work with Field Partners across a broad spectrum of credit needs, from early-stage organizations seeking smaller amounts of capital to larger organizations with extensive credit programs.
						<ul>
							<li>The level of due diligence conducted on a particular Field Partner is determined by the partner’s credit tier, with a higher level of due diligence required for higher tiers.</li>
							<li>The lowest credit tier comes with a credit line of $50,000. This tier is designed for Field Partners who seek to use Kiva to experiment with small lending programs. In addition, many new Field Partners, regardless of size, start in this tier in order to try Kiva before scaling their program. Because the level of due diligence conducted on a Field Partner in this tier is comparatively light, less is known about the level of risk they pose; hence, these Field Partners are labeled as “Experimental” on Kiva’s website.</li>
							<li>A Field Partner in the highest credit tier can access a credit line of up to $4 million. The highest tier is reserved for Field Partners who have large funding needs and a demonstrated track record. Kiva conducts its most comprehensive level of due diligence for a Field Partner in this tier.</li>
							<li>A Field Partner that starts at a lower credit tier is eligible to graduate to higher tiers as they utilize their credit line and grow their Kiva program. In order to graduate to a higher tier, the organization must undergo the corresponding level of due diligence.</li>
						</ul>
					</p>
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-process" aria-expanded="false">
			        Due Diligence Process
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-process" aria-hidden="true">
					<p><b>Step 1: Review application from potential Field Partner</b></p>
					<p>An organization that seeks to partner with Kiva must first submit an application, which consists of the following:
						<ul>
							<li>Detailed information about the organization, including its mission and history, products and services, governance and management, and technical and operational infrastructure</li>
							<li>Specific proposal for using Kiva’s capital to fund loans with high social or environmental impact</li>
							<li>Supporting documentation, including financial statements, portfolio reports, strategic plans, financial projections, ratings, and impact studies</li>
						</ul>
					To be considered for a higher credit tier, an organization must submit additional documentation, which may include the following, depending on tier: CVs and/or bios of board and management members, organizational manuals, longer-range projections and budgets, and external references.
					</p>
					<p>A Kiva analyst reviews these materials and then follows up with the organization to resolve any outstanding questions and discuss details of the potential partnership</p>
					<p><b>Step 2: Conduct on-site due diligence (required only for higher credit tiers)</b></p>
					<p>For higher credit tiers, the Kiva analyst will also visit the organization for on-site due diligence. Some organizations may not receive an on-site visit due to risks of traveling to the country where the organization is located. In those cases, the Kiva analyst meets with representatives of the organization in an alternate location or leverages external sources, such as references and other rating information.</p>
					<p>During an on-site visit, the Kiva analyst interviews members of the board and management team, loan officers, and borrowers. In addition, the analyst reviews documentation, reports, and the management information system of the organization.</p>
					<p><b>Step 3: Prepare a Due Diligence Report</b></p>
					<p>After the Kiva analyst has reviewed the potential Field Partner’s application and has completed the on-site visit if applicable, we prepare a Due Diligence Report. This report includes some or all of the following components, depending on the proposed credit tier:
						<ul>
							<li>Organizational overview: A summary of the organization’s mission and history, governance and management, technical and operational infrastructure and proposed use for Kiva funding.</li>
							<li>Borrower cost analysis: A review of the pricing structure of each loan product that the organization proposes to fundraise on the Kiva website. Many factors impact what it costs an organization to provide financing, including the local supply of capital, the local currency risk, and the local infrastructure and cost of doing business. This is also a relationship between the size and term of a loan and its average cost: small loans with short terms cost more to administer and thus have a higher average interest rate for borrowers. Due to this complexity, Kiva doesn’t set a firm maximum cost that a Field Partner can charge a borrower for a loan, but we focus the review on ensuring that the pricing is in line with local market context and industry standards.</li>
							<li>Financial analysis: This is created with a financial analysis tool tool that tracks data from the organization’s financial statements and portfolio reports and calculates key ratios. Outputs from the financial analysis tool also feed into the proposed risk rating, if applicable.</li>
							<li>Proposed risk rating: The Kiva analyst proposes a risk rating of between 0.5 - 5 stars to represent the estimated risk of institutional default. To calculate the risk rating, we use Kiva’s risk model, which assesses the organization on a points system based upon the following areas of focus: governance, management, transparency, business model, loan product(s), financials and external factors. A 0.5-star rating means the organization has a relatively higher risk of institutional default, while a 5-star rating indicates the organization is at a relatively lower risk of default, based on our analysis and the available information. (Note that Field Partners in the lowest credit tier undergo a lighter level of due diligence and hence do not receive a risk rating; instead, in places where a risk rating would normally appear on Kiva’s website, these partners are labeled as “Experimental.”)</li>
							<li>Proposed social performance badges: To represent the Field Partner’s social performance strengths, Kiva uses a social performance scorecard to award social performance badges. We assess the organization on a points system based upon the following areas of focus: Anti-Poverty Focus, Vulnerable Group Focus, Client Voice, Family and Community Empowerment, Entrepreneurial Support, Facilitation of Savings, and Innovation. (Note that Field Partners in the lowest credit tier undergo a lighter level of due diligence and and for that reason are not eligible for social performance badges.)</li>
						</ul>
					</p>
					<p><b>Step 4: Submit for approval</b></p>
					<p>The Kiva analyst submits the Due Diligence Report to members of Kiva’s investment team, who review the proposal, communicate with the analyst in case of questions, and vote on whether to approve the organization for partnership.</p>
					<p>For an approved Field Partner, the investment team also approves the final credit tier, which also determines the Field Partner’s credit line.</p>
			    </div>
			</section>

			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-ongoing-monitoring" aria-expanded="false">
			        Ongoing Monitoring
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-ongoing-monitoring" aria-hidden="true">
					<p>Kiva conducts regular monitoring of all Field Partners. The level of monitoring conducted for a particular Field Partner corresponds to the partner’s credit tier, with a higher level of monitoring required for higher tiers.</p>
					<p>Monitoring may include some or all of the following activities, depending on credit tier:
						<ul>
							<li>Operational audits to confirm the accuracy of loan and repayment information posted to Kiva’s website</li>
							<li>Review of updated financial statements</li>
							<li>Review of updated portfolio data, including cost of loans to borrowers</li>
							<li>Update of the risk model and associated risk rating, where applicable (Field Partners in the lowest credit tier do not have a risk rating)
							<li>Update of the social performance scorecard and associated badges, where applicable (Field Partners in the lowest credit tier do not have social performance badges)</li>
							<li>On-site visit to meet with management, loan officers, and borrowers</li>
						</ul>
						As part of our ongoing monitoring, we may discover some potential issues at a Field Partner. We will work to investigate and resolve the issues as quickly as possible. While we investigate, we may, at times, delay the timing of distribution of a collected repayment to you as a lender until the investigation is resolved.
					</p>
					<p>Possible reasons for a delay include:
						<ul>
							<li>Questions about data accuracy (if Kiva believes that the accuracy of repayment amounts is in question)</li>
							<li>Concerns about creditor claims (if Kiva believes that a Field Partner may be facing solvency issues and there's a risk that another creditor – such as a government tax authority – may attempt to assert a priority claim on a Field Partner's assets)</li>
						</ul>
					</p>
			    </div>
			</section>
			
			<hr>

		</div>
	</div>
</div>

{{> organisms-footer}}