<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}
	
	<div class="row due-diligence">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
	
			<p><a href="#">Direct loans</a> are an innovative and growing segment of Kiva’s loan portfolio. These loans are not administered by a Field Partner, which gives Kiva the ability to reach populations that even microlenders can’t or don’t serve. Direct loans are made through the digital payment system PayPal.</p>
			<p>Direct loans were launched on Kiva in 2011 and are currently only available to borrowers in the U.S. as we continue to learn more about this model and the most effective ways to scale. Lenders should be aware that direct loans often involve a higher level of risk of default than those administered through Field Partners. The higher risk is due in part to less monitoring and follow up for collection of repayments, as well as the nature of the businesses served. For example, many direct Kiva borrowers are startups that are in their first or second year of business.</p>
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-kivas-role" aria-expanded="false">
			        Kiva’s Role
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-kivas-role" aria-hidden="true">
					<p>To be eligible for a direct loan on Kiva, borrowers must either be financially excluded (meaning lacking access to financial services) or creating social good through their business. Kiva staff determine if a borrower meets one of these requirements by assessing their loan application.</p>
					<p>Kiva also does a series of checks on direct loan applicants to help verify their identity, ranging from researching their business online to confirming the PayPal information provided by the borrower. All applicants are screened through the Office of Foreign Assets Control terrorism database as a security precaution.</p>
					<p>These internal review steps are taken to help prevent fraud, and generate a general sense of the borrower’s financial picture, the viability of their business, and its potential social impact.</p>
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-social-underwriting" aria-expanded="false">
			        Social Underwriting
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-social-underwriting" aria-hidden="true">
					<p>In addition to the steps Kiva takes internally, direct loan applicants must also be vetted by a Kiva Trustee or members of their community in a process we call social underwriting. Social underwriting bases your creditworthiness on the strength of your personal network and your character rather than your credit report or financial history.</p>
					<p>This community-based form of due diligence is relatively new and experimental for Kiva, but we believe that when a borrower involves their own connections, friends and family in the loan process, it increases their commitment to repaying their loans.</p>
				</div>
			</section>

			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-trustees" aria-expanded="false">
			        Trustees
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-trustees" aria-hidden="true">
					<p>Kiva Trustees can be community organizations or individuals. They help Kiva identify credible direct loan applicants and act as an encouraging force for borrowers as they apply for, and repay, their loans. Trustees are character references— they may not have experience with lending programs but they do have a relationship with the borrower.</p>
					<p>Kiva has a tiered system that allows Trustees to endorse more borrowers and more loans as their recommended borrowers build a history of successful repayment. Trustees must also maintain a target repayment rate among their recommended borrowers in order to continue endorsing new borrowers. Kiva does make some exemptions when pausing Trustees with lower repayment rates based on past working relationships.</p>
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-pfp" aria-expanded="false">
			        Private Fundraising Period
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-pfp" aria-hidden="true">
					<p>Every direct loan borrower must also recruit members of their own network to support their loan during a private fundraising period before Kiva will post the loan to the public website. The number of lenders the borrower must recruit may be set anywhere from 5-30, depending on the size of the loan, the potential social impact of the loan and whether the loan was endorsed by a Trustee. While many borrowers do have the support of a Trustee, borrowers are not required to have a Trustee endorsement in order to successfully apply for a direct loan on the Kiva website.</p>
					<p>While Kiva is still refining this network-driven lending tool, early results show that repayment rates do improve when borrowers invite members of their own communities to support their loans. It also holds potential to help Kiva scale its impact as we continue to expand our work and create more economic opportunity around the globe.</p>
				</div>
			</section>

			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-ongoing-monitoring" aria-expanded="false">
			        Ongoing Monitoring
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-ongoing-monitoring" aria-hidden="true">
					<p>When a direct loan borrower is behind on repayment, Kiva follows up with multiple repayment reminders, phone calls and emails in order to encourage repayment.</p>
					<p>Trustees are expected to encourage borrowers they endorse to repay their loans, though they are not expected to put in the same level of effort or diligence as a Kiva Field Partner. Kiva monitors direct loan repayment rates and will adjust a Trustee’s ability to endorse borrowers based on the historical success of borrowers recommended by the Trustee.</p>
					<p>Direct loan borrowers who fail to repay or end up defaulting on their loan are not eligible for future Kiva loans. Direct loans are defaulted when the total amount repaid is less than the total amount expected as of 6 months prior.</p>
					<p>At the moment, loans are defaulted on a monthly basis and contributing lenders are notified by email. Kiva reserves the right to exempt loans from default if extenuating circumstances are found, or if we believe there is a high likelihood of future repayment. When a loan is defaulted, any amount not repaid should be considered a loss by contributing lenders. While borrowers are still allowed to make repayments after their loan has been defaulted, Kiva does not have the resources to follow up with these borrowers to encourage future repayments.</p>
			    </div>
			</section>
			
			<hr>

		</div>
	</div>
</div>

{{> organisms-footer}}