<div class="pageWrap">
	{{> templates-header}}
    {{> molecules-secondary-nav}}
    <div class="row row-termsofuse">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			{{> 01-molecules/00-text/06-heading-with-subheaders}}
			{{> 02-organisms/18-terms/paragraph}}
    		{{> 02-organisms/18-terms/terms-links}}
    		{{> 02-organisms/18-terms/terms}}
   		</div>
	</div>
</div>
{{> organisms-footer}}
