<div class="pageWrap supporters">
	{{> templates-header}}
    {{> molecules-secondary-nav}}
    <div class="row">
		{{> 02-organisms/20-supporters/04-tertiary-nav}}
		<div class="small-12 large-12 columns">
			{{> 02-organisms/20-supporters/01-heading}}
			{{> 02-organisms/20-supporters/02-intro-paragraph}}
		</div>
			<div class="small-12 large-12 columns">
			{{> 02-organisms/20-supporters/03-accordion}}
		</div>
	</div>
</div>

{{> organisms-footer}}
