<div class="pageWrap">
    {{> templates-header}}
    {{> molecules-secondary-nav}}
    {{> 01-molecules/06-components/04-white-text-on-full-width-image:energyGap-headline-wrapper}}
    {{> 01-molecules/06-components/10-sources-modal}}
    {{> 01-molecules/06-components/11-header-intro-text}}
    {{> 01-molecules/06-components/12-full-width-graphic-div}}
    {{> 02-organisms/22-energyGap/energyGap-two-color-div}}
    {{> 01-molecules/00-text/07-title-with-chevron}}
    {{> 01-molecules/06-components/15-card-grid-4-up}}
</div>

{{> organisms-footer}}