<div class="pageWrap no-background">
    {{> templates-header}}
    {{> molecules-secondary-nav}}
    {{> 01-molecules/06-components/04-white-text-on-full-width-image:energyGap-headline-wrapper}}
    {{> 01-molecules/06-components/10-sources-modal}}
    {{> 02-organisms/22-energyGap/energyGap-header-intro-text}}
    {{> 02-organisms/22-energyGap/energyGap-boxes}}
    {{> 02-organisms/22-energyGap/energyGap-two-color-div}}
    {{> 01-molecules/00-text/07-title-with-chevron}}
    {{> 02-organisms/22-energyGap/kivaLabs-card-grid-4-up}}
</div>

{{> organisms-footer}}