<div class="pageWrap leadership">
	{{> templates-header}}
	{{> molecules-secondary-nav}}

	<div class="row partner-with-us">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>

			<p>Kiva relies on grants from foundations, corporations and individuals to expand our impact, reach new audiences and test innovative ideas that push the boundaries of microfinance. Our key supporters provide us with generous financial and organizational support. They also raise awareness of our mission and help further our goal of connecting people through lending to alleviate poverty. Below are a few of our key strategic programs in need of support. Contact us at <a href="mailto:development@kiva.org">development@kiva.org</a> to learn more.</p>

			<h2>Key areas needing support</h2>
			<div class="row">
				<div class="small-12 large-4 columns col-centered">
					<h3>Kiva Labs</h3>
					<p><img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kiva-labs-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kiva-labs-retina.jpg, (retina)]"></p>
					<div class="show-for-large-up">
						<p class="medium-statistic-bold">50k</p>
						<p class="small-statistic">Borrowers reached through Kiva Labs innovations</p>
					</div>
				</div>
				<div class="small-12 large-8 columns grants-right-col-buffer">
					<p><a href="//www.kiva.org/about/impact/labs">Kiva Labs</a> accelerates innovation for financial inclusion so that more people can access loan products adapted to their needs.</p>

					<p>This program channels Kiva's unique, 0% interest  capital to finance client-centric loans  that are often deemed too risky by more conservative institutional sources of capital. Innovations will be focused in the areas of Innovative Agriculture, Water and Sanitation, Clean Energy, Higher Education, Health and Mobile Technology.</p>

					<blockquote>“Kiva proactively seeks to fund work that sits at the innovative frontier of our field.  Whereas most lenders pathologically avoid risk, I have been instructed by Kiva to actually direct our funding to the neediest, most vulnerable of our farmers in order to push impact.”</blockquote>

					<div class="testimonials">
						<div class="row small-collapse medium-collapse">
							<div class="small-2 medium-1 columns">
								<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/andrew-youn-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/andrew-youn-quote-pic-retina.jpg, (retina)]">
							</div>
							<div class="small-10 medium-11 columns name-title"><cite>
								<p>Andrew Youn</br>
									Co-Founder and Executive Director of One Acre Fund</p></cite>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>

			<div class="row">
				<div class="small-12 large-4 columns col-centered">
					<h3>Kiva U.S.</h3>
					<p><img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kiva-us-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kiva-us-retina.jpg, (retina)]"></p>
					<div class="show-for-large-up">
						<p class="medium-statistic-bold">$11.5M</p>
						<p class="small-statistic">Loans to U.S. small business owners</p>
					</div>
				</div>
				<div class="small-12 large-8 columns grants-right-col-buffer">
					<p>Kiva U.S. is a revolutionary program that provides 0% interest loans to socially impactful or underserved entrepreneurs in the U.S. who don’t have access to traditional forms of capital.</p>

					<p>By offering loans based on character, not just credit history, we are reshaping financial access in communities across the country.  We are currently seeking supporters for our programs in the Bay Area and the New York City metro area.</p>

					<blockquote>“We’re giving residents a critical way to directly support the small businesses that are the backbone and creative engine of our local economy, and in turn Oakland entrepreneurs get access to the capital that they need to grow.”</blockquote>

					<div class="testimonials">
						<div class="row small-collapse medium-collapse">
							<div class="small-2 medium-1 columns">
								<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/libby-schaaf-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/libby-schaaf-quote-pic-retina.jpg, (retina)]">
							</div>
							<div class="small-10 medium-11 columns name-title"><cite>
								<p>Libby Schaaf</br>
									Mayor of Oakland</p></cite>
								</div>
							</div>
						</div>
					</div>
				</div>
		<hr>

			<div class="row bottompage-buffer">
				<div class="small-12 large-4 columns col-centered">
					<h3>Kiva U</h3>
					<p><img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kiva-u-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kiva-u-retina.jpg, (retina)]"></p>
					<div class="show-for-large-up">
						<p class="medium-statistic-bold">35k</p>
						<p class="small-statistic">Members of Kiva U lending teams</p>
					</div>
				</div>
				<div class="small-12 large-8 columns grants-right-col-buffer">
					<p><a href="//www.kiva.org/kivau/">Kiva U</a> is an innovative education initiative that empowers students and educators with tools and opportunities to become informed, inspired, and mobilized global citizens.</p>

					<p>Through experiential learning, digital collaboration, and the power of human connections, Kiva U provides a platform for young people to take action and change lives.</p>

					<blockquote>“With Kiva U, we are aiming to advance Kiva's existing efforts among students, provide the necessary tools to connect them with each other and empower them to mobilize their peers around the meaningful act of microlending."</blockquote>

				<div class="testimonials">
					<div class="row small-collapse medium-collapse">
						<div class="small-2 medium-1 columns">
							<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/bob-annibale-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/bob-annibale-quote-pic-retina.jpg, (retina)]">
						</div>
						<div class="small-10 medium-11 columns name-title">
							<cite>
								<p>Bob Annibale</br>
									Global Director of Citi Microfinance</p>
								</cite>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> organisms-footer}}
