<div class="pageWrap leadership">
	{{> templates-header}}
	{{> molecules-secondary-nav}}

	<div class="row partner-with-us">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<div class="small-12 columns">
				<h1>{{page-title}}</h1>

				<p><strong>Kiva receives a broad range of support from a diverse set of corporations and foundations.</strong> From discounted services and free software, to grants and financial backing, Kiva is grateful for each partner that helps us achieve our mission to connect people through lending to alleviate poverty. (Please note that the corporations and foundations listed have made contributions of either grants, loan funds, equipment or services in the last 30 months.)</p>

				<hr>

				<section>
					<h3 class="ac-title ac-container" data-kv-accordion aria-controls="ac-our-partners-5m" aria-expanded="true">
								Support of $5 million or more
								<span class="ac-dropdown-icon">
										<svg class="icon icon-large-chevron">
												<use xlink:href="#icon-large-chevron"></use>
										</svg>
								</span>
					</h3>
					<div class="ac-body" id="ac-our-partners-5m" aria-hidden="false">
					<div class="row">
							<ul class="small-block-grid-1 medium-block-grid-2">
								<li><img src="/images/partner-with-us/5m-hewlett-packard-enterprise.svg"></li>
								<li><img src="/images/partner-with-us/5m-hp-foundation.svg"></li>
								<li><img src="/images/partner-with-us/5m-mastercard-foundation.svg"></li>
							</ul>
					</div>
					</div>
				</section>
				<hr>

				<section>
					<h3 class="ac-title ac-container" data-kv-accordion aria-controls="ac-our-partners-1m" aria-expanded="true">
								Support of $1 million or more
								<span class="ac-dropdown-icon">
										<svg class="icon icon-large-chevron">
												<use xlink:href="#icon-large-chevron"></use>
										</svg>
								</span>
					</h3>
					<div class="ac-body" id="ac-our-partners-1m" aria-hidden="false">
					<div class="row">
						<ul class="small-block-grid-2 medium-block-grid-3">
							<li><img src="/images/partner-with-us/1m-capital-one.svg"></li>
							<li><img src="/images/partner-with-us/1m-deutsche-bank.svg"></li>
							<li><img src="/images/partner-with-us/1m-dvff.svg"></li>
							<li><img src="/images/partner-with-us/1m-ernst-young.svg"></li>
							<li><img src="/images/partner-with-us/1m-google-org.svg"></li>
							<li><img src="/images/partner-with-us/1m-grameen-jameel.svg"></li>
							<li><img src="/images/partner-with-us/1m-metlife-foundation.svg"></li>
							<li><img src="/images/partner-with-us/1m-moodys.svg"></li>
							<li><img src="/images/partner-with-us/1m-paypal.svg"></li>
							<li><img src="/images/partner-with-us/1m-pearson.svg"></li>
							<li><img src="/images/partner-with-us/1m-pepsico-foundation.svg"></li>
							<li><img src="/images/partner-with-us/1m-research-now.svg"></li>
							<li><img src="/images/partner-with-us/1m-skoll-foundation.svg"></li>
						</ul>
				</div>
				</div>
			</section>
				<hr>

				<section>
					<h3 class="ac-title ac-container" data-kv-accordion aria-controls="ac-our-partners-500k" aria-expanded="true">
								Support of $500,000 or more
								<span class="ac-dropdown-icon">
										<svg class="icon icon-large-chevron">
												<use xlink:href="#icon-large-chevron"></use>
										</svg>
								</span>
					</h3>
					<div class="ac-body" id="ac-our-partners-500k" aria-hidden="false">
					<div class="row">
						<ul class="small-block-grid-3 medium-block-grid-4">
							<li><img src="/images/partner-with-us/500k-cisco.svg"></li>
							<li><img src="/images/partner-with-us/500k-citi.svg"></li>
							<li><img src="/images/partner-with-us/500k-dermalogica.svg"></li>
							<li><img src="/images/partner-with-us/500k-fossil.svg"></li>
							<li><img src="/images/partner-with-us/500k-ipa.svg"></li>
							<li><img src="/images/partner-with-us/500k-pershing.svg"></li>
						</ul>
				</div>
				</div>
			</section>
				<hr>

				<section>
					<h3 class="ac-title ac-container" data-kv-accordion aria-controls="ac-our-partners-250k" aria-expanded="true">
								Support of $250,000 or more
								<span class="ac-dropdown-icon">
										<svg class="icon icon-large-chevron">
												<use xlink:href="#icon-large-chevron"></use>
										</svg>
								</span>
					</h3>
					<div class="ac-body" id="ac-our-partners-250k" aria-hidden="false">
					<div class="row">
						<ul class="small-block-grid-3 medium-block-grid-4">
							<li><img src="/images/partner-with-us/250k-maybank.svg"></li>
							<li><img src="/images/partner-with-us/250k-silatech.svg"></li>
							<li><img src="/images/partner-with-us/250k-tripadvisor.svg"></li>
						</ul>
				</div>
				</div>
			</section>
				<hr>

				<section>
					<h3 class="ac-title ac-container" data-kv-accordion aria-controls="ac-our-partners-100k" aria-expanded="true">
								Support of $100,000 or more
								<span class="ac-dropdown-icon">
										<svg class="icon icon-large-chevron">
												<use xlink:href="#icon-large-chevron"></use>
										</svg>
								</span>
					</h3>
					<div class="ac-body" id="ac-our-partners-100k" aria-hidden="false">
					<div class="row">
						<ul class="small-block-grid-3 medium-block-grid-5">
							<li><img src="/images/partner-with-us/100k-bader.svg"></li>
							<li><img src="/images/partner-with-us/100k-caf.svg"></li>
							<li><img src="/images/partner-with-us/100k-chegg.svg"></li>
							<li><img src="/images/partner-with-us/100k-chevron.svg"></li>
							<li><img src="/images/partner-with-us/100k-godaddy.svg"></li>
							<li><img src="/images/partner-with-us/100k-hall-steps.svg"></li>
							<li><img src="/images/partner-with-us/100k-kabbage.svg"></li>
							<li><img src="/images/partner-with-us/100k-keen.svg"></li>
							<li><img src="/images/partner-with-us/100k-mulago.svg"></li>
							<li><img src="/images/partner-with-us/100k-staples.svg"></li>
							<li><img src="/images/partner-with-us/100k-vita-coco.svg"></li>
							<li><img src="/images/partner-with-us/100k-yelp.svg"></li>
						</ul>
				</div>
				</div>
			</section>
				<hr>

				<section>
					<h3 class="ac-title ac-container" data-kv-accordion aria-controls="ac-our-partners-50k" aria-expanded="true">
								Support of $50,000 or more
								<span class="ac-dropdown-icon">
										<svg class="icon icon-large-chevron">
												<use xlink:href="#icon-large-chevron"></use>
										</svg>
								</span>
					</h3>
					<div class="ac-body" id="ac-our-partners-50k" aria-hidden="false">
					<div class="row">
						<ul class="small-block-grid-3 medium-block-grid-5">
							<li><img src="/images/partner-with-us/50k-2sic.svg"></li>
							<li><img src="/images/partner-with-us/50k-ian-martin.svg"></li>
							<li><img src="/images/partner-with-us/50k-intuit.svg"></li>
							<li><img src="/images/partner-with-us/50k-kate-spade.svg"></li>
							<li><img src="/images/partner-with-us/50k-medc.svg"></li>
							<li><img src="/images/partner-with-us/50k-owsley-brown.svg"></li>
							<li><img src="/images/partner-with-us/50k-pnc.svg"></li>
							<li><img src="/images/partner-with-us/50k-qbe.svg"></li>
							<li><img src="/images/partner-with-us/50k-stock-yards-bank.svg"></li>
							<li><img src="/images/partner-with-us/50k-tillamook.svg"></li>
						</ul>
				</div>
				</div>
			</section>
			<hr style="margin-bottom:45px;">

		</div>
	</div>
</div>
</div>

{{> organisms-footer}}
