<div class="pageWrap">
    {{> templates-header}}
    {{> molecules-secondary-nav}}

    <div class="row">
        {{> molecules-tertiary-nav}}
		{{> templates-inbox}}
	</div>
</div>

{{> organisms-footer}}