<aside class="left-off-canvas-menu filter">
	<div class="filter-header show-for-small-only">
		<span><a href="#" id="filter-clear-button">Clear</a></span>
		<span class="filter-header-title">Filters</span>
		<a class="close-reveal-modal left-off-canvas-toggle filters-close-icon" aria-label="Close">
			<svg class="icon icon-x">
				<use xlink:href="#icon-x"></use>
			</svg>
		</a>
	</div>
    <hr class="show-for-small-only"/>

    <ul class="filters-menu-list off-canvas-list">

        <li class="layover-icon show-for-medium-up">
            <svg class="icon icon-distribution filters filter-distribution-icon">
                <use xlink:href="#icon-distribution"/>
            </svg>
        </li>
        <li class="clear show-for-medium-up"></li>

        <li class="filter-component no-border">
			{{> 02-organisms/05-filters/01-country-filter}}
        </li>

        <li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/02-borrowers-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/03-keywords-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/04-sectors-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/05-attributes-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/06-tags-filter}}
        </li>

        <li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/07-loan-length-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/08-miscellaneous-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/16-partners-filter-select}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/10-slider-filter}}
        </li>

        <li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/25-dropdown-filter}}
        </li>
    </ul>
</aside>