<ul class="off-canvas-list">
    <li>
        <ul class="button-group">
            <li style="width: 50%"><a href="#" class="button secondary">Clear filters</a></li>
            <li style="width: 50%"><a href="#" class="button secondary">Apply</a></li>
        </ul>
    </li>

    <li style="height: 80px;">
        <label style="background-color: transparent;">Loan Repayments</label>
        <div class="loanRepaymentSlider"></div>
    </li>

    <li style="height: 80px;">
        <ul class="button-group">
            <li style="width: 50%;"><a href="#" class="button">Women</a></li>
            <li style="width: 50%;"><a href="#" class="button">Men</a></li>
        </ul>
    </li>

    <li style="height: 80px;">
        <ul class="button-group">
            <li style="width: 50%;"><a href="#" class="button">Group</a></li>
            <li style="width: 50%;"><a href="#" class="button">Individual</a></li>
        </ul>
    </li>

    <li class="has-submenu">
        <a href="#" style="overflow:hidden;"><span style="float: left">Loan Use</span> <span style="float: right; font-size: 12px;">2 selected</span></a>
        <div class="right-submenu">{% include "v1/components/LoanFiltersView/SectorFiltersView.html" %}</div>
    </li>

    <li class="has-submenu">
        <a href="#" style="overflow:hidden;"><span style="float: left">Country or Region</span> <span style="float: right; font-size:12px;">2 selected</span></a>
        <div class="right-submenu">{% include "v1/components/LoanFiltersView/CountryFiltersView.html" %}</div>
    </li>

    {{#is_more_visible}}
        <li class="attributes-filters-submenu-wrap">
            <a href="#" style="overflow:hidden;"><span style="float: left">Loan Attributes</span> <span style="float: right; font-size:12px;">2 selected</span></a>
            <div class="right-submenu">{% include "v1/components/LoanFiltersView/CountryFiltersView.html" %}</div>
        </li>

        <li class="tags-filters-submenu-wrap has-submenu">
            <a href="#" style="overflow:hidden;"><span style="float: left">Loan Tags</span> <span style="float: right; font-size:12px;">2 selected</span></a>
            <div class="right-submenu">{% include "v1/components/LoanFiltersView/CountryFiltersView.html" %}</div>
        </li>

        <li class="status-filters-submenu-wrap has-submenu">
            <a href="#" style="overflow:hidden;"><span style="float: left">Loan Status</span> <span style="float: right; font-size:12px;">2 selected</span></a>
            <div class="right-submenu">{% include "v1/components/LoanFiltersView/CountryFiltersView.html" %}</div>
        </li>
    {{/is_more_visible}}

    {{#is_partner_visible}}
        <li class="partner-filters-submenu-wrap has-submenu">
            <a href="#" style="overflow:hidden;"><span style="float: left">Partner</span> <span style="float: right; font-size:12px;">2 selected</span></a>
            <div class="right-submenu">{% include "v1/components/LoanFiltersView/CountryFiltersView.html" %}</div>
        </li>

        <li class="partner-focus-filters-submenu-wrap has-submenu">
            <a href="#" style="overflow:hidden;"><span style="float: left">Partner focus</span> <span style="float: right; font-size:12px;">2 selected</span></a>
            <div class="right-submenu">{% include "v1/components/LoanFiltersView/CountryFiltersView.html" %}</div>
        </li>

        <li class="delinquency-filter-submenu-wrap" style="height: 80px;">
            <label style="background-color: transparent;">Loan Repayments</label>
            <div class="loanRepaymentSlider"></div>
        </li>

        <li class="default-filter-submenu-wrap" style="height: 80px;">
            <label style="background-color: transparent;">Loan Repayments</label>
            <div class="loanRepaymentSlider"></div>
        </li>

        <li class="cost-filter-submenu-wrap" style="height: 80px;">
            <label style="background-color: transparent;">Loan Repayments</label>
            <div class="loanRepaymentSlider"></div>
        </li>

        <li class="profit-filter-submenu-wrap" style="height: 80px;">
            <label style="background-color: transparent;">Loan Repayments</label>
            <div class="loanRepaymentSlider"></div>
        </li>
    {{/is_partner_visible}}

    <li>
        <a href="#" class="show-more-filters button small secondary">More filters</a>
        <a href="#" class="button small secondary">Save this search</a>
        <a href="#" class="button small">Apply</a>
    </li>
</ul>