<aside class="left-off-canvas-menu">
	<ul class="filters-menu-list off-canvas-list">

		<li style="float:right">
			<svg class="icon icon-distribution" width="25" height="25" style="margin-right:15px;margin-top:10px;border:1px solid #000;padding:1px 5px">
				<use xlink:href="#icon-distribution"/>
			</svg>
		</li>
		<li style="clear:both"></li>

		<li class="country-filters-submenu-wrap filter-component">
			{{> 02-organisms/05-filters/01-country-filter}}
		</li>

		<li class="filter-component">
			{{> 02-organisms/05-filters/02-borrowers-filter}}
		</li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/03-keywords-filter}}
		</li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/04-sectors-filter}}
		</li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/05-attributes-filter}}
		</li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/06-tags-filter}}
		</li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/07-loan-length-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/08-miscellaneous-filters}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/09-partners-filter}}
        </li>

        <li class="filter-component">
			{{> 02-organisms/05-filters/10-slider-filters}}
        </li>
	</ul>
</aside>