<div style="margin-top: 0.5em;height:20px;text-align:center;color:#000;">
	<span>Filters</span>
</div>

<ul class="filters-menu-list off-canvas-list" style="background:#fafbfb;margin-top:0.5em;">
    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/01-mobile-country-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/02-mobile-borrowers-filter}}
		{{> 02-organisms/05-filters/17-mobile-groups-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/03-mobile-keywords-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/04-mobile-sectors-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/05-mobile-attributes-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/06-mobile-tags-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/07-mobile-loan-length-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/08-mobile-miscellaneous-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/09-mobile-partners-filter}}
		{{> 02-organisms/05-filters/10-slider-filter}}
    </li>

    <li class="filter filter-component-mobile">
		{{> 02-organisms/05-filters/25-mobile-apply-filter-button}}
    </li>
</ul>