<h3 class="filter">Countries</h3>
<div class="filter country-filter-box">
    <a href="#" data-reveal-id="countrySelectModal">
        <svg class="icon icon-globe" width="23" height="23">
            <use xlink:href="#icon-globe"/>
        </svg>
        <span class="filter country-filter-text">Select countries</span>
    </a>

	<div id="countrySelectModal" class="reveal-modal filters_countries" data-reveal>
		{{> 02-organisms/05-filters/country-filter-components/country-filter-modal}}
	</div>
</div>