<a href="#"><span>Countries</span></a>
<div style="padding:0em 0.6666666667rem">
    <a href="http://dev-vm-01.kiva.org/lend/callLend_ListingMapSubView" data-reveal-id="countrySelectModal" data-reveal-ajax="true">
        <svg class="icon icon-globe" width="23" height="23">
            <use xlink:href="#icon-globe"/>
        </svg>
        <span style="margin-left:5px">Select a country</span>
    </a>

    <div id="countrySelectModal" class="reveal-modal" data-reveal />
</div>