<a href="#"><span>Borrowers</span></a>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li style="width:100px;height:25px;position:relative;border:1px solid #000">
		<input style="display:none" type="radio" id="r1" name="r-group" data-toggle="button">
		<label style="position:absolute;top:15%;height:1px;left:25%" class="button" for="r1">Women</label>
	</li>
	<li style="width:100px;height:25px;position:relative;border:1px solid #000;border-left:0px">
		<input style="display:none" type="radio" id="r2" name="r-group" data-toggle="button">
		<label style="position:absolute;top:15%;height:1px;left:35%" class="button" for="r2">Men</label>
	</li>
</ul>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li style="width:100px;height:25px;position:relative;border:1px solid #000">
		<input style="display:none" type="radio" id="r1" name="r-group" data-toggle="button">
		<label style="position:absolute;top:15%;height:1px;left:18%" class="button" for="r3">Individual</label>
	</li>
	<li style="width:100px;height:25px;position:relative;border:1px solid #000;border-left:0px">
		<input style="display:none" type="radio" id="r2" name="r-group" data-toggle="button">
		<label style="position:absolute;top:15%;height:1px;left:25%" class="button" for="r4">Group</label>
	</li>
</ul>