<a href="#"><span class="filter mobile-filter-title">Borrowers</span></a>
<ul id="filter-gender-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter borrower-filter-box-mobile">
        <input class="filter borrower-input" type="checkbox" id="filter-borrower-label-female" name="filter-borrower-label-female" data-toggle="button">
        <label class="filter borrower-label-mobile" class="button" for="filter-borrower-label-female">Female</label>
    </li>
    <li class="filter borrower-filter-box-right-mobile">
        <input class="filter borrower-input" type="checkbox" id="filter-borrower-label-male" name="filter-borrower-label-male" data-toggle="button">
        <label class="filter borrower-label-mobile" class="button" for="filter-borrower-label-male">male</label>
    </li>
</ul>