<a href="#"><span>Keywords</span></a>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li>
		<input type="text" style="border:1px solid #000;width:200px" value="Borrower name, description">
	</li>
</ul>