<a href="#"><span>Keywords</span></a>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li>
		<input id="filter-keywords-search-box" class="filter filter-keywords-search-box" type="text" value="Borrower name, description">
	</li>
</ul>