<a href="#"><span>Sector</span></a>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Agriculture</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Arts</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Clothing</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Construction</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Education</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Food</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Health</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Housing</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Manufacturing</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Personal Use</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Retails</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Services</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Transportation</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Wholesale</span>
		</input>
	</li>
</ul>