<a href="#"><span>Sector</span></a>
<ul class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	<li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Agriculture</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Arts</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Clothing</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Construction</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Education</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Food</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Health</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Housing</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Manufacturing</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Personal Use</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Retails</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Services</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Transportation</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Wholesale</span>
		</input>
	</li>
</ul>