<a href="#"><span>Attributes</span></a>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Green</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Higher Education</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Islamic Finance</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Youth</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Startup</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Water and Sanitation</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Vulnerable Groups</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Fair Trade</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Rural Exclusion</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Mobile Technology</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Underfunded Areas</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Conflict Zones</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Job Creation</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Growing Businesses</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Disaster Recovery</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Innovative Loans</span>
		</input>
	</li>
</ul>