<h3 class="filter show-for-medium-up">Attributes</h3>

<h3 id="attributes-accordion-selector" data-kv-accordion class="interact ac-container show-for-small-only expandable-filter" aria-controls="filter-attributes-ul" aria-expanded="true">
    Attributes
	<span class="ac-dropdown-icon">
		<svg class="icon icon-large-chevron"  style="margin-right: 12px">
            <use xlink:href="#icon-large-chevron"></use>
        </svg>
	</span>
</h3>

<ul id="filter-attributes-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio" aria-hidden="true">
	{{#attributes}}
        <li class="filter checkbox-input">
			{{> 02-organisms/05-filters/24-checkbox-item}}
        </li>
	{{/attributes}}
</ul>
<hr class="show-for-small-only"/>