<div class="right-submenu {{#move-left?}}move-left{{/move-left?}}">
    <div class="back">
        <a href="#">Back</a>
    </div>

    <div>
        Nicaragua, Malaysia, Bolivia.
    </div>

    <label>Loan Status</label>

    <div class="back">
        <a href="#">Back</a>
    </div>
</div>