{{#is-standalone}}
	<aside class="left-off-canvas-menu filter" style="transform: none;">
		<ul class="filters-menu-list off-canvas-list">
			<li class="filter-component ">
{{/is-standalone}}

<h3 class="filter medium-notouch">
	Tags
	<div class="subtext">Added by lenders like you. Learn more at the <a href="https://www.kiva.org/team/loan_taggers" target="_blank">Loan Taggers team</a>.</div>
</h3>

<div class="filter-component-container">
    <h3 id="tags-accordion-selector" data-kv-accordion class="interact ac-container small-touch expandable-filter" aria-controls="filter-tags-ul" aria-expanded="true">
        Tags
	<span class="ac-dropdown-icon">
		<svg class="icon icon-large-chevron">
            <use xlink:href="#icon-large-chevron"></use>
        </svg>
	</span>
    </h3>

    <ul id="filter-tags-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio" aria-hidden="false">
		<li class="subtext checkbox-input small-touch">
			Added by lenders like you. Learn more at the <a href="https://www.kiva.org/team/loan_taggers" target="_blank">Loan Taggers team</a>.
		</li>
		{{#tags}}
            <li class="filter checkbox-input">
				{{> 02-organisms/05-filters/24-checkbox-item}}
            </li>
		{{/tags}}
    </ul>

</div>

{{#is-standalone}}
			</li>
		</ul>
	</aside>
{{/is-standalone}}