<h3 class="filter">Loan Length</h3>
<ul id="filter-loan-length-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#loan_lengths}}
        <li class="filter borrower-filter-box show-for-medium-up">
			{{> 02-organisms/05-filters/19-loan-length-items}}
        </li>
	{{/loan_lengths}}
</ul>
<hr class="show-for-small-only"/>