<a href="#"><span class="filter mobile-filter-title">Loan Length</span></a>
<ul id="filter-loan-length-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#loan_lengths}}
        <li class="filter borrower-filter-box-mobile">
			{{> 02-organisms/05-filters/30-mobile-loan-length-items}}
        </li>
	{{/loan_lengths}}
</ul>
<hr/>