<a href="#"><span class="filter mobile-filter-title">Miscellaneous</span></a>
<ul id="misc-filters-container" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter checkbox-input">
		{{#misc_filters}}
			{{> 02-organisms/05-filters/29-mobile-misc-filters-items}}
		{{/misc_filters}}
    </li>
</ul>
<hr/>