<a href="#"><span class="filter mobile-filter-title">Miscellaneous</span></a>
<ul id="misc-filters-container" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter checkbox-input">
        <input type="checkbox" id="filter-matched" name="Matched Loans Only">
        <label class="filter checkbox-input-span">Matched Loans Only</label>
        </input>
    </li>
    <li class="filter checkbox-input">
        <input type="checkbox" id="filter-matched" name="Exclude Loans with currency risk">
        <label class="filter checkbox-input-span">Exclude Loans with currency risk</label>
        </input>
    </li>
    <li class="filter checkbox-input">
        <input type="checkbox" id="filter-matched" name="Exclude loans with non-rated partners">
        <label class="filter checkbox-input-span">Exclude loans with non-rated</label>
        </input>
    </li>
</ul>
<hr/>