<a href="#"><span>Miscellaneous</span></a>
<ul class="button-group toggle" data-toggle="buttons-radio" style="padding: 0em 1rem">
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Matched Loans Only</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Exclude Loans with currency risk</span>
		</input>
	</li>
	<li style="margin-left: 12px;display:block;height:21px">
		<input type="checkbox" value="">
		<span style="left:20%;font-size:0.8em;color:#000">Exclude Non-Rated Partners</span>
		</input>
	</li>
</ul>