<a href="#"><span>Miscellaneous</span></a>
<ul class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	<li class="filter checkbox-input">
		<input type="checkbox" id="filter-matched" name="" value="matcherAccountId">
		<label for="" class="filter checkbox-input-span">Matched Loans Only</label>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" id='filter-currencyRisk' name="filter-currencyRisk" value="currencyLossPossible">
		<label class="filter checkbox-input-span">Exclude Loans with currency risk</label>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" id="filter-nonRated" name="filter-nonRated" value="excludeNonRated">
		<label class="filter checkbox-input-span">Exclude Non-Rated Partners</label>
		</input>
	</li>
</ul>