{{#is-standalone}}
	<aside class="left-off-canvas-menu filter" style="transform: none;">
		<ul class="filters-menu-list off-canvas-list">
			<li class="filter-component ">
{{/is-standalone}}

<h3 class="filter medium-notouch">Other</h3>

<div class="filter-component-container">
    <h3 id="misc-accordion-selector" data-kv-accordion class="interact ac-container small-touch expandable-filter" aria-controls="misc-filters-container" aria-expanded="true">
        Other
	<span class="ac-dropdown-icon">
		<svg class="icon icon-large-chevron">
            <use xlink:href="#icon-large-chevron"></use>
        </svg>
	</span>
    </h3>

    <ul id="misc-filters-container" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio" aria-hidden="false">
		{{#misc_filters}}
            <li class="filter checkbox-input">
				{{> 02-organisms/05-filters/21-misc-filters-items}}
            </li>
		{{/misc_filters}}
    </ul>
</div>

{{#is-standalone}}
			</li>
		</ul>
	</aside>
{{/is-standalone}}