<a href="#"><span class="filter mobile-filter-title">Partner</span></a>
<hr/>
<a href="#"><div class="filter mobile-filter-sub-menu">Specify Partner</div></a>
<hr/>
<a href="#"><div class="filter mobile-filter-sub-menu">Partner Attributes</div></a>
<hr/>
