<a href="#"><span>Partner</span></a>
<a href="#">
	<svg class="icon icon-handshake" width="23" height="23">
		<use xlink:href="#icon-handshake"/>
	</svg>
	<span style="margin-left:5px">Specify a partner</span>
</a>