<a href="#"><span>Risk Rating</span>
    <div class="filter-slider">
        <div class="risk-rating-slider"></div>
    </div>
</a>

<a href="#"><span>Delinquency Rate</span>
    <div class="filter-slider">
        <div class="delinquency-rate-slider"></div>
    </div>
</a>

<a href="#"><span>Default Rate</span>
    <div class="filter-slider">
        <div class="default-rate-slider"></div>
    </div>
</a>

<a href="#"><span>Avg Cost to Borrowers</span>
    <div class="filter-slider">
        <div class="borrower-cost-slider"></div>
    </div>
</a>

<a href="#"><span>Profitability</span>
    <div class="filter-slider">
        <div class="profitability-slider"></div>
    </div>
</a>