<h3 id="slider-accordion-selector" data-kv-accordion class="ac-container show-for-small-only expandable-filter" aria-controls="filter-slider-container" aria-expanded="true">
    Partner Attributes
	<span class="ac-dropdown-icon">
		<svg class="icon icon-large-chevron">
            <use xlink:href="#icon-large-chevron"></use>
        </svg>
	</span>
</h3>


<div id="filter-slider-container" class="filter filter-slider" aria-hidden="false" aria-hidden="false">
	{{#sliders}}
        <li class="filter filter-slider-item">
			{{> 02-organisms/05-filters/20-slider-items}}
        </li>
	{{/sliders}}
</div>