
<div class="filter filter-slider">
	<span>Risk Rating</span>
	<div class="filter filter-slider-inner">
		<div class="risk-rating-slider"></div>
	</div>
</div>

<div class="filter filter-slider">
	<span>Delinquency Rate</span>
    <div class="filter filter-slider-inner">
		<div class="delinquency-rate-slider"></div>
	</div>
</div>


<div class="filter filter-slider">
	<span>Default Rate</span>
    <div class="filter filter-slider-inner">
		<div class="default-rate-slider"></div>
	</div>
</div>

<div class="filter filter-slider">
	<span>Avg Cost to Borrowers</span>
    <div class="filter filter-slider-inner">
		<div class="borrower-cost-slider"></div>
	</div>
</div>

<div class="filter filter-slider">
	<span>Profitability</span>
    <div class="filter filter-slider-inner">
		<div class="profitability-slider"></div>
	</div>
</div>
