<ul id="filter-group-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#filter_groups}}
        <li class="filter borrower-filter-box">
			{{> 02-organisms/05-filters/18-group-items}}
        </li>
	{{/filter_groups}}
</ul>