<ul id="filter-gender-ul" class="filter button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter borrower-filter-box-mobile">
        <input class="filter borrower-input" type="checkbox" id="filter-borrower-label-individual" name="filter-borrower-label-individual" data-toggle="button">
        <label class="filter borrower-label-mobile" class="button" for="filter-borrower-label-individual">Individual</label>
    </li>
    <li class="filter borrower-filter-box-right-mobile">
        <input class="filter borrower-input" type="checkbox" id="filter-borrower-label-group" name="filter-borrower-label-group" data-toggle="button">
        <label class="filter borrower-label-mobile" class="button" for="filter-borrower-label-group">Group</label>
    </li>
</ul>
<hr/>