<span>{{name}}</span>
<div class="filter filter-slider-inner">
    <div class="{{class_name}}" data-kv-name="{{kvName}}" {{kvAttribute}}>
        <div class="noUiLower"></div>
        <div class="noUiUpper"></div>
    </div>
</div>