<input type="checkbox" name="filter-{{dom-id}}" id='filter-{{dom-id}}-{{name}}' value='{{id}}' />
<label for='filter-{{dom-id}}-{{name}}' class="filter checkbox-input-span">
	{{name}}
	<span class="checkbox-facet">{{#facet}}({{facet}}){{/facet}}</span>
</label>