<input type="checkbox" name="filter-distribution-model" id='filter-distribution-model-{{name}}' value='{{id}}' />
<label for='filter-distribution-model-{{name}}' class="filter checkbox-input-span">{{name}}</label>