<h3 class="filter">
	Loan distribution
	<div class="subtext">How the loan reaches the borrower.</div>
</h3>
{{#distribution-model-filters}}
    {{> 01-molecules/09-filters/03-triple-state-buttons}}
{{/distribution-model-filters}}