<div class="fellowsStatsContainer text-center">
    <div class="topStats">
		<div class="row row1 show-for-small-up">
			<div class="small-12 medium-12 large-12 columns">
				<p class="huge kiva-green">Kiva interns are all-stars</p>
			</div>
		</div>

		<div class="row row2 show-for-small-up">
			<div class="small-12 medium-12 large-4 columns">
				<h1 class="stat white">462</h1>
				<div class="featured white fellpadbtm">Interns throughout the past 10 years</div>
			</div>

			<div class="small-12 medium-12 large-4 columns">
				<h1 class="stat white">221,760</h1>
				<div class="featured white fellpadbtm">Hours contributed by interns</div>
			</div>

			<div class="small-12 medium-12 large-4 columns">
				<h1 class="stat white">98%</h1>
				<div class="featured white fellpadbtm">Would do internship again</div>
			</div>
		</div>
  </div>
</div>
