{{! This is the Holiday banner that is shown in the small-large screen state}}
<div class="hide-for-xxlarge-up holiday-promo">
	<a href="{{holiday_mode.href}}" kvtrackevent="promo|click|TopNav">
		<svg class="icon icon-kiva-card">
			<use xlink:href="#icon-kiva-card"></use>
		</svg>
		<div class="content">
			{{holiday_mode.message}}
			<br class="so">
			<span class="call-to-action-text">{{holiday_mode.call_to_action}}</span>
		</div>
	</a>
</div>
