<div class="portfolio-main">
    <div class="row">
        <div class="columns large-12">
            <div class="impact lender-name">{{lenderName}}</div>
        </div>
    </div>

    <div class="row bottom-rule">
        <div class="columns small-6 large-4">
            {{#outstandingBalanceStat}}
                {{> 01-molecules/06-components/10-statistic-display}}
            {{/outstandingBalanceStat}}
        </div>

        <div class="columns small-6 large-4">
            {{#availableKivaCreditStat}}
                {{> 01-molecules/06-components/10-statistic-display}}
            {{/availableKivaCreditStat}}
        </div>

        <div class="columns small-11 large-4">
            <a href="{{findALoanUrl}}" class="button findALoanButton">{{findALoanText}}</a>
        </div>
    </div>
</div>