<div class="row">
	<div class="columns large-12">
		<p class="page-title black">Lender name</p>
	</div>
</div>

<div class="row bottom-rule">
	<div class="columns small-6 large-4">
		loans amount
	</div>

	<div class="columns small-6 large-4">
		credit amount
	</div>

	<div class="columns small-12 large-4">
		relend button
	</div>
</div>