<div class="portfolio-main">
	<div class="top-wrapper">
		<div class="row">
			<div class="small-12 columns impact lender-name">{{lenderName}}</div>
		</div>

		<div class="row">
			<div class="columns small-12">
			{{#availableKivaCreditStat}}
				<h3 class="strong">
					You have <span class="kiva-green">${{kivaAndFreeCredit}}</span> available to lend!
				</h3>
			{{/availableKivaCreditStat}}

			{{#freeCreditStat}}
				<h5 class="credit-breakdown">{{kivaCredit}} Kiva credit {{statisticValue}} free credit{{#freeCreditExp}} ({{freeCreditExp}}){{/freeCreditExp}}</h5>
			{{/freeCreditStat}}

			<h4 class="outstanding-balance">
				Outstanding loans: <span class="kiva-green">{{outstandingBalance}}</span>
			</h4>

			<div class="lend-messaging">
				{{#enoughToLend}}
					You've been ready to re-lend for <span class="days">{{numberOfDays}} days</span> - put that money to good use!
				{{/enoughToLend}}

				{{#notEnoughToLend}}
					You can make a loan today by adding just <span class="kiva-green">${{amountNeededToLend}}</span> to your account!
				{{/notEnoughToLend}}

				{{#zeroBalance}}
					Find a loan to make a difference today.
				{{/zeroBalance}}
			</div>
		</div>
	</div>

    <div class="row bottom-rule">
        <div class="columns small-12 large-12">
            <a href="{{findALoanUrl}}" class="button findALoanButton">{{findALoanText}}</a>
        </div>
    </div>
</div>

{{> 01-molecules/10-lightbox/11-credit-summary-lightbox}}
