<div class="statistics-bar">
	<div class="row">
		<div class="columns small-6 loan-count-stat">
			{{#loans-statistic}}
				{{> 01-molecules/06-components/11-statistic-display-with-icon-and-text}}
			{{/loans-statistic}}
		</div>

		<div class="columns small-6">
			{{#countries-statistic}}
                {{> 01-molecules/06-components/10-statistic-display}}
			{{/countries-statistic}}
		</div>
	</div>

	<div class="row bottom-rule">
		<div class="columns small-6">
			{{#donations-statistic}}
				{{> 01-molecules/06-components/12-statistic-display-with-local-lightbox}}
			{{/donations-statistic}}
		</div>

		<div class="columns small-6">
			{{#invitations-statistic}}
				{{> 01-molecules/06-components/10-statistic-display}}
			{{/invitations-statistic}}
		</div>
	</div>
</div>
