<div class="withdrawal-review">
    <div class="row">
        {{#withdrawalAmountRequested}}
            <div class="columns small-6">
                {{> 01-molecules/06-components/10-statistic-display}}
            </div>
        {{/withdrawalAmountRequested}}
        {{> 01-molecules/60-withdrawals/01-confirmation-arrow}}
        {{> 01-molecules/60-withdrawals/02-paypal-profile-iconography}}
    </div>
</div>