<div class="withdrawal-review">
    <div class="row align-middle">
        <div class="columns small-3 text-center withdrawal-amount-requested">
            {{#withdrawalAmountRequested}}
                {{> 01-molecules/06-components/10-statistic-display}}
            {{/withdrawalAmountRequested}}
        </div>
        <div class="columns small-5 text-center">
            {{> 01-molecules/60-withdrawals/01-confirmation-arrow}}
        </div>
        <div class="columns small-3 text-center end">
            {{> 01-molecules/60-withdrawals/02-paypal-profile-iconography}}
        </div>
    </div>
</div>