<div data-equalizer data-equalizer-mq="xlarge-up">
    <div class="small-12  xlarge-8 columns ghost-background" data-equalizer-watch>
        <div class="row">
            <div class="small-12 xlarge-12">
                {{> 02-organisms/23-accessEducation/accessEducation-accordion}}
                {{> 01-molecules/06-components/14-loan-counter}}
                </div>
            </div>
        </div>
        <div class="small-12 xlarge-4 columns platinum-background" data-equalizer-watch>
            <div class="row">
                <div class="small-12 xlarge-12">
                    {{> 01-molecules/06-components/13-sidebar-photo-with-caption}}
                    {{> 01-molecules/06-components/09-learn-more-link-list}}
                </div>
            </div>
        </div>
</div>