<div class="row frame">
    <h2 class="kiva-green">The Challenge - Access to Education</h2>
    <p class="featured">
       Higher education is expensive. Most students cannot afford school without grants or scholarships, both of which are scarce – especially in developing countries. The good news is that more students are prepared for and interested in pursuing advanced degrees than ever before. The bad news is that financing education on credit is hard.
    </p>
</div>