<div class="row frame">
    <hr class="hide-for-xlarge-up">
    <section>
        <h2 class="ac-title ac-container " id="padding-xlarge-view" data-kv-accordion aria-controls="ac-Problem1" aria-expanded="true">
            The Problem
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem1" aria-hidden="false">
            <p>
                Student loans require long terms and grace periods. While in school, most students are unable to work full time and make regular repayments. The opportunity cost for many financial institutions is just too high. Most students have no prior credit history, causing them to be perceived as high-risk borrowers. Young people everywhere lack collateral. This is doubly true for lowincome students who are also likely to not have parents or future employers to guarantee them. All of these factors leave behind millions of students every year, perpetuating an intergenerational cycle of poverty for families everywhere.
            </p>
            <p><strong>Proposed Solutions</strong></p>
            <p>
               Loans for tuition. With access to affordable, long-term credit, more students can pay for school. And when they graduate, they’ll have the potential to earn much more than before, making it easier to repay their loans once they’re employed. Kiva is exploring student loan terms of 6 to 20 years.
            </p>
            <p>
                Loans for supplies & living expenses. For students to succeed, they need credit for laptops, uniforms, books and more. Providing flexible capital for these supplies helps students focus on school and become more employable in modern economies.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Success" aria-expanded="true">
            What is success?
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Success" aria-hidden="false">
            <p>
                We want to help build a student loan market that enables capable students to thrive. We define success as:
                    <ul class="ul-indent">
                        <li>Increased Enrollment: More students with the credentials enrolling in universities, vocational schools and training programs. And in time, new generations of high wage earners and ethically-driven leaders emerge across sectors.</li>
                        <li>High Repayment Rates: Students able to earn enough money upon graduation to repay their loans.</li>
                        <li>Strong Credit Histories: Students establishing good credit through regular repayment on loans, setting them up for financial success later in life.</li>
                        <li>Demonstration Effect: Proof that students are viable long-term investments so that traditional financial institutions start funding student loan programs.</li>
                    </ul>
            </p>
        </div>
    </section>
    <hr class="show-for-xlarge-up">
</div>