<div class="row frame hide-for-xlarge-up">
    <img src="/images/accessEducation/small_graphic.svg">
</div>

<div class="row frame show-for-xlarge-up" >
   <img src="/images/accessEducation/large_graphic.svg">
</div>