<div>
    <hr>
    <section>
            <h2 class="ac-title ac-container " data-kv-accordion aria-controls="ac-learnMore" aria-expanded="true">
                Learn More
                <span class="ac-dropdown-icon">
                    <svg class="icon icon-large-chevron tweak-right-chevron">
                        <use xlink:href="#icon-large-chevron"></use>
                    </svg>
                </span>
            </h2>
            <article class="ac-body" id="ac-learnMore" aria-hidden="false">
                <div class="accordion" >
                    <ul id="learn-more-list">
                        <li  class="small-text">
                            <a href="http://www.nber.org/papers/w18033" class="acc-handle">Making Higher Education Finance Work for Africa(Journal of African Economics)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li  class="small-text">
                            <a href=" http://www.un.org/womenwatch/feature/climate_change/downloads/Women_and_Climate_Change_Factsheet.pdf" class="acc-handle">Trends in Global Higher Education (UNESCO)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li  class="small-text">
                            <a href="http://policy.practicalaction.org/policy-themes/energy/poor-peoples-energy-outlook/poor-peoples-energy-outlook-2012" class="acc-handle">Student loans: Liquidity constraints & higher education in South Africa (Agence Française de Développement)(Practical Action)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li class="small-text">
                            <a href="http://cleancookstoves.org/resources_files/intra-household-externalities.pdf " class="acc-handle">Financing Higher Education in Africa (World Bank)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li class="small-text">
                            <a href="https://www.researchgate.net/publication/46496305_Calabashes_for_kilowatt-hours_Rural_energy_and_market_failure " class="acc-handle">Worldwide Trends in Higher Education Finance(UNESCO)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
            <hr>
    </section>
</div>
