<div class="row small-collapse  financingAG-full-width-image">
    <img src="/images/accessEducation/energyGap_small.svg">
    <figcaption class="frame financingAG-full-width-image">
       <a href="http://sistemabiobolsa.com/?lang=en">Rosemary</a> was one of the first students to fund part of her tuition through a Kiva loan.
    </figcaption>
</div>
