<div data-equalizer data-equalizer-mq="xlarge-up">
    <div class="small-12  xlarge-8 columns ghost-background" data-equalizer-watch>
        <div class="row">
            <div class="small-12 xlarge-12">
                {{> 02-organisms/23-accessEducation/accessEducation-accordion}}
                {{> 02-organisms/23-accessEducation/accessEducation-labs-loan}}
            </div>
        </div>
    </div>
    <div class="small-12 xlarge-4 columns platinum-background" data-equalizer-watch>
        <div class="row">
            <div class="small-12 xlarge-12">
                {{> 02-organisms/23-accessEducation/accessEducation-figure-with-caption}}
                {{>02-organisms/23-accessEducation/accessEducation-learn-more-link-list}}
            </div>
        </div>
    </div>
</div>