<div class="row">
	<div class="columns">
		<p>
			<div class="mg-deposit-amount-input-wrapper">
				<input class="mg-deposit-amount-input" type="text" maxlength="9" placeholder="$" value="$25" data-abide-validator="currency" data-min-amount="5.00" data-max-amount="10000" required="">
			</div>
		<a class="button join-monthly-good" href="{{confirm_href}}">Contribute monthly</a></p>

		<p>go to <a href="{{billing_href}}">billing page</a></p>
	</div>
</div>

<div class="row">
	<div class="columns">
		<!--{how_works_content}}}-->
	</div>
</div>



<div class="how-works-section-wrapper">
	<div class="row how-works-section text-center white">
		<div class="small-12 columns" style="padding: 10px 0 30px 0;">
			<h2 class="white">
				How it works
			</h2>
		</div>
		<div class="small-12 xlarge-4 columns" style="margin-bottom: 30px;">
			<svg class="icon icon-auto-deposit">
				<use xlink:href="#icon-auto-deposit"/>
			</svg>
			<h2 class="white">Contribute automatically</h2>
			<p>Sign up once by choosing a monthly amount that works for you. Cancel anytime.<p>
		</div>
		<div class="small-12 xlarge-4 columns" style="margin-bottom: 30px;">
			<svg class="icon icon-lend" style="fill: white; color: #63a541;">
				<use xlink:href="#icon-lend"/>
			</svg>
			<h2 class="white">Help entrepreneurs in need</h2>
			<p>Kiva will automatically lend 100% of your funds to borrowers who need help reaching their goals. This could be anyone on Kiva, from farmers to students, artisans to shopkeepers.</p>
		</div>
		<div class="small-12 xlarge-4 columns" style="margin-bottom: 50px;">
			<svg class="icon icon-updates">
				<use xlink:href="#icon-updates"/>
			</svg>
			<h2 class="white">Receive inspiring stories</h2>
			<p>We’ll send you an update once a month, including who you
				supported and why it mattered.</p>
		</div>

		<div class="small-12 columns">
			<p>As you’re repaid, your funds will be automatically relent
				to borrowers in need, multiplying your impact</p>
		</div>
	</div>
</div>






<div class="row">
	<div class="columns">
		{{{kiva_expert_content}}}
	</div>
</div>

<div class="row">
	<div class="columns">
		{{{more_kiva_content}}}
	</div>
</div>


<div class="row">
	<div class="columns">
		{{{faq_content}}}
	</div>
</div>
