<div class="row">
	<div class="columns monthly-good-confirm">
		{{#has_legacy_subscription}}
			<h1 class="text-center">Please cancel your existing
				<br class="lu">auto deposit first:</h1>

			<ul>
				<li>Thanks for your interest in Monthly Good. Because you have an existing Kiva subscription,
				you’ll need to cancel this via PayPal before signing up for Monthly Good.</li>
			</ul>

			<div class="text-center mg-button-wrap">
				<a class="button manage-legacy-sub" href="{{cancel_subscription_link}}">Manage my auto deposit</a>
				<a class="button secondary keep-as-is" href="##">Keep my account as is</a>
			</div>

		{{/has_legacy_subscription}}

		{{^has_legacy_subscription}}
			{{#has_monthly_good}}
				<h1 class="text-center">You're already signed up for Monthly Good</h1>

				<p class="text-center">Changes to this contribution can be made in your
					<a class="credit-settings-link" href="{{credit_settings_link}}">credit settings</a>.</p>
			{{/has_monthly_good}}
		{{/has_legacy_subscription}}
	</div>
</div>
