<div class="row">
	<div class="columns monthly-good-confirm">
		{{#has_legacy_subscription}}
			<h1 class="text-center">Please cancel your existing
				<br class="lu">auto deposit first:</h1>

			<ul>
				<li>Thanks for your interest in Monthly Good. Because you have an existing Kiva subscription,
				you’ll need to cancel this via PayPal before signing up for Monthly Good.</li>
			</ul>

			<div class="text-center mg-button-wrap">
				<a class="button manage-legacy-sub" href="{{cancel_subscription_link}}">Manage my auto deposit</a>
				<a class="button secondary keep-as-is" href="##">Keep my account as is</a>
			</div>

		{{/has_legacy_subscription}}

		{{^has_legacy_subscription}}
			{{#has_monthly_good}}
				<h1 class="text-center">You already have a Monthly Good subscription</h1>

				<p class="text-center">You can manage your Monthly Good on the
					<a class="credit-settings-link" href="{{credit_settings_link}}">credit settings page</a>.</p>
			{{/has_monthly_good}}

			{{^has_monthly_good}}
				<h1 class="text-center">A few things will change
					<br class="lu">when you join Monthly Good:</h1>

				<ul>
					{{#has_auto_deposit}}
						  <li><strong>Your new Monthly Good contribution will replace your existing auto deposit.</strong></li>
					{{/has_auto_deposit}}

					<li><strong>Your funds will be lent automatically using any balance of $25+ in your account.</strong>
						This will take effect upon sign up, and each loan will go to one of the many deserving
						borrowers on Kiva who needs help reaching 100% funding.
						{{#has_auto_lending}}Enrolling in Monthly Good will also disable your current auto lending settings.{{/has_auto_lending}}
					</li>

					<li>You’ll receive an inspiring email once a month telling you who your loan supported.
					You’ll receive fewer emails overall from Kiva, including no repayment notifications.</li>
				</ul>

				<div class="text-center mg-button-wrap">
					<a class="button agree-to-mg" href="##">I agree,
						<span class="hide-for-x-small">let’s</span> start the Good!</a>
					<a class="button secondary keep-as-is" href="##">No thanks</a>
				</div>
			{{/has_monthly_good}}
		{{/has_legacy_subscription}}
	</div>
</div>
