<div class="row">
	<div class="columns  monthly-good monthly-good-confirm">
		<p>Monthly Good <strong>confirm</strong> page placeholder</p>

		{{#is_new_user}}<p>is new user</p>{{/is_new_user}}
		{{^is_new_user}}<p>is existing user</p>{{/is_new_user}}
		{{#has_monthly_good}}<p>already has MG</p>{{/has_monthly_good}}
		{{^has_monthly_good}}<p>does NOT have MG</p>{{/has_monthly_good}}
		{{#is_logged_in}}<p>is logged in</p>{{/is_logged_in}}
		{{^is_logged_in}}<p>is NOT logged in</p>{{/is_logged_in}}
		{{#has_legacy_subscription}}<p>has legacy subscription</p>{{/has_legacy_subscription}}
		{{^has_legacy_subscription}}<p>NO legacy subscription</p>{{/has_legacy_subscription}}
		{{#has_auto_deposit}}<p>has auto-deposit</p>{{/has_auto_deposit}}
		{{^has_auto_deposit}}<p>NO auto-deposit</p>{{/has_auto_deposit}}
		{{#has_billing_agreement}}<p>has billing agreement</p>{{/has_billing_agreement}}
		{{^has_billing_agreement}}<p>NO billing agreement</p>{{/has_billing_agreement}}
		{{#has_auto_lending}}<p>has auto-lending</p>{{/has_auto_lending}}
		{{^has_auto_lending}}<p>NO auto-lending</p>{{/has_auto_lending}}


		<p>go to <a href="{{billing_href}}">setup page</a></p>

	</div>
</div>
