<div class="row">
	<div class="columns monthly-good monthly-good-billing">
		<h1 class="impact text-center kiva-green">
				Confirm your Monthly Good
		</h1>

		<p class="text-center featured">
			Review your contribution and checkout just once with PayPal.
			<br>
		</p>

		<div class="panel zigzag-bottom">
			<div class="monthly-good-form-inputs">
				{{#is-standalone}}
					{{> 02-organisms/60-monthly-good/01-monthly-good-inputs}}
				{{/is-standalone}}
			</div>

			<p class="text-center featured"><em>Rest easy, you can cancel anytime.</em></p>
		</div>

		<p class="text-center">go to <a href="{{thanks_href}}">thanks page</a></p>
	</div>
</div>
