<div class="row">
	<div class="columns  monthly-good monthly-good-thanks">
		<h1 class="impact text-center">
				<svg class="icon icon-confirmation">
					<use xlink:href="#icon-confirmation"/>
				</svg>
				You joined Monthly Good!
		</h1>

		<p class="text-center">${{deposit_amount}}/month
			{{#donation_amount}}
				(along with a ${{donation_amount}} donation)
			{{/donation_amount}}
		</p>

		<div class="panel">
			<p class="text-center"><strong>
				Based on your contribution, you'll support your first borrower {{in_month}}.
			</strong></p>


			<p class="text-center"><strong><em>
				This is our best guess but loan lengths and
				repayment rates vary.
			</em></strong></p>
		</div>
	</div>
</div>
