<div class="page" id="page">
	<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
		<li>{{> organisms-loancard-listing }}</li>
	</ul>
</div>