<div class="top-nav" role="navigation">
	<div class="row header-row">
	{{! This is the Promo/Bonus banner that is shown in the XXlarge screen state}}
		<div class="show-for-xxlarge-up xxlarge-4 xxlarge-centered columns promo-space">
			{{#bonus}}
				<div style="font-weight: normal;">Select a borrower to </br>
					<span style="font-weight: bold;">
						<a class="dark_green_bg_link" href="{{bonus.href}}">lend your {{bonus.amount}} {{bonus.label}}</a>
					</span>
				</div>
			{{/bonus}}
		</div>
		<div class="small-3 large-2 xxlarge-2 columns header-column logo-area">
			<a class="header-button" href="{{logo_href}}">
				<svg class="icon icon-new-kiva-logo">
					<use xlink:href="#icon-new-kiva-logo"/>
				</svg>
			</a>
		</div>
		<div class="small-3 large-2 xxlarge-1 columns header-column">
			<a kvtrackevent="TopNav|click-Lend" data-dropdown="lend-dropdown" data-options="is_hover:true;hover_timeout:200;" aria-controls="lend-dropdown" aria-expanded="false" class="header-button" href="{{lend_href}}">Lend <svg class="icon"><use xlink:href="#icon-triangle" /></svg></a>
		</div>
		{{> 02-organisms/08-header/01-search-button}}
		{{#is-visitor}}
			<div class="small-6 xxlarge-3 columns header-column right-side">
				<div class="small-6 large-4 columns">
					<a kvtrackevent="TopNav|click-About" data-dropdown="about-dropdown" data-options="is_hover:true;hover_timeout:200;" aria-controls="about-dropdown" aria-expanded="false" class="header-button" href="{{about_href}}">About <svg class="icon"><use xlink:href="#icon-triangle" /></svg></a>
				</div>
                {{#basket-loan-added}}
                <div id="top-basket-button" class="show-for-large-up large-4 columns">
                {{/basket-loan-added}}
                {{^basket-loan-added}}
                <div id="top-basket-button" class="hide large-4 columns">
                {{/basket-loan-added}}
					<a class="header-button {{#is_free_trial_eligible}}hidden{{/is_free_trial_eligible}}" href="{{basket_href}}"><span class="amount {{^basket.item_count}}hide{{/basket.item_count}}">{{basket.item_count}}</span> Basket</a>
				</div>
				<div class="small-6 large-4 columns">
					<a class="header-button" href="{{login_href}}">Sign in</a>
				</div>
			</div>
		{{/is-visitor}}
		{{^is-visitor}}
			<div class="small-3-8ths xxlarge-2 columns header-column right-side">
                {{#basket-loan-added}}
                <div id="top-basket-button" class="show-for-large-up large-6 columns">
                {{/basket-loan-added}}
                {{^basket-loan-added}}
                <div id="top-basket-button" class="hide large-6 columns">
                {{/basket-loan-added}}
					<a class="header-button {{#is_free_trial_eligible}}hidden{{/is_free_trial_eligible}}" href="{{basket_href}}"><span class="amount {{^basket.item_count}}hide{{/basket.item_count}}">{{basket.item_count}}</span> Basket</a>
				</div>
				<div class="small-12 large-6 columns">
					<a kvtrackevent="TopNav|click-Portfolio" data-dropdown="my-kiva-dropdown" data-options="is_hover:true;hover_timeout:200;" aria-controls="my-kiva-dropdown" aria-expanded="false" class="header-button my-kiva" href="{{my_kiva_href}}">
						<span class="amount">{{balance}}</span>
						<span class="circle-avatar" style="background-image:url({{profile_picture_href}})"></span>
					</a>
				</div>
			</div>
		{{/is-visitor}}
		{{> 02-organisms/08-header/02-search-box}}
		{{^bonus}}
			{{#header_promo}}
				{{> 02-organisms/08-header/04-promo}}
			{{/header_promo}}
		{{/bonus}}
	</div>

	{{> 02-organisms/08-header/03-lend-menu}}

	{{#is-visitor}}
		<ul id="about-dropdown" class="f-dropdown dropdown-list" data-dropdown-content aria-hidden="true" tabindex="-1">
			{{#about-nav.links}}
				<li><a kvtrackevent="TopNav|click-About-{{label}}" href="{{href}}">{{label}}</a></li>
			{{/about-nav.links}}
		</ul>
	{{/is-visitor}}

	{{^is-visitor}}
		<ul id="my-kiva-dropdown" class="f-dropdown dropdown-list" data-dropdown-content aria-hidden="true" tabindex="-1">
			{{#my-kiva.links}}
				<li><a kvtrackevent="TopNav|click-Portfolio-{{label}}" href="{{href}}" {{#end-section}}class="end-section"{{/end-section}}>{{label}}</a></li>
			{{/my-kiva.links}}
		</ul>
	{{/is-visitor}}
{{! This is the Promo/Bonus banner that is shown in the medium screen state}}
	{{#bonus}}
		<div class="hide-for-xxlarge-up hide-for-small-only pronus"><span style="font-weight: normal;">Select a borrower to <span style="font-weight: bold;"><a class="dark_green_bg_link"  href="{{bonus.href}}">lend your {{bonus.amount}} {{bonus.label}}</a></span></span></div>
	{{/bonus}}
{{! This is the Promo/Bonus banner that is shown in the small screen state}}
	{{#bonus}}
		<div class="show-for-small-only small-centered columns pronus"><div style="font-weight: normal;">Select a borrower to </br><span style="font-weight: bold;"><a class="dark_green_bg_link"  href="{{bonus.href}}">lend your {{bonus.amount}} {{bonus.label}}</a></span></div></div>
	{{/bonus}}
	{{^bonus}}
		{{#header_promo}}
			{{> 02-organisms/08-header/05-promo-small}}
		{{/header_promo}}
	{{/bonus}}

</div>

<div id="mobile-basket-button" class="basket-bar {{#basket.item_count}}hide-for-large-up{{/basket.item_count}}{{^basket.item_count}}hide{{/basket.item_count}}"><a href="{{basket_href}}" class="button">Basket (<span class="basket-item-count">{{basket.item_count}}</span>)</a></div>
