<div class="top-nav" role="navigation">
    <div class="row">
        <div class="small-3 large-2 xxlarge-2 columns logo-area">
			<a class="header-button" href="#"><img src="/images/logo-white-cropped.png" alt="Kiva" /></a>
        </div>
        <div class="small-3 large-2 xxlarge-1 columns">
            <a class="header-button" href="#">Lend <i class="fa fa-chevron-down"></i></a>
        </div>
		{{#is-visitor}}
			<div class="show-for-large-up large-1 xxlarge-1 columns">
				<a class="header-button" href="#"><i class="fa fa-search"></i></a>
			</div>
		{{/is-visitor}}
		{{#is-lender}}
            <div class="small-2 large-1 xxlarge-1 columns">
				<a id="search-toggle" aria-controls="search-form" aria-expanded="false" class="header-button" href="#"><i class="fa fa-search search-icon"></i><i class="fa fa-times close-icon"></i></a>
            </div>
			<div id="search-container" class="small-12 large-3 xxlarge-3 columns">
				<form id="search-form" aria-hidden="true">
					<div>
                        <a id="close-search" aria-controls="search-form" aria-hidden="true" aria-expanded="false" class="show-for-small-only" href="#"><i class="fa fa-times close-icon"></i></a><!-- fight inline spacing
						--><i class="fa fa-search search-icon"></i><!-- fight inline spacing
						--><input id="search-box" type="text" placeholder="Search" />
                    </div>
				</form>
			</div>
		{{/is-lender}}
		{{#is-visitor}}
			<div class="small-6 xxlarge-3 columns right-side">
				<div class="small-6 large-4 columns">
					<a data-dropdown="about-dropdown" aria-controls="about-dropdown" aria-expanded="false" class="header-button" href="#">About <i class="fa fa-chevron-down"></i></a>
				</div>
				<div class="show-for-large-up large-4 columns">
					<a class="header-button" href="#">{{#basket-count}}<span class="amount">{{basket-count}}</span>{{/basket-count}} Basket</a>
				</div>
				<div class="small-6 large-4 columns">
					<a class="header-button" href="#">Login</a>
				</div>
			</div>
		{{/is-visitor}}
		{{#is-lender}}
			<div class="small-4 xxlarge-2 columns right-side">
				<div class="show-for-large-up large-6 columns">
					<a class="header-button" href="#">{{#basket-count}}<span class="amount">{{basket-count}}</span>{{/basket-count}} Basket</a>
				</div>
				<div class="small-12 large-6 columns">
					<a class="header-button" href="#">Profile</a>
				</div>
			</div>
		{{/is-lender}}
        <div class="show-for-xxlarge-up xxlarge-4 xxlarge-centered columns promo-space">
			{{#bonus}}
                <a href="#"><span class="amount">$25</span> Bonus Credit <i class="fa fa-chevron-down"></i></a>
			{{/bonus}}
			{{^bonus}}
                <span class="promo">Promo Space</span>
			{{/bonus}}
        </div>
    </div>

	{{#is-visitor}}
		<ul id="about-dropdown" class="f-dropdown dropdown-list" data-dropdown-content aria-hidden="true" tabindex="-1">
			{{#about-nav.links}}
				<li><a href="{{href}}">{{label}}</a></li>
			{{/about-nav.links}}
		</ul>
	{{/is-visitor}}

	{{#bonus}}
        <div class="hide-for-xxlarge-up pronus"><a href="#">$25 Bonus Credit</a></div>
	{{/bonus}}
</div>

{{#basket-count}}
    <div class="show-for-small-only basket-bar"><a href="#">Basket ({{basket-count}})</a></div>
{{/basket-count}}