<div class="borrower-landing-page">
	<!--Various portions of the borrower landing page will be included here-->

	<!--Headline-->
	{{> 01-molecules/06-components/04-white-text-on-full-width-image:09-borrower-landing.json}}

	<!--Tagline-->
	{{> 02-organisms/45-borrower-landing/04-tagline}}

	<!--Value propositions-->
	{{> 02-organisms/45-borrower-landing/05-value-props}}

	<!--Social Validation Slider-->
	{{> 02-organisms/45-borrower-landing/03-social-validation-slider}}

	<!--How it works-->
	{{> 02-organisms/45-borrower-landing/01-how-it-works-borrower}}

	<!--External validation-->
	{{> 02-organisms/45-borrower-landing/07-external-validation}}

	<!--The why-->
	{{> 02-organisms/45-borrower-landing/06-the-why}}

	<!--Do you qualify-->
	{{> 02-organisms/45-borrower-landing/02-do-you-qualify}}

	<!--FAQs-->
	{{> 02-organisms/45-borrower-landing/01-faqs}}

</div>
