<div class="borrower-landing-page">
	<!--Various portions of the borrower landing page will be included here-->

	<!--Headline-->
	{{> 01-molecules/06-components/04-white-text-on-full-width-image:09-borrower-landing.json}}

	<!--Social Validation Slider-->
	{{> 02-organisms/45-borrower-landing/03-social-validation-slider}}

	<!--How it works-->
	{{> 02-organisms/45-borrower-landing/01-how-it-works}}

	<!--FAQs-->
	{{> 02-organisms/45-borrower-landing/01-faqs}}

</div>
