<div class="interns-page">

	{{> organisms-interns-headline}}

	<div class="row row-fellows-anchors fellpad">
  	<div class="small-12 columns">
				Jump to: <a href="#apply">Apply</a> &nbsp;|&nbsp; <a href="#departments">Departments</a> &nbsp;|&nbsp; <a href="#dates">Dates</a> &nbsp;|&nbsp; <a href="#timeline">Process Timeline</a> &nbsp;|&nbsp; <a href="#alumni">Alumni</a> &nbsp;|&nbsp; <a href="#faq">FAQ</a>
		</div>
	</div>

	<div class="row fellows-tesimonial">
		<div class="small-12 large-8 columns intern-pad-right fellpadbtm">
			<h1 class="impact impact_intro_header">
				Kiva is changing lives... join us!
			</h1>
			<p class="featured featured-fellows">
				At Kiva, we are passionate about social impact and creating opportunity for communities around the world. We've helped more than 2 million people build better lives for themselves and their families, and none of it would be possible without our interns.
			</p>
			<p class="extra-lineheight">
				An internship at Kiva gives you 6 months of hands-on learning with an innovative, internationally-recognized nonprofit that has tech startup in its DNA.
			</p><p class="extra-lineheight">
				With part-time positions available across a range of business units, you'll contribute to meaningful projects in a fast-paced environment. Develop your professional skills, while making lifelong friends.
			</p>
		</div>
		<div class="small-12 large-4 columns avatar-fellows">
				<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern_test2_std2.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern_test2_retina2.jpg, (retina)] " alt="Kiva Intern - Reed Bongartz">
				<noscript><img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern_test2_std2.jpg" alt="Kiva Intern - Reed Bongartz"></noscript>
				<p class="testimony-text extra-lineheight">
				I interned at Kiva to make an impact. I spent a lot of time creating and working with the systems and processes that Kiva’s partners use. From there, it was an easy transition to an operations role at another socially responsible company, Komaza, one of Kiva’s Field Partners in Kenya.<br>
				<strong>- Reed Bongartz, Portfolio Operations</strong>
			</p>
		</div>
	</div>

	{{> organisms-interns-stats}}

	<div class="row intern-extra-pad">
		<div class="small-12 large-6 columns lifestyle-photo">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/interns-lifestyle2.jpg" alt="Kiva Fellow in the field">
		</div>
		<div class="small-12 large-6 columns">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/interns-lifestyle1.jpg" alt="Kiva Fellow in the field">
		</div>
	</div>

	<a name="departments"></a>
	<div class="row fellows-tesimonial fellpadbtm">
		<div class="small-12 large-4 columns avatar-fellows">
				<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern_test1_std2.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern_test1_retina2.jpg, (retina)] " alt="Kiva Intern - Shin Thu San">
				<noscript><img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern_test1_std2.jpg" alt="Kiva Intern - Shin Thu San"></noscript>
				<p class="testimony-text extra-lineheight">
				Interning at Kiva allowed me to see how a successful nonprofit operates day-to-day. My exposure to policy compliance on the review and translation team taught me a great deal and helped me in my transition to a policy analyst role at Twitter after Kiva.<br>
				<strong>- Shin Thu San, Review and Translation Program</strong>
			</p>
		</div>
		<div class="small-12 large-8 columns intern-pad-left">
			<h1 class="impact impact_intro_header">
				How will you make a difference?
			</h1>
			<p class="featured featured-fellows">
				Interns are placed with teams throughout Kiva based on their strengths, skills and career goals. Our internship team will match you with an opportunity where you can contribute and grow.
			</p>
			<strong>Teams include:</strong>
			<ul>
					<li>Program Management</li>
					<li>Marketing and Communications</li>
					<li>Community Support</li>
					<li>Product Management</li>
					<li>Development</li>
					<li>Microfinance Partnerships</li>
					<li>Engineering</li>
					<li>Business Strategy &amp; Operations</li>
			</ul>
		</div>
	</div>

	{{#interns-cta1-banner}}
		{{^applications-closed}}
			{{> 02-organisms/20-interns/interns-cta1}}
		{{/applications-closed}}
		{{#applications-closed}}
			{{> 02-organisms/20-interns/interns-cta1-closed}}
		{{/applications-closed}}
	{{/interns-cta1-banner}}

	<a name="dates"></a>
	<div class="row fellpadtop">
		<div class="small-12 columns">
			<h1 class="impact">
				Mark your calendar
			</h1>
			<p class="featured featured-fellows">
				Kiva is currently hiring for our January - July 2017 internship class starting in mid January 2017. Important dates to keep in mind:
			</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-3 columns">
			<div class="dates-title">Application due</div>
			<p class="featured dates-date">Oct. 28, 2016</p>
		</div>
		<div class="small-12 large-1 columns">
			<svg class="icon icon-medium-chevron fellows-chevron"><use xlink:href="#icon-medium-chevron"></use></svg>
		</div>
		<div class="small-12 large-4 columns">
			<div class="dates-title">Internship start</div>
			<p class="featured dates-date">Jan. 11, 2017</p>
		</div>
		<div class="small-12 large-1 columns">
			<svg class="icon icon-medium-chevron fellows-chevron"><use xlink:href="#icon-medium-chevron"></use></svg>
		</div>
		<div class="small-12 large-3 columns">
			<div class="dates-title">Internship end</div>
			<p class="featured dates-date">July 21, 2017</p>
		</div>
	</div>
	<div class="row fellpadtop">
		<div class="small-12 columns">
			<p class="extra-lineheight">
				We pack a lot into this structured 6-month program, so interested applicants must be able and willing to commit to the full time period.
			</p>
		</div>
	</div>

	<div class="row fellpadbtm">
		<div class="small-12 large-6 columns lifestyle-photo">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/interns-lifestyle4.jpg" alt="Kiva intern welcome ceremony">
		</div>
		<div class="small-12 large-6 columns">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/interns-lifestyle5.jpg" alt="Kiva intern group lunch">
		</div>
	</div>

	<a name="timeline"></a>
	{{> molecules-steps-for-apply-interns}}

	<a name="alumni"></a>
	<div class="row fellpad">
		<div class="small-12 columns">
			<h1 class="impact">
				Meet Kiva's current interns and alumni
			</h1>
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/intern-class-h2-16.jpg" alt="Kiva interns class photo">
			<p class="featured featured-fellows fellpad">
				Kiva interns have a wide range of backgrounds and have gone on to work for organizations such as Room to Read, Full Circle Fund, Fitbit, Watsi, Google, Fair Trade USA and Deloitte. <a href="https://www.linkedin.com/vsearch/p?type=all&keywords=kiva%20intern&orig=FCTD&rsid=570207041474493154407&pageKey=nprofile_view_nonself&trkInfo=tarId%3A1474493112842&trk=global_header&search=Search&openFacets=N,G,CC,PC&f_PC=266361&pt=people" target="_blank"> Learn more about our talented interns here.</a>
			</p>
		</div>
		<div class="small-12 large-6 columns lifestyle-photo">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/interns-lifestyle3.jpg" alt="Kiva Fellow in the field">
		</div>
		<div class="small-12 large-6 columns fellpadbtm">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/interns-lifestyle6.jpg" alt="Kiva Fellow in the field">
		</div>
	</div>

	<a name="apply"></a>
	{{#interns-cta2-banner}}
		{{^applications-closed}}
			{{> 02-organisms/20-interns/interns-cta1}}
		{{/applications-closed}}
		{{#applications-closed}}
			{{> 02-organisms/20-interns/interns-cta1-closed}}
		{{/applications-closed}}
	{{/interns-cta2-banner}}

	<a name="faq"></a>
	<div class="row intern-extra-pad">
		<div class="small-12 columns large-centered">
			<div class="faq-container">
				<h2 class="faq-title">Frequently asked questions</h2>
				<section class="accordion-container">
					{{#interns-faqs}}
						{{> 01-molecules/06-components/13-faq-question-answer}}
					{{/interns-faqs}}
					<div class="ac-title ac-container"></div>
				</section>
				<p class="extra-lineheight">Have a question that you couldn't find here? <a href="mailto:internprogram@kiva.org?Subject=Internship%20question" target="_blank">Email a member of our team.</a></p>
			</div>
		</div>
	</div>

</div>
