<div class="small-12 large-9 columns withdraw-credit">
    <div class="explainer">
        <h1>Withdraw credit</h1>
        <p>Enter the amount in U.S. dollars that you'd like to have withdrawn into your PayPal account. Withdrawals typically take 1-2 weeks to be processed after being requested.</p>
    </div>
    <div class="row bottom-rule for-explainer">&nbsp;</div>
    <!-- This is where the rest of the content goes -->
</div>

<div class="spacer" style="clear:both"></div>