<div class="small-12 large-9 columns withdraw-credit-confirm">
    <div class="explainer">
        <h1>Confirm withdrawal request</h1>
        <p>Are you sure you want to complete this transaction?</p>
    </div>
    {{> 02-organisms/40-portfolio/11-withdrawal-review}}
    <div class="row bottom-rule">&nbsp;</div>
</div>

<div class="spacer" style="clear:both"></div>