<div class="small-12 large-9 columns withdraw-credit-confirm">
    <div class="row explainer">
        <h1>Confirm withdrawal request</h1>
        <p>Are you sure you want to complete this transaction?</p>
    </div>
    <div class="row bottom-rule">&nbsp;</div>
    {{> 02-organisms/40-portfolio/11-withdrawal-review}}
    <div class="row bottom-rule">&nbsp;</div>
    <div class="row">
        <p>*Completing withdrawals via PayPal is a manual process, and as such, takes longer than accepting funds. Withdrawal requests are reviewed by Kiva’s accounting team on a weekly basis and, once approved, sent to lenders’ PayPal accounts. Given this process, lenders can expect to see their funds deposited into their PayPal account within 1-2 weeks of it being requested.</p>
    </div>
</div>

<div class="spacer" style="clear:both"></div>