<div class="small-12 large-9 columns withdraw-credit-confirm">
    <div class="row explainer">
        <h1 class="columns small-12">Confirm request</h1>
        <p class="columns small-12">Are you sure you want to complete this transaction?</p>
    </div>
    <div class="row align-middle withdraw-credit-graphic show-for-large-up">
        <div class="columns small-3 text-center withdrawal-amount-requested"><b>{{withdrawalAmountRequested}}</b></div>
        <div class="columns small-5 text-center">
            {{> 01-molecules/60-withdrawals/01-confirmation-arrow}}
        </div>
        <div class="columns small-3 text-center end">
            {{> 01-molecules/60-withdrawals/02-paypal-profile-iconography}}
        </div>
    </div>
    <div class="row align-middle withdraw-credit-graphic show-for-medium-down">
        <div class="row">
            <div class="columns small-12 text-center withdrawal-amount-requested"><b>{{withdrawalAmountRequested}}</b></div>
        </div>
        <div class="row">
            <div class="columns small-12 text-center">
                {{> 01-molecules/60-withdrawals/01-confirmation-arrow}}
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 text-center end">
                {{> 01-molecules/60-withdrawals/02-paypal-profile-iconography}}
            </div>
        </div>
    </div>
    <div class="row bottom-rule">&nbsp;</div>
    <div class="row confirm-withdrawal-form">
        <form id="confirmWithdrawalForm" class="columns small-12" action="{{completeWithdrawalUrl}}" method="post">
            <input type="hidden" name="withdrawalAmount" value="{{withdrawalAmount}}">
            <button type="submit" class="columns small-12 large-6 request-withdrawal-button">Request withdrawal</button>
            <a href="{{cancelWithdrawalUrl}}" class="columns small-12 large-5 end button secondary">Cancel</a>
        </form>
    </div>
    <div class="row bottom-rule">&nbsp;</div>
    <div class="row">
        <p class="columns small-12">*Completing withdrawals via PayPal is a manual process, and as such, takes longer than accepting funds. Withdrawal requests are reviewed by Kiva’s accounting team on a weekly basis and, once approved, sent to lenders’ PayPal accounts. Given this process, lenders can expect to see their funds deposited into their PayPal account within 1-2 weeks of it being requested.</p>
    </div>
</div>

<div class="spacer" style="clear:both"></div>