<div class="small-12 large-9 columns messages">
	<h1>Inbox{{#message-count}} ({{message-count}}){{/message-count}}</h1>
	<span class="message-count">
		{{#message-count}}
			Showing {{first-on-page}}-{{last-on-page}} of {{message-count}} messages
		{{/message-count}}
		{{^message-count}}
			0 messages
		{{/message-count}}
	</span>
	<p class="small-text guidelines">Lender messages should always abide by <a href="{{guidelines-url}}">Kiva's community guidelines</a>.</p>
	<ul class="message-list">
		{{#messages}}
			<li>
				{{> organisms-lender-message}}
			</li>
		{{/messages}}
	</ul>
	{{^message-count}}
		<p>
			Lender messages allow you to communicate directly with other lenders through the Kiva website, building stronger community with one another. You can send a message directly from another lender's public profile, or by replying to a message you've received.
		</p>
		<p>
			You must have a public lender profile to use lender messages.
		</p>
	{{/message-count}}
	{{> molecules-pagination}}
</div>
<div class="spacer" style="clear:both"></div>