<div class="auto-deposit row">
	<div class="columns">
		<!-- Title + Copy -->
		<div class="auto-deposit-header">
			<h1>Set up an auto deposit</h1>
			<p>Automatically add money to your Kiva account every month so it'll be available for you to lend to the borrowers that inspire you the most.</p>
		</div>
		<!-- Form Component -->
		{{> 02-organisms/55-auto-deposit/01-auto-deposit-form}}
	</div>
</div>
