{{> 02-organisms/60-checkout/02-empty-basket}}

<div id="basket_contents" class="basketContents">
	<h1>You have {{ count }} loans in your basket</h1>

	<div id="loan_items" class="listItems">
		{{> 02-organisms/60-checkout/03-loan-item}}
	</div>

	<div id="kiva_cards" class="listItems"></div>

	<div id="donation_items" class="listItems"></div>

	{{> 02-organisms/60-checkout/05-donation-edit-ui}}
		
	{{> 02-organisms/60-checkout/06-checkout-totals}}

</div><!--basketContents-->

<div id="basket_operations" class="basketOperations">
	<!--
	<div class="kiva-card">
		<form id="addGiftRedemptionForm" action="https://www.dev.kiva.org/basket" method="GET">
			<div class="label-wrapper">
				<label class="fL" for="addGiftRedemption">
					<span class="bigger">Have a Kiva Card?</span>
					<a kvtrackevent="Basket|gift-code-help" href="#" class="black-underlined" data-reveal-id="gift-code-help">Help</a>
				</label>
			</div>

			<div class="input-wrapper">
				<input type="text" id="addGiftRedemption" name="addGiftRedemption">
				<button class="fL" type="submit">Apply Kiva Card</button>
			</div>
		</form>
	</div>
	-->
	
	<div class="basketButtons show-for-large-up">
		<form id="my-basket-form" action="/basket/process" method="post">
			<input type="hidden" name="donation_total" id="donation_total" value="3.75">
			<button type="submit" id="basketContinue" class="bigger actNow" name="checkout_img" data-kv-trackevent="basket.continueBtn">Continue</button>
		</form>
	</div>

	<!--
	<div class="basketInfo">
		<div class="newFindMoreLoansWrapper">
			<a href="{{ lend_link }}" class="newFindMoreLoans bigger" name="checkout_img" data-kv-trackevent="basket.findMoreLoanBtn">Find more loans</a>
		</div>

		<div id="kiva_credit_remaining" class="kivaCreditRemainingDiv" style="display: none;">
			<p>You still have  <span id="kiva_credit_remaining_amount">$0.00</span> Kiva credit to use.
			<br><span kvtrackevent="Checkout|click-Donate remaining credit" id="donate_remaining_credit" style="display: none;"><a id="dontate_remaining_credit_action" href="#">Donate remaining credit to Kiva</a></span></p>
		</div>
	</div>
	-->
</div>






