<div id="empty_basket" style="display:none">
	<p class="bigger">Oops — Your basket is empty!</p>
	<p>Your basket is empty. To redeem your Kiva Card <a href="{{ lend_link }}">you'll need to select a loan</a> to support.</p>
</div>

<div id="basket_contents" class="basketContents">
	<div class="loan-list"></div>
	<div class="kiva-cards"></div>

	<div id="basket_footer">
		<div id="donation_edit_ab" class="basketDonation">
			<div class="donationLabels">
				<div>
					<label id="donation_edit_ab_label" for="donation_edit_ab_amount">
						Help Kiva reach more borrowers around the world:
					</label>
				</div>
				<a kvtrackevent="Basket|donation-how-kiva-uses-donations" href="#" class="black-underlined" data-reveal-id="donation-how-kiva-uses-donations">Why Kiva needs your donation</a>
			</div>

			<div id="donation_text" class="donationText ">
				<div id="donation_edit_ab_amount" class="value">$3.75</div>
				<div class="donationEdit">
					<a kvtrackevent="Checkout|click-open nudge||3.75" href="https://www.dev.kiva.org/basket?nudgeFallback=1" id="donation_edit_link" class="value base-font" title="Adjust your donation amount">Edit </a>
				</div>
			</div>
		</div>
		
		<div id="basket_totals" class="basketTotals basketTotalsReview">
			<div>
				<span class="label">Order total:</span>
				<span id="order_total" class="value">$28.75</span>
			</div>

			<div id="reward_credit_div" class="rewardCreditDiv" style="display: none;">
				<a class="apply-link" href="https://www.dev.kiva.org/basket?bonus_credit_opt_out=false" title="apply bonus credit">Apply</a>
				<span class="label line-through">Free credit:</span>
				<span class="value"></span>
			</div>

			<div class="basketTotal">
				<div class="grandTotal">
					<span class="label">Total due:</span>
					<span id="grand_total" class="value biggest">$28.75</span>
				</div>
			</div>
		</div>

	</div><!--basketFooter-->

</div><!--basketContents-->

<div class="kiva-card">
	<form id="addGiftRedemptionForm" action="https://www.dev.kiva.org/basket" method="GET">
		<div class="label-wrapper">
			<label class="fL" for="addGiftRedemption">
				<span class="bigger">Have a Kiva Card?</span>
				<a kvtrackevent="Basket|gift-code-help" href="#" class="black-underlined" data-reveal-id="gift-code-help">Help</a>
			</label>
		</div>

		<div class="input-wrapper">
			<input type="text" id="addGiftRedemption" name="addGiftRedemption">
			<button class="fL" type="submit">Apply Kiva Card</button>
		</div>
	</form>
</div>

<div class="basketButtons cB">
	<a href="{{ lend_link }}" class="button bigger oldFindMoreLoans " data-kv-trackevent="basket.findMoreLoanBtn">Find more loans</a>
	<form id="my-basket-form" action="https://www.dev.kiva.org/basket/process" method="post" class="dI">
		<input type="hidden" name="donation_total" id="donation_total" value="3.75">
		<button type="submit" id="basketContinue" class="bigger actNow" name="checkout_img" data-kv-trackevent="basket.continueBtn">Continue</button>
	</form>
</div>

<div class="newFindMoreLoansWrapper">
	<a href="{{ lend_link }}" class="newFindMoreLoans bigger" name="checkout_img" data-kv-trackevent="basket.findMoreLoanBtn">Find more loans</a>
</div>

<div id="kiva_credit_remaining" class="kivaCreditRemainingDiv" style="display: none;">
	<p>You still have  <span id="kiva_credit_remaining_amount">$0.00</span> Kiva credit to use.
	<br><span kvtrackevent="Checkout|click-Donate remaining credit" id="donate_remaining_credit" style="display: none;"><a id="dontate_remaining_credit_action" href="#">Donate remaining credit to Kiva</a></span></p>
</div>
