<div class="small-12 text-center">
	<h2>Your Kiva account has been closed.</h2>
	<p class="body">Thanks for your support! if you have any questions, email us at <a href='mailto:contactus@kiva.org'>contactus@kiva.org</a></p>
</div>
