<div class="small-12 large-9 columns borrower-dashboard-transactions">
	<h1 class="impact trustee-name">My borrower transactions</h1>

	<table class="borrower-transactions-table">
		<thead>
		<tr>
			<th>Type</th>
			<th>Loan</th>
			<th>Date</th>
			<th>Amount</th>
			<th>Balance</th>
		</tr>
		</thead>
		<tbody class="borrower-transaction-rows-region">
		{{#transactions}}
			<tr>
				{{> 02-organisms/50-borrower-dashboard/02-borrower-transaction-row }}
			</tr>
		{{/transactions}}
		</tbody>
	</table>
</div>
<div class="spacer" style="clear:both"></div>

