<div id="whats-next-slideshow" class="whats-next-wrapper">
	<h2>What's next</h2>
	{{> 01-molecules/51-borrower-dashboard/09-whats-next-content-decision}}

	<div class="paging row">
		<span class="slick-dots-wrapper show-for-medium-up"></span>
		<a class="previous button secondary previous-button left">
			<svg class="icon icon-small-chevron previous-arrow">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-small-chevron"></use>
			</svg>Previous</a>

		<a class="next button secondary next-button right">
			Next
			<svg class="icon icon-small-chevron next-arrow">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-small-chevron"></use>
			</svg>
		</a>
	</div>
</div>