<div class="small-12 large-9 columns borrower-dashboard-auto-repayments">
	<h1 class="impact auto-repayments">Automatic Repayments</h1>

	Auto repayment widget goes here.

	So does the lightbox.

	The faq goes here, too.
	<div class="row auto-repayment-faqs">
		<div class="small-12 columns">
			{{> 02-organisms/13-faq/00-faq}}
		</div>
	</div>

</div>
<div class="spacer" style="clear:both"></div>

