<div class="small-12 large-9 columns borrower-dashboard-auto-repayments">
	<h1 class="impact auto-repayments">Automatic Repayments</h1>

	<p>At Kiva, we know that starting and running your business leaves little time for other things. As your Kiva payments impact your business credit score, we want to make your life as easy as possible when it comes to making payments on time. That is why we are now offering a new way of making your loan repayments.</p>
	</br>
	<p>Sign up to have your loan repayments automatically withdrawn from your PayPal account each time a payment is due, and never have to worry about it again. Don’t worry - we will still remind you well in advance when your repayment will be made, and when it is made. You will always be able to view your repayment schedule, and can edit / pause your automated repayments at any time.</p>
	</br>
	<p>
	{{#hasBillingAgreement}}

		{{^hasAutoRepayment}}
			{{^pausedAutoRepayment}}
			<div class="button auto-repayment-activate">
				Set up automatic repayments
			</div>
			{{/pausedAutoRepayment}}
			{{#pausedAutoRepayment}}
				<div class="panel callout">
					<div style="float: right; margin-left: 1rem;">
						<a class="auto-repayment-reactivate">Activate</a>
					</div>
					<span>Automatic repayments inactive - paused {{date}}</span><br/>
					{{#memo}}reason: {{memo}}{{/memo}}
				</div>
			{{/pausedAutoRepayment}}
		{{/hasAutoRepayment}}

		{{#hasAutoRepayment}}
			<div class="panel">
				<div style="float: right; margin-left: 1rem;">
					<a class="auto-repayment-pause">Pause</a>
				</div>
				{{#nextRepayment}}
					Next payment of <b>${{amount}}</b> will be automatically
					repaid on <b>{{date}}</b>
				{{/nextRepayment}}
				{{#preDisbursal}}
					Enrolled in automatic repayments. Your first repayment
					will be scheduled once your loan funds are sent to you.
				{{/preDisbursal}}
			</div>
		{{/hasAutoRepayment}}

	{{/hasBillingAgreement}}

	{{^hasBillingAgreement}}
		<div id="paypal-button"></div>
	{{/hasBillingAgreement}}
	</p>

	<!--FAQs section-->
	<div class="row auto-repayment-faqs">
		<div class="small-12 columns">
			{{> 02-organisms/13-faq/00-faq}}
		</div>
	</div>

</div>
<div class="spacer" style="clear:both"></div>
