
a.modal-link {
  color: black;
  text-decoration: underline;
}

a.modal-link:hover {
  color: $dark-green;
  text-decoration: underline;
}

a.dark_green_bg_link {
	color: $white;
	text-decoration: underline;
}