@mixin preserve-3d() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

// white shadowed text over a full-width image
// see http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
.text-over-image {
	@include  preserve-3d();
}

.text-over-image img {
	position: relative;
}

.text-over-image div {
	@include vertical-center-text;
}

.text-over-image p {
	padding: 0 rem-calc(6);
	text-align: center;
}

.full-width.text-over-image p {
	@include frame-width();
	padding: 0 2rem;
}