<div class="trustee-dashboard-main row">
	<div class="columns small-12">
		<h1 class="impact trustee-name">{{trustee.title}}</h1>
	</div>
	<div class="columns large-4 small-6">
		{{#trustee.imageSmall}}
			<a href="#"><img alt="Image for {{trustee.title}}" src="{{trustee.imageSmall}}"></a>
		{{/trustee.imageSmall}}
	</div>
	<div class="columns large-4 small-6">
		{{#trustee-stats.borrower-count-statistic}}
			{{> 01-molecules/06-components/10-statistic-display}}
		{{/trustee-stats.borrower-count-statistic}}
	</div>
	<div class="columns large-4 small-12">
		Refer more borrowers<br/>
		{{> 01-molecules/10-lightbox/14-trustee-invite-link-lightbox}}
	</div>
</div>
