<div class="row search-borrower-bar">
	<div class="columns large-12 text-center">
		Can't find a borrower?
	</div>
	<div class="columns large-offset-4 large-4">
		<input class="borrower-search-text" placeholder="Search by name or email" {{#search_text}}value="{{search_text}}"{{/search_text}}>
	</div>
	<div class="columns large-4">
		<a class="button setting trigger-search">{{#search_text}}Clear{{/search_text}}{{^search_text}}Search{{/search_text}}</a>
	</div>
	<div class="columns small-12 search-borrower-bar-results"></div>
</div>
