<div id="empty_basket" style="display:none">
	<p class="bigger">Oops — Your basket is empty!</p>
	<p>Your basket is empty. To redeem your Kiva Card <a href="{{ lend_link }}">you'll need to select a loan</a> to support.</p>
</div>
