<div class="select-wrapper">
	<select name="loan{{ loan_item.loan.id }}" id="loan{{ loan_item.loan.id }}" loanid="{{ loan_item.loan.id }}" class="amount-select">
		<option label="$25" value="25" selected="selected">$25</option>
		<option label="$50" value="50">$50</option>
		<option label="$75" value="75">$75</option>
		<option label="$100" value="100">$100</option>
		<option label="$125" value="125">$125</option>
		<option label="$150" value="150">$150</option>
		<option label="$175" value="175">$175</option>
		<option label="$200" value="200">$200</option>
		<option label="$225" value="225">$225</option>
		<option label="$250" value="250">$250</option>
		<option label="$275" value="275">$275</option>
		<option label="$300" value="300">$300</option>
		<option label="$325" value="325">$325</option>
		<option label="$350" value="350">$350</option>
		<option label="$375" value="375">$375</option>
		<option label="$400" value="400">$400</option>
		<option label="$425" value="425">$425</option>
		<option label="$450" value="450">$450</option>
		<option label="$475" value="475">$475</option>
		<option label="$500" value="500">$500</option>
		<option label="$525" value="525">$525</option>
		<option label="$550" value="550">$550</option>
		<option label="$575" value="575">$575</option>
		<option label="$600" value="600">$600</option>
		<option label="$625" value="625">$625</option>
		<option label="$650" value="650">$650</option>
		<option label="$675" value="675">$675</option>
		<option label="$700" value="700">$700</option>
		<option label="$725" value="725">$725</option>
		<option label="$750" value="750">$750</option>
		<option label="$775" value="775">$775</option>
		<option label="$800" value="800">$800</option>
		<option label="$825" value="825">$825</option>
		<option label="$850" value="850">$850</option>
		<option label="$875" value="875">$875</option>
		<option label="$900" value="900">$900</option>
		<option label="$925" value="925">$925</option>
		<option label="$950" value="950">$950</option>
		<option label="$975" value="975">$975</option>
		<option label="$1,000" value="1000">$1,000</option>
	</select>
</div>
