<div id="donation-edit" class="simple-donation-ui row">
	<div id="donation-edit-label" for="donation-edit-amount" class="small-7 large-10 columns">
		<span class="hide-for-large-up small-text">Optional Donation to<br class="lu"> Kiva's Operation Costs:</span>
		<span class="show-for-large-up small-text text-right">Help Kiva reach more borrowers around the world:<br>
			<a kvtrackevent="Basket|donation-how-kiva-uses-donations" href="#" class="donation-info-link" data-reveal-id="donation-how-kiva-uses-donations">Why Kiva needs your donation</a>
		</span>
	</div>
	<div class="donation-edit small-5 large-2 columns">
		<input type="text" id="donation-edit-amount" name="donation-edit-amount" class="value" value="{{suggested_donation}}">
		<a class="donation-update-button" href="#">Update</a>
	</div>
</div>
