<td class="item-info">
	<h4 class="item-title">{{item.name}}</h4>
	{{#item.team}}
		<span class="item-team small-text">Lending Team: {{item.team.name}}</span>
	{{/item.team}}
	<span class="loan-reservation small-text">
		{{> 02-organisms/60-checkout/10-loan-reserve-message}}
	</span>
</td>
<td class="item-price">
	<p>{{item.price}}</p>
</td>
{{#dontate_repayments}}
	<td class="item-repayment">
		<input type="checkbox" class="repayent-checkbox" id="donate-{{item.id}}" />
	</td>
{{/dontate_repayments}}
