<!-- note, this example is checked by default-->
<div class="fancy-checkbox-div">
	<input type='checkbox' class='fancy-checkbox' id='your-id-here' checked>
	<label for="your-id-here">
		<svg class="icon icon-checkbox-checked">
			<use xlink:href="#icon-checkbox-checked"/>
		</svg>
		<svg class="icon icon-checkbox-unchecked">
			<use xlink:href="#icon-checkbox-unchecked"/>
		</svg>
	</label>

	<span class="fancy-checkbox-text">Lorem ipsum dolor</span>
</div>

