<div class="pencil-text-input">
	<span class="text-display">{{auto_deposit.deposit_date}}</span>
	<input type="text" class="text-input" value="{{auto_deposit.deposit_date}}">
	<span class="pencil">
		  <svg class="icon icon-pencil">
			<use xlink:href="#icon-pencil"/>
		</svg>
	  </span>
</div>