<div class="small-12 columns borrower-dashboard-main">
	<div class="row">
		{{! small-6 large-3 }}
		{{> 01-molecules/51-borrower-dashboard/01-borrower-info-card}}
		<div class="small-12 large-9 columns">

			{{! fundraising_info and prettyStatus are mutually exclusive (except for pfp)}}
			{{#prettyStatus}}
				<h2 class="{{#isFlagged}}warning-bolded{{/isFlagged}} {{^isFlagged}}green-bolded{{/isFlagged}}">
					{{{prettyStatus}}}
				</h2>
			{{/prettyStatus}}

			{{#inReview}}
				{{> 01-molecules/51-borrower-dashboard/04-loan-status-in-review}}
			{{/inReview}}

			{{#isFlagged}}
				{{> 01-molecules/51-borrower-dashboard/07-loan-status-flagged}}
			{{/isFlagged}}

			{{#isRejected}}
				{{> 01-molecules/51-borrower-dashboard/06-loan-status-rejected}}
			{{/isRejected}}

			{{#inPfp}}
				{{> 01-molecules/15-loan-sections/02-pfp-meter}}
			{{/inPfp}}



			{{#isRefunded}}
				{{> 01-molecules/51-borrower-dashboard/05-loan-status-refunded}}
			{{/isRefunded}}

			{{#isFunded}}
				{{> 01-molecules/51-borrower-dashboard/03-loan-status-funded}}
			{{/isFunded}}
			<div style="text-align: center;">
				<a style="margin: 10px auto;" href="{{actionButton.url}}" class="button {{#actionButton.secondary}}secondary{{/actionButton.secondary}}">{{actionButton.text}}</a>
			</div>
			<!--Show the view Profile link, unless the loan has been rejected-->
			{{^rejected}}
				<p class="text-center"><a href="{{profileLink}}">View profile link</a></p>
			{{/rejected}}
		</div>
	</div>

	{{#repayments}}
		{{> 02-organisms/50-borrower-dashboard/03-upcoming-repayments }}
	{{/repayments}}
</div>
<div class="spacer" style="clear:both"></div>
