<div class="what-makes-us-unique">
	<div class="row">
		<div class="small-12 large-6 columns">
			<div class="text-center">
				<svg class="icon icon-hand-up">
					<use xlink:href="#icon-hand-up"/>
				</svg>
			</div>

			<p class="text-center featured kiva-green">
				Changing lives with a hand up
			</p>

			<p class="text-center large-text-left">
				We believe lending (and relending) alongside thousands
				of others is one of the most powerful and sustainable
				ways to create economic and social good. Kiva supports
				local solutions, and creates a partnership of mutual
				dignity between lender and borrower.
			</p>
		</div>

		<div class="small-12 large-6 columns">
			<div class="text-center">
				<svg class="icon icon-impact">
					<use xlink:href="#icon-impact"/>
				</svg>
			</div>

			<p class="text-center featured kiva-green">
				Enabling each of us to choose
				where to make an impact
			</p>

			<p class="text-center large-text-left">
				Whether you lend to friends in your community, or people
				halfway around the world (and for many, it’s both), Kiva
				creates the opportunity to play a special part in someone
				else's story
			</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 large-6 columns">
			<div class="text-center">
				<svg class="icon icon-recycle">
					<use xlink:href="#icon-recycle"/>
				</svg>
			</div>

			<p class="text-center featured kiva-green">
				Fueling a cycle of lending&mdash;and relending
			</p>

			<p class="text-center large-text-left">
				Fund a loan, get repaid, fund another. With
				Kiva, it’s easy to touch more lives with
				the same dollar. Take out the money you’re
				repaid, or relend again and again as an
				investment in a better world.
			</p>
		</div>

		<div class="small-12 large-6 columns">
			<div class="text-center">
				<svg class="icon icon-boundaries">
					<use xlink:href="#icon-boundaries"/>
				</svg>
			</div>

			<p class="text-center featured kiva-green">
				Pushing the boundaries of a loan
			</p>

			<p class="text-center large-text-left">
				Kiva started as a pioneer in crowdfunding in
				2005, and is constantly innovating to meet people’s
				diverse lending needs. Whether it’s reinventing
				microfinance with more flexible terms, crowdfunding
				community-wide projects or lowering costs to
				borrowers, we are always testing and learning.

			</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 large-6 columns">
			<div class="text-center">
				<svg class="icon icon-lifting">
					<use xlink:href="#icon-lifting"/>
				</svg>
			</div>

			<p class="text-center featured kiva-green">
				Lifting one, to lift many
			</p>

			<p class="text-center large-text-left">
				When a Kiva loan enables someone to grow a
				business and create opportunity for themselves,
				it creates opportunities for others as well.
				That ripple effect can shape the future for a
				family or an entire community.
			</p>
		</div>
	</div>

</div>



