<div class="confirmation-arrow">
    <hr>
    <div class="label-in-box small-6">
        <p>Review and processing *<br>(1-2 weeks)</p>
    </div>
    <svg class="icon icon-triangle align-middle">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-triangle"></use>
    </svg>
</div>