<div class="confirmation-arrow">
    <div class="label-in-box small-6">
        Review and<br>processing *<br>(1-2 weeks)
    </div>
    <hr>
    <svg class="icon icon-triangle">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-triangle"></use>
    </svg>
</div>