<div class="paypal-profile-iconography">
    <div class="circle-avatar" style="background-image:url({{profilePhotoUrl}})"></div>
    <div><b>{{paypalEmail}}</b></div>
    <div class="paypal-logo">
        <svg class="icon icon-new-kiva-logo">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-kiva-logo"></use>
        </svg>
    </div>
</div>