<div class="paypal-profile-iconography">
    <div class="circle-avatar align-self-middle" style="background-image:url({{profilePhotoUrl}})"></div>
    <div class="align-self-middle"><b>{{paypalEmail}}</b></div>
    <div class="align-self-middle">
        <svg class="icon icon-payPal">
            <use xlink:href="#icon-paypal"/>
        </svg>
    </div>
</div>