<aside class="left-off-canvas-menu filter"{{#is-styleguide}} style="transform: none;"{{/is-styleguide}}>
	<div class="filter-header">
		<span><a href="#" class="filter-links filter-clear-button">Clear</a></span>
		<span class="filter-header-title">Filters</span>
		<a class="left-off-canvas-toggle filters-done-button hide-for-xxlarge-up" aria-label="Close">
			Done
		</a>
	</div>
	<hr class="filter-header"/>

	<ul class="filters-menu-list off-canvas-list">
		<li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/02-borrowers-filter}}
		</li>

		<li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/03-keywords-filter}}
		</li>

		<li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/01-country-filter}}
		</li>

		<li class="filter-component no-padding-top">
			{{> 02-organisms/05-filters/04-sectors-filter}}
		</li>

		<li class="filter-component no-padding-top">
			{{> 02-organisms/05-filters/05-attributes-filter}}
		</li>

		<li class="filter-component no-padding-top">
			{{> 02-organisms/05-filters/06-tags-filter}}
		</li>

		<li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/07-loan-length-filter}}
		</li>

		<li class="filter-component no-padding-top">
			{{> 02-organisms/05-filters/08-miscellaneous-filter}}
		</li>

		<li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/26-distribution-model-filter}}
		</li>

		<li class="filter-component no-padding-top">
			{{> 02-organisms/05-filters/16-partners-filter-select}}
		</li>

		<li class="filter-component extra-padding-bottom">
			{{> 02-organisms/05-filters/25-dropdown-filter}}
		</li>
        
        <li class="filter-component extra-padding-bottom">
            <div class="filter return-to-top">
                <a>
                    <span class="filter">Return to top</span>
                </a>
            </div>
        </li>
	</ul>
	<div class="filter-header">
		<span><a href="#" class="filter-links save-search-button" data-reveal-id="save-search-modal">Save this search</a></span>
	</div>

	<button class="button view-results-button left-off-canvas-toggle hide-for-large-up">View Results</button>
</aside>