<aside class="left-off-canvas-menu">
	<ul class="filters-menu-list off-canvas-list">

		<li class="filter layover-icon">
			<svg class="icon icon-distribution filters filter-distribution-icon" width="25" height="25">
				<use xlink:href="#icon-distribution"/>
			</svg>
		</li>
		<li class="clear"></li>

		<li class="filter filter-component">
			{{> 02-organisms/05-filters/01-country-filter}}
		</li>

		<li class="filter filter-component">
			{{> 02-organisms/05-filters/02-borrowers-filter}}
		</li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/03-keywords-filter}}
		</li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/04-sectors-filter}}
		</li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/05-attributes-filter}}
		</li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/06-tags-filter}}
		</li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/07-loan-length-filter}}
        </li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/08-miscellaneous-filter}}
        </li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/09-partners-filter}}
        </li>

        <li class="filter filter-component">
			{{> 02-organisms/05-filters/10-slider-filter}}
        </li>
	</ul>
</aside>