<a href="#"><span>Countries</span></a>
<div class="filter country-filter-box">
    <a href="http://dev-vm-01.kiva.org/lend/callLend_ListingMapSubView" data-reveal-id="countrySelectModal" data-reveal-ajax="true">
        <svg class="icon icon-globe" width="23" height="23">
            <use xlink:href="#icon-globe"/>
        </svg>
        <span class="filter country-filter-text">Select a country</span>
    </a>

    <div id="countrySelectModal" class="reveal-modal filters_countries" data-reveal />
</div>