<a href="#"><span>Countries</span></a>
<div class="filter country-filter-box">
	<a href="#" data-reveal-id="countrySelectModal">
		<svg class="icon icon-globe" width="23" height="23">
			<use xlink:href="#icon-globe"/>
		</svg>
		<span class="filter country-filter-text">Select countries</span>
	</a>

	<div id="countrySelectModal" class="reveal-modal filters_countries"
		 data-reveal>

		<a class="close-reveal-modal" aria-label="Close">
			<svg class="icon icon-x">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
			</svg>
		</a>


		<form id="allCountries">
			<div id="country-list">
				{{#regions}}
					<section class="region-name">{{name}}
						{{#countries}}
							<div class="country filter checkbox-input">
								{{> 02-organisms/05-filters/14-countries-items}}
							</div>
						{{/countries}}
					</section>
				{{/regions}}
			</div>

			<input type="submit" id="filter-country-submit"
				   class="applyButton smaller right" value="Done"/>
		</form>
	</div>
</div>

