<h3 class="filter">Borrowers</h3>
<ul id="filter-gender-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#genders}}
        <li class="filter borrower-filter-box">
			{{> 02-organisms/05-filters/16-gender-items}}
        </li>
	{{/genders}}
</ul>