<h3 class="filter">Keywords</h3>
<ul id="filter-keywords-search-box-container" class="button-group toggle filter-button-group-ul">
	{{> 02-organisms/05-filters/23-keywords-search-item}}
</ul>
<hr class="show-for-small-only"/>