<h3 class="filter show-for-medium-up">Sectors</h3>
<h3 data-kv-accordion class="show-for-small-only" aria-controls="filter-sectors-ul" aria-expanded="true">Sectors</h3>

<ul id="filter-sectors-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio" aria-hidden="false">
	{{#filters}}
        <li class="filter checkbox-input">
			{{> 02-organisms/05-filters/24-checkbox-item}}
        </li>
	{{/filters}}
</ul>