{{#is-standalone}}
	<aside class="left-off-canvas-menu filter" style="transform: none;">
		<ul class="filters-menu-list off-canvas-list">
			<li class="filter-component ">
{{/is-standalone}}

<h3 class="filter medium-notouch">
	Attributes
	<div class="subtext">Specific features of the loan or the population it serves.</div>
</h3>

<div class="filter-component-container">
	<h3 id="attributes-accordion-selector" data-kv-accordion class="interact ac-container small-touch expandable-filter" aria-controls="filter-attributes-ul" aria-expanded="true">
		Attributes
		<span class="ac-dropdown-icon">
			<svg class="icon icon-large-chevron">
				<use xlink:href="#icon-large-chevron"></use>
			</svg>
		</span>
	</h3>

	<ul id="filter-attributes-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio" aria-hidden="false">
		<li class="subtext checkbox-input small-touch">
			Specific features of the loan or the population it serves.
		</li>
		{{#attributes}}
			<li class="filter checkbox-input">
				{{> 02-organisms/05-filters/24-checkbox-item}}
			</li>
		{{/attributes}}
	</ul>
</div>

{{#is-standalone}}
			</li>
		</ul>
	</aside>
{{/is-standalone}}
