<div class="right-submenu {{#move-left?}}move-left{{/move-left?}}">
    <div class="back">
        <a href="#">Back</a>
    </div>

    <div>
        Attribute 1, Attribute 2, Attribute 3
    </div>

    <label>Loan Attributes</label>

    <div class="back">
        <a href="#">Back</a>
    </div>
</div>