<a href="#"><span>Tags</span></a>
<ul class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
		<span class="filter checkbox-input-span">Animals</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">>Eco-friendly</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Elderly</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Fabrics</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Female Education</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">First Loan</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Health and Sanitation</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Green</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Higher Education</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Islamic Finance</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Youth</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Startup</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Job Creation</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Growing Businesses</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Disaster Recovery</span>
		</input>
	</li>
    <li class="filter checkbox-input">
		<input type="checkbox" value="">
        <span class="filter checkbox-input-span">Innovative Loans</span>
		</input>
	</li>
</ul>