<h3 class="filter show-for-medium-up">Tags</h3>
<ul id="filter-tags-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#tags}}
        <li class="filter checkbox-input">
			{{> 02-organisms/05-filters/13-tags-items}}
        </li>
	{{/tags}}
</ul>