<div class="show-for-small-only">
    <dl class="accordion" data-accordion>
        <dd>
            <h3 class="filter show-for-small-only">
                <a href="#tags-panels">Tags
                    <svg class="icon-small-chevron-mobile" style="width:20;height:20;float:right">
                        <use xlink:href="#icon-small-chevron-mobile" transform='rotate(270 10 10)'/>
                    </svg></a>
            </h3>

            <div class="content" id="tags-panels">
                <li class="links">
					{{> 02-organisms/05-filters/13-tags-items}}
                </li>
            </div>
        </dd>
    </dl>

    <hr class="show-for-small-only"/>
</div>

<h3 class="filter show-for-medium-up">Tags</h3>
<ul id="filter-tags-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#tags}}
        <li class="filter checkbox-input">
			{{> 02-organisms/05-filters/13-tags-items}}
        </li>
	{{/tags}}
</ul>