<a href="#"><span>Loan Length</span></a>
<ul class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter borrower-filter-box">
        <input class="filter borrower-input" type="checkbox" id="filter-loan-length-label-0to8" name="filter-loan-length-label-0to8" data-toggle="button">
        <label class="filter borrower-label" class="button" for="filter-loan-length-label-0to8">8 mths or less</label>
    </li>
    <li class="filter borrower-filter-box-right">
        <input class="filter borrower-input" type="checkbox" id="filter-loan-length-label-0to16" name="filter-loan-length-label-0to16" data-toggle="button">
        <label class="filter borrower-label" class="button" for="filter-loan-length-label-0to16">16 mths or less</label>
    </li>
    <br/>
    <li class="filter borrower-filter-box">
        <input class="filter borrower-input" type="checkbox" id="filter-loan-length-label-0to24" name="filter-loan-length-label-0to24" data-toggle="button">
        <label class="filter borrower-label" class="button" for="filter-loan-length-label-0to24">2 yrs or less</label>
    </li>
    <li class="filter borrower-filter-box-right">
        <input class="filter borrower-input" type="checkbox" id="filter-loan-length-label-24to400" name="filter-loan-length-label-24to400" data-toggle="button">
        <label class="filter borrower-label" class="button" for="filter-loan-length-label-24to400">2 yrs or more</label>
    </li>
</ul>