<h3 class="filter show-for-medium-up">Miscellaneous</h3>

<h3 id="misc-accordion-selector" data-kv-accordion class="interact ac-container show-for-small-only expandable-filter" aria-controls="misc-filters-container" aria-expanded="true">
    Miscellaneous
	<span class="ac-dropdown-icon">
		<svg class="icon icon-large-chevron" style="margin-right: 12px">
            <use xlink:href="#icon-large-chevron"></use>
        </svg>
	</span>
</h3>

<ul id="misc-filters-container" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio" aria-hidden="false">
	{{#misc_filters}}
    <li class="filter checkbox-input show-for-medium-up">
		{{> 02-organisms/05-filters/21-misc-filters-items}}
    </li>
	{{/misc_filters}}

</ul>
<hr class="show-for-small-only"/>