<h3 class="filter">Loan Miscellaneous</h3>
<ul id="misc-filters-container" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
    <li class="filter checkbox-input show-for-medium-up">
		{{#misc_filters}}
			{{> 02-organisms/05-filters/21-misc-filters-items}}
		{{/misc_filters}}
    </li>
</ul>
<hr class="show-for-small-only"/>