<input class="filter borrower-input" type="checkbox" id="filter-borrower-label-{{name}}" name="filter-borrower-label-{{name}}" data-toggle="button">
<label class="filter borrower-label" class="button" for="filter-borrower-label-{{name}}">{{name}}</label>