<li id="non-rated-partner-filter-container" class="filter checkbox-input">
    <input type="checkbox" id="filter-nonRated" name="{{name}}" value="{{value}}">
    <label for="{{name}}" class="filter checkbox-input-span">{{name}}</label>
    </input>
</li>