<h3 class="filter">Loan distribution</h3>
<small>How the loan reaches the borrower.</small>
{{#distribution-model-filters}}
    {{> 01-molecules/09-filters/03-triple-state-buttons}}
{{/distribution-model-filters}}