<a href="{{href}}" kvtrackevent="Lending|click-Category|{{name}}|{{index}}">
	<div class="category-card">
		<div class="category-card-overlay">
			<img class="category-image" alt=""
				 data-interchange="
				 [{{src}}, (default)]
				 , [{{retina-src}}, (retina)]
			 	 ">
			</img>

			<div class="category-card-title-wrap">
				<p class="category-card-title">
					{{name}}
				</p>
			</div>
		</div>
    </div>
</a>
