<style>
	.small-block-grid-2 > li {
		padding: 1px;
	}

	.medium-block-grid-3 > li,
	.large-block-grid-4 > li {
		padding: 2px;
	}
</style>


<div class="frame">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
		<li>{{> 00-atoms/04-images/13-category-image}}</li>
	</ul>
</div>

