<div class="category-card solid-color-card search-card">
    <form class="color-card-center">
        <input type="text" id="category-search-box" placeholder="By country or activity">
        <input type="submit" class="category-search-form-submit">
        <p class="category-card-title">Search</p>
    </form>
</div>
