<div class="frame">
	<ul class="category-link-grid small-block-grid-1 medium-block-grid-2 large-block-grid-2">
		{{#categories-secondary}}
			<li>{{> 00-atoms/10-links/04-category-link-item}}</li>
		{{/categories-secondary}}
	</ul>
</div>
