{{#is_monthly_good_active}}
    <div class="category-monthly-good-promo">
        <div class="container">
            <div class="promo">
                <div class="imagewrapper">
                    <picture>
                        <img data-interchange="
                            [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-sm-std.jpg, (default)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-med-retina.jpg, (retina)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-med-std.jpg, (medium)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-med-retina.jpg, (medium-retina)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-lg-std.jpg, (large)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-lg-retina.jpg, (large-retina)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-xl-std.jpg, (xlarge)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-xl-retina.jpg, (xlarge-retina)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-xxl-std.jpg, (xxlarge)]
                                    , [http://cms.kiva.org.s3.amazonaws.com/page/images/monthlygood-promo-xxl-retina.jpg, (xxlarge-retina)]
                            ">
                    </picture>
                    <span>
                        <h2 class="slide-overlay-short">Join Monthly Good,</h2>
                        <p class="overlay">the simplest way to help<br>entrepreneurs on Kiva.</p>
                        <div class="button smaller" onclick="location.href='{{monthly-good-learn-more-href}}'">Learn more</span>
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{/is_monthly_good_active}}
