<div class="basic-category-grid">
	<div class="frame">
		<h1 class="impact">Browse loans by category</h1>
		<ul class="category-card-grid small-block-grid-2 medium-block-grid-3">
			{{#categories-primary}}
				<li>{{> 02-organisms/07-categorycards/00-category-card}}</li>
			{{/categories-primary}}
			<li class="more-categories-card"><a kvtrackevent="Lending|click-Category-Tile|More" href="{{all-categories-href}}">
				<div class="category-card solid-color-card">
					<div class="category-card-overlay">
						<div class="color-card-center">
							<p class="category-card-title">View all</p>
						</div>
					</div>
				</div>
			</a></li>
		</ul>
		<p class="featured">By lending as little as $25, you can help people around the world create opportunity for themselves and their communities. <br><a href="{{get-started-href}}" kvtrackevent="Lending|click-Category-Subhead|Get-Started">Get started</a></p>
	</div>
</div>

