<div class="about-video-wrapper">
	{{> atoms-full-width-image(img.full-width.src: "http://cms.kiva.org.s3.amazonaws.com/page/images/about-video", img.full-width.alt: "photo of Kiva borrower")}}

	<div class="button-wrapper">
		<div class="play-button">
			<svg class="icon icon-triangle">
				<use xlink:href="#icon-triangle"></use>
			</svg>
			<span>What does Kiva mean to you?</span>
		</div>
	</div>
	<div style="display: none">
		{{> organisms-about-video}}
	</div>
</div>