<style>
	div.about-headline-container {
	}

	img.about-headline-image {
		width: 100%;
		position: relative;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	h1.about-headline-text {
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		padding: 2rem;
		max-width: 900px;
	}


</style>


<div class="about-headline-container">
	<img class="about-headline-image" alt=""
		 data-interchange="
			[{{about-headline-image-path}}-sm-std.jpg, (default)]
			, [{{about-headline-image-path}}-sm-retina.jpg, (retina)]
			, [{{about-headline-image-path}}-med-std.jpg, (medium)]
			, [{{about-headline-image-path}}-med-retina.jpg, (medium-retina)]
			, [{{about-headline-image-path}}-lg-std.jpg, (large)]
			, [{{about-headline-image-path}}-lg-retina.jpg, (large-retina)]
			, [{{about-headline-image-path}}-xl-std.jpg, (xlarge)]
			, [{{about-headline-image-path}}-xl-retina.jpg, (xlarge-retina)]
			, [{{about-headline-image-path}}-xxl-std.jpg, (xxlarge)]
			, [{{about-headline-image-path}}-xxl-retina.jpg, (xxlarge-retina)]
		 ">
	</img>


	<h1 class="about-headline-text text-center white">
		We envision a world where all people hold
		the power to create opportunity for themselves
		and others.
	</h1>
</div>



