<div class="small-12 large-9 columns dashboard-main">
	{{> 02-organisms/50-trustee-dashboard/51-main-top-bar}}
	{{> 02-organisms/50-trustee-dashboard/52-main-pending-endorsements-bar}}
	{{> 02-organisms/50-trustee-dashboard/53-main-search-borrower-bar}}
	{{> 02-organisms/50-trustee-dashboard/54-main-impact-stats-bar}}
</div>

<div class="spacer" style="clear:both"></div>