<div class="small-12 large-9 columns borrower-network">
	{{> 02-organisms/50-trustee-dashboard/61-borrower-network-top-bar}}
	{{> 02-organisms/50-trustee-dashboard/62-borrower-network-listing}}
</div>

<div class="spacer" style="clear:both"></div>