<div class="{{name}}-button-box quintuple-state-buttons">
    <input type="radio"  class="qs-left-top" id="filter-{{name}}-{{left-top.id}}" name="{{name}}" value="{{left-top.value}}" />
    <label class="qs-label interact" for="filter-{{name}}-{{left-top.id}}">{{left-top.label}}</label>

    <input type="radio" class="qs-right-top" id="filter-{{name}}-{{right-top.id}}" name="{{name}}" value="{{right-top.value}}" />
    <label class="qs-label interact" for="filter-{{name}}-{{right-top.id}}">{{right-top.label}}</label>

    <input type="radio"  class="qs-left-bottom" id="filter-{{name}}-{{left-bottom.id}}" name="{{name}}" value="{{left-bottom.value}}" />
    <label class="qs-label interact" for="filter-{{name}}-{{left-bottom.id}}">{{left-bottom.label}}</label>

    <input type="radio" class="qs-right-bottom" id="filter-{{name}}-{{right-bottom.id}}" name="{{name}}" value="{{right-bottom.value}}" />
    <label class="qs-label interact" for="filter-{{name}}-{{right-bottom.id}}">{{right-bottom.label}}</label>

    <input type="radio" id="filter-{{name}}-none" name="{{name}}" value="none" />
    <label for="filter-{{name}}-none" class="qs-floater qs-label">&nbsp;</label>

    <div style="clear: both;"></div>
</div>