<div class="loading-overlay">
	{{> 01-molecules/03-media/01-loading-spinner }}
</div>
<div class="results-overlay-text">
	<p class="loan-count">
		<span class="count"></span> loans
	</p>
	<p><small>Tap to view results</small></p>
</div>