<div class="labsframe frame ">
	<p>Through Labs, we provide crowd-sourced capital
		to relieve the cost constraints on new ideas. And
		together with this new breed of Kiva partners,
		we’re testing and developing new financial
		products for borrowers worldwide.</p>

	<p>Our approach is to see what works and share the results with a
		global audience. Ultimately, our hope is to get high-impact
		products to people who have been too long overlooked, and
		demonstrate their success to the global market.
	<p>

	<p class="featured">Have questions about Kiva Labs? Let us know at <a href="mailto:labs@kiva.org">labs@kiva.org</a>
</div>
