<div class="labs-slideshow-wrapper">
    <div id="labs-slideshow">
		<div class="labs-slide">
			<div class="labs-element-wrapper">
				<div class="labs-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="" data-interchange="
						[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-sm-retina.jpg, (small-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-sm-std.jpg, (small)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-med-retina.jpg, (medium-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-med-std.jpg, (medium)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-lg-retina.jpg, (large-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-lg-std.jpg, (large)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-xl-retina.jpg, (xlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-xl-std.jpg, (xlarge)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-xxl-retina.jpg, (xxlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-1-xxl-std.jpg, (xxlarge)]
					">
					<div>
						<p class="slide-overlay-short text-center"><b>
							Welcome to Kiva Labs
						</b></p>
						<p class="slide-overlay-long">
							Where Kiva tests, learns and shares solutions to the world’s biggest challenges.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="labs-slide">
			<div class="labs-element-wrapper">
				<div class="labs-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="" data-interchange="
						[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-sm-retina.jpg, (small-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-sm-std.jpg, (small)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-med-retina.jpg, (medium-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-med-std.jpg, (medium)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-lg-retina.jpg, (large-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-lg-std.jpg, (large)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-xl-retina.jpg, (xlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-xl-std.jpg, (xlarge)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-xxl-retina.jpg, (xxlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-2-xxl-std.jpg, (xxlarge)]					">
					">
					<div>
						<p class="slide-overlay-short text-center"><b>
							The problem
						</b></p>
						<p class="slide-overlay-long">
							Tough challenges demand new ideas, but problem solvers can’t find the capital to innovate.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="labs-slide">
			<div class="labs-element-wrapper">
				<div class="labs-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="" data-interchange="
						[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-sm-retina.jpg, (small-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-sm-std.jpg, (small)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-med-retina.jpg, (medium-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-med-std.jpg, (medium)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-lg-retina.jpg,(large-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-lg-std.jpg, (large)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-xl-retina.jpg, (xlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-xl-std.jpg, (xlarge)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-xxl-retina.jpg, (xxlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-3-xxl-std.jpg, (xxlarge)]					">
					">
					<div>
						<p class="slide-overlay-short text-center"><b>
							The solution
						</b></p>
						<p class="slide-overlay-long">
							Kiva is uniquely positioned to meet innovators’ needs for affordable, risk-tolerant capital.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="labs-slide">
			<div class="labs-element-wrapper">
				<div class="labs-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="" data-interchange="
						[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-sm-retina.jpg, (small-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-sm-std.jpg, (small)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-med-retina.jpg, (medium-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-med-std.jpg, (medium)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-lg-retina.jpg,(large-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-lg-std.jpg, (large)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-xl-retina.jpg, (xlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-xl-std.jpg, (xlarge)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-xxl-retina.jpg, (xxlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-4-xxl-std.jpg, (xxlarge)]
					">
					<div>
						<p class="slide-overlay-short text-center"><b>
							The goal
						</b></p>
						<p class="slide-overlay-long">
							Great organizations can adapt loans and services to fit people's real needs.
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="labs-slide">
			<div class="labs-element-wrapper">
				<div class="labs-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="" data-interchange="
						[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-sm-retina.jpg, (small-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-sm-std.jpg, (small)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-med-retina.jpg, (medium-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-med-std.jpg, (medium)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-lg-retina.jpg, (large-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-lg-std.jpg, (large)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-xl-retina.jpg, (xlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-xl-std.jpg, (xlarge)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-xxl-retina.jpg, (xxlarge-retina)]
						,[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/labs-slideshow-5-xxl-std.jpg, (xxlarge)]

					">
					<div>
						<p class="slide-overlay-short text-center"><b>
							Join us
						</b></p>
						<p class="slide-overlay-long">
							Together, we can fund and test flexible loan products to learn what makes a difference.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="labs-slideshow-prev-arrow labs-slideshow-arrow">
			<svg class="icon-small-chevron icon">
				<use xlink:href="#icon-small-chevron"/>
			</svg>
		</div>

		<div class="labs-slideshow-next-arrow labs-slideshow-arrow">
			<svg class="icon-small-chevron icon">
				<use xlink:href="#icon-small-chevron"/>
			</svg>
		</div>
	</div>
	{{> 00-atoms/04-images/15-photo-credit-tag}}
</div>

