<div class="row">
	<div class="small-12 large-6 columns">
		<h2 class="text-center kiva-green">
			Kiva Labs is supported by:
		</h2>
			<div class="small-8 large-8 columns">
				<a href="http://mulagofoundation.org/">
					<img id="mulago" alt="mulago foundation logo" 
						 src="https://www-kiva-org.global.ssl.fastly.net/cms/page/images/mulago-std.png"
						 retina-src="https://www-kiva-org.global.ssl.fastly.net/cms/page/images/mulago-retina.png">
					</img>
				</a>
				<a href=""http://csr.cisco.com/pages/cisco-foundation">
					<img id="cisco" alt="cisco foundation logo" 
						 src="https://www-kiva-org.global.ssl.fastly.net/cms/page/images/cisco-foundation-std.png"
						 retina-src="https://www-kiva-org.global.ssl.fastly.net/cms/page/images/cisco-foundation-retina.png">
					</img>
				</a>
			</div>
			<div class="small-4 large-4 columns">
				<a href=""https://www.google.org/global-giving/global-impact-awards/">
					<img class=""labs-partners-float-left" id="google" alt="global impact logo"
					 	src="https://kiva.org/cms/page/images/google-global-impact-award-std.png"
					 	retina-src="https://kiva.org/cms/page/images/google-global-impact-award-retina.png">
					</img><br><br><br><br>
				</a>
           </div>
		
	</div>	
		
	<div class="small-12 large-6 columns">
			<h2 class="text-center kiva-green">
				Research partners:
			</h2>
			<p class="text-center">
				Kiva has partnered with these organizations to measure
				the impact for select innovations.<br>
			<a href="http://www.poverty-action.org/">
				<img  class="category-image" id="ipa" alt="ipa logo" 
					 src="https://www-kiva-org.global.ssl.fastly.net/cms/page/images/ipa-std.png"
					 retina-src="https://www-kiva-org.global.ssl.fastly.net/cms/page/images/ipa-retina.png">
				</img>
			</a>
			</p>	
	</div>
</div>	
