<div class="row labsframe">
	<div class="small 12 large 12">
		<h2 class="kiva-green">Our Approach</h2>
		<p class="featured">
			Microfinance has immense potential for improving the lives of the poor. In the last
			40 years, it has reached nearly 200 million people. But — while the existing
			system strives to reach everyone — traditional microfinance still leaves a huge
			number of people out:
		</p>
		<ul class="featured labs-indent">
			<li class="labs-list-item">Subsistence farmers enduring uncertain seasons and harvests.</li>
			<li class="labs-list-item">Students who make the grades but can’t afford college.</li>
			<li class="labs-list-item">Extremely rural families with little opportunity.</li>
			<li class="labs-list-item">Millions more who have the potential to change their lives with the right loan products.</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="labsframe small-12 xlarge-6 columns">
		<p>
			Traditional banks and microfinance institutions are often
			unable or reluctant to offer flexible loan products to meet
			these people’s needs – mostly due to high costs and risk.
		</p>
		<p>
			Enter Kiva. With thousands of lenders worldwide who don’t
			think like banks, Kiva is a powerful source of flexible, risktolerant
			capital. More and more, we’re directing this capital
			to social enterprises, NGOs, and microfinance institutions
			that are going beyond classic microfinance to take on issues
			like <a href="/labs/accesstoeducation">education</a>, <a href="/labs/closingtheenergygap">clean energy</a>, <a href="/labs/financingagriculture">agriculture</a> and others that are
			central to poverty alleviation and economic opportunity.
		</p>
	</div>
		{{> 01-molecules/10-lightbox/11-autoplay-video-with-lightbox}}
</div>
