<div class="category-cards-header text-center">
    <h2 class="kiva-green">{{chevron-title}}</h2>
    <svg class="icon icon-large-chevron">
        <use xlink:href="#icon-large-chevron"/>
    </svg>
</div>