<div class="joinSection">
    <hr class="hrDivider">
    <p class="kiva-green impact joinText">Join our community</p>
    <p>
		<span class="white">Become a </span>
        <a class="joinlink" href="http://www.kiva.org/categories">lender</a> <span class="white">, </span>
        <a class="joinlink" href="http://www.borrow.kiva.org">borrower</a> <span class="white">, </span>
        <a class="joinlink" href="">volunteer</a> <span class="white">, </span>
        <a class="joinlink" href="http://www.kiva.org/fellow">fellow</a> <span class="white">, </span>
        <a class="joinlink" href="http://www.kiva.org/careers">employee</a><span class="white">, </span>
        <a class="joinlink" href="http://zip.kiva.org/trustees/apply">trustee</a><span
            class="white">, </span>
        <a class="joinlink" href="http://www.kiva.org/where-kiva-works">field partner</a><span class="white">, </span>
        <a class="joinlink" href="http://www.kiva.org/about/supportus">supporter</a><span
            class="white">.</span>
    </p>
</div>