<div class="joinSection" style="background-color: #236133;">
    <hr style="color: #63a541;">
    <p class="kiva-green impact">Join our community</p>
    <p>
		<span style="color: #fafafa;">Become a </span>
        <a class="joinlink" href="http://www.kiva.org/categories">lender</a> <span style="color: #fafafa;">, </span>
        <a class="joinlink" href="http://www.borrow.kiva.org">borrower</a> <span style="color: #fafafa;">, </span>
        <a class="joinlink" href="">volunteer</a> <span style="color: #fafafa;">, </span>
        <a class="joinlink" href="http://www.kiva.org/fellow">fellow</a> <span style="color: #fafafa;">, </span>
        <a class="joinlink" href="http://www.kiva.org/careers">employee</a><span style="color: #fafafa;">, </span>
        <a class="joinlink" href="http://zip.kiva.org/trustees/apply">trustee</a><span
            style="color: #fafafa;">, </span>
        <a class="joinlink" href="http://www.kiva.org/where-kiva-works">field partner</a><span style="color: #fafafa;">, </span>
        <a class="joinlink" href="http://www.kiva.org/about/supportus">supporter</a><span
            style="color: #fafafa;">.</span>
    </p>
</div>