<footer class="siteFooter">
	<nav class="siteFooter-nav small-footer hide-for-large-up">
		<ul class="siteFooter-links">
			<li class="footer-link-borrow"><a href="{{borrow_href}}">Borrow</a>
			<li class="footer-link-about"><a href="{{about_href}}">About</a>
			<li class="footer-link-help"><a href="{{help_href}}">Help</a>
			<li class="footer-link-careers"><a href="{{careers_href}}">Careers</a>
			<li class="footer-link-map"><a href="{{site_map_href}}">Site Map</a>
		</ul>

		<div class="siteFooter-policy">
			<a href="{{privacy_policy_href}}" class="siteFooter-privacy">Privacy Policy</a>
			<a href="{{tou_href}}" class="siteFooter-tos">Terms of Use</a>
		</div>

		<div class="siteFooter-legal">
			<div class="siteFooter-disclaimer">Lending through Kiva involves risk of principal loss.  Kiva does not guarantee repayment nor do we offer a financial return on your loan.</div>
			<div class="siteFooter-copyright">&copy; 2015 Kiva.  All rights reserved.</div>
		</div>
	</nav>

	<nav class="siteFooter-nav large-footer show-for-large-up row">
		<div class="small-3 column">
			<div class="siteFooter-borrow-group siteFooter-group">
				<h1>Borrow</h1>
				<div>Loans for entrepreneurs doing amazing things.</div>
				<ul class="siteFooter-links">
					<li><a href="{{borrow_href}}">Apply Now</a></li>
				</ul>
			</div>

			<div class="siteFooter-explore-group siteFooter-group">
				<h1>Explore</h1>
				<ul class="siteFooter-links">
					<li><a href="{{gifts_href}}">Gifts</a></li>
					<li><a href="{{happening_href}}">Happening Now</a></li>
					<li><a href="{{site_map_href}}">Site Map</a></li>
					<li><a href="{{dev_api_href}}">Developer API</a></li>
					<li><a href="{{privacy_policy_href}}">Privacy Policy</a></li>
					<li><a href="{{tou_href}}">Terms of Use</a></li>
				</ul>
			</div>
		</div>

		<div class="small-3 column">
			<div class="siteFooter-about-group siteFooter-group">
				<h1>Get To Know Us</h1>
				<ul class="siteFooter-links">
					<li><a href="{{about_href}}">About Us</a></li>
					<li><a href="{{how_kiva_works_href}}">How Kiva Works</a></li>
					<li><a href="{{faq_href}}">FAQs</a></li>
					<li><a href="{{where_kiva_works_href}}">Where Kiva Works</a></li>
					<li><a href="{{blog_href}}">Blog</a></li>
					<li><a href="{{contact_href}}">Contact Us</a></li>
					<li><a href="{{help_href}}">Help</a></li>
				</ul>
			</div>

			<div class="siteFooter-community-group siteFooter-group">
				<h1>Community</h1>
				<ul class="siteFooter-links">
					<li><a href="{{teams_href}}">Teams</a></li>
					<li><a href="{{students_href}}">Students and Educators</a></li>
				</ul>
			</div>
		</div>

		<div class="small-6 column">
			<div class="siteFooter-statement-group siteFooter-group">
				<div>Kiva is a 501(c)3 U.S. nonprofit fueled by passionate people. Founded in 2005, and based in San Francisco, with offices in Nairobi and staff around the globe. <a href="{{_href}}">Donate to our operating expenses. (tax deductible in the U.S.)</a></div>
			</div>

			<div class="siteFooter-us-group siteFooter-group">
				<h1>Work With Us</h1>
				<ul class="siteFooter-links">
					<li><a href="{{careers_href}}" class="siteFooter-divider">Careers</a><a href="{{internships_href}}" class="siteFooter-divider">Internships</a><a href="{{fellows_href}}">Fellowship Program</a></li>
					<li><a href="{{rtp_href}}">Review and Translation Program</a></li>
				</ul>
			</div>

			<div class="siteFooter-legal siteFooter-group">
				<div class="siteFooter-disclaimer">Lending through Kiva involves risk of principal loss. Kiva does not guarantee repayment nor do we offer a financial return on your loan.</div>
				<div class="siteFooter-copyright">&copy; 2015 Kiva.  All rights reserved.</div>
			</div>
		</div>
	</nav>
</footer>