<footer class="siteFooter">
    <ul class="siteFooter-links">
        <li>Borrow</li>
        <li>About</li>
        <li>Help</li>
        <li>Careers</li>
        <li>Site Map</li>
    </ul>

    <div class="siteFooter-legal">
        <span class="siteFooter-privacy">Privacy Policy</span>
        <span class="siteFooter-tos">Terms of service</span>
        <span class="siteFooter-copyright"></span>
    </div>
</footer>
