<footer class="siteFooter">
    <ul class="siteFooter-links">
        <li>
            <h3>Borrow</h3>
            <ul>
                <li>Character over credit</li>
                <li>0% interest, no fees</li>
            </ul>
        </li>
        <li>
            <h3>Explore</h3>
            <ul>
                <li>Gifts</li>
                <li>Labs</li>
                <li>Blog</li>
                <li>Developer API</li>
                <li>Privacy Policy</li>
                <li>Terms of Use</li>
            </ul>
        </li>
        <li>
            <h3>About</h3>
            <ul>
                <li>Overview</li>
                <li>How Kiva Works</li>
                <li>Where Kiva Works</li>
            </ul>
        </li>
        <li>
            <h3>Help</h3>
            <ul>
                <li>Help Center</li>
                <li>Contact Us</li>
            </ul>
        </li>
        <li>
            <h3>Community</h3>
            <ul>
                <li>Teams</li>
                <li>Students and Educators</li>
            </ul>
        </li>
        <li>
            <h3>Kiva is a nonprofit fueled by passionate people</h3>
            <div>Founded in 2005 and based in San Franciscos, <br> with offices in Nairobi and staff around the globe.</div>
            <div>Donate to our operating expenses. (tax deductible in the U.S.)</div>
        </li>
        <li>
            <h3>Work With Us</h3>
            <ul>
                <li>Careers | Internships | Fellowship Program</li>
                <li>Review and Translation Program</li>
            </ul>
        </li>
        <li>--- What about the site map? ----</li>
        <li>--- What about privacy policy? ----</li>
        <li>--- What about terms of service? ----</li>
        <li>&copy; 2015 Kiva.  All rights reserved.</li>
    </ul>
</footer>
