<div class="sitewide-appeal-wrapper">
	<div class="sitewide-appeal row">
		<div class="sitewide-header small-12 columns"data-kv-accordion aria-controls="ac-sitewide-appeal" {{#isExpanded}}aria-expanded="true"{{/isExpanded}}{{^isExpanded}}aria-expanded="false"{{/isExpanded}}>
			<h2>
				Donate to Kiva today and earn a free loan!
				<span class="dropdown-icon">
					<svg stroke-width="7" class="icon icon-large-chevron">
						<use xlink:href="#icon-large-chevron"></use>
					</svg>
				</span>
			</h2>
		</div>
		
		<div class="sitewide-body small-12" id="ac-sitewide-appeal"{{#isExpanded}}aria-hidden="false"{{/isExpanded}}{{^isExpanded}}aria-hidden="true"{{/isExpanded}}>
			<div class="thermometer-holder show-for-medium-up medium-2 columns">
				{{! Thermometer element }}
				{{> 01-molecules/08-meters/appeal-meter.mustache}}
			</div>
			<div class="small-12 medium-10 columns message-wrapper">
				<div class="message">
					<div>
						Each loan on Kiva costs us more than $3 to facilitate (and we facilitate a lot of loans!)
						so when you donate to Kiva you help us cover costs and grow our impact.
						{{#match}}
							<b>Donate $35 or more to Kiva today and we'll send you a bonus tomorrow to make a free loan.</b>
						{{/match}}
						Your donation of any amount makes a difference!
					</div>
				</div>

				<div class="thermometer-holder show-for-small-only small-12 columns">
					{{! Thermometer element }}
					{{> 01-molecules/08-meters/appeal-meter.mustache}}
				</div>

				<div class="donation-buttons">
					<ul class="small-block-grid-3 medium-block-grid-5">
						<li>
							<div class="button smallest" role="button" value="25">$25</div>
						</li>

						<li>
							<div class="button smallest" role="button" value="35">$35</div>
						</li>

						<li>
							<div class="button smallest" role="button" value="50">$50</div>
						</li>

						<li class="other-amount">
							<a href="/donate">Other amount</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
