<div class="global-promo-bar">
	<div class="row align-center {{#is_holiday_mode_active}}gift-banner{{/is_holiday_mode_active}} default-banner">
		<a href="{{header_promo.href}}"
			class="banner-link"
			kvtrackevent="TopNav|click-Promo|{{#is_holiday_mode_active}}Holiday Banner{{/is_holiday_mode_active}}{{^is_holiday_mode_active}}Default Banner{{/is_holiday_mode_active}}">
			{{#header_promo.icon}}
			<svg class="icon {{header_promo.icon}}">
				<use xlink:href="#{{header_promo.icon}}"></use>
			</svg>
			{{/header_promo.icon}}
			<div class="content">
				<div class="primary-message">{{header_promo.message}}</div>
				<div class="call-to-action-text">{{header_promo.call_to_action}}</div>
			</div>
		</a>
	</div>
</div>
