<div class="cookie-banner-container {{^show_gdpr_banner}}gdpr-hidden{{/show_gdpr_banner}}">
	<div class="cookie-banner">
		<div class="cookie-banner-content">
			<div class="notice-header">
				<div class="left-spacer"></div>
				<h3>Cookie Policy</h3>
				<div class="close-button" aria-label="Close">
					<svg class="icon icon-x">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
					</svg>
				</div>
			</div>
			We use cookies to improve your experience and enable the functionality and security of this site.
			By continuing to use this site, you agree to the use of these cookies.
			For more information or to change your cookie preferences please see our <a href="{{legal_cookie_url}}" target="_blank">cookie policy</a>.
		</div>
	</div>
</div>
