<footer class="siteFooter">
    <nav class="small-footer hide-for-large-up">
        <ul class="siteFooter-links">
            <li class="footer-link-borrow"><a href="#">Borrow</a>
            <li class="footer-link-about"><a href="#">About</a>
            <li class="footer-link-help"><a href="#">Help</a>
            <li class="footer-link-careers"><a href="#">Careers</a>
            <li class="footer-link-map"><a href="#">Site Map</a>
        </ul>

        <div class="siteFooter-policy">
            <a href="#" class="siteFooter-privacy">Privacy Policy</a>
            <a href="#" class="siteFooter-tos">Terms of service</a>
        </div>

        <div class="siteFooter-legal">
            <div class="siteFooter-disclaimer">Lending through Kiva involves risk of principle loss.  Kiva does not guarantee repayment nor do we offer a financial return on your loan.</div>
            <div class="siteFooter-copyright">&copy; 2015 Kiva.  All rights reserved.</div>
        </div>
    </nav>

    <nav class="large-footer show-for-large-up row">
        <div class="small-3 column">
            <div class="siteFooter-borrow-group siteFooter-group">
                <h1>Borrow</h1>
                <div>Loans for entrepreneurs doing amazing things</div>
                <ul class="siteFooter-links">
                    <li><a href="">Apply Now</a></li>
                </ul>
            </div>

            <div class="siteFooter-explore-group siteFooter-group">
                <h1>Explore</h1>
                <ul class="siteFooter-links">
                    <li><a href="">Gifts</a></li>
                    <li><a href="">Happening Now</a></li>
                    <li><a href="">Site Map</a></li>
                    <li><a href="">Developer API</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
        </div>

        <div class="small-3 column">
            <div class="siteFooter-about-group siteFooter-group">
                <h1>Get To Know Us</h1>
                <ul class="siteFooter-links">
                    <li><a href="">About Us</a></li>
                    <li><a href="">How Kiva Works</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Where Kiva Works</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </div>

            <div class="siteFooter-community-group siteFooter-group">
                <h1>Community</h1>
                <ul class="siteFooter-links">
                    <li><a href="">Teams</a></li>
                    <li><a href="">Students and Educators</a></li>
                </ul>
            </div>
        </div>

        <div class="small-6 column">
            <div class="siteFooter-statement-group siteFooter-group">
                <div>Kiva is a 501(c)3 U.S. nonprofit fueled by passionate people. Founded in 2005, and based in San Francisco, with offices in Nairobi and staff around the globe. <a href="">Donate to our operating expenses. (tax deductible in the U.S.)</a></div>
            </div>

            <div class="siteFooter-us-group siteFooter-group">
                <h1>Work With Us</h1>
                <ul class="siteFooter-links">
                    <li><a href="">Careers</a> | <a href="">Internships</a> | <a href="">Fellowship Program</a></li>
                    <li><a href="">Review and Translation Program</a></li>
                </ul>
            </div>

            <div class="siteFooter-legal siteFooter-group">
                <div class="siteFooter-disclaimer">Lending through Kiva involves risk of principal loss. Kiva does not guarantee repayment nor do we offer a financial return on your loan.</div>
                <div class="siteFooter-copyright">&copy; 2015 Kiva.  All rights reserved.</div>
            </div>
        </div>
    </nav>
</footer>