<div class="control-region row">
    <a href="#" class="hide-for-large-up filter-menu-button button setting left-off-canvas-toggle">
        <svg class="icon icon-filter">
            <use xlink:href="#icon-filter"/>
        </svg>
        Filters
    </a>
</div>