<div class="paging {{#hide_paging}}hide{{/hide_paging}}">
	<a href="#" class="previous button secondary {{#disable_previous}}disabled{{/disable_previous}}">
		<svg class="icon icon-small-chevron">
			<use xlink:href="#icon-small-chevron"/>
		</svg>
		Previous
	</a><a href="#" class="next button secondary {{#disable_next}}disabled{{/disable_next}}">
		Next
		<svg class="icon icon-small-chevron">
			<use xlink:href="#icon-small-chevron"/>
		</svg>
	</a>
</div>