<div class="control-box">
	<a kvtrackevent="Lending|click-Filter button" href="#" class="filter-menu-button button setting left-off-canvas-toggle">
		<svg class="icon icon-filter">
			<use xlink:href="#icon-filter"/>
		</svg>
		Filters
	</a>

	<div class="filter-menu-sort">
		<span class="filter-menu-sort-text" class="small-text">Sort:&nbsp;&nbsp;</span>
			<span class="filter-menu-sort-dropdown">
				<select name="sort[]" id="filter-loan-sort-dropdown" class="filter-dropdown">
					{{#sort_options}}
						<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{label}}</option>
					{{/sort_options}}
				</select>
			</span>
	</div>

	{{> 01-molecules/09-filters/05-view-buttons}}

	<div style="clear:both"></div>

	{{#is-category-page}}
		{{> 01-molecules/00-text/05-category-page-head}}
	{{/is-category-page}}

</div>
<div class="secondary-nav filter-loan-count {{#is-category-page}}hide{{/is-category-page}}">
	{{#loan-count}}
		{{loan-count}} loans
	{{/loan-count}}

	{{#show-clear}}<span class="desktop-clear-button"><a href="#" class="hide-for-small filter-links filter-clear-button clear-touch">Clear filters</a></span>{{/show-clear}}
	{{#show-save-search}}<span><a href="#" class="hide-for-small filter-links save-search-button clear-touch"
			 data-reveal-id="save-search-modal">Save this search</a></span>{{/show-save-search}}

	<div class="selected-filters-box {{^show-selected}}hide{{/show-selected}} {{#selected-expanded}}expanded{{/selected-expanded}}">
		<a class="control" href="#">{{^selected-expanded}}+ more{{/selected-expanded}}{{#selected-expanded}}less{{/selected-expanded}}</a>
		<ul class="selected-filters">
			{{#selected-filters}}
				<li>
					{{> molecules-selected-filter }}
				</li>
			{{/selected-filters}}
		</ul>
	</div>
</div>
