<div class="heading-region row">
	<p class="page-title">Make a loan, change a life</p>
	<p class="category-description small-12 xlarge-9">
		Each Kiva loan helps people build a better future for themselves and their families.
	</p>
</div>
