<div class="headline frame text-center">
	<p >
		Kiva is an international nonprofit,
		founded in 2005 and based in San Francisco,
		that celebrates and supports people looking to
		create a better future for themselves, their families
		and their communities. We exist to connect and empower
		them, one loan at a time.
	</p>
	</div>