.faq-title {
	border-top: 0.0555555556rem solid black;
	padding: 0.5555555556rem 0;
	margin: 0;
}
.ac-container {
	.question-wrap {
		display: inline;
		font-weight: bold;
	}
	&.ac-title {
		margin: 0;
		display: block;
		position: relative;
		border-top: 0.0555555556rem solid black;
		padding: 0.2777777778rem 0 0.2777777778rem 0;
		margin: 0;
		position: relative;
		cursor: pointer;
		h2 {
			width: 90%;
		}
	}
	.ac-dropdown-icon {
		display: inline;
		.icon {
			position: absolute;
			right: 1px;
			&.loan-tags-dropdown {
				right: 1rem;
			}
			margin-top: .2rem;
			height: 1rem;
			width: rem-calc(25);
			fill: none;
			stroke: $kiva-text-dark;

			$transition: 0.3s ease-in-out;

			-webkit-transition: -webkit-transform $transition;
			transition: transform $transition;
		}
	}
	.ac-input:checked + .ac-title {
		.icon {
			$transform: rotate(-180deg);

			-webkit-transform: $transform;
			-ms-transform: $transform;
			transform: $transform;
		}
	}

	&[aria-expanded="true"] {
		.icon {
			$transform: rotate(-180deg);

			-webkit-transform: $transform;
			-ms-transform: $transform;
			transform: $transform;
		}
	}

	.ac-input {
		display: none;
	}
}


.ac-body, [data-kv-accordion] + * {
	overflow: hidden;

	$transition: height 500ms ease-in-out;

	-webkit-transition: $transition;
	transition: $transition;

	&[aria-hidden="true"], &[aria-hidden="false"] {
		display: block;
	}

	&[aria-hidden="true"] {
		height: 0;
	}
}