.ac-container {
  .ac-title {
    margin: 0;
    display: block;
  }
  .ac-dropdown-icon {
    display: inline;
    .icon {
      margin-top: .2rem;
      float: right;
      height: 1rem;
      width: rem-calc(25);
      fill: none;
      stroke: $kiva-text-dark;

      $transition: 0.3s ease-in-out;

      -webkit-transition: -webkit-transform $transition;
      transition: transform $transition;
    }
  }
  .ac-input:checked + .ac-title {
    .icon {
      $transform: rotate(-180deg);

      -webkit-transform: $transform;
      -ms-transform: $transform;
      transform: $transform;
    }
  }

  .ac-input {
    display: none;
  }
}