.browserNotice {
	font-size: 1.4286em;
	padding: 7px 0;
	.browserNoticeText {
		vertical-align: middle;
		margin-right: 40px;
	}
	.browserNoticeSprite {
		background: url(../images/browser.png) no-repeat;
		display: inline-block;
		height: 30px;
		margin-right: 10px;
		width: 30px;
		vertical-align: middle;
	}
	.browserNoticeIe {
		background-position: 0 0;
	}
	.browserNoticeChrome {
		background-position: -31px 0;
	}
	.browserNoticeFirefox {
		background-position: -62px 0;
	}
	.browserNoticeSafari {
		background-position: -93px 0;
	}
}
