.confirmation-arrow {
	.label-in-box {
		border: 0.1rem solid $kiva-darkgreen;
		padding: 1rem;
		margin: 0 auto;
		background: #fff;
		display: inline-block;
		line-height: 1.2em;
	}

	.label-in-box+hr {
		margin-top: -3rem;
		border-top: 0.5rem solid $kiva-darkgreen;
	}

	.icon-triangle {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Safari */
		transform: rotate(90deg);
		width: 2rem;
		fill: $kiva-darkgreen;
		margin-top: -5.5rem;
		margin-right: -18.5rem;
	}
}

.paypal-profile-iconography {
	.paypal-logo {
		.icon-new-kiva-logo {
			width: 3rem;
		}
	}
}