#countrySelectModal {

	.lightbox-content {
		padding-top: 0;
	}

	.white-background-box {
		position: relative;
		padding: 4rem rem-calc(20);
	}

	#filter-country-submit {
		width: 100%;
		bottom: -20px;
		position: fixed;
		max-width: none;
		line-height: inherit;
		z-index: 1200;
		left: 0;
		color: $white;
	}

	a.close-reveal-modal {
		float: right;
		padding: rem-calc(20);
	}

	#country-list {
		.csscolumns & {
			@media #{$large-up} {
				@include column-count(2);
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			@media #{$xxlarge-up} {
				@include column-count(3);
				padding-left: 4rem;
				padding-right: 4rem;
			}

			.region-name {
				@include column-break();
				padding-top: 1rem;
			}
		}

		.no-csscolumns & {
			width: 14rem;
			margin: 0 auto;
			padding-left: 3rem;
		}
	}

	@media #{$small-only} {
		.region-name {
			line-height:2.5rem;
		}

		.country {
			border-bottom: 1px solid $kiva-stroke-gray;

			&:first-of-type {
				border-top: 1px solid $kiva-stroke-gray;
			}

			.country-name {
				font-size: 1rem;
			}
		}
	}
}