#countrySelectModal {

	.lightbox-content {
		padding-top: 0;
	}

	.white-background-box {
		position: relative;
		padding: 4rem rem-calc(20);
	}

	#filter-country-submit {
		width: 100%;
		bottom: rem-calc(-20);
		position: fixed;
		max-width: none;
		line-height: inherit;
		z-index: 1200;
		left: 0;
		color: $white;

		@media #{$medium-up} {
			left: 12%;
			width: 76%;
		}
	}

	a.close-reveal-modal {
		float: right;
		padding: rem-calc(20);
	}

	#country-list {
		.csscolumns & {
			padding-left: rem-calc(20);
			padding-right: rem-calc(20);

			@media #{$large-up} {
				@include column-count(2);
			}

			@media #{$xxlarge-up} {
				@include column-count(3);
			}

			.region-name {
				@include column-break();
				padding-top: 1rem;
			}
		}

		.no-csscolumns & {
			width: 14rem;
			margin: 0 auto;
			padding-left: 3rem;
		}
	}

	.checkbox-input {
		&:first-of-type {
			margin-top: rem-calc(7);
		}

		input {
			margin-top: rem-calc(2);
			margin-right: 0;
		}

		label {
			vertical-align: top;
		}
	}

	@media #{$small-only} {
		.region-name {
			line-height:2.5rem;
		}

		.country {
			border-bottom: 1px solid $kiva-stroke-gray;

			&:first-of-type {
				border-top: 1px solid $kiva-stroke-gray;
			}

			.country-name {
				font-size: 1rem;
			}
		}
	}
}