#credit-summary-table {
	a.close-reveal-modal {
		position: absolute;
	}
}

.credit-summary-lightbox {

	.credit-summary-wrapper {
		white-space: nowrap;
		overflow-x: scroll;
		background-color: $white;

		.credit-summary {
			border-style: none;
		}

		.totalCredit, .totalDebit, .creditSummaryTotal {
			font-size: $section-head-font-size;
			background-color: $white;
			padding-bottom: 2rem;
		}

		.totalCredit {
			color: $kiva-green;
		}

		.totalDebit {
			color: $kiva-accent-red;
		}
	}
}