.decision-point-lightbox {
	.button {
		width: 100%;
		min-width: 12rem;
		padding: 0;
		font-size: $body-font-size;

		&.main-option {
			margin-right: rem-calc(20);
		}

		&.alternative-option {
			background: transparent;
			border: solid 1px #FFFFFF;
		}

		@media #{$large-up} {
			width: auto;
			padding: 0 rem-calc(32);
		}
	}
}