.faq-container {
	//these styles apply to the  01-molecules/06-components/13-faq-question-answer.mustache file
	.ac-container {
		.question-wrap {
			display: inline;
			font-weight: bold;
		}
		&.ac-title {
			border-top: rem-calc(1) solid black;
			padding: rem-calc(5) 0;
			cursor: pointer;
		}
	}
	//these styles apply to the 02-organisms/13-faq/00-faq.mustache file
	.faq-title {
		border-top: rem-calc(1) solid black;
		padding: rem-calc(10) 0;
		margin: 0;
	}
}