#flag-comment-lightbox {
	input {
		margin-bottom: 0;
	}
	label {
		color: $white;
		margin-bottom: 10px;
	}
	.submit-flag {
		width: 100%;
		@media #{$medium-up} {
			font-size: 1.15rem;
		}
	}
	.lightbox-content {
		.inner {
			padding: 0;
		}
	}
}