.free-trial-lightbox {
	outline: 0;
	background: rgba(0, 0, 0, 0);

	.button{
		display: inline-block;
		float: left;
		outline: 0;
		padding: 0 rem-calc(12);

		&.free-trial-agree{
			border: solid 1px #26b6e8;
			width: 35%;
			margin-right: 5%;

			@media #{$large-up} {
				width: 12rem;
				margin-right: rem-calc(20);
			}
		}

		&.free-trial-decline{
			background: transparent;
			border: solid 1px #FFFFFF;
			width: 60%;

			@media #{$large-up} {
				width: 16rem;
			}
		}
	}
}