// Affects row of  boxes with percentages
.financingAG-bottom-margin {
    margin-bottom: 2rem;
}

.agriculture {
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
}

.box-margin {
    margin-top: 0.5rem;
}