@import '../../settings';
@import '../../palette';
@import '../../vendor_override/foundation/buttons';

.lender-message {
	.other-lender {
		color: $kiva-text-light;
		line-height: 1.5;
		margin-bottom: 1rem;

		.circle-avatar {
			width: 3rem;
			height: 3rem;
			margin-left: 0;
			margin-right: 0;
		}

		.lender-avatar {
			display: inline-block;
			float: left;
			margin-right: 1rem;
		}
	}

	.message-body {
		clear: both;
		word-wrap: break-word;
	}

	.actions {
		a {
			display: inline-block;
			float: left;
			width: calc(50% - #{rem-calc(10)});
			font-size: $button-font-sm;
			line-height: $button-height-sm;
			height: $button-height-sm;

			@media #{$medium-up} {
				width: 8rem;
			}

			&:nth-child(2) {
				margin-left: rem-calc(20);
			}
		}
	}
}