@import '../../settings';
@import '../../button-vars';

.lender-message {
	.other-lender {
		color: $kiva-text-light;
		line-height: 1.5;
		margin-bottom: 1rem;
		position: relative;

		.circle-avatar {
			width: 3rem;
			height: 3rem;
			margin-left: 0;
			margin-right: 0;
		}

		.lender-avatar {
			position: absolute;
		}

		div {
			margin-left: 4rem;
		}
	}

	.message-body {
		clear: both;
		word-wrap: break-word;
	}
}