.repayment-schedule-lightbox {
	outline: 0;
	background: rgba(0, 0, 0, 0);

	.show-advanced {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.simple-repayment-schedule {
		width: 100%;

		tr:nth-of-type(even) {
			background-color: $kiva-bg-lightgray;
		}
		th {
			background-color: $platinum;
		}
		td.shrink {
			white-space:nowrap
		}
		td.expand {
			width: 99%
		}
	}
}