#save-search-modal {
	.save-search-header {
		color: $white;
	}
	input {
		margin-bottom: 0;
	}
	label {
		color: $white;
		margin-bottom: 10px;
	}
	.submit-save-search {
		width: 100%;
		@media #{$medium-up} {
			font-size: 1.15rem;
		}
	}
	[for=save-search-alert]{
		display: inline;
	}

	.save-search-alert-box{
		margin: 10px 0;
	}

	.lightbox-content {
		.inner {
			padding: 0;
		}
	}
}