#save-search-modal {
	.save-search-header {
		color: $white;
	}
	input {
		margin-bottom: 0;
	}
	label {
		color: $white;
		margin-bottom: rem-calc(10);
	}
	.submit-save-search {
		width: 100%;
		@media #{$medium-up} {
			font-size: 1.15rem;
		}
	}
	[for=save-search-alert]{
		display: block;
	}

	.save-search-alert-box{
		margin: rem-calc(10) 0;
	}

	.lightbox-content {
		.inner {
			padding: 0;
		}

		.save-search-alert-label {
			display: block;
			text-indent: rem-calc(-22);
			padding-left: rem-calc(22);

			.save-search-alert-checkbox {
				margin-right: rem-calc(5);

				@media #{$small-only} {
					vertical-align: middle;
				}
			}
		}
	}
}