.statistic-display {
	height: 10em;
	position: relative;
	text-align: center;

	@media #{$large-up}{
		text-align: left;

		.statistic-link {
			margin-left: 8rem;
			position: absolute;
			top: 1.5rem;
			margin-top: 0;
			transform: translate(0, -50%);
		}
	}
}