.whats-next-wrapper {

	.learn-more-link {
		padding-bottom: 25px;
		padding-top: 10px;
	}
	.paging.row {
		display: inline-block;
		max-width: none;

		.radio-wrapper {
			display: inline-block;

			ul {
				list-style-type: none;
				margin: 0;
			}

			svg.icon-slideshow-dot {
				width: 20px;
				position: inherit;
				margin: 0 5px;
				stroke: gray;
				fill: gray;
			}
		}

		.previous-button,
		.next-button {
			@media#{$small-up} {
				margin-right: 0;
				max-width: 150px;
				font-size: 18px;
				height: 44px;
				line-height: 44px;

				.previous-arrow {
					width: 18px;
					height: 44px;
					right: calc(50% + 1.6rem);
				}

				.next-arrow {
					@extend .previous-arrow;
					left: calc(50% + 0.7rem);
				}
			}
		}

	}

}
