.whats-next-wrapper {

	.learn-more-link {
		padding-bottom: rem-calc(25);
		padding-top: rem-calc(10);
	}
	.paging.row {
		display: inline-block;
		max-width: none;

		.radio-wrapper {
			display: inline-block;

			ul {
				list-style-type: none;
				margin: 0;
			}

			svg.icon-slideshow-dot {
				width: rem-calc(20);
				position: inherit;
				margin: 0  rem-calc(5);
				stroke: gray;
				fill: gray;
			}
		}

		.previous-button,
		.next-button {
			@media#{$small-up} {
				margin-right: 0;
				max-width: rem-calc(150);
				font-size: rem-calc(18);
				height: rem-calc(44);
				line-height: rem-calc(44);

				.previous-arrow {
					width: rem-calc(18);
					height: rem-calc(44);
					right: calc(50% + 1.6rem);
				}

				.next-arrow {
					@extend .previous-arrow;
					left: calc(50% + 0.7rem);
				}
			}
		}

	}

}
