<div class="row search-borrower-bar">
	<div class="columns large-offset-4 large-4 text-center">
		Can't find a borrower?
		<input class="borrower-search-text" placeholder="Search by name or email">
	</div>
	<div class="columns small-12 search-borrower-bar-results"></div>
</div>
