<div class="trustee-dashboard-network">

	<div class="row">
		<div class="columns large-12">
			<div class="impact">Your Borrower Network</div>
		</div>
	</div>

	<div class="row">
		<div class="columns large-8 small-12">
			{{#invitedAndEndorsedBorrowersStat}}
				{{statisticValue}}
			{{/invitedAndEndorsedBorrowersStat}}
			invited and endorsed borrowers have received
			{{totalFunded}} in funding.
		</div>
		<div class="columns large-4 small-12">
			Can't find a borrower?<br/>
			<input placeholder="Search by name or email">
		</div>
	</div>

</div>