<div class="trustee-dashboard-network row">
	<div class="columns small-12">
		<h1 class="impact">Your Borrower Network</h1>
	</div>

	<div class="columns small-12">
		{{#invitedAndEndorsedBorrowersStat}}
			{{statisticValue}}
		{{/invitedAndEndorsedBorrowersStat}}
		referred or endorsed borrowers have received
		{{totalFunded}} in funding.
	</div>
</div>
