<div class="row item-bar">
	<div class="columns large-2 medium-12 small-12 hidden-for-medium-down">
		{{#imageHref}}
			<img src="{{imageHref}}">
		{{/imageHref}}
	</div>
	<div class="columns large-4 medium-4 small-4">
		{{#profileUrl}}<a href="{{profileUrl}}">{{/profileUrl}}
		<strong>{{borrowerName}}</strong>
		{{#profileUrl}}</a>{{/profileUrl}}<br/>
		{{#businessName}}{{businessName}}<br/>{{/businessName}}
		{{loanAmountPretty}} / {{borrowerRepaymentTerm}} month loan<br/>
		{{#city}}{{#region}}{{city}}, {{region}}{{/region}}{{/city}}
	</div>
	<div class="columns large-3 medium-4 small-4">
		{{{loanStatusPretty}}}
	</div>
	<div class="columns large-3 medium-4 small-4">
		{{#trusteeActions}}
			{{> 01-molecules/50-trustee-dashboard/01-trustee-borrower-actions}}
		{{/trusteeActions}}
	</div>
</div>
