<div class="donation-intro-text">
	<p class="impact">Donate to Kiva</p>
	<div>
		<p>It’s simple: Kiva can’t help borrowers without your donations to support us. Since 100% of money lent on
			Kiva goes to funding loans, we rely on donations to continue this important work. More than two-thirds of our
			donations come from individual lenders.</p>
	</div>
</div>