<div class="donation-intro-text small-12  large-9 columns">
	<p class="impact">Keep Kiva going</p>
	<div>
		<p>Donations to Kiva are distinct from the loans made to borrower Over 66% of Kiva's operating costs
		are raised through individual donations. This month 512 people like you have already contributed.</p>
	</div>
</div>