<div class="small-12  medium-4 columns text-center">
	<!--Kiva 100% promise section-->
	<b>Loans vs. donations</b>
	<svg class="icon">Kiva 100% promise image here.
		<use xlink:href="#icon-kiva-promise"></use>
	</svg>
	<p>Kiva never takes a cut of loans, optional donations fund our operations.</p>

	<!--Charity Navigator section-->
	<b>Awarded for effectiveness and efficiency</b>
	<svg class="icon">Charity navigator image here
		<use xlink:href="#ID OF UNIQUE IMAGE"></use>
	</svg>
	<p>Charity Navigator's highest rating</p>
</div>