<div class="small-12  medium-4 columns text-center donation-sidebar">
	<div class="kivaPromiseWrapper">
		<!--Kiva 100% promise section-->
		<b>Loans vs. donations</b>
			<svg class="icon">Kiva 100% promise image here.
				<use xlink:href="#icon-kiva-promise"></use>
			</svg>
		<p>Kiva never takes a cut of loans, optional donations fund our operations.</p>
	</div>
	<div class="charityNavWrapper">
		<!--Charity Navigator section-->
		<b>Awarded for effectiveness and efficiency</b>
		<div>
			<img alt="Charity Navigator 4 star rating" data-interchange="//kiva.org/cms/page/images/charity-navigator-std.png, (default)
			, //kiva.org/cms/page/images/charity-navigator-retina.png, (retina)">
		</div>
		<p>Charity Navigator's highest rating</p>
	</div>
</div>