<div class="donation-page-form small-12  large-6 columns">
	<ul class="small-block-grid-3">
		<li>
			<span class="button setting amountButton amount1" role="button">$10</span>
		</li>
		<li>
			<span class="button setting amountButton amount2" role="button">$20</span>
		</li>
		<li>
			<span class="button setting amountButton amount3" role="button">$50</span>
		</li>
		<li>
			<span class="button setting amountButton amount4" role="button">$100</span>
		</li>
		<li>
			<span class="button setting amountButton amount5" role="button">$200</span>
		</li>
		<li>
			<input class="setting amountInput" placeholder="$ other"/>
		</li>
	</ul>
	<label class="donateMonthlyCheckbox" for="checkbox">
		<input id="checkbox" name="checkbox" type="checkbox"> Make this a monthly donation.</label>
	<button class="small-12">Donate</button>
</div>