<div class="loading-spinner">
	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>

	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>
	<div class="line"></div>
</div>