<!-- Uses Slick Js -->
<div class="figure-scrollable">
    <img src="http://stuffonmycat.com/wp-content/uploads/2011/12/SOMC_112.jpg" alt="slide 1" />
    <img src="http://stuffonmycat.com/wp-content/uploads/2011/12/SOMC_112.jpg" alt="slide 2" />
    <img src="http://stuffonmycat.com/wp-content/uploads/2011/12/SOMC_112.jpg" alt="slide 3" />
</div>
<div class="scrollable-prev-arrow">&#10092;</div>
<div class="scrollable-next-arrow">&#10093;</div>
