<figure class="figure-scrollable-with-caption">
    {{> molecules-figure-scrollable }}
    <div class="figure-veil">
        <figcaption>{{caption-text}}</figcaption>
        <svg class="icon star-icon">
            <use xlink:href="#icon-star"/>
        </svg>
    </div>
</figure>