{{#is_matched}}
	<div class="matching-message">
		<svg class="icon icon-match"><use xlink:href="#icon-match"/></svg>
		<span>{{matching_text}}</span>
	</div>
{{/is_matched}}

{{#can_favorite}}
	<a href="#" class="favorite-link {{#is_favorite}}is-favorite{{/is_favorite}}">
		<svg class="icon icon-star"><use xlink:href="#icon-star"/></svg>
	</a>
{{/can_favorite}}