<div class="loan-card row" data-equalizer-watch style="height:{{height}};">
	<div class="borrower-image-wrap small-12 columns">
	{{#is_admin}}
		<div class="image-edit-buttons">
			<a class="edit" href="{{image.edit_url}}" target="_blank"><svg class="icon icon-edit"><use xlink:href="#icon-edit"/></svg></a>
			<a class="refresh" href="#"><svg class="icon icon-refresh"><use xlink:href="#icon-refresh"/></svg></a>
		</div>
	{{/is_admin}}
		<a class="borrower-image" kvtrackevent="Lending|click-Read more|Photo" href="{{borrower_url}}" data-interchange="{{#image.sizes}}[{{url}}, ({{size}})],{{/image.sizes}}">
			{{#show_loan_length}}
				<div class="loan-message">{{loan_length}}</div>
			{{/show_loan_length}}
			{{^show_loan_length}}
				{{#is_expiring_soon}}
					<div class="loan-message urgent">{{expiring_soon_message}}</div>
				{{/is_expiring_soon}}
			{{/show_loan_length}}
		</a>
		<div class="loan-image-footer">
			{{> molecules-loan-image-footer}}
		</div>
	</div>

    <div class="borrower-details-wrap small-12 columns">
        <a kvtrackevent="Lending|click-Read more|Name" href="{{borrower_url}}">{{name}}</a>
        <div class="country">
			<span class="f16 {{location.country.iso_code}}"></span>{{location_label}}
        </div>

		<p class="small-text">{{use}}</p>
		{{#is_expiring_soon}}
			<div class="loan-message urgent">{{expiring_soon_message}}</div>
		{{/is_expiring_soon}}
    </div>


	<div class="borrower-partner-trustee small-12 columns small-text">
		{{#partnerName}}
			<span>Field Partner</span>
			<p class="small-text">{{partnerName}}</p>
		{{/partnerName}}
		{{#trusteeName}}
			<span>Trustee</span>
			<p class="small-text">{{trusteeName}}</p>
		{{/trusteeName}}
	</div>
	<div class="borrower-loan-length small-12 columns small-text">
		<span>Loan length</span>
		<p class="small-text">{{lenderRepaymentTerm}} months</p>
	</div>

    <div class="borrower-footer-wrap small-12 columns {{#is_ended}}vertical-centering{{/is_ended}}">
		<div class="floater">
			<div class="fundraising-meter progress">
				<span class="meter" style="width:{{progress.percent}}%;"></span>
				<span class="caption">{{progress.message}}</span>
			</div>

			<div class="bottom-bar-region">
				{{> molecules-bottom-bar }}
			</div>

			{{#is_matched}}
				{{^is_ended}}
					<div class="matching-message">
						<svg class="icon icon-match"><use xlink:href="#icon-match"/></svg>
						<span>{{matching_text}}</span>
					</div>
				{{/is_ended}}
			{{/is_matched}}
		</div>
    </div>
</div>
<div class="loan-card-bottom-buffer show-for-touch"></div>