<div class="loan-card">
    <a class="borrower-img-wrap" href="{{borrower_url}}" style="background-image: url({{image.url}});">
        {{#show_loan_length}}
            <div class="loan-message">{{loan_length}}</div>
        {{/show_loan_length}}
        {{^show_loan_length}}
            {{#is_expiring_soon}}
                <div class="loan-message urgent">{{expiring_soon_message}}</div>
            {{/is_expiring_soon}}
        {{/show_loan_length}}
    </a>
    {{> molecules-loan-image-footer}}

    <div class="borrower-details-wrap" data-equalizer-watch style="height:{{height}};">
        <a href="{{borrower_url}}">{{name}}</a>
        <div class="country">
			<span class="f16 {{location.country.iso_code}}"></span>{{location.country.name}}
        </div>

		<p class="small-text">{{use}}</p>
    </div>

    <div class="borrower-footer-wrap">
        <div class="fundraising-meter progress {{#progress.repaying}}repaying{{/progress.repaying}}">
            <span class="meter" style="width:{{progress.percent}}%"></span>
            <span class="caption">{{progress.message}}</span>
        </div>

        {{^progress.repaying}}
            {{#is_regular}}
                <div class="bottom-bar">
                    <a class="half-width button lend-button" href="#">Lend {{#free_trial}}Free {{/free_trial}}$25</a>
                    <a class="half-width button" href="{{borrower_url}}">Read More</a>
                </div>
            {{/is_regular}}
            {{#is_lent_to}}
                <div class="bottom-bar show-short">
                    <a class="success button" href="{{borrower_url}}">
                        <svg class="icon">
                            <use xlink:href="#icon-checkmark" />
                        </svg>
                        <span>You've supported this loan</span>
                    </a>
                </div>
                <div class="bottom-bar hide-for-touch">
                    <a class="button" href="{{borrower_url}}">Lend Again</a>
                </div>
            {{/is_lent_to}}
            {{#is_adding}}
                <div class="bottom-bar no-hide">
                    <div class="message">
                        <img class="loader" src="{{img.loader.src}}">Adding to basket
                    </div>
                </div>
            {{/is_adding}}
            {{#is_in_basket}}
                <div class="bottom-bar show-short">
                    <a class="success button" href="{{basket_url}}">
                        <svg class="icon">
                            <use xlink:href="#icon-checkmark" />
                        </svg>
                        <span>{{amount_in_basket}} in basket</span>
                    </a>
                </div>
                <div class="bottom-bar hide-for-touch">
                    <a class="success button" href="{{basket_url}}">
                        <svg class="icon">
                            <use xlink:href="#icon-checkmark" />
                        </svg>
                        <span>Proceed to checkout</span>
                    </a>
                </div>
            {{/is_in_basket}}
        {{/progress.repaying}}
    </div>
</div>