<div class="row">
    <ul class="loancards-list small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
        <li>
            {{> organisms-loancard-listing}}
        </li>
    </ul>
</div>