{{#is-styleguide}}
	{{#is-standalone-card}}
		<div class="list-view">
	{{/is-standalone-card}}
{{/is-styleguide}}

{{> organisms-loancard-2 }}

{{#is-styleguide}}
	{{#is-standalone-card}}
		</div>
	{{/is-standalone-card}}
{{/is-styleguide}}
