<span class="thermometer-wrap" title="{{percent}}% raised">
	<div class="thermometer progress">
		<span class="inner-meter" style="width:{{percent}}%;"></span>
		<div class="tick-wrapper">
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
			<span class="tick-lines"></span>
		</div>
	</div>
	<span class="thermometer-bulb"></span>
</span>
