<div class="text-over-image category-card">
	<img class="category-image" alt="{{img.category.alt}}"
		 data-interchange="
			[{{img.category.src}}.jpg, (default)]
			, [{{img.category.src}}-retina.jpg, (retina)]
		 ">
	</img>

	<div>
		<p class="category-card-title">
			{{img.category.alt}}
		</p>
	</div>
</div>
