<a href="{{href}}">
	<div class="category-card">
			<img class="category-image" alt=""
				 data-interchange="
					[{{src}}, (default)]
					, [{{retina-src}}, (retina)]
				 ">
			</img>

			<div>
				<p class="category-card-title">
					{{name}}
				</p>
			</div>
	</div>
</a>
