<div class="frame">
	<ul class="category-card-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<li>{{> 02-organisms/07-categorycards/02-search-card}}</li>
		{{#categories-primary}}
			<li>{{> 02-organisms/07-categorycards/00-category-card}}</li>
		{{/categories-primary}}
		<li><a kvtrackevent="Lending|click-Category-Tile|All Loans" href="{{all-loans-href}}">
            <div class="category-card solid-color-card all-loans-card">
				<div class="category-card-overlay">
                	<div class="color-card-center">
                    	<p class="category-card-title">All loans</p>
                	</div>
                </div>
            </div>
        </a></li>
	</ul>
</div>

