<div class="frame">
	<ul class="category-card-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<li>{{> 02-organisms/07-categorycards/02-search-card}}</li>
		{{#categories-primary}}
			<li>{{> 02-organisms/07-categorycards/00-category-card}}</li>
		{{/categories-primary}}
	</ul>
</div>

