<div class="category-card search-card">
    <div>
        <input type="text" id="category-search-box" placeholder="By country or activity">
        <p class="category-card-title">Search</p>
    </div>
</div>
