<div class="category-card solid-color-card search-card">
    <form id="category-search-form" class="color-card-center" action=".">
        <input type="search" id="category-search-box" placeholder="By country or activity">
        <input type="submit" class="hidden-submit">
        <p class="category-card-title">Search</p>
    </form>
</div>
