<div kvtrackevent="Home|click-Slideshow" class="hp-slideshow-wrapper">
    <div id="hp-slideshow">

	{{#holidayModeActive}}
		<!--This holidayModeActive flag will be replaced by the smarty variable {if $is_holiday_mode_active} once code is
		brought into the CMS.-->
		<div class="hp-slide holiday-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<img alt="Holiday borrower photo" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l0-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-xl-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-xl-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-xxl-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l0-xxl-retina.jpg, (xxlarge-retina)]
					">
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<img alt="Holiday slide action" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r0-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-xl-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-xl-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-xxl-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r0-xxl-retina.jpg, (xxlarge-retina)]
					">
					<div class="hp-holiday-slide-button-wrapper">
						<a href="{{gifts_href}}" kvtrackevent="promo|click|HomepageSlideshow">
							<button id="holiday-hp-slide-button" class="hp-holiday-slide-button button">Give a Kiva gift</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	{{/holidayModeActive}}

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of a woman Kiva borrower" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l1-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l1-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-short">
							Dreams are universal. Opportunity is not.
						</p>
					</div>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of a terraced field with a rainbow" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r1-sm-std_0.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-sm-retina_0.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-med-std_0.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-med-retina_0.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-lg-std_0.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-lg-retina_0.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-lg-std_0.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-lg-retina_0.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-med-std_0.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r1-med-retina_0.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-short">
							Fund a loan, get repaid, fund another.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of hands making a pot" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l2-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-lg-std.jpglarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l2-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-long">
							With as little as $25, you can help people
							around the world create opportunity for
							themselves, their families, and their communities.
						</p>
					</div>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of thread spools in a basket" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r2-sm-std_0.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-sm-retina_0.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-med-std_0.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-med-retina_0.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-lg-std_0.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-lg-retina_0.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-lg-std_0.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-lg-retina_0.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-med-std_0.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r2-med-retina_0.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-short">
							Get repaid by the borrower you choose.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Jonathan" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l3-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l3-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-very-short">
							Entrepreneur
						</p>
					</div>
					<p class="slide-overlay-attribution attribution-left">Jonathan
						<span class="attribution-detail"><br>San Francisco</span></p>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Pamela" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r3-sm-std_0.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-sm-retina_0.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-med-std_0.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-med-retina_0.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-lg-std_0.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-lg-retina_0.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-lg-std_0.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-lg-retina_0.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-med-std_0.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r3-med-retina_0.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-very-short">
							Entrepreneur
						</p>
					</div>
					<p class="slide-overlay-attribution attribution-right">Pamela
						<span class="attribution-detail"><br>Kenya</span></p>
				</div>
			</div>
		</div>

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Wayan" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l4-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l4-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-very-short">
							Lender
						</p>
					</div>
					<p class="slide-overlay-attribution attribution-left">Wayan
						<span class="attribution-detail"><br>Indonesia</span></p>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Arthur" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r4-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r4-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-very-short">
							Borrower
						</p>
					</div>
					<p class="slide-overlay-attribution attribution-right">Arthur
					<span class="attribution-detail"><br>Arkansas</span></p>
				</div>
			</div>
		</div>

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Lourdes" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l5-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l5-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-very-short">
							Lifting one,
						</p>
					</div>
					<p class="slide-overlay-attribution attribution-left">Lourdes
						<span class="attribution-detail"><br>Paraguay</span></p>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of women borrower group" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r5-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r5-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-very-short">
							Lifts many.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of euclyptus plants" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l6-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l6-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-long">
							“My Kiva loan helped to pay for eucalyptus plants, fertilizer,
							and farm training that allows me to support my family”
						</p>
						<p class="slide-overlay-attribution attribution">Elizabeth
							<span class="attribution-detail"><br>Mother of 7, Farmer, Kenya</span>
						</p>
					</div>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Elizabeth" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r6-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-retina.jpg, (xxlarge-retina)]
					">
				</div>
			</div>
		</div>

		<div class="hp-slide">
			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Indosole shoes" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-l7-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-l7-med-retina.jpg, (xxlarge-retina)]
					">
					<div>
						<p class="slide-overlay-long">
							“With a Kiva loan, I've been able to grow my shoe business,
							create 40 jobs, and work towards saving a million tires.”
						</p>

						<p class="slide-overlay-attribution attribution">Kyle
							<span class="attribution-detail"><br>Founder, Indosole, San Francisco, CA</span>
						</p>
					</div>
				</div>
			</div>

			<div class="hp-element-wrapper">
				<div class="hp-element text-over-image">
					<!-- @todo update URLs for xlarge and xxlarge versions when available -->
					<img alt="Picture of Kyle" data-interchange="
						[//www.kiva.org/cms/page/images/hp-slideshow-r7-sm-std.jpg, (default)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-sm-retina.jpg, (retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-med-std.jpg, (medium)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-med-retina.jpg, (medium-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-lg-std.jpg, (large)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-lg-retina.jpg, (large-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-lg-std.jpg, (xlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-lg-retina.jpg, (xlarge-retina)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-med-std.jpg, (xxlarge)]
						, [//www.kiva.org/cms/page/images/hp-slideshow-r7-med-retina.jpg, (xxlarge-retina)]
					">
				</div>
			</div>
		</div>

		<div class="hp-slideshow-prev-arrow hp-slideshow-arrow">
			<svg class="icon-small-chevron icon">
				<use xlink:href="#icon-small-chevron"/>
			</svg>
		</div>

		<div class="hp-slideshow-next-arrow hp-slideshow-arrow">
			<svg class="icon-small-chevron icon">
				<use xlink:href="#icon-small-chevron"/>
			</svg>
		</div>
	</div>
</div>

