<div class="home-stats-wrapper">
	<div class="home-stats row">
		<div class="stat small-6 large-3 columns">
			<div class="data-point medium-statistic">98%</div>
			<div class="description top-row">Loan repayment rate</div>
		</div>

		<div class="stat small-6 large-3 columns">
			<div class="data-point medium-statistic">86</div>
			<div class="description top-row">Different countries</div>
		</div>

		<div class="stat small-6 large-3 columns">
			<div class="data-point growing-statistic">1.6 million</div>
			<div class="description">People who have<br>made a loan on Kiva</div>
		</div>

		<div class="stat small-6 large-3 columns">
			<div class="data-point growing-statistic">
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			</div>
			<div class="description">Charity Navigator's<br>highest award rating</div>
		</div>
	</div>
</div>
