<div class="text-on-background-image" data-interchange="
		[https://www.kiva.org/cms/page/images/hp-bottom-sm-std.jpg, (default)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-sm-retina.jpg, (retina)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-med-std.jpg, (medium)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-med-retina.jpg, (medium-retina)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-lg-std.jpg, (large)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-lg-retina.jpg, (large-retina)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-xl-std.jpg, (xlarge)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-xl-retina.jpg, (xlarge-retina)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-xxl-std.jpg, (xxlarge)]
		, [https://www.kiva.org/cms/page/images/hp-bottom-xxl-retina.jpg, (xxlarge-retina)]

	">
	<div class="wrapper row">
		<div class="container">
			<div class="content">
				<p class="overlay text-center">
					<strong>
					&ldquo;Kiva is a simple concept<br>that can change <br class="so">a person's life&rdquo;
					</strong>
					<br>
					&mdash;Oprah Winfrey
				</p>
			</div>
		</div>
	</div>
</div>
