{{#is-styleguide}}
	<div class="home-hero-exp">
{{/is-styleguide}}

<div class="hp-slideshow2-wrapper{{#is-styleguide}} home-hero-exp{{/is-styleguide}}">
	<!-- slick initialized div -->
	<div id="hp-slideshow2">
		<!-- Slide 1 Immediately Loaded via Interchange -->
		<div class="hp-slide2">
			<img alt="Alt text" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-med-std_0.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-med-retina_0.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-xxl-std_0.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header-xxl-retina_0.jpg, (xxlarge-retina)]
					"/>
		</div>
		<div class="hp-slide2">
			<img alt="Alt text" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-med-std_0.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-med-retina_0.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-xxl-std_0.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/page/images/hptest1-header2-xxl-retina_0.jpg, (xxlarge-retina)]
					"/>
		</div>
	</div>

	<div class="headline-bar">
		<div class="mask-wrapper">
			<div class="no-mask"></div>
			<div class="mask"></div>
		</div>

		<div class="headline">
			<span class="bolder">Dreams are universal,
			<br class="smo">opportunity is not.</span>

			<p>Lend as little as $25
				<br class="so">to create <br class="mo">opportunity
				<br class="so"><br class="lu">for people
				<br class="mo">around the world.</p>
		</div>
		<div class="mask-wrapper">
			<div class="no-mask"></div>
			<div class="mask"></div>
		</div>
	</div>
</div>

<div class="button-holder">
	<button class="button">Start lending</button>
</div>

{{#is-styleguide}}
	</div>
{{/is-styleguide}}
