<div class="row frame">
    <hr class="hide-for-xlarge-up">
    <section>
        <h2 class="ac-title ac-container " id="padding-xlarge-view" data-kv-accordion aria-controls="ac-Problem1" aria-expanded="true">
            Problem #1:  Farmers need credit with flexible terms
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem1" aria-hidden="false">
            <p>
                Many farmers have uneven cash flows. Their incomes spike during the harvest,
                but they spend most of the year bringing in little or no supplementary money. At
                the same time, they need to find a way to pay back loans on a weekly or monthly
                basis. Most banks consider farmers to be too risky to borrow. And when they do
                lend, loans are too small or come in the form of cash or money transfers, forcing
                farmers to buy local, pricier inputs rather than in bulk. Inputs are most
                expensive during planting season when farmers need them most, which also
                heightens demand for credit.Many live in areas so remote that they have no
                access to credit outside of informal moneylenders who charge high interest
                rates.
            </p>
            <p><strong>Proposed Solutions</strong></p>
            <p>
                Long Tenors and/or Bullet Loans: When loan amounts and terms are tailored to
                the agricultural sector, farmers have the ability to buy the inputs they need at
                lower bulk prices, and to repay at harvest time when they have the money.
                In-kind loans: Loans that are disbursed as inputs like seeds and fertilizers
                enable farmers to tap into bulk and wholesale pricing, and to buy off-season
                when prices are at their lowest.
            </p>
            <p>
                Person-to-person loans: Making interest-free loans available directly from
                lenders to farmers where they live, with flexible terms like longer grace periods.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Problem2" aria-expanded="true">
            Problem #2: Farmers lack access to information
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem2" aria-hidden="false">
            <p>
                Gaps in information and services in remote areas perpetuate poverty. In
                particular, extremeley rural regions suffer from a dearth of economic
                opportunity.
            </p>
            <p><strong>Proposed Solution</strong>
                <br>
                Loans for mobile devices to share knowledge. Providing financing for farmers in
                remote areas to buy mobile phones establishes them as knowledge hubs for
                their neighbors. This enables them to share information about the weather,
                diseases, etc. to improve yields. At the same time, device owners can generate
                additional income by providing the service.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Problem3" aria-expanded="true">
            Problem #3: Productive assets are expensive
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem3" aria-hidden="false">
            <p>
                Productive assets like tractors, cows, post-harvest processing equipment and
                storage units have the potential to dramatically increase farming incomes.
                Often, however, they’re not affordable to people at the bottom of the pyramid.
            </p>
            <p><strong>Proposed Solution</strong>
                <br>
                Loans for productive assets. By financing productive assets, organizations can
                help smallholder farmers become more efficient, boost crop yields, and
                generate significantly more income that can be used to repay loans.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Success" aria-expanded="true">
            What is success?
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Success" aria-hidden="false">
            <p>
                We want farmers to be able to build and sustain strong livelihoods. We define
                success as:
                    <ul class="ul-indent">
                        <li>Higher crop yields: Measurable improvements in harvests and income
                        for farmers.</li>
                        <li>Expanded access: More farmers accessing the information and
                        equipment they need to optimize their businesses.</li>
                        <li>Higher repayment rates: More farmers repaying on time without
                        worrying whether they’re one failed crop from financial disaster.</li>
                    </ul>
            </p>
        </div>
    </section>
    <hr class="show-for-xlarge-up">
</div>