<div class="row bottom-rule">
	<div class="columns small-12 large-6">
		{{> 01-molecules/40-portfolio/01-deposit-lent-widget}}
	</div>

	<div class="columns small-12 large-6">
        {{> 01-molecules/40-portfolio/03-team-attribution-widget}}
	</div>
</div>