<div class="statistics-bar bottom-rule">
	<div class="row">
		<div class="columns small-6">
			{{#loans-statistic}}
				{{> 01-molecules/06-components/11-statistic-display-with-icon-and-text}}
			{{/loans-statistic}}
		</div>

		<div class="columns small-6">
			{{#countries-statistic}}
				{{> 01-molecules/06-components/13-statistic-countries-lent-to}}
			{{/countries-statistic}}
		</div>
	</div>

	<div class="row">
		<div class="columns small-6">
			{{#donations-statistic}}
				{{> 01-molecules/06-components/12-statistic-display-with-local-lightbox}}
			{{/donations-statistic}}
		</div>

		<div class="columns small-6">
			{{#invitations-statistic}}
				{{> 01-molecules/06-components/10-statistic-display}}
			{{/invitations-statistic}}
		</div>
	</div>
</div>

{{> 01-molecules/10-lightbox/11-countries-lightbox-for-portfolio}}
