<div class="row bottom-rule">
	<div class="columns large-6">
		loans stat
	</div>

	<div class="columns large-6">
		countries stat
	</div>
</div>

<div class="row">
	<div class="columns large-6">
		donations stat
	</div>

	<div class="columns large-6">
		invitees stat
	</div>
</div>