<div class="recent-updates">
    <h2 class="scalable">Recent updates for my loans <a href="{{all_updates_url}}">See all</a></h2>

    {{#recent_updates}}
        {{> 01-molecules/40-portfolio/04-loan-update }}
    {{/recent_updates}}

    <div class="row bottom-rule"></div>
</div>
