<div class="distribution-table">
	<table>
		<tbody>
			{{#distribution-rows}}
				{{> 01-molecules/40-portfolio/04-distribution-table-row }}
			{{/distribution-rows}}
		</tbody>
	</table>
	{{#show_more}}<a class="show-more-link" href="#">Show {{number}} more</a>{{/show_more}}
</div>