<aside class="portfolio-story-exp">
	<div class="portfolio-story-exp__content">
		{{^is_loading}}
			{{#img}}
				<picture style="height: {{height}}px; width: {{width}}px; border-radius: {{radius}}" class="portfolio-story-exp__picture">
					<source type="image/webp"
							srcset="{{url}}w={{width_2x}}&h={{height_2x}}&fm=webp&q=65 2x,
					{{url}}w={{width}}&h={{height}}&fm=webp&q=80 1x">
					<img class="portfolio-story-exp__img"
						 alt="{{alt}}"
						 loading="lazy"
						 width="{{width}}"
						 height="{{height}}"
						 src="{{url}}w={{width}}&h={{height}}&fm=jpg&q=80"
					srcset="{{url}}w={{width_2x}}&h={{height_2x}}&fm=jpg&q=65 2x,
					{{url}}w={{width}}&h={{height}}&fm=jpg&q=80 1x">
				</picture>
			{{/img}}
			<div class="portfolio-story-exp__headlines">
				<h1 class="portfolio-story-exp__headline">{{{headline}}}</h1>
				<p class="portfolio-story-exp__subhead">{{{subhead}}}</p>
			</div>
			<div class="portfolio-story-exp__body">
				{{{body}}}
			</div>
		{{/is_loading}}
		{{#is_loading}}
			<div class="loading-spinner">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		{{/is_loading}}
	</div>
</aside>
