{{#is_matched}}
	<div class="matching-message">
		<svg class="icon icon-match"><use xlink:href="#icon-match"/></svg>
		<span data-tooltip aria-haspopup="true" title="{{matching_text}}">{{matching_text}}</span>
	</div>
{{/is_matched}}

{{#can_favorite}}
	<div class="show-for-large-up">
		<a data-tooltip aria-haspopup="true" title="Star this loan to find it quickly later. You can view and manage your starred loans in the ‘Lend’ tab above." href="#" class="has-tip tip-left favorite-link{{#is_favorite}} is-favorite{{/is_favorite}}">
			<svg class="icon icon-star"><use xlink:href="#icon-star"/></svg>
		</a>
	</div>
	<div class="show-for-medium-down">
		<a title="Star this loan to find it quickly later. You can view and manage your starred loans in the ‘Lend’ tab above." href="#" class="has-tip tip-left favorite-link{{#is_favorite}} is-favorite{{/is_favorite}}">
			<svg class="icon icon-star"><use xlink:href="#icon-star"/></svg>
		</a>
	</div>
{{/can_favorite}}