<div class="team-attributions">
    <h2>Teams</h2>
    <div class="attribution-title">Most loans attributed</div>
    {{#teams}}
        {{> 01-molecules/40-portfolio/02-single-team-display}}
    {{/teams}}
</div>