<div class="loan-stats-section">
    <h2 class="section-header">
        <span class="section-title {{sectionLabel}}-title">{{sectionTitle}}</span>
        <span class="lent-count">{{numLentTo}}/{{totalNum}}</span>
    </h2>
    <div class="row sub-title">
        <div class="small-6 columns">
            You've lent to
        </div>
        <div class="small-6 columns">
            {{#sectionListNotLentTo.0}}
                You haven't lent to
            {{/sectionListNotLentTo.0}}
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <ul class="small-block-grid-1 large-block-grid-2">
                {{#sectionListLentTo}}
                    <li>
                        <span class="collection-icon">
                            {{#iconURL}}
                                <img src="{{iconURL}}">
                            {{/iconURL}}
                            {{^iconURL}}
                                {{#countryCode}}
                                    <span class="f16 {{countryCode}}"></span>
                                {{/countryCode}}
                                {{^countryCode}}
                                    {{#sectorName}}
                                        <svg class="icon icon-sector-{{sectorName}}">
                                            <use xlink:href="#icon-sector-{{sectorName}}"/>
                                        </svg>
                                    {{/sectorName}}
                                    {{^sectorName}}
                                        <svg class="icon icon-leaf">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-leaf"></use>
                                        </svg>
                                    {{/sectorName}}
                                {{/countryCode}}
                            {{/iconURL}}
                        </span>
                        <a class="small-text" href="{{labelLink}}">{{label}}</a>
                    </li>
                {{/sectionListLentTo}}
            </ul>
        </div>
        <div class="small-6 columns">
            <ul class="small-block-grid-1 large-block-grid-2">
                {{#sectionListNotLentTo}}
                    <li>
                        <span class="collection-icon">
                            {{#iconURL}}
                                <img src="{{iconURL}}">
                            {{/iconURL}}
                            {{^iconURL}}
                                {{#countryCode}}
                                    <span class="f16 {{countryCode}}"></span>
                                {{/countryCode}}
                                {{^countryCode}}
                                    {{#sectorName}}
                                        <svg class="icon icon-sector-{{sectorName}}">
                                            <use xlink:href="#icon-sector-{{sectorName}}"/>
                                        </svg>
                                    {{/sectorName}}
                                    {{^sectorName}}
                                        <svg class="icon icon-leaf">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-leaf"></use>
                                        </svg>
                                    {{/sectorName}}
                                {{/countryCode}}
                            {{/iconURL}}
                        </span>
                        <a class="small-text" href="{{labelLink}}">{{label}}</a>
                    </li>
                {{/sectionListNotLentTo}}
                {{^sectionListNotLentTo}}
                    <span class="all-completed-icon-wrapper">
                        <svg class="icon icon-confirmation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-confirmation"></use>
                        </svg>
                        Great job!
                    </span>
                {{/sectionListNotLentTo}}
            </ul>
        </div>
    </div>

    <div class="ac-body" id="ac-more-{{sectionLabel}}-body" aria-hidden="true">
        <div class="row">
            <div class="small-6 columns">
                <ul class="small-block-grid-1 large-block-grid-2">
                    {{#spilloverSectionListLentTo}}
                        <li>
                            <span class="collection-icon">
                                {{#iconURL}}
                                    <img src="{{iconURL}}">
                                {{/iconURL}}
                                {{^iconURL}}
                                    {{#countryCode}}
                                        <span class="f16 {{countryCode}}"></span>
                                    {{/countryCode}}
                                    {{^countryCode}}
                                        {{#sectorName}}
                                            <svg class="icon icon-sector-{{sectorName}}">
                                                <use xlink:href="#icon-sector-{{sectorName}}"/>
                                            </svg>
                                        {{/sectorName}}
                                        {{^sectorName}}
                                            <svg class="icon icon-leaf">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-leaf"></use>
                                            </svg>
                                        {{/sectorName}}
                                    {{/countryCode}}
                                {{/iconURL}}
                            </span>
                            <a class="small-text" href="{{labelLink}}">{{label}}</a>
                        </li>
                    {{/spilloverSectionListLentTo}}
                </ul>
            </div>
            <div class="small-6 columns">
                <ul class="small-block-grid-1 large-block-grid-2">
                    {{#spilloverSectionListNotLentTo}}
                        <li>
                            <span class="collection-icon">
                                {{#countryCode}}
                                    <span class="f16 {{countryCode}}"></span>
                                {{/countryCode}}
                                {{^countryCode}}
                                    {{#sectorName}}
                                        <svg class="icon icon-sector-{{sectorName}}">
                                            <use xlink:href="#icon-sector-{{sectorName}}"/>
                                        </svg>
                                    {{/sectorName}}
                                    {{^sectorName}}
                                        <svg class="icon icon-leaf">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-leaf"></use>
                                        </svg>
                                    {{/sectorName}}
                                {{/countryCode}}
                            </span>
                            <a class="small-text" href="{{labelLink}}">{{label}}</a>
                        </li>
                    {{/spilloverSectionListNotLentTo}}
                </ul>
            </div>
        </div>
        <p class="ac-title black-underlined text-center hide-more-loan-stats-{{sectionLabel}}" data-kv-accordion aria-controls="ac-more-{{sectionLabel}}-body" aria-expanded="false">
            Hide
        </p>
    </div>

    {{#showSpilloverMessageForSection}}
        <p class="row ac-title black-underlined text-center show-more-loan-stats-{{sectionLabel}}" data-kv-accordion aria-controls="ac-more-{{sectionLabel}}-body" aria-expanded="false">
            Show more
        </p>
    {{/showSpilloverMessageForSection}}
    {{#lendingLink}}
        <div class="row lend-link-btn">
            <a href="{{lendingLink}}" class="button secondary">Lend to a new {{buttonLabel}}</a>
        </div>
    {{/lendingLink}}
    <div class="row bottom-rule section-end">&nbsp;</div>
</div>
