<div class="my-loans-lent-stats">
    <ul class="small-text small-block-grid-2 large-block-grid-3">
        {{#myLoansLentStats}}
            <li>
				<span class="stat-label">
					{{label}}
				</span>
				<span class="stat-value">
					{{amount}}
				</span>
            </li>
        {{/myLoansLentStats}}
    </ul>
</div>