<div class="row my-loans-lent-stats">
    <ul class="small-block-grid-2 large-block-grid-3">
        {{#myLoansLentStats}}
            <li>
                <div class="row">
                    <span class="small-9 columns stat-label">
                        {{label}}
                    </span>
                    <span class="text-right small-2 columns">
                        <b>{{amount}}</b>
                    </span>
                    <span class="small-1 columns"></span>
                </div>
            </li>
        {{/myLoansLentStats}}
    </ul>
</div>