<div class="sg-element-description">Small text / Footer text</div>
<p class="small-text">{{excerpt.short}}</p>

<div class="sg-element-description">Body text</div>
<p>{{excerpt.short}}</p>

<div class="sg-element-description">Featured text</div>
<p class="featured">{{excerpt.short}}</p>

<div class="sg-element-description">Overlay text</div>
<p class="overlay">{{excerpt.short}}</p>

<div class="sg-element-description">Slide Overlay Long</div>
<p class="slide-overlay-long">{{slide-overlay.long}}</p>

<div class="sg-element-description">Slide Overlay Short</div>
<p class="slide-overlay-short">{{slide-overlay.short}}</p>

<div class="sg-element-description">Slide Overlay Very Short</div>
<p class="slide-overlay-very-short">{{slide-overlay.very-short}}</p>

<div class="sg-element-description" style="background-color: inherit">Top Nav</div>
<p class="top-nav">{{nav-text}}</p>

<div class="sg-element-description">Page Title</div>
<p class="page-title">Women</p>

<div class="sg-element-description">Secondary Nav</div>
<p class="secondary-nav">Fund a loan. Get repaid. Fund another.</p>

<div class="sg-element-description">Section head (h2)</div>
<h2>{{headline.short}}</h2>

<div class="sg-element-description">Headline (h1)</div>
<h1>{{headline.short}}</h1>

<div class="sg-element-description">Impact text</div>
<p class="impact">{{headline.short}}</p>

<div class="sg-element-description">Huge Headline (h1.huge)</div>
<h1 class="huge">What makes us unique</h1>

<div class="sg-element-description">Statistic</div>
<p class="statistic">{{decimal.medium}}</p>

<div class="sg-element-description">Huge Statistic</div>
<p class="huge-statistic">75%</p>


