<div class="sg-element-description responsive-line-breaks">Screen-size-specific line breaks</div>

<p>This line will break <br class="so"><i>here</i> on small screens only</p>

<p>This line will break <br class="mo"><i>here</i> on medium screens only</p>

<p>This line will break <br class="lo"><i>here</i> on large screens only</p>

<p>This line will break <br class="xlo"><i>here</i> on x-large screens only</p>

<p>This line will break <br class="xxlo"><i>here</i> on xx-large screens only</p>

<p>This line will break <br class="smo"><i>here</i> on small and medium screens only</p>

<p>This line will break <br class="lu"><i>here</i> on large screens and up</p>
