<div class="loan-row row small-collapse">
	<div class="loan-image small-2 columns">
		<a class="img thumb" href="{{ loan.url }}">
			<img data-interchange="[{{ loan.image.url }}, (default)], [{{ loan.image.url_2x }}, (retina)]" alt="{{ loan.name }}" title="{{ loan.name }}">
			<noscript><img src="{{ loan.image.url }}" alt="{{ loan.name }}" title="{{ loan.name }}"></noscript>
		</a>
	</div>
	<div class="loan-details small-7 columns">
		<!-- needs to flip to red when reservation is close to expiring -->
		<p class="loan-reservation small-text">Reserved for 45 more minutes.</p>
		<h2 class="loan-title">{{ loan.name }}</h2>
		<p class="loan-country small-text">{{ loan.location.country.name }} / {{ loan.sector.name }}</p>
		<p class="loan-sponsor small-text">{{ loan.sponsor_name }}</p>
	</div>

	<!--
	<div class="loan-extra-info">
		<div class="reward-credit" style="display: none;"></div>
		<div class="daf-credit"></div>
	</div>
	-->

	<div class="loan-totals small-3 columns">
		<form id="select-{{ loan.id }}">
			{{> 02-organisms/60-checkout/04-loan-amount-selector}}
		</form>
		<a kvtrackevent="Checkout|click-Remove item|Loan" href="#" class="small-text remove-loan">Remove</a>
	</div>
</div>
