<div class="is-special">
    <section class="ac-container">
        <div>
            <input class="ac-input" id="ac-loan-special" name="accordion-1" type="checkbox" checked/>
            <label class="ac-title" for="ac-loan-special" data-kv-accordion aria-controls="ac-loan-special-body" aria-expanded="true">
                This loan is special because:
                <span class="ac-dropdown-icon">
                    <svg class="icon icon-large-chevron">
                        <use xlink:href="#icon-large-chevron"></use>
                    </svg>
                </span>
            </label>
            <article class="ac-body" id="ac-loan-special-body" aria-hidden="false">
                <h2 class="green-bolded">
                    {{specialBody}}
                </h2>

                <div class="kivan">
                    <div class="profile-photo">
                        <img src="{{profilePhotoHref}}">
                    </div>
                    <div class="show-for-small-only">
                        <p>
                            {{kivan.name}}, {{kivan.title}}
                        </p>
                    </div>
                    <div class="show-for-medium-up">
                        <div>
                            {{kivan.name}}
                        </div>

                        <div>
                            {{kivan.title}}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>