<div class="current-status-meter {{#isWarningStatus}}warning{{/isWarningStatus}}">
	{{#status}}
		<h2 class="green-bolded inline">
			{{status}}
		</h2>
	{{/status}}

	{{#showRaisedInfo}}
		<div class="amount-raised">
			<h2 class="green-bolded inline">
				{{meterAmountPercent}}%
			</h2>
			<div class="inline">{{raisedVerb}}</div>
		</div>
        <div class="goal-stats">
            <div class="days-left-stat {{#isExpiringSoon}}warning{{/isExpiringSoon}}">{{loanLengthMessage}}</div>
            <div class="amount-to-go-stat">${{amountLeft}} to go</div>
            <div style="clear: both;"></div>
        </div>
		<div class="fundraising-meter progress">
			<span class="meter" style="width: {{meterAmountPercent}}%"></span>
		</div>
	{{/showRaisedInfo}}

	<div class="raised-info row">
		<div class="loan-total">
			Total loan: ${{totalLoanAmount}}
		</div>
		{{#lenderCount}}
			<a kvtrackevent="Borrower Profile|click-powered by" href="{{profileLink}}#lenders-teams" class="lender-count black-underlined">
				{{#expiredAndNoDisbursalDate}}
					Supported by {{lenderCount}} lenders
				{{/expiredAndNoDisbursalDate}}
				{{^expiredAndNoDisbursalDate}}
					Powered by {{lenderCount}} lenders
				{{/expiredAndNoDisbursalDate}}
			</a>
		{{/lenderCount}}
	</div>
</div>