<div class="loan-gist">
    <h2 class="group-name">{{groupName}}</h2>

    <div>
        <div class="country-image">
            <img class="" src="../../images/flags/{{countryISOCode}}.svg" alt="{{countryName}}">
        </div>
        <div class="country-text">
            <a href="#country-section" class="black-underlined">{{city}}, {{countryName}}</a>/{{sectorName}}
        </div>
    </div>
</div>

