<section class="loan-details ac-container">
    <h2>Loan details</h2>
    <div class="loan-term">
        <svg class="icon icon-recycle"><use xlink:href="#icon-recycle"></use></svg>
        <h2 class="black-underlined">Repayment Term:</h2>
        <div class="green-bolded">{{numberOfMonths}} months</div>
        {{#hasDualStatement}}
            <div>(<a href="#repaymentSchedule">Additional Information</a>)</div>
        {{/hasDualStatement}}
    </div>

    <div class="loan-stats">
        <div class="stat">
            <span class="black-underlined">Repayment schedule:</span>
            <strong>{{repaymentFrequency}}</strong>
        </div>
        <div class="stat">
            <span class="black-underlined">Disbursal date:</span>
            {{#disbursalDate}}
                <strong>{{disbursalDate}}</strong>
            {{/disbursalDate}}
            {{^disbursalDate}}
                <strong>Disbursed after fully funded on Kiva.</strong>
            {{/disbursalDate}}
        </div>
        <div class="stat">
            <span class="black-underlined">Currency exchange loss:</span>
            {{#fieldPartner}}
                <strong>{{currencyExchangeLoss}}</strong>
            {{/fieldPartner}}
            {{^fieldPartner}}
                <strong>N/A</strong>
            {{/fieldPartner}}
        </div>
        <div class="stat">
            <span class="black-underlined">
                {{#fieldPartner}}
                    Facilitated by Field Partner:
                {{/fieldPartner}}
                {{^fieldPartner}}
                    {{#trustee}}
                        Endorsed by Trustee:
                    {{/trustee}}
                    {{^trustee}}
                        Not Facilitated by a Field Partner or Trustee
                    {{/trustee}}
                {{/fieldPartner}}
            </span>
            <strong>{{fieldPartner}}{{trustee}}</strong>
        </div>
        <div class="stat">
            <span class="black-underlined">Is borrower paying interest?</span>
            <strong>
                {{#borrowerPayingInterest}}
                    Yes
                {{/borrowerPayingInterest}}
                {{^borrowerPayingInterest}}
                    No
                {{/borrowerPayingInterest}}
            </strong>
        </div>
        {{#fieldPartner}}
            <div class="stat">
                <span class="black-underlined">Field Partner risk rating:</span>
                <strong class="risk-rating">
                    {{#stars}}
                        {{#isFullStar}}
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        {{/isFullStar}}
                        {{#isHalfStar}}
                            <svg class="icon icon-half-star"><use xlink:href="#icon-half-star"></use></svg>
                        {{/isHalfStar}}
                        {{#isEmptyStar}}
                            <svg class="icon icon-star empty-star"><use xlink:href="#icon-star"></use></svg>
                        {{/isEmptyStar}}
                    {{/stars}}
                </strong>
            </div>
        {{/fieldPartner}}
        {{^fieldPartner}}
            <div class="stat">
                <span class="black-underlined">Risk rating:</span>
                <strong>N/A</strong>
            </div>
        {{/fieldPartner}}
    </div>
</section>