<section class="loan-details">
    <div class="ac-title ac-container" data-kv-accordion aria-controls="ac-loan-details-body{{#right}}-right{{/right}}" aria-expanded="true">
        <h2>
            Loan details
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
    </div>
    <div class="ac-body" id="ac-loan-details-body{{#right}}-right{{/right}}" aria-hidden="false">
        <div class="loan-term print-5 columns">
            <svg class="icon icon-recycle"><use xlink:href="#icon-recycle"></use></svg>
			<h2><a kvtrackevent="Borrower Profile|click-loan details" href="#" id="repayment-term" class="black-underlined" data-reveal-id="repayment-term-lightbox">Loan length</a>:</h2>
            <div class="green-bolded">{{repaymentTerm}} months</div>
            {{#hasDualStatement}}
                <div>(<a class="black-underlined" data-reveal-id="repayment-schedule-tables">Additional information</a>)</div>
            {{/hasDualStatement}}
        </div>

        <div class="loan-stats print-7 columns">
            <div id="repayment-schedule" class="stat">
                <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="repayment-schedule-lightbox">Repayment schedule</a>:
                <strong>{{repaymentFrequency}}</strong>
            </div>
            <div id="disbursed-date" class="stat">
                <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="disbursed-date-lightbox">Disbursed date</a>:
                {{#disbursalDate}}
                    <strong>{{disbursalDate}}</strong>
                {{/disbursalDate}}
                {{^disbursalDate}}
                    {{#expiredAndNoDisbursalDate}}
                        <strong>Not disbursed, expired before fully funding.</strong>
                    {{/expiredAndNoDisbursalDate}}
                    {{^expiredAndNoDisbursalDate}}
                        <strong>Disbursed after fully funded on Kiva.</strong>
                    {{/expiredAndNoDisbursalDate}}
                {{/disbursalDate}}
            </div>
            <div id="currency-exchange-loss" class="stat">
                <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="currency-exchange-loss-lightbox">Currency exchange loss</a>:
                <strong>{{currencyExchangeLossScenario}}</strong>
            </div>
            <div id="field-partner" class="stat">
                {{#fieldPartner}}
                    <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="facilitated-or-endorsed-by-lightbox">Facilitated by Field Partner</a>:
                    <strong>{{fieldPartner}}</strong>
                {{/fieldPartner}}
                {{^fieldPartner}}
                    {{#trustee}}
                        <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="facilitated-or-endorsed-by-lightbox">Endorsed by Trustee</a>:
                        <strong>{{trusteeName}}</strong>
                    {{/trustee}}
                    {{^trustee}}
                        <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="facilitated-or-endorsed-by-lightbox">Not facilitated by a Field Partner or Trustee</a>
                    {{/trustee}}
                {{/fieldPartner}}
            </div>
            <div id="borrower-paying-interest" class="stat">
                <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="borrower-paying-interest-lightbox">Is borrower paying interest</a>?
                <strong>
                    {{#borrowerPayingInterest}}
                        Yes
                    {{/borrowerPayingInterest}}
                    {{^borrowerPayingInterest}}
                        No
                    {{/borrowerPayingInterest}}
                </strong>
            </div>
            {{#fieldPartner}}
                <div id="field-partner-risk-rating" class="stat">
                    <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="risk-rating-lightbox">Field Partner risk rating</a>:
                    <strong class="risk-rating">
                        {{#riskRatingStars}}
                            {{#isFullStar}}
                                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                            {{/isFullStar}}
                            {{#isHalfStar}}
                                <svg class="icon icon-half-star"><use xlink:href="#icon-half-star"></use></svg>
                            {{/isHalfStar}}
                            {{#isEmptyStar}}
                                <svg class="icon icon-star empty-star"><use xlink:href="#icon-star"></use></svg>
                            {{/isEmptyStar}}
                        {{/riskRatingStars}}
						{{^riskRatingStars}}
							N/A
						{{/riskRatingStars}}
                    </strong>
                </div>
            {{/fieldPartner}}
            {{^fieldPartner}}
                <div id="risk-rating" class="stat">
                    <a kvtrackevent="Borrower Profile|click-loan details" class="black-underlined" data-reveal-id="risk-rating-lightbox">Risk rating</a>:
                    <strong>Unrated</strong>
                </div>
            {{/fieldPartner}}

			{{#expiredDate}}
				<div id="expired-date" class="stat">
					<span>Expired:</span>
					<span>{{expiredDate}}</span>
				</div>
			{{/expiredDate}}

			{{#refundedDate}}
				{{^expiredDate}}
					<div id="refunded-date" class="stat">
						<span>Refunded:</span>
						<span>{{refundedDate}}</span>
					</div>
				{{/expiredDate}}
			{{/refundedDate}}

			{{#defaultedDate}}
				{{^refundedDate}}
					{{^expiredDate}}
						<div id="defaulted-date" class="stat">
							<span>Defaulted:</span>
							<span>{{defaultedDate}}</span>
						</div>
					{{/expiredDate}}
				{{/refundedDate}}
			{{/defaultedDate}}

			{{#endedDate}}
				{{^refundedDate}}
					{{^expiredDate}}
						{{^defaultedDate}}
							<div id="ended-date" class="stat">
								<span>Ended:</span>
								<span>{{endedDate}}</span>
							</div>
						{{/defaultedDate}}
					{{/expiredDate}}
				{{/refundedDate}}
			{{/endedDate}}

			{{#loanDetailsHelpText}}
				{{> 01-molecules/10-lightbox/04-help-text-lightbox}}
			{{/loanDetailsHelpText}}
		</div>
    </div>
</section>