<section class="lenders-teams" id="lenders-teams">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-lenders-teams-body" aria-expanded="true">
        Lenders ({{lenderCount}}) & Lending Teams ({{teamCount}})
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <article class="ac-body" id="ac-lenders-teams-body" aria-hidden="false">
        {{#lenders}}
            {{#isAnonymous}}
                <span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true; show_on: large" title="Anonymous" class="circle-avatar" style="background-image:url({{imgUrl}})"></span>
            {{/isAnonymous}}
            {{^isAnonymous}}
                {{#displayTooltip}}
                    <a href="https://www.kiva.org/lender/{{id}}"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true; show_on: large" title="{{firstName}}<br>{{location}}"  class="circle-avatar" style="background-image:url({{imgUrl}})"></span></a>
                {{/displayTooltip}}
                {{^displayTooltip}}
                    <span class="circle-avatar" style="background-image:url({{imgUrl}})"></span>
                {{/displayTooltip}}
            {{/isAnonymous}}
        {{/lenders}}
        {{#teams}}
            {{#displayTooltip}}
                <a href="https://www.kiva.org/team/{{id}}"><span data-tooltip aria-haspopup="true" data-options="show_on:medium;" title="{{teamName}}<br>{{teamType}}<br>{{numLenders}} of {{numTeamMembers}} members"  class="circle-avatar" style="background-image:url({{imgUrl}})"></span></a>
            {{/displayTooltip}}
            {{^displayTooltip}}
                <span class="circle-avatar" style="background-image:url({{imgUrl}})"></span>
            {{/displayTooltip}}
        {{/teams}}
    </article>
</section>