{{^amountInBasket}}
    <div class="mobile-lend-action show-for-medium-down row mobile-lend-action-default">
        {{#alreadyLent}}
            <div id="already-supported-message-mobile" class="columns small-12">You've supported this loan</div>
        {{/alreadyLent}}
        <div class="basket-buttons">
            {{^inBasket}}
                <div class="columns small-4 lend-values-select-wrapper">
                    <svg class="icon icon-large-chevron lend-arrow">
                        <use xlink:href="#icon-large-chevron"></use>
                    </svg>
                    <select class="lend-values-select loan-amount-button">
                        {{#lendValues}}
                            <option name="{{amount}}">${{amount}}</option>
                        {{/lendValues}}
                    </select>
                </div>
                <div class="lend-button-wrapper columns {{#basket.item_count}}small-5{{/basket.item_count}} {{^basket.item_count}}small-8{{/basket.item_count}}">
                    <button class="button lend-action-button lend-button">Lend</button>
                </div>
                <div id="basket-button" class="footer-basket-button columns small-3 {{^basket.item_count}}hide{{/basket.item_count}}">
                    <div class="button">
                        <div class="row" id="basket-text">
                            Basket
                        </div>
                        <div class="row footer-basket-amount">
							{{basket.item_count}}
                        </div>
                    </div>
                </div>
            {{/inBasket}}
            {{#inBasket}}

            {{/inBasket}}
        </div>


    </div>
{{/amountInBasket}}