{{^is_ended}}
	{{^amountInBasket}}
    <div class="mobile-lend-action show-for-medium-down row mobile-lend-action-default">
        {{#alreadyLent}}
            <div id="already-supported-message-mobile" class="columns small-12">You've supported this loan</div>
        {{/alreadyLent}}
        {{#showDAFIneligibility}}
            <div class="columns small-12 not-eligible-message-mobile">Not eligible for promotion. <a class="black-underlined" data-reveal-id="daf-ineligible-lightbox">Learn more</a></div>
        {{/showDAFIneligibility}}
        {{#showFreeTrialIneligibility}}
            <div class="columns small-12 not-eligible-message-mobile">Not eligible for Free Trial. <a class="black-underlined" data-reveal-id="free-trial-ineligible-lightbox">Learn more</a></div>
        {{/showFreeTrialIneligibility}}
        {{#showBonusIneligibility}}
            <div class="columns small-12 not-eligible-message-mobile">Not eligible for Bonus Credit. <a class="black-underlined" data-reveal-id="bonus-ineligible-lightbox">Learn more</a></div>
        {{/showBonusIneligibility}}
        <div class="basket-buttons">
            {{^inBasket}}
                <div class="columns small-4 lend-values-select-wrapper">
                    <svg class="icon icon-triangle lend-arrow">
                        <use xlink:href="#icon-triangle"></use>
                    </svg>
                    <select class="lend-values-select loan-amount-button">
                        {{#freeTrialEligible}}
                            <option value="free">Free $25</option>
                        {{/freeTrialEligible}}
                        {{#lendValues}}
                            <option value="{{amount}}">${{amount}}</option>
                        {{/lendValues}}
                    </select>
                </div>
                <div class="lend-button-wrapper columns {{#basket.item_count}}small-5{{/basket.item_count}} {{^basket.item_count}}small-8{{/basket.item_count}}">
                    <button kvtrackevent="Lending|Add to basket" class="button lend-action-button lend-button">Lend</button>
                </div>
				{{> 01-molecules/15-loan-sections/16-mobile-borrower-profile-basket-button}}
            {{/inBasket}}
            {{#inBasket}}

            {{/inBasket}}
        </div>
    </div>

    {{#lendActionHelpText}}
        {{> 01-molecules/10-lightbox/04-help-text-lightbox}}
    {{/lendActionHelpText}}
	{{/amountInBasket}}
{{/is_ended}}