<div class="lend-action show-for-large-up row">
    <div class="lend-button-wrapper columns small-12">
		<div class="message adding-to-basket lend-button">
        	<img class="loader" src="../../images/loan-card-loader.gif">Adding to basket
        </div>
    </div>
</div>