<div class="mobile-lend-action show-for-medium-down row">
    <div class="basket-buttons">
        {{#showBasket}}
            <div class="in-basket">
                <div id="checkout-button" class="columns small-9">
                    <button class="button">Checkout</button>
                </div>
                <div id="basket-button" class="columns small-3">
                    <div class="button">
                        <div class="row" id="basket-text">
                            Basket
                        </div>
                        <div class="row amount-in-basket">
                            1
                        </div>
                    </div>
                </div>
            </div>
        {{/showBasket}}
    </div>
</div>