<div class="mobile-lend-action show-for-medium-down row">
    <div class="basket-buttons mobile-proceed-to-checkout" style="display: none;">
        <div id="checkout-button" class="columns small-9">
            <button class="button">Checkout</button>
        </div>
		{{> 01-molecules/15-loan-sections/16-mobile-borrower-profile-basket-button}}
	</div>
</div>