<div class="mobile-lend-action show-for-medium-down row">
	 <div class="basket-buttons mobile-already-in-basket" {{^amountInBasket}}style="display: none;"{{/amountInBasket}}>
		<div id="checkout-button" class="columns small-9">
			<button class="button">
				<div class="icon-confirmation-wrapper">
					<svg class="icon icon-confirmation">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-confirmation"></use>
					</svg>
				</div>
				<p class="basket-amount">${{amountInBasket}} in basket</p>
			</button>
		</div>
		{{> 01-molecules/15-loan-sections/16-mobile-borrower-profile-basket-button}}
	</div>
</div>