<div id="basket-button"
	 class="footer-basket-button columns small-3 {{^basket.item_count}}hide{{/basket.item_count}}">
	<div class="button">
		<div class="row" id="basket-text">
			Basket
		</div>
		<div class="row footer-basket-amount">
			{{basket.item_count}}
		</div>
	</div>
</div>
