<section class="loan-story">
	<div class="ac-title ac-container" data-kv-accordion aria-controls="ac-loan-story-body" aria-expanded="true">
		<h2>
			{{#previousLoanDetails}}
				Update on {{borrowerOrGroupName}}
			{{/previousLoanDetails}}
			{{^previousLoanDetails}}
				{{#isAnonymizationLevelFull}}
					Story
				{{/isAnonymizationLevelFull}}
				{{^isAnonymizationLevelFull}}
					{{borrowerOrGroupName}}'s story
				{{/isAnonymizationLevelFull}}
			{{/previousLoanDetails}}
			<span class="ac-dropdown-icon">
				<svg class="icon icon-large-chevron">
					<use xlink:href="#icon-large-chevron"></use>
				</svg>
			</span>
		</h2>
	</div>
	<div class="ac-body" id="ac-loan-story-body" aria-hidden="false">
		{{#storyDescription}}
			<section class="loan-description">
				<p>{{{.}}}</p>
			</section>
		{{/storyDescription}}

		{{#borrowersList}}
			<p>
				{{borrowersList}}<br>
				{{#showNotPicturedMessage}}
					*not pictured
				{{/showNotPicturedMessage}}
			</p>
		{{/borrowersList}}

		<div class="ac-body" id="ac-previous-loan-details-body" aria-hidden="true">
			<section class="previous-loan-details">
				<h2>Previous loan details</h2>
				<p>{{{previousLoanDescription}}}</p>
				{{#showPreviousLoanLink}}
					<a href="{{previousLoanUrl}}">More from {{borrowerOrGroupName}}'s previous loan »</a><br>
					<a href="#" data-reveal-id="successive-concurrent-loans-lightbox">Learn more about successive and concurrent loans</a>
				{{/showPreviousLoanLink}}
				<div class="ac-body" id="ac-all-previous-loan-details-body" aria-hidden="true">
					<section class="all-previous-loan-details">
						{{#allPreviousLoanDescriptions}}
							<p>{{{.}}}</p>
						{{/allPreviousLoanDescriptions}}
					</section>
				</div>
				{{#showAllPreviousLoanDetails}}
					<p class="ac-title black-underlined text-center show-all-previous-loan-details" data-kv-accordion aria-controls="ac-all-previous-loan-details-body" aria-expanded="false">
						Show all previous loans
					</p>
				{{/showAllPreviousLoanDetails}}
			</section>
			<p class="ac-title black-underlined text-center hide-previous-loan-details" data-kv-accordion aria-controls="ac-previous-loan-details-body" aria-expanded="false">
				Hide
			</p>
		</div>
		{{#showPreviousLoanDetails}}
			<p class="ac-title black-underlined text-center show-previous-loan-details" data-kv-accordion aria-controls="ac-previous-loan-details-body" aria-expanded="false">
				Show previous loan details
			</p>
		{{/showPreviousLoanDetails}}

		{{#storyTranslation}}
			<section class="loan-translation ac-container">
				{{#reviewerImageLink}}
					<img class="reviewer-image" src="{{reviewerImageLink}}" alt="Translator profile picture"/>
				{{/reviewerImageLink}}
				<p>
					Translated from {{language}} {{#reviewerName}} by {{{reviewerLink}}} {{reviewerName}}{{/reviewerName}}
					<a class="ac-title black-underlined" data-kv-accordion aria-controls="ac-translation-body" aria-expanded="false">
						View original language description
					</a>
				</p>
				<div class="ac-body" id="ac-translation-body" aria-hidden="true">
					{{#storyDescription}}
						<p>{{{.}}}</p>
					{{/storyDescription}}
				</div>
			</section>
		{{/storyTranslation}}
	</div>
</section>
