<section class="about-zip">
	<div class="ac-title ac-container" data-kv-accordion aria-controls="ac-about-zip-body" aria-expanded="true">
		<h2>
			<div class="ac-title-text">
				About {{businessName}}
			</div>
			<span class="ac-dropdown-icon">
				<svg class="icon icon-large-chevron">
					<use xlink:href="#icon-large-chevron"></use>
				</svg>
			</span>
		</h2>
	</div>
	<div class="ac-body" id="ac-about-zip-body" aria-hidden="false">
		<p>
		{{#industry}}
			Industry: {{industry}}
			<br>
		{{/industry}}

		{{#yearsInBusiness}}
			Years in operation: {{yearsInBusiness}}
			<br>
		{{/yearsInBusiness}}

		{{#websiteUrl}}
			Website: <a href="{{websiteUrl}}" target="_blank">{{displayUrl}}</a></p>
		{{/websiteUrl}}
		</p>

		{{#hasSocialMedia}}
			<span class="icon-label">Follow:</span>
			<ul class="icons socialmedia inline-list">
				{{#facebookUrl}}
				<li class="icon">
					<a href="{{facebookUrl}}" target="_blank" class="icon-facebook">
						<svg class="icon icon-facebook" width="30" height="30">
							<use xlink:href="#icon-facebook"/>
						</svg>
					</a>
				</li>
				{{/facebookUrl}}

				{{#twitterUrl}}
				<li class="icon">
					<a href="{{twitterUrl}}" target="_blank" class="icon-twitter">
						<svg class="icon icon-twitter" width="30" height="30">
							<use xlink:href="#icon-twitter"/>
						</svg>
					</a>
				</li>
				{{/twitterUrl}}

				{{#yelpUrl}}
				<li class="icon">
					<a href="{{yelpUrl}}" target="_blank" class="icon-yelp">
						<svg class="icon icon-yelp" width="30" height="30">
							<use xlink:href="#icon-yelp"/>
						</svg>
					</a>
				</li>
				{{/yelpUrl}}

				{{#linkedInUrl}}
				<li class="icon">
					<a href="{{linkedInUrl}}" target="_blank" class="icon-linkedIn">
						<svg class="icon icon-linkedIn" width="30" height="30">
							<use xlink:href="#icon-linkedIn"/>
						</svg>
					</a>
				</li>
				{{/linkedInUrl}}
			</ul>
		{{/hasSocialMedia}}
	</div>
</section>