<section class="lenders-teams" id="lenders-teams">
	<div class="ac-title ac-container" data-kv-accordion aria-controls="ac-lenders-teams-body" aria-expanded="true">
		<h2>
			Lenders and lending teams
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
		</h2>
	</div>

	{{> molecules-lenders-teams}}

</section>