{{name}}
<a href="#" class="regions-{{#all-selected}}de{{/all-selected}}select small-text">{{#all-selected}}Deselect all{{/all-selected}}{{^all-selected}}Select all{{/all-selected}}</a>

{{#countries}}
	<div class="country filter checkbox-input">
		{{> 02-organisms/05-filters/country-filter-components/country-filter-countries}}
	</div>
{{/countries}}