<input type="checkbox" name="country[]" id="filter-country-{{code}}" value="{{code}}" class="countryCheckbox"/>
<label for="filter-country-{{code}}">
    <span class="f16 {{code}}"></span>
	{{name}} {{facet}}
</label>