<input type="checkbox" name="country[]" id="filter-country-{{code}}" value="{{code}}" class="countryCheckbox" {{#checked}}checked="checked"{{/checked}}/>
<label for="filter-country-{{code}}">
    <span class="f16 {{code}}"></span>
	{{name}}
</label>