<div class="vcard">
	<div class="org">Company Name</div>
	<div class="adr data-hj-suppress">
		<div class="street-address fs-exclude">1234 Main St.</div>
		<span class="locality fs-exclude">Anywhere</span>,
		<span class="postal-code fs-exclude">101010</span>,
		<abbr class="region fs-exclude" title="California">CA</abbr>
		<div class="country-name fs-exclude">U.S.A</div>
	</div>
	<div class="tel fs-exclude data-hj-suppress">+1.888.123.4567</div>
</div>
