<div class="vcard">
	<div class="org">Company Name</div>
	<div class="adr">
		<div class="street-address fs-exclude data-hj-suppress">1234 Main St.</div>
		<span class="locality fs-exclude data-hj-suppress">Anywhere</span>,
		<span class="postal-code fs-exclude data-hj-suppress">101010</span>,
		<abbr class="region fs-exclude data-hj-suppress" title="California">CA</abbr>
		<div class="country-name fs-exclude data-hj-suppress">U.S.A</div>
	</div>
	<div class="tel fs-exclude data-hj-suppress">+1.888.123.4567</div>
</div>
