<div class="do-you-qualify">
	<div class="row">
		<h2 class="small-12 columns">Here's what you need to qualify</h2>
		<div class="small-12 xlarge-6 columns">
			<ul>
				<li>
					<svg class="icon icon-confirmation">
						<use xlink:href="#icon-confirmation"/>
					</svg>
					<div>You must be living in the U.S.</div>
				</li>
				<li>
					<svg class="icon icon-confirmation">
						<use xlink:href="#icon-confirmation"/>
					</svg>
					<div>You must be at least 18 years old</div>
				</li>
				<li>
					<svg class="icon icon-confirmation">
						<use xlink:href="#icon-confirmation"/>
					</svg>
					<div>You must use this loan for business purposes</div>
				</li>
			</ul>
		</div>
		<div class="small-12 xlarge-6 columns">
			<a class="button" href="{{applyUrl}}">See if you qualify</a>
		</div>
	</div>
</div>