<!--All hp related classes are used only for the predefined styles that were created for the homepage (hp) slideshow-->
<div class="bl-slideshow-wrapper hp-slideshow-wrapper">
	<div class="bl-slide">
		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of sandle" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l1-med-retina.jpg, (xxlarge-retina)]
				">
				<div>
					<p class="slide-overlay-long">
						"With a Kiva loan, I've been able to grow my shoe business, create 40 jobs, and work towards saving a million tires."
					</p>
					<p class="slide-overlay-attribution attribution">Kyle
						<span class="attribution-detail"><br>Indosole</span>
					</p>
				</div>
			</div>
		</div>

		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of Kyle" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r1-xxl-retina.jpg, (xxlarge-retina)]
				">
			</div>
		</div>
	</div>

	<div class="bl-slide">
		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of kitchen" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l2-xxl-retina.jpg, (xxlarge-retina)]
				">
				<div>
					<p class="slide-overlay-long">
						"After years of working for someone else, I decided it was time to pursue my dream of bringing the food of my childhood to my new home."
					</p>
					<p class="slide-overlay-attribution attribution">Guadalupe
						<span class="attribution-detail"><br>El Pipila</span>
					</p>
				</div>
			</div>
		</div>

		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of Guadalupe" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r2-xxl-retina.jpg, (xxlarge-retina)]
				">
			</div>
		</div>
	</div>

	<div class="bl-slide">
		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of vine" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l3-xxl-retina.jpg, (xxlarge-retina)]
				">
				<div>
					<p class="slide-overlay-long">
						"Kiva was really good for us because it reached a lot of people outside our network. We were able to see people all around the world supporting us."
					</p>
					<p class="slide-overlay-attribution attribution">Keely
						<span class="attribution-detail"><br>Tiny Roofhop Farm</span>
					</p>
				</div>
			</div>
		</div>

		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of Keely" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r3-xxl-retina.jpg, (xxlarge-retina)]
				">
			</div>
		</div>
	</div>

	<div class="bl-slide">
		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of coffee" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-l4-xxl-retina.jpg, (xxlarge-retina)]
				">
				<div>
					<p class="slide-overlay-long">
						"I have not only been able to accomplish my dream of ownership, but with Kiva lenders' support, I'm moving forward with my dreams of expansion."
					</p>
					<p class="slide-overlay-attribution attribution">Victor
						<span class="attribution-detail"><br>Cafeto Coffee Shop</span>
					</p>
				</div>
			</div>
		</div>

		<div class="hp-element-wrapper">
			<div class="hp-element text-over-image">
				<img alt="Picture of Victor" src="" data-interchange="
					[//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-sm-std.jpg, (default)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-sm-retina.jpg, (retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-med-std.jpg, (medium)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-med-retina.jpg, (medium-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-lg-std.jpg, (large)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-lg-retina.jpg, (large-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-xl-std.jpg, (xlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-xl-retina.jpg, (xlarge-retina)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-xxl-std.jpg, (xxlarge)]
					, [//www-kiva-org.global.ssl.fastly.net/cms/borrow-slideshow-r4-xxl-retina.jpg, (xxlarge-retina)]
				">
			</div>
		</div>
	</div>

	<div class="paging row">
		<div class="bl-arrow bl-prev-arrow">
			<svg class="icon-small-chevron icon">
				<use xlink:href="#icon-small-chevron"/>
			</svg>
		</div>

		<div class="bl-arrow bl-next-arrow">
			<svg class="icon-small-chevron icon">
				<use xlink:href="#icon-small-chevron"/>
			</svg>
		</div>
	</div>

</div>
