<div class="row the-why-wrapper">
	<p class="the-why-text featured text-center small-12 columns">At Kiva, we believe in character over credit and the power of community-based lending. Because of these beliefs, we provide funding opportunities for entrepreneurs where conventional lenders won’t.</p>
</div>
