<!-- This is only an example template, to actually change this section you need to edit the cms page xb/borrower-landing/external-validation -->
<div class="external-validation">
	<div class="row">
		<div class="small-12 xlarge-4 columns">
			<img src="https://www-kiva-org.global.ssl.fastly.net/cms/time-logo.svg" alt="Time">
			<p>&ldquo;The 0% small business loan that's for real.&rdquo;</p>
		</div>
		<div class="small-12 xlarge-4 columns">
			<img src="https://www-kiva-org.global.ssl.fastly.net/cms/fast-company-logo.svg" alt="Fast Company">
			<p>&ldquo;&hellip;less impersonal than the data-driven approach taken by mainstream lenders.&rdquo;</p>
		</div>
		<div class="small-12 xlarge-4 columns">
			<img src="https://www-kiva-org.global.ssl.fastly.net/cms/wired-logo.svg" alt="Wired">
			<p>&ldquo;Best perk: no interest.&rdquo;</p>
		</div>
	</div>
</div>