<div class="hero-wrapper">
	<div class="image-wrapper">
		<img class="full-width-image" alt="Person looking left"
			 data-interchange="
				[/images/borrow/borrow-hero-sm-std.jpg, (default)]
				, [/images/borrow/borrow-hero-sm-retina.jpg, (retina)]
				, [/images/borrow/borrow-hero-med-std.jpg, (medium)]
				, [/images/borrow/borrow-hero-med-retina.jpg, (medium-retina)]
				, [/images/borrow/borrow-hero-lg-std.jpg, (large)]
				, [/images/borrow/borrow-hero-lg-retina.jpg, (large-retina)]
				, [/images/borrow/borrow-hero-xl-std.jpg, (xlarge)]
				, [/images/borrow/borrow-hero-xl-retina.jpg, (xlarge-retina)]
				, [/images/borrow/borrow-hero-xxl-std.jpg, (xxlarge)]
				, [/images/borrow/borrow-hero-xxl-retina.jpg, (xxlarge-retina)]
		">
	</div>
	<div class="start-box-wrapper">
		<div class="row">
			<div class="start-box">
				<h1>Crowdfund your dream, <br class="mu"/>change your life.</h1>
				<p>0% interest loans for <br class="xgau"/>US small businesses</p>
				<div class="button-row">
					<a class="get-started button radius" href="{$applyUrl}">Get started</a>
					<a class="button radius secondary" href="https://kivaportal.force.com/portal/">Continue application</a>
				</div>
			</div>
		</div>
	</div>
</div>
