<div class=" row small-collapse hide-for-xlarge-up" >
    <a href="https://www.kiva.org/lend?sector=1" class="button full-width-button">Make a loan on Kiva</a>
    <p class="text-center">
        There are 28 Labs Mobile loans currently fundraising on Kiva.
    </p>
</div>

<div class="show-for-xlarge-up frame">
    <h2> Make a Labs Mobile loan</h2>
    <p>
        There are 28 Labs Mobile loans currently fundraising on Kiva.
    </p>
    <a href="https://www.kiva.org/lend?" class="button">Find a loan on Kiva</a>
</div>