<div class="row small-collapse  financingAG-full-width-image">
    <img src="/images/leveragingTech/photo.svg">
    <figcaption class="frame financingAG-full-width-image">
       <a href=" ">Paul</a> was one of the first Zoona mobile money agents to grow his business with a Kiva loan.
    </figcaption>
</div>