<div class="row frame">
    <h2 class="kiva-green">The Challenge - Leveraging Mobile Tech</h2>
    <p class="featured">
       Mobile penetration in developing countries is nearly 80%, but this technology has yet to be fully leveraged to improve the lives of the poor on a macro scale. End users remain unaware of the potential, and companies and organizations putting mobile devices to use for social good face serious financial constraints.
    </p>
</div>