<div>
    <hr>
    <section>
            <h2 class="ac-title ac-container " data-kv-accordion aria-controls="ac-learnMore" aria-expanded="true">
                Learn More
                <span class="ac-dropdown-icon">
                    <svg class="icon icon-large-chevron tweak-right-chevron">
                        <use xlink:href="#icon-large-chevron"></use>
                    </svg>
                </span>
            </h2>
            <article class="ac-body" id="ac-learnMore" aria-hidden="false">
                <div class="accordion" >
                    <ul id="learn-more-list">
                        <li  class="small-text">
                            <a href="http://siteresources.worldbank.org/EXTINFORMATIONANDCOMMUNICATIONANDTECHNOLOGIES/Resources/IC4D-2012-Report.pdf" class="acc-handle">Maximizing Mobile (World Bank)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li  class="small-text">
                            <a href=" http://siteresources.worldbank.org/EXTINFORMATIONANDCOMMUNICATIONANDTECHNOLOGIES/Resources/282822-1346223280837/MainReport.pdf" class="acc-handle">The Transformational use of ICT in Africa (World Bank & African Development Bank)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li  class="small-text">
                            <a href="http://siteresources.worldbank.org/INFORMATIONANDCOMMUNICATIONANDTECHNOLOGIES/Resources/MobileApplications_for_ARD.pdf" class="acc-handle">Mobile Applications for Agriculture and Rural Development (World Bank)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li class="small-text">
                            <a href="https://www.kiva.org/cms/financing_higher_edu_africa.pdf " class="acc-handle">Mobile Usage at the Base of the Pyramid in Kenya (World Bank)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li class="small-text">
                            <a href="http://www.ictinagriculture.org/sites/ictinagriculture.org/files/mbop_kenyasa_web.pdf" class="acc-handle">Mobile Usage at the Base of the Pyramid in South Africa(World Bank)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
            <hr>
    </section>
</div>
