<div class="row frame">
    <hr class="hide-for-xlarge-up">
    <section>
        <h2 class="ac-title ac-container " id="padding-xlarge-view" data-kv-accordion aria-controls="ac-Problem1" aria-expanded="true">
            The Problem
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem1" aria-hidden="false">
            <p>
                Social enterprises promoting mobile technology solutions don’t have the resources to reach into remote regions where they could make the biggest difference. While mobile money transactions are taking off with the popularity of services like M-Pesa, the upfront cost of opening mobile money franchises remains high. Prospective customers are unaware of the amount of money and time they could save despite the high upfront costs of mobile devices. There’s a high barrier to entry and limited services for people who want to lend and borrow money person-to-person via mobile phone.
            </p>
            <p>
                Combined, all of these factors are holding back a revolution waiting to happen. With rapid, grassroots growth on its side, mobile technology is poised to change the lives of the poor.
            </p>
            <p><strong>Proposed Solutions</strong></p>
            <p>
               Person-to-person lending via mobile. Kiva’s pilot project in direct, person-toperson lending – Kiva Zip – is pioneering crowd-sourced mobile credit. Today, borrowers in Kenya, endorsed by trustees, can post their profiles and business plans to Kiva Zip and raise loans – all disbursed and administered over mobile phone.
            </p>
            <p>
               Loans for retailers and franchises. By providing credit to entrepreneurs who want to open their own mobile money transaction kiosks, become community knowledge workers, or sell affordable mobile air-time, we can extend mobilebased services into remote regions, and reach people who would have never had access to these services otherwise. At the same time, we can save these end-users the time and cost of traveling to cities to send money, pay their bills or gather agricultural information.
            </p>
            <p>
                Loans for mobile applications. Loans for mobile technology extend to applications like accounting software and bill pay apps that can be used to streamline businesses, improve efficiency and generate more income.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Success" aria-expanded="true">
            What is success?
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Success" aria-hidden="false">
            <p>
                We want to see millions of mobile phones deployed for social good. We define success as:
                    <ul class="ul-indent">
                        <li>Acceleration of adoption: Even more mobile phones everywhere around the world, internet-enabled and affordable to everyone.</li>
                        <li>Last-mile expansion: Penetration of mobile technology into even the most remote regions of the world, connecting these communities to the global economy.</li>
                        <li>New products and services: More organizations designing mobile-based applications to make a difference.</li>
                    </ul>
            </p>
        </div>
    </section>
    <hr class="show-for-xlarge-up">
</div>