{{> 02-organisms/60-checkout/02-empty-basket}}

<div id="basket-contents" class="basket-contents columns">
	<div id="loan-region">
		<ul id="loan-items" class="list-items">
			{{#pl_loans}}
				<li>
					{{> 02-organisms/60-checkout/03-loan-item}}
				</li>
			{{/pl_loans}}
		</ul>
	</div>

	<div id="kiva-card-region">
		<ul id="kiva-cards" class="list-items">
			{{#pl_kiva_cards}}
				<li></li>
			{{/pl_kiva_cards}}
		</ul>
	</div>

	<div id="donation-items-region">
		<ul id="donation-items" class="list-items">
			{{#pl_donation_items}}
				<li></li>
			{{/pl_donation_items}}
		</ul>
	</div>

	<div id="donation-ui-region">
		{{#is_nudge}}
			{{#pl_nudge_donation}}
				{{> 02-organisms/60-checkout/05-donation-edit-ui}}
			{{/pl_nudge_donation}}
		{{/is_nudge}}
		{{^is_nudge}}
			{{#pl_simple_donation}}
				{{> 02-organisms/60-checkout/07-mobile-donation-ui}}
			{{/pl_simple_donation}}
		{{/is_nudge}}
	</div>

	<div id="totals-region">
		{{#pl_totals}}
			{{> 02-organisms/60-checkout/06-checkout-totals}}
		{{/pl_totals}}
	</div>

</div><!--basketContents-->

<div id="basket-operations" class="basket-operations">
	<!--
	<div class="kiva-card">
		<form id="addGiftRedemptionForm" action="https://www.dev.kiva.org/basket" method="GET">
			<div class="label-wrapper">
				<label class="fL" for="addGiftRedemption">
					<span class="bigger">Have a Kiva Card?</span>
					<a kvtrackevent="Basket|gift-code-help" href="#" class="black-underlined" data-reveal-id="gift-code-help">Help</a>
				</label>
			</div>

			<div class="input-wrapper">
				<input type="text" id="addGiftRedemption" name="addGiftRedemption">
				<button class="fL" type="submit">Apply Kiva Card</button>
			</div>
		</form>
	</div>
	-->
	
	<div class="basket-buttons show-for-large-up">
		<form id="my-basket-form" action="/basket/process" method="post">
			<input type="hidden" name="donation-total" id="donation-total" value="3.75">
			<button type="submit" id="basket-continue" class="bigger" name="checkout_img" data-kv-trackevent="basket.continueBtn">Continue</button>
		</form>
	</div>

	<!--
	<div class="basketInfo">
		<div class="newFindMoreLoansWrapper">
			<a href="{{ lend_link }}" class="newFindMoreLoans bigger" name="checkout_img" data-kv-trackevent="basket.findMoreLoanBtn">Find more loans</a>
		</div>

		<div id="kiva_credit_remaining" class="kivaCreditRemainingDiv" style="display: none;">
			<p>You still have  <span id="kiva_credit_remaining_amount">$0.00</span> Kiva credit to use.
			<br><span kvtrackevent="Checkout|click-Donate remaining credit" id="donate_remaining_credit" style="display: none;"><a id="dontate_remaining_credit_action" href="#">Donate remaining credit to Kiva</a></span></p>
		</div>
	</div>
	-->
</div>






