<div class="row">
	<div class="columns monthly-good monthly-good-landing">
		<p>Monthly Good <strong>landing</strong> page placeholder</p>

		<p>
			<div class="mg-deposit-amount-input-wrapper">
				<input class="mg-deposit-amount-input" type="text" maxlength="9" placeholder="$" value="$25" data-abide-validator="currency" data-min-amount="5.00" data-max-amount="10000" required="">
			</div>
		<a class="button join-monthly-good" href="{{confirm_href}}">Join Monthly Good</a></p>

		<p>go to <a href="{{billing_href}}">billing page</a></p>
	</div>
</div>
