<div class="row">
	<div class="columns monthly-good monthly-good-landing">
		<p>Monthly Good <strong>landing</strong> page placeholder</p>

		<p><a class="button" href="{{confirm_href}}">Join Monthly Good</a></p>

		<p>go to <a href="{{billing_href}}">billing page</a></p>
	</div>
</div>
