<div class="row">
	<div class="columns  monthly-good monthly-good-confirm">
		<p>Monthly Good <strong>confirm</strong> page placeholder</p>

		<p>go to <a href="{{billing_href}}">billing page</a></p>
	</div>
</div>
