<div class="row">
	<div class="columns monthly-good monthly-good-billing">
		<h1 class="impact text-center kiva-green">
				Almost done
		</h1>

		<p class="text-center featured">Review and authorize transaction with PayPal.</p>

		<div class="panel zigzag-bottom">
			<p class="text-center">each month on the {{deposit_date}}
			we'll process the following:</p>

		</div>

		<p class="text-center">go to <a href="{{thanks_href}}">thanks page</a></p>
	</div>
</div>
