<div class="row">
	<div class="columns monthly-good monthly-good-setup">
		<h1 class="impact text-center kiva-green">
				Confirm your Good
		</h1>

		<p class="text-center featured">
			Review and set up your
			<br class="smo">monthly <br class="lo">contribution
			<br class="smo">with PayPal
			<br>
		</p>

		<div class="panel zigzag-bottom">
			<div class="monthly-good-form-inputs">
				{{#is-standalone}}
					{{> 02-organisms/60-monthly-good/01-monthly-good-inputs}}
				{{/is-standalone}}
			</div>

			<p class="text-center"><em>Rest easy, you can cancel anytime.</em></p>
		</div>
	</div>
</div>
