<p>
	<strong>Improving your application</strong>
</p>
<p>Your application has been held back because it does not yet meet the minimum requirements. To advance your application, please review the application requirements and make the necessary improvements to your profile.</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/your-application">View requirements</a>
</div>