<p>
	<strong>Lend to another entrepreneur like you</strong>
</p>
<p>If you haven’t already done so, we encourage you to make a loan to another fundraising entrepreneur on Kiva. This will help you better understand the lending experience for your supporters, as well as show us your commitment to our community.</p>

<div class="text-center">
	<a class="whats-next-action" href="https://www.kiva.org/lend/kiva-u-s">Browse loans</a>
</div>