<p>
	<strong>Use your business' social media</strong>
</p>
<p>Having a link to your Kiva page on your business website, Facebook page, Twitter, etc. is a great way to direct people to your loan. Reach out to your customers and share your link on all promotional materials to market your business and your loan at the same time.</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/fundraising-disbursals">Learn more</a>
</div>