<p>
	<strong>Receiving your loan</strong>
</p>
<p>Your loan will be disbursed to your PayPal account within <strong>5-7 business days</strong>. Your first repayment will typically be due on PayPal <strong>one month</strong> after the disbursal of your loan, unless you have a grace period. Please ensure that your PayPal account is linked to your bank account so you can easily transfer the funds from PayPal into your account.</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/fundraising-disbursals">Learn more</a>
</div>