<p>
	<strong>Updating lenders leads to loyal customers</strong>
</p>
<p>Your lenders would love to hear how business is going! Click the link below to tell them how you’ve used the loan, how it has impacted your business, how things have been progressing, and or what your plans are for the future.</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kiva.org/my/borrower/update">Update your lenders</a>
</div>