<div class="row small-collapse  financingAG-full-width-image">
    {{> 00-atoms/04-images/01-landscape-4x3 }}
    <figcaption class="frame financingAG-full-width-image">
        Biodigesters made by <a href="http://sistemabiobolsa.com/?lang=en">Sistema Biobolsa</a> convert livestock waste into energy and fertilizer.
    </figcaption>
</div>
