<div>
    <hr>
    <section>
            <h2 class="ac-title ac-container " data-kv-accordion aria-controls="ac-learnMore" aria-expanded="true">
                Learn More
                <span class="ac-dropdown-icon">
                    <svg class="icon icon-large-chevron tweak-right-chevron">
                        <use xlink:href="#icon-large-chevron"></use>
                    </svg>
                </span>
            </h2>
            <article class="ac-body" id="ac-learnMore" aria-hidden="false">
                <div class="accordion" >
                    <ul id="learn-more-list">
                        <li  class="small-text">
                            <a href=" " class="acc-handle">Up in Smoke: The Influence of Household Behavior on Long Run Impact of Improved Cooking Stoves (MIT)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li  class="small-text">
                            <a href=" " class="acc-handle">Women, gender equality and climate Change (UN WomenWatch)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li  class="small-text">
                            <a href=" " class="acc-handle">Poor People's Energy Outlook 2012 (Practical Action)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li class="small-text">
                            <a href=" " class="acc-handle">Intra-household Externalities and Low Demand for a New Technology</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                        <li class="small-text">
                            <a href=" " class="acc-handle">Calabashes for Kilowatt-hours: Rural Energy and Market Failure (Energy Policy)</a>
                            <div class="acc-panel">
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
            <hr>
    </section>
</div>
