<div data-equalizer data-equalizer-mq="xlarge-up">
        <div class="small-12  xlarge-8 columns dark-ghost-background page-padding" data-equalizer-watch>
            <div class="row">
                <div class="small-12 xlarge-12">
                    {{> 02-organisms/22-energyGap/energyGap-accordion}}
                    {{> 01-molecules/06-components/14-loan-counter}}
                </div>
            </div>
        </div>
        <div class="small-12 xlarge-4 columns platinum-background page-padding" data-equalizer-watch>
            <div class="row">
                <div class="small-12 xlarge-12">
                    {{> 01-molecules/06-components/13-sidebar-photo-with-caption2}}
                    {{> 01-molecules/06-components/09-learn-more-link-list}}
                </div>
            </div>
        </div>
</div>