<div class="row frame">
    <h2 class="kiva-green">The Challenge -Closing the Energy Gap</h2>
    <p class="featured">
        Off the grid, the vast majority of people depend on kerosene, diesel, charcoal and burning wood for light and heat — all sources of energy that have been used for generations. But these sources are also expensive, dirty and dangerous. Indoor air pollution from household cooking fires has even been cited as the leading environmental cause of death in the world. This is an area with incredible potential for change, but there are high barriers.
    </p>
</div>
