<div class="row small-collapse  financingAG-full-width-image">
    <img src="/images/energyGap/energyGap_small.svg">
    <figcaption class="frame financingAG-full-width-image">
        Biodigesters made by <a href="http://sistemabiobolsa.com/?lang=en">Sistema Biobolsa</a> convert livestock waste into energy and fertilizer.
    </figcaption>
</div>
