<div class="row frame">
    <hr class="hide-for-xlarge-up">
    <section>
        <h2 class="ac-title ac-container " id="padding-xlarge-view" data-kv-accordion aria-controls="ac-Problem1" aria-expanded="true">
            Problem #1 – Clean energy products are expensive
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem1" aria-hidden="false">
            <p>
                Credit for clean technologies is largely unavailable because they’re not clearly and directly income generating, calling into question borrowers’ ability to repay. Many prospective customers are too rural for banks to lend to them profitably.
            </p>
            <p><strong>Proposed Solutions</strong></p>
            <p>
                Loans for end users. For most bottom of the pyramid consumers, the price of a home solar system, or even a few solar lights is prohibitive. However, with credit delivered through flexible and creative means -- like a pay-as-you-go system, or automatic repayments deducted from cost savings -- end users can benefit from energy technologies without worrying about making their payments. In most cases, the amount of money and time saved from not buying or collecting kerosene, wood and diesel quickly covers the loan amount.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Problem2" aria-expanded="true">
            Problem #2: Energy products are often not available at “The Last Mile”
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron .tweak-left-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Problem2" aria-hidden="false">
            <p>
                Affordable clean energy products like solar lanterns and energy-efficient cookstoves are not readily available to most bottom of the pyramid consumers, despite their potential to save costs.
            </p>
            <p><strong>Proposed Solution</strong></p>
            <p>
                Loans for retailers. When retailers have the credit they need to buy clean energy products in bulk, they can sell that inventory at an affordable price but also turn a profit. This fuels a supply chain that extends these products into rural and remote areas where they would not otherwise be available.
            </p>
        </div>
    </section>

    <hr>
    <section>
        <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-Success" aria-expanded="true">
            What is success?
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron tweak-right-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
        </h2>
        <div class="ac-body" id="ac-Success" aria-hidden="false">
            <p>
                Over the next decade, we want to see clean energy products become regular household necessities. We define success as:
                    <ul class="ul-indent">
                        <li>Sustainable supply chains: Clean energy products and services being delivered through permanent, profitable channels.</li>
                        <li>Social dividends: Improvements in health and well-being. Solar lights extending study and work hours, women and children no longer inhaling fumes from open fires, and more.</li>
                        <li>Falling prices: Costs coming down as the market becomes more competitive, expanding access even further.</li>
                    </ul>
            </p>
        </div>
    </section>
    <hr class="show-for-xlarge-up">
</div>