<div class="row frame financingAG-bottom-margin" data-equalizer>
    <div class="small-12 large-3 columns text-center"  data-equalizer-watch>
        <h2 class="kiva-darkgreen  box-margin">45% of Humanity</h2>
        <p>3.1 Billion people live in rural areas. About 2.5 Billion of them
            make their living from agriculture
        </p>
    </div>

    <div class="small-12 large-3 columns text-center agriculture"  data-equalizer-watch>
        <h2 class="kiva-green  box-margin">$4 Billion</h2>
        <p>The amount lost by farmers in sub-Saharan Africa each year after
            harvesting due to insufficient processing, storage transit, etc.
        </p>
    </div>

    <div class="small-12 large-3 columns text-center agriculture"  data-equalizer-watch>
        <h2 class="kiva-green  box-margin">80%</h2>
        <p>Percent of Mozambicans with no access to formal financial services.
            Farmers are limited by high risk, high transaction costs, and lack
            of information
        </p>
    </div>

    <div class="small-12 large-3 columns text-center agriculture"  data-equalizer-watch>
        <h2 class="kiva-green  box-margin">50%</h2>
        <p>Loss due to climate change. Some farming economies face an
            estimated loss of over 50% of their agricultural output by 2080.
        </p>
    </div>
</div>