<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">59 Comments</h2>
		{{> molecules-comment-form }} 
		<table class="comment-list small-12 columns">
            <tbody>
			{{# listItems.five }}
				{{> molecules-single-comment }} 
			{{/ listItems.five }}
            </tbody>
		</table>
	</div>
	{{> molecules-pagination }} 
</section>

