<a href="#" data-reveal-id="modal">Click Me For A Modal</a>

<section class="lightbox">
	<div id="modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h1 id="modalTitle" class="white">Modal Title</h1>
		<p class="featured white text-left">Neutra Blue Bottle whatever migas, food truck leggings Intelligentsia 8-bit roof party
			church-key PBR Marfa swag deep v. Fixie lo-fi 3 wolf moon, iPhone pop-up 90's swag. Swag ugh Pinterest yr
			typewriter, deep v butcher Godard. Vice mustache sartorial, irony Blue Bottle Austin pickled shabby chic
			DIY fingerstache Helvetica health goth flannel drinking vinegar. PBR bicycle rights cray, Pinterest Schlitz
			High Life 3 wolf moon pork belly paleo heirloom gastropub readymade leggings Helvetica blog. Etsy lomo next
			level, lumbersexual aesthetic YOLO bicycle rights High Life distillery chia mlkshk pug roof party fanny
			pack tattooed. Photo booth gentrify cold-pressed leggings lo-fi, fingerstache normcore listicle
			Williamsburg scenester tousled single-origin coffee Banksy.
		</p>

		<a class="close-reveal-modal" aria-label="Close">
			<svg class="icon icon-x">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
			</svg>
		</a>
	</div>
</section>