<div class="white-bg" style="width:100%; text-align: center">
	<p class="featured">{{paragraph-1}}</p>
	<p class="featured kiva-green">{{paragraph-2}}</p>
	<div class="icon leaf-icon">
		<svg class="icon icon-leaf">
			<use xlink:href="#icon-leaf"/>
		</svg>
	</div>
	<p class="featured">{{paragraph-3}}</p>
	<p class="featured">{{paragraph-4}}</p>
</div>
