<div class="loan-lifecycle-wrapper">
	<div class="how-kiva-works-title">
		<h1 class="huge text-center white">The journey of a Kiva loan</h1>
	</div>
	<div class="text-frame text-center white">
		<p class="text-step step-1">A borrower <a>applies for a loan</a></p>
	</div>
	<div class="dotted-line"></div>
	<div class="text-frame text-center white">
		<p class="text-step step-2">The loan goes through the <a>underwriting and approval process</a></p>
	</div>
	<div class="dotted-line"></div>
	<div class="loan-disbursal-wrapper">
		<div class="loan-disbursal-container">
			<div class="text-box">
				<p class="text-center"><a>Loan disbursal period</a></p>
			</div>

			<div class="dotted-line white"></div>

			<svg class="icon icon-choose">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-choose"></use>
			</svg>

			<div class="text-frame text-frame-icon-overlay text-center white">
				<p class="text-step step-3">The loan is <a>posted to Kiva</a> for lenders to support</p>
			</div>

			<div class="fundraising-period-container text-center white">
				<div class="fundraising-period-text-wrapper text-step step-4">
					<p class="fundraising-period-title">Fundraising period:</p>
					<p>Lenders crowdfund the loan in increments of $25 or more</p>
				</div>

				<svg class="icon icon-lend">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lend"></use>
				</svg>

				<div class="dotted-line"></div>

				<div class="text-frame text-center white">
					<p class="text-step step-5">Fundraising complete!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dotted-line white"></div>
	<svg class="icon icon-repaid">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-repaid"></use>
	</svg>
	<div class="text-frame-icon-overlay text-center white">
		<p class="text-step step-6"><a>Borrower repays the loan</a></p>
	</div>
	<div class="dotted-line white"></div>
	<svg class="icon icon-repeat">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-repeat"></use>
	</svg>
	<div class="text-frame-icon-overlay text-center white">
		<p class="text-step step-7">Lenders use repayments to fund new loans, donate or withdraw the money</p>
	</div>
</div>