<div class="loan-lifecycle-wrapper">
	<div class="how-kiva-works-title">
		<h1 class="huge text-center white">The journey of a Kiva loan</h1>
	</div>
	<div class="text-frame text-center white" data-reveal-id="applies-for-a-loan">
		<p class="text-step step-1">A borrower <a kvtrackevent="How Kiva Works|click-Journey Diagram|Journey|1" href='#' data-reveal-id="applies-for-a-loan">applies for a loan.</a></p>
		<div id="applies-for-a-loan" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
			<div class="row">
				<div class="columns small-12">
					<a class="close-reveal-modal" aria-label="Close">
						<svg class="icon icon-x">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
						</svg>
					</a>
					<div class="lightbox-content white">
						{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
						 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
						 Molecules/10-lightbox folder. }}
						<p class="featured">A borrower applies for a loan</p>
						<p>Kiva loans are facilitated through two models, <a class='accordion-anchor-and-open'>partner and direct</a>, that
							enable us to reach the greatest number of people around the world.</br></br>For partner loans,
							borrowers apply to a local Field Partner, which manages the loan on the ground.
							For direct loans, borrowers apply through the <a href='https://www.kiva.org/borrow' target='_blank'>Kiva website.</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dotted-line"></div>
	<div class="text-frame text-center white" data-reveal-id="underwriting-and-approval-process">
		<p class="text-step step-2">The loan goes through the <a kvtrackevent="How Kiva Works|click-Journey Diagram|Journey|2" data-reveal-id="underwriting-and-approval-process">underwriting and approval process.</a></p>
		<div id="underwriting-and-approval-process" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
			<div class="row">
				<div class="columns small-12">
					<a class="close-reveal-modal" aria-label="Close">
						<svg class="icon icon-x">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
						</svg>
					</a>
					<div class="lightbox-content white">
						{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
						 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
						 Molecules/10-lightbox folder. }}
						<p class="featured">The loan goes through the underwriting and approval process</p>
						<p>Partner loans are facilitated by local nonprofits or lending institutions, which approve the
							borrower’s loan request. Kiva does due diligence and ongoing monitoring for each of these
							Field Partners.</br></br>Direct loans are approved through “social underwriting”, where trustworthiness
							is determined by friends &amp; family lending a portion of the loan request, or by a Kiva approved
							Trustee vouching for the borrower.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dotted-line"></div>
	<div class="loan-disbursal-wrapper">
		<div class="loan-disbursal-container">
			<div class="text-box" data-reveal-id="loan-disbursal-period">
				<p class="text-center"><a kvtrackevent="How Kiva Works|click-Journey Diagram|Journey|3" data-reveal-id="loan-disbursal-period">Loan disbursal period</a></p>
				<div id="loan-disbursal-period" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
					<div class="row">
						<div class="columns small-12">
							<a class="close-reveal-modal" aria-label="Close">
								<svg class="icon icon-x">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
								</svg>
							</a>
							<div class="lightbox-content white">
								{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
								 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
								 Molecules/10-lightbox folder. }}
								<p class="featured">Loan disbursal period</p>
								<p>Disbursal refers to when the borrower can access the money— the timing of this can vary.
									For most Field Partner loans, the money is pre-disbursed, so the borrower can access
									the funds right away. For direct loans, the money is disbursed only after the loan has
									been fully crowdfunded on the Kiva website.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dotted-line white"></div>

			<svg class="icon icon-choose">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-choose"></use>
			</svg>

			<div class="text-frame text-frame-icon-overlay text-center white" data-reveal-id="posted-to-kiva">
				<p class="text-step step-3">The loan is <a kvtrackevent="How Kiva Works|click-Journey Diagram|Journey|4" data-reveal-id="posted-to-kiva">posted to Kiva</a> for lenders to support.</p>
				<div id="posted-to-kiva" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
					<div class="row">
						<div class="columns small-12">
							<a class="close-reveal-modal" aria-label="Close">
								<svg class="icon icon-x">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
								</svg>
							</a>
							<div class="lightbox-content white">
								{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
								 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
								 Molecules/10-lightbox folder. }}
								<p class="featured">The loan is posted to Kiva for lenders to support</p>
								<p>Depending on the type of loan, a Field Partner or borrower uploads the loan details into
									the system. Our worldwide network of volunteers then helps to edit and translate loans
									before they go live on the website for lenders to crowdfund.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="fundraising-period-container text-center white">
				<div class="fundraising-period-text-wrapper text-step step-4">
					<p class="fundraising-period-title">Fundraising period:</p>
					<p>Lenders crowdfund the loan in increments of $25 or more.</p>
				</div>

				<svg class="icon icon-lend">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lend"></use>
				</svg>

				<div class="dotted-line"></div>

				<div class="text-frame text-center white">
					<p class="text-step step-5">Fundraising complete!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dotted-line white"></div>
	<svg class="icon icon-repaid">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-repaid"></use>
	</svg>
	<div class="text-frame-icon-overlay text-center white" data-reveal-id="borrower-repays-the-loan">
		<p class="text-step step-6"><a kvtrackevent="How Kiva Works|click-Journey Diagram|Journey|5" data-reveal-id="borrower-repays-the-loan">Borrower repays the loan.</a></p>
		<div id="borrower-repays-the-loan" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
			<div class="row">
				<div class="columns small-12">
					<a class="close-reveal-modal" aria-label="Close">
						<svg class="icon icon-x">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
						</svg>
					</a>
					<div class="lightbox-content white">
						{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
						 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
						 Molecules/10-lightbox folder. }}
						<p class="featured">Borrower repays the loan</p>
						<p>Lenders receive repayments over time, based on the given repayment schedule and the borrower’s
							ability to repay. The repayments go into the lenders’ Kiva accounts.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dotted-line white"></div>
	<svg class="icon icon-repeat">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-repeat"></use>
	</svg>
	<div class="text-frame-icon-overlay text-center white no-select">
		<p class="text-step step-7">Lenders use repayments to fund new loans, donate or withdraw the money.</p>
	</div>
</div>
