	<div id="faq-hkw-section" class="faq-section">
        <div class="faq-container">
            <h2 class="faq-title white">Frequently asked questions</h2>
            <section class="accordion-container">
                {{#faqs}}
                    {{> 01-molecules/06-components/13-faq-question-answer}}
                {{/faqs}}
            </section>
            <div class="help-center-link white">
                <a kvtrackevent="How Kiva Works|click-Learn More" href="http://www.kiva.org/help">Learn more in the help center</a>
            </div>
        </div>

		<div class="white text-center">
			<p class="start-lending-text featured">Start lending!</p>
			<a class="choose-borrower" href="https://www.kiva.org/categories">
				<div class="choose-borrower-frame button" >
					<p kvtrackevent="How Kiva Works|click-Choose a borrower" class="choose-borrower-text">Choose a borrower</p>
				</div>
			</a>
		</div>
	</div>
