<div>
	<strong>Kiva receives a broad range of support from a diverse set of corporations and
	foundations.</strong> From discounted services and free software, to grants and financial backing,
	Kiva is grateful for each partner that helps us achieve our mission to connect people through
	lending to alleviate poverty. (Please note that the corporations and foundations listed have
	made contributions of either grants, loan funds, equipment or services in the last 30 months.
</div><br><br>