        <section>
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-corporations" aria-expanded="false">
        Corporations
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <div class="ac-body" id="ac-corporations" aria-hidden="true">
       <br><p><strong>Support of $5 million or more</strong></p>
        <div class="row mgmt-team">

            <div class="small-12 large-2 columns">
                <img data-interchange="[//kiva.org/cms/page/images/martin-tschopp-std.jpg, (default)],[//kiva.org/cms/page/images/martin-tschopp-retina.jpg, (retina)] " alt="Martin Tschopp">
                <noscript><img src="//kiva.org/cms/page/images/martin-tschopp-std.jpg" alt="Martin Tschopp"></noscript>
            </div>
            <div class="small-12 large-10 columns">
            
        
        <p>
        <strong>The HP Foundation</strong> is proud to partner with Kiva on an innovative 5-year
        partnership called Matter to a Million. This pioneering program is a unique
        opportunity for HP employees globally to support thousands of entrepreneurs
        around the world.

        </p>
        </div>
        </div>
    </div>
</section>
<hr>