<section>
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-corporations" aria-expanded="false">
        Corporations
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <div class="ac-body" id="ac-corporations" aria-hidden="true">
       <br><p><strong>Support of $5 million or more</strong></p>
        <div class="row ">
            <div class="small-12 large-2 columns">
                <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/hp-foundation_stacked-color_0.png, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/hp-foundation_stacked-color_0.png, (retina)] " alt="Martin Tschopp">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/hp-foundation_stacked-color_0.png" alt="Martin Tschopp"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>
                <strong>The HP Foundation</strong> is proud to partner with Kiva on an innovative 5-year
                partnership called Matter to a Million. This pioneering program is a unique
                opportunity for HP employees globally to support thousands of entrepreneurs
                around the world.
                </p>
            </div>
        </div>
         <br><p><strong>Support of $1 million or more</strong></p>
        <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[http://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/pepsico-foundation-logo-26508.jpg, (default)],[http://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/pepsico-foundation-logo-26508.jpg, (retina)] " alt="Pepsi Co">
                <noscript><img src="http://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/pepsico-foundation-logo-26508.jpg" alt="Pepsi Co"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>The PepsiCo Foundation</strong> is a proud supporter of Kiva and the empowerment
                of women around the world. Through a global PepsiCo employee engagement
                partnership and a revolving matching fund for women, the PepsiCo
                Foundation is making positive impact at scale.
                </p>
            </div>
        </div>

        <div class="row ">
            <div class="small-12 large-2 columns">
                <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/db_logo_blue_centered.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/db_logo_blue_centered.jpg, (retina)] " alt="Deutshe Bank">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/db_logo_blue_centered.jpg" alt="Deutsche Bank"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>For more than 20 years, <strong>Deutsche Bank</strong> has been a leader and trusted partner in the field of social finance. We are proud to support Kiva through our US employee engagement campaign as well as by providing matching loan funds for Kiva Zip NYC.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="small-12 large-2 columns">
                <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/pearsonlogo_primary_blk_rgb.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/pearsonlogo_primary_blk_rgb.jpg?itok=Tk-w34JZ, (retina)] " alt="Pearson">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/pearsonlogo_primary_blk_rgb.jpg" alt="Pearson"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>
                <strong>Pearson</strong>, the world's largest education company, is proud to partner with Kiva
                through our global employee engagement campaign, the formation of a Kiva
                lending team, as well as matching loan funds for education partners
                </p>
            </div>
        </div>
    <div class="row ">
            <div class="small-12 large-2 columns">
                <img class="logos" data -interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/metlife_foundation_stk_rgb_1.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/metlife_foundation_stk_rgb_1.jpg, (retina)] " alt="MetLife">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/metlife_foundation_stk_rgb_1.jpg" alt="MetLife"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>
                <strong>MetLife Foundation,</strong> which has a global focus on financial inclusion, is supporting the launch of Kiva Zip NYC and matching loans to Kiva Zip NYC borrowers over three years. 
                </p>
            </div>
        </div>

    <div class="row ">
            <div class="small-12 large-2 columns">
                <img class="logos"  data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/engara.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/engara.jpg, (retina)] " alt="Grameen-Jameel Microfinance Ltd">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/engara.jpg" alt="Grameen-Jameel Microfinance Ltd"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>
                <strong>Grameen-Jameel Microfinance Ltd.</strong> is the first social business in the Middle East and North Africa (MENA), focusing to alleviate poverty in the region. Their $1M contribution is an important step in a long-term alliance to raise awareness, drive action, and empower entrepreneurs in the Middle East and beyond.
                </p>
            </div>
        </div>
    <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/google.org__0.png, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/google.org__0.png, (retina)] " alt="Google">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/google.org__0.png" alt="Google"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>Google </strong>awarded Kiva a Global Impact Award for flexible microfinance to reach millions more people through its Kiva Labs initiative.
                </p>
            </div>
        </div>
         <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/c1_ifg_v_color_0.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/c1_ifg_v_color_0.jpg, (retina)] " alt="Google">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/c1_ifg_v_color_0.jpg" alt="Google"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>
                Capital One is proud to support Kiva with generous grants to expand access to capital to borrowers in D.C., Richmond, and San Francisco, along with matching loans to small businesses across the United States.
                </p>
            </div>
        </div>
         <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/rn_logo_1.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/rn_logo_1.jpg, (retina)] " alt="Google">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/rn_logo_1.jpg" alt="Google"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p>Research Now</strong> is proud to support Kiva through a promotional loan fund for employees, clients and survey respondents, the formation of a Kiva lending team, as well as providing operational support to help Kiva scale. 
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_moodys_0.gif, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_moodys_0.gif, (retina)] " alt="Google">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_moodys_0.gif" alt="Google"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>Moody's</strong> is applying its experience in credit ratings and credit risk management to help Kiva's Field Partners enhance their lending practices and bring greater transparency to Kiva's online microfinance marketplace. 
                </p>
            </div>
        </div>
    <br><p><strong>Support of $500k to $1 million</strong></p>
    <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/2015_fossilfoundation-logo-web-350px.jpg, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/2015_fossilfoundation-logo-web-350px.jpg , (retina)] " alt="The fossil foundation">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/2015_fossilfoundation-logo-web-350px.jpg" alt="The fossil foundation"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>The Fossil Foundation</strong> invests in social entrepreneurs whose innovations unleash the potential of underserved young people. Fossil is proud to support Kiva through a promotional loan fund for employees, the formation of a Kiva lending team, as well as providing operational support to help Kiva scale.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/psf_logo_green_stacked.jpg?itok=xfKkJH4k , (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/psf_logo_green_stacked.jpg?itok=xfKkJH4k , (retina)] " alt="The Pershing Square Foundation">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/psf_logo_green_stacked.jpg?itok=xfKkJH4k" alt="The Pershing Square foundation"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>The Pershing Square Foundation</strong> supports exceptional leaders and innovative organizations that tackle important social issues and deliver scalable and sustainable impact. In 2014, the Foundation provided a grant and a matching loan fund to help launch "Kiva Zip New York City". </p>
            </div>
        </div>
         <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo-cisco-foundation.png , (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo-cisco-foundation.png, (retina)] " alt="Cisco">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo-cisco-foundation.png" alt="Cisco"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>The Cisco Foundation</strong> is a proud supporter of Kiva's efforts to catalyze access to new populations and the development of innovative flexibe credit products adapted to the unique needs of microfinance clients though the Kiva Labs initiative.</p>
            </div>
        </div>
         <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/citi_logo_0_0.png, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/citi_logo_0_0.png, (retina)] " alt="Citi Bank">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/citi_logo_0_0.png" alt="Citi Bank"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>Citi</strong> is the founding sponsor of Kiva U, a movement of students and educators to become global citizens changing the world through microfinance.</p>
            </div>
        </div>
         <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/tripadvisorlogo.jpg , (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/tripadvisorlogo.jpg , (retina)] " alt="TripAdvisor">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/tripadvisorlogo.jpg" alt="TripAdvisor"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>TripAdvisor</strong> launched a reviewer engagement program in 2013. When people wrote a review in one of the countries where Kiva operates, they received a free $25 Kiva Card. TripAdvisor also gave every employee a $25 Kiva Card.</p>
            </div>
        </div>
         <div class="row ">
            <div class="small-12 large-2 columns">
               <img class="logos" data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_dermalogica_0.jpg , (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_dermalogica_0.jpg , (retina)] " alt="Dermalogica">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_dermalogica_0.jpg" alt="Dermalogica"></noscript>
            </div>
            <div class="small-12 large-10 columns">
                <p><strong>Dermalogica</strong> joined Kiva in launching the joinFITE campaign. joinFITE.org is the first global open microlending platform designed to engage innovative technology and consumer action online, offline, and through novel strategic partnerships.
                </p>
            </div>
        </div>
        <br><p><strong>Support of $100k to $250k</strong></p>
        <div class="row ">
            <div class="small-12 large-12 columns">
            
                <img data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/chevron-logo3_0.gif, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/chevron-logo3_0.gif , (retina)] " alt="Chevron">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/chevron-logo3_0.gif" alt="Chevron"></noscript>
            
                <img data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_keen_0.png, (default)],[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_keen_0.png, (retina)] " alt="Keen">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/logo_keen_0.png" alt="Keen"></noscript>
          
                <img data-interchange="[https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/yelp-high-res-logo-1.jpg, (default)],[hhttps://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/yelp-high-res-logo-1.jpg, (retina)] " alt="Yelp">
                <noscript><img src="https://www-kiva-org.global.ssl.fastly.net/cms/styles/supporter_logo/s3/supporter/logo/yelp-high-res-logo-1.jpg" alt="Yelp"></noscript>
        </div>




    </div>
</section>
<hr>
