ul.dropdown-list {
    list-style: none;

    li {
        border-bottom: 1px solid $kiva-stroke-gray;

        a {
            display: block;
            padding: 0 1rem;
            white-space: nowrap;
            line-height: $header-height-small;
            font-size: 1rem;
            color: $kiva-text-dark;

            &.active {
                color: $kiva-text-light;
            }
        }
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {
            border-top: 1px solid $kiva-stroke-gray;
            border-bottom: none;
            background-color: $ghost;

            a {
                padding-left: 2.5rem;
            }
        }
    }
}

@media #{$large-up} {
    ul.dropdown-list li a {
        line-height: $header-height;
    }
}