.header-button {
	display:block;
	padding:0 .5rem;
	line-height: $header-height;
	background-color: $colors-white;
	white-space: nowrap;
	text-align: center;

	@media #{$medium-up} {
		line-height: $header-height-medium;
	}

	@media #{$large-up} {
		line-height: $header-height-large;
	}

	&:link, &:visited {
		color: $kiva-textlink;
		text-decoration: none;

		.icon {
			fill: $kiva-textlink;
		}
	}

	&:hover, &:active {
		color: $kiva-textlink-hover;
		text-decoration: none;

		.icon {
			fill: $kiva-textlink-hover;
		}
	}

	&[data-dropdown] .icon {
		width: rem-calc($space-1-5);
		height: rem-calc($space-1-5);
		margin-left: rem-calc(5);

		$transition: 400ms ease;
		$transform: rotate(0deg);

		-webkit-transition: -webkit-transform $transition;
		transition: transform $transition;

		-webkit-transform: $transform;
		-ms-transform: $transform;
		transform: $transform;
	}

	&[aria-expanded="true"]{
		.icon {
			$transform: rotate(180deg);

			-webkit-transform: $transform;
			-ms-transform: $transform;
			transform: $transform;
		}
	}

	.icon {
		width: $top-nav-font-size;
		height: $top-nav-line-height;
	}

	img, .circle-avatar {
		margin-top: -$header-height/16;

		@media #{$large-up} {
			margin-top: -$header-height-large/16;
		}
	}

	&.hidden {
		display: none;
	}
}
