.header-button {
	display:block;
	padding:0;
	line-height: $header-height;
	background-color: $white;
	white-space: nowrap;
	text-align: center;

	@media #{$large-up} {
		padding:0 $header-height-large/4;
		line-height: $header-height-large;
	}

	&:link, &:visited {
		color: $kiva-text-dark;
		text-decoration: none;

		.icon {
			fill: $kiva-text-dark;
		}
	}

	&:hover, &:active {
		color: $dark-green;
		text-decoration: none;

		.icon {
			fill: $dark-green;
		}
	}
	// $dark-green

	&[data-dropdown] .icon {
		width: 0.5rem;
		height: 0.5rem;

		$transition: 400ms ease;
		$transform: rotate(180deg);

		-webkit-transition: -webkit-transform $transition;
		transition: transform $transition;

		-webkit-transform: $transform;
		-ms-transform: $transform;
		transform: $transform;

		@media #{$medium-up} {
			width: 0.75rem;
			height: 0.75rem;
		}
	}

	&[aria-expanded="true"]{
		.icon {
			$transform: rotate(0deg);

			-webkit-transform: $transform;
			-ms-transform: $transform;
			transform: $transform;
		}
	}

	.icon {
		width: $top-nav-font-size;
		height: $top-nav-line-height;
	}

	img, .circle-avatar {
		margin-top: -$header-height/16;

		@media #{$large-up} {
			margin-top: -$header-height-large/16;
		}
	}

	&.hidden {
		display: none;
	}
}
