.header-button {
    display:block;
    padding:0;
    line-height: $header-height-small;
    background-color: $green;
    white-space: nowrap;
    text-align: center;

    &:link, &:visited, &:hover, &:active {
        color: $white;
    }

    &.open, &[aria-expanded="true"]{
        color: $dark-green;
    }

    img {
        margin-top: -$header-height-small/16;
    }
}

@media #{$large-up} {
    .header-button {
        padding:0 $header-height/4;
        line-height: $header-height;

        img {
            margin-top: -$header-height/16;
        }
    }
}