.lend-menu-small, .lend-menu-large {
    & *[aria-hidden="true"] {
        display: none;
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        &:hover, &:focus {
            background: none;
        }

        a {
            color: $kiva-textlink;

            &:focus {
                text-decoration: none;
            }

            &:hover {
                color: $kiva-textlink-hover;
            }

            .f16 {
                margin-right: 0.25rem;
            }
        }
    }
}

.lend-menu-small {
    $row-height: $header-height-small - 1rem;
    list-style: none;
    margin: 0;
    background-color: $level-one-background;

    li a {
        font-size: $body-font-size;
        padding: 0.5rem 1rem;
        line-height: $row-height;
        border-bottom: rem-calc(1) solid $kiva-stroke-gray;
        color: $kiva-text-dark;
        text-decoration: none;

        &:hover {
            color: $kiva-text-dark;
        }

        &.section-title {
            color: $kiva-text-dark;
            text-decoration: none;
        }

        &[aria-expanded="false"] .open {
            display: none;
        }
        &[aria-expanded="true"] {
            color: $selected-color;

            .icon {
                $transform: rotate(-180deg);

                -webkit-transform: $transform;
                -ms-transform: $transform;
                transform: $transform;
            }
        }

        .icon {
            float: right;
            height: 1.5rem;
            width: rem-calc(25);

            $transition: 300ms ease;

            -webkit-transition: -webkit-transform $transition;
            transition: transform $transition;
        }
    }

    ul {
        background-color: $level-two-background;

        &[aria-hidden="true"] {
            height: 0;
        }

        li a {
            padding-left: 2rem;
        }

        ul {
            background-color: $level-three-background;

            li {
                a {
                    padding-left: 3rem;
                    border: none;
                }

                &:last-child {
                    border-bottom: rem-calc(1) solid $kiva-stroke-gray;
                }
            }
        }
    }
}

.lend-menu-large {
    $fixed-item-count: 2;
    $two-column-break-count: 7;
    $max-count: 50;
    $min-spacing: 1;

    $row-height: 1.5rem;
    $col-width: 8rem;
    $tertiary-list-width: 11.5rem;
    $section-padding: 1rem;

    $duration: 0.5s;
    $menu-transition: margin #{$duration} ease;
    $close-transition: width #{$duration} ease;
    $tertiary-transition: width #{$duration}, padding #{$duration} ease;

    $half-list-width: $col-width;
    $list-width: 2*$half-list-width + $section-padding;


    overflow: hidden;

    li a {
        white-space: nowrap;
        padding: 0 1.5*$section-padding;
        line-height: $row-height;
    }

    .section-title {
        font-size: rem-calc(21);
        padding: 0 1.5*$section-padding;
        margin: 1.5rem 0 0.5rem;
        white-space: nowrap;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .column-section {
        display: inline-block;
        float: left;
        margin: $section-padding 0;
        vertical-align: top;

        -webkit-transition: $menu-transition;
        transition: $menu-transition;

        &.slide-left {
            margin-left: -(2*$section-padding + $half-list-width);
        }

        &::before {
            content: "";
            border-left: rem-calc(1) solid $kiva-stroke-gray;
            height: calc(100% - #{2*$section-padding});
            position: absolute;
        }

        &:first-child {
            padding: 0 $section-padding;

            li a, .section-title {
                padding:0;
            }

            &::before {
                display: none;
            }
        }
    }

    .close-section {
        display: inline-block;
        float: left;
        overflow: hidden;
        padding: 0;
        width: 5*$section-padding;
        $height: 8rem;
        font-size: 2rem;

        -webkit-transition: $close-transition;
        transition: $close-transition;

        &[aria-hidden="true"] {
            width: 0;
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            height: $height;
        }

        .icon {
            width: rem-calc(52);
            height: $height;
            position: absolute;
            left: calc(50% - #{rem-calc(27)});

            $transform: rotate(90deg);

            -webkit-transform: $transform;
            -ms-transform: $transform;
            transform: $transform;

            &::before {
                position: absolute;
                left: -0.75rem;
                top: -0.75rem;
            }
        }
    }

    .tertiary-link[aria-expanded="true"] {
        color: $selected-color;
        text-decoration: none;
        background-color: $level-two-background;
    }

    .tertiary-list {
        overflow: hidden;
        width: 0;

        -webkit-transition: $tertiary-transition;
        transition: $tertiary-transition;

        li a {
            $line-height: rem-calc(18);
            width: $tertiary-list-width;
            white-space: normal;
            line-height: $line-height;
            padding: ($row-height - ($line-height + 0.054))/2 1.5*$section-padding; // don't know why the 0.054 is needed, but it is.

            &.disabled{
                text-decoration: none;
                color: $kiva-stroke-gray;
            }
        }

        &[aria-hidden="true"] {
            height: 0;
            margin: 0;
            padding: 0;

            &::before {
                display: none;
            }
        }

        &[aria-hidden="false"] {
            width: $tertiary-list-width;
        }
    }


    .column-list-container {
        overflow: hidden;
        height: auto;
        width: $half-list-width;
    }

    ul.column-list {
        float: left;
        width: $row-height * $fixed-item-count;
        height: $row-height * $fixed-item-count;

        $rotation: rotate(-90deg);

        -webkit-transform: $rotation;
        -ms-transform: $rotation;
        transform: $rotation;

        & + * {
            clear: both;
        }

        li {
            width: $row-height;
            height: $row-height;
            margin-bottom: ($col-width - $row-height) + $section-padding;
            float: right;

            $origin: 50% 50%;
            $rotation: rotate(90deg);

            -webkit-transform-origin: $origin;
            -ms-transform-origin: $origin;
            transform-origin: $origin;

            -webkit-transform: $rotation;
            -ms-transform: $rotation;
            transform: $rotation;

            &.bottom {
                float: left;
                position: static;
            }

            a {
                width: $col-width;
            }
        }
    }

    @for $i from 1 through $two-column-break-count {
        $break: $i + $min-spacing+$fixed-item-count;

        .list-length-#{$i} {
            ul.column-list {
                width: $row-height * $break;
                height: $row-height * $break;

                li {
                    &:nth-child(#{$break}n+1) {
                        clear: right;
                    }

                    &.bottom:last-of-type {
                        margin-right: $row-height;
                    }
                }
            }
        }
    }

    @for $i from $two-column-break-count+1 through $max-count {
        $break: min( ceil( ($i + $min-spacing+$fixed-item-count) / 2 ), max(2, $i) );

        .list-length-#{$i} {
            &.column-section.slide-left {
                margin-left: -(2*$section-padding + $list-width);
            }

            .column-list-container {
                width: $list-width;
            }

            ul.column-list {
                width: $row-height * $break;
                height: $row-height * $break;

                li {
                    &:nth-child(#{$break}n+1) {
                        clear: right;
                    }

                    &.bottom:last-of-type {
                        margin-right: $row-height;
                    }
                }
            }
        }
    }
}