.my-kiva {
    &.header-button {
        text-align: right;
    }

    img {
        height: 0.78125 * $header-height-small;
        border-radius: 50%;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
}

@media #{$large-up} {
    .my-kiva {
        img {
            height: 0.78125 * $header-height;
            margin-left: 0.5rem;
            margin-right: 0;
        }
    }
}