.my-kiva.header-button {
	text-align: right;
}

.circle-avatar {
	width: rem-calc(20);
	height: rem-calc(20);
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	display: inline-block;
	border-radius:50%;
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;

	@media #{$medium-up} {
		width: rem-calc(23);
		height: rem-calc(23);	
	}
}

@media #{$large-up} {
	.circle-avatar {
		width: rem-calc(26);
		height: rem-calc(26);
		margin-left: 0.5rem;
		margin-right: 0;
	}
}
