$search-form-width: 10.4rem;
$search-form-height: rem-calc(64);
$search-form-transition: width 0.5s ease;
$search-margin: 0.6rem;
$search-centering-margin: 0.65rem;
$search-input-width: $search-form-width - $search-margin;
$search-input-padding: 0.6rem;
$search-icon-size: $top-nav-font-size;
$search-small-button-size: 2.5rem;

// annoyingly long selector to override
.row > .columns > a.header-button#search-toggle {
    border-right: none;

    &[aria-expanded="true"] .search-icon {
        display: none;
    }

    &[aria-expanded="false"] .close-icon {
        display: none;
    }
}

#search-container {
    position: static;
    z-index: 1;
}

#search-form {
    display: block;
    position: absolute;
    overflow: hidden;
    width: $search-form-width;
    border-right: rem-calc(1) solid $divider-green;
    background-color: $green;

    -webkit-transition: $search-form-transition;
    -moz-transition: $search-form-transition;
    -o-transition: $search-form-transition;
    transition: $search-form-transition;

    &[aria-hidden="true"] {
        width: 0;
    }

    div {
        position: relative;
        vertical-align: middle;
        height: $search-form-height;
    }

    .search-icon {
        position: absolute;
        left: 0.4rem;
        top:50%;

        &:before {
            position: absolute;
            top: -$search-icon-size/2;
        }
    }

    input {
        $search-input-padding: 0.6rem;
        width: $search-input-width;
        padding: $search-input-padding $search-input-padding $search-input-padding ($top-nav-font-size * 1.5);
        margin: $search-centering-margin 0;
        display: inline-block;
        height: auto;
    }
}

#close-search {
    float: left;
    width: $search-small-button-size;
    line-height: $search-form-height;
    text-align: center;
    color: $dark-green;
}

@media #{$small-only} {
    #search-container {
        position: absolute;
    }

    #search-form {
        width: 100%;

        input {
            width: calc(100% - #{$search-margin + $search-small-button-size} );
        }

        .search-icon {
            left: 0.4rem + $search-small-button-size;
        }
    }
}