$search-form-height: $header-height;
$search-form-height-small: $header-height-small;
$search-form-transition: width 0.5s ease;

$search-margin: 0.6rem;
$search-margin-small: 0.4rem;
$search-centering-margin: 0.65rem;
$search-centering-margin-small: 0.32rem;
$search-button-size-small: 2.5rem;
$search-icon-size: $top-nav-font-size;

$search-input-width-small: calc(100% - #{$search-margin-small} );
$search-input-width: calc(100% - #{$search-margin} );
$search-input-padding: $search-margin;
$search-input-padding-small: $search-margin-small;

a.header-button#search-toggle {
    border-right: none;

    &[aria-expanded="true"] .search-icon {
        display: none;
    }

    &[aria-expanded="false"] .close-icon {
        display: none;
    }
}

.search-container {
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1;
}

#search-form {
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: $kiva-green;

    -webkit-transition: $search-form-transition;
    -moz-transition: $search-form-transition;
    -o-transition: $search-form-transition;
    transition: $search-form-transition;

    &[aria-hidden="true"] {
        width: 0;

        div {
            width: 0;
        }
    }

    div {
        width: calc(100% + #{rem-calc(1)});
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        height: $search-form-height-small;
        border-right: rem-calc(1) solid $kiva-navdivider-green;

        -webkit-transition: $search-form-transition;
        -moz-transition: $search-form-transition;
        -o-transition: $search-form-transition;
        transition: $search-form-transition;
    }

    span.twitter-typeahead {
        width: calc(100% - #{$search-button-size-small});

        pre {
            top: 0;
        }
    }

    .search-icon {
        position: absolute;
        left: 0.4rem + $search-button-size-small;
        top:50%;
        z-index: 100;

        &:before {
            position: absolute;
            top: -$search-icon-size/2;
        }
    }

    input {
        $search-input-padding: 0.6rem;
        width: $search-input-width-small;
        padding: $search-input-padding-small $search-input-padding-small $search-input-padding-small ($top-nav-font-size * 1.5);
        margin: $search-centering-margin-small 0;
        display: inline-block;
        height: auto;
    }

    .tt-hint {
        color: $iron;
    }
}

#close-search {
    float: left;
    width: $search-button-size-small;
    line-height: $search-form-height-small;
    text-align: center;
    color: $kiva-darkgreen;
}

.top-nav-search-menu {
    background-color: $white;
    border: rem-calc(1) solid $iron;
    padding: $search-margin-small;
    font-size: rem-calc(14);

    .tt-suggestion {
        padding-left: 1rem;
    }

    .tt-cursor {
        color: $white;
        background-color: $kiva-accent-blue;
    }

    .tt-highlight {
        text-decoration: underline;
    }
}



@media #{$large-up} {
    .search-button-container {
        width: auto;
    }

    .search-container {
        position: static;
    }

    #search-form {
        width: auto;

        &[aria-hidden="true"] {
            width: auto;
        }

        div {
            height: $search-form-height;
        }

        span.twitter-typeahead {
            position: static !important;
            width: 100%;
        }

        input {
            width: $search-input-width;
            margin: $search-centering-margin 0;
            padding: $search-input-padding $search-input-padding $search-input-padding ($top-nav-font-size * 1.5);
        }

        .search-icon {
            left: 0.4rem;
        }
    }
}