$search-form-height: $header-height-large;
$search-form-height-small: $header-height-small;
$search-form-transition: height 0.5s ease;

$search-margin: 0.6rem;
$search-margin-small: 0.4rem;
$search-centering-margin: 1rem;
$search-centering-margin-small: 0.32rem;
$search-button-size-small: 2.5rem;
$search-icon-size: $top-nav-medium-font-size;

$search-input-padding: $search-margin;
$search-input-padding-small: $search-margin-small;

a.header-button#search-toggle {
    border-right: none;
    line-height: 0;
    height: $header-height-small;
    max-height: $header-height-small;

    .icon {
        transform: unset;
        transition: unset;
        margin-top: 1.35rem;
        height: rem-calc(18);
    }
}

.search-container {
    width: auto;
    z-index: 5;

    @media #{$medium-up} {
        margin: 0 auto;
        width: 100%;
    }
}

#search-form {
    padding: rem-calc(11) rem-calc(20) rem-calc(13);
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: $colors-white;
    height: $header-height-medium;
    position: absolute;
    top: rem-calc(65);
    left: 0;
    border-bottom: 1px solid $colors-theme-default-border-tertiary;

    -webkit-transition: $search-form-transition;
    transition: $search-form-transition;

    @media #{$medium-up} {
        position: relative;
        top: unset;
        left: unset;
        padding: rem-calc(12) rem-calc(20);
        border-bottom: none;

        -webkit-transition: none;
        transition: none;
    }

    &[aria-hidden="true"] {
        width: 0;
        height: 0;
        display: none;

        @media #{$medium-up} {
            width: 100%;
            height: $header-height-medium;
        }

        div {
            width: 0;
            height: 0;
        }
    }

    div {
        width: 100%;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        height: auto;

        @media #{$medium-up} {
            height: $header-height-medium;
        }
    }

    span.twitter-typeahead {
        width: 100%;

        @media #{$medium-up} {
            position: static !important;
            width: 100%;
        }

        pre {
            top: 0;
        }
    }

    .search-icon {
        left: rem-calc($space-1-5);
        top: rem-calc($space-2);
        position: absolute;
        z-index: 100;
        width: 1.1rem;
        height: $search-icon-size;
    }

    #search-box {
        z-index: 1;
    }

    input {
        $search-input-padding: 0.6rem;
        width: 100%;
        padding: $search-input-padding-small rem-calc($space-4) .3rem rem-calc($space-5);
        margin: 0;
        display: inline-block;
        height: rem-calc($space-6);
        border-radius: rem-calc(4);
        border: 1px solid $colors-theme-default-border-tertiary;
        line-height: 1.25rem;
        font-size: 1rem;

        @media #{$medium-up} {
            width: 100%;
        }

        &:focus {
            border: 2px solid $colors-theme-default-background-action-highlight;
        }

        &[type="search"]::placeholder {
            font-style: normal !important;
            font-weight: 300 !important;
            opacity: 1 !important;
        }
    }

    .tt-hint {
        color: $iron;
    }
}

#close-search {
    position: absolute;
    width: $search-button-size-small;
    line-height: 0;
    text-align: center;
    right: 0;
    top: 0;
    z-index: 3;

    .close-icon {
        width: rem-calc(14);
        height: rem-calc($space-6);
        fill:none;
    }
}

.top-nav-search-menu {
    padding: rem-calc($space-2-5);
    max-height: 68vh;
    overflow-y: scroll;

    @media #{$medium-up} {
        max-height: 70vh;
    }
}


@media #{$medium-up} {
    .search-button-container {
        width: auto;
    }
}
