$link-spacing: rem-calc(16);

.secondary-nav-bar {
    background-color: $kiva-darkgreen;

    ul {
        list-style: none;
        margin: 0;
        display: block;
    }

    li {
        font-size: 0.8em;
        display: inline-block;

        a {
            position: relative;
            display: block;
            padding: rem-calc(12) $link-spacing;
            color: $white;
            text-decoration: none;

            &.active {
                color: $kiva-green;
                font-weight: bold;
            }

			&:hover {
				color: $kiva-green;
			}

            &.active:before, &:hover:before {
                content: ' ';
                position: absolute;
                bottom: rem-calc(10);
                left: $link-spacing;
                right: $link-spacing;
                height: rem-calc(2);
                background-color: $kiva-green;
            }
        }

        &:first-child a {
            padding-left: 0;

            &.active:before, &:hover:before {
                left: 0;
            }
        }

        &:last-child a {
            padding-right: 0;

            &.active:before, &:hover:before {
                right: 0;
            }
        }
    }
}

.secondary-nav-dropdown {
    & > a {
        display: block;
        width: 100%;
        line-height: $header-height-small;
        padding: 0 0.5rem;
        background-color: $kiva-darkgreen;
        color: $white;

        .icon {
            float: right;
            fill: none;
            stroke: $white;
            height: $header-height-small;
            width: rem-calc(25);

            $transition: 300ms ease;

            -webkit-transition: -webkit-transform $transition;
            transition: transform $transition;
        }

        &[aria-expanded="true"] .icon {
            $transform: rotate(-180deg);

            -webkit-transform: $transform;
            -ms-transform: $transform;
            transform: $transform;
        }
    }

    ul.f-dropdown {
        outline: none;
        max-width: none;
        margin-top: 0;
        border: none;

        // !important to override foundation inline styles applied by js
        left: 0 !important;
        width: 100% !important;

        &:before, &:after {
            display: none;
        }
    }
}


ul.tertiary-nav {
    list-style: none;
    margin: rem-calc(16) 0 rem-calc(7) -1.1111111rem;
	line-height: $body-font-size * 1.2;

	li {
		margin-bottom: rem-calc(14);
	}

    li a {

		&:visited {
			color: $kiva-textlink;
		}

        &.active {
            color: $kiva-stroke-gray;
        }

    }
}