.top-nav {
    background-color: $kiva-green;

    .columns {
        padding:0;

        @media #{$large-up} {
            padding:0;
            width:auto;
        }

        .kv-dropdown {
            position: inherit;
        }
    }

    .header-row {
        position: relative;
    }

    .header-column > a {
        border-right: rem-calc(1) solid $kiva-navdivider-green;
    }

    .header-column:last-child > a {
        border-right:none;
    }

    .logo-area .header-button {
		$vertical-offset: 3px;

		line-height: 0;
        padding: 0 0.3rem $vertical-offset;

		@media #{$large-up} {
			padding: 0 rem-calc(16) $vertical-offset;
		}

		.icon {
			width: 57px;
			height: $header-height-small;
			margin-top: -$vertical-offset;

			@media #{$large-up} {
				height: $header-height;
			}
		}
    }

    .amount {
        color: inherit;
        background: none;
        padding: 0;

        @media #{$large-up} {
            color: $kiva-green;
            background: $white;
            padding: rem-calc(1) rem-calc(7);
        }
    }

    .promo-space.columns {
        position: absolute;
        text-align: center;
        line-height: rem-calc(20);
        width: 100%;
		font-size: 0.8rem;
		font-weight: bold;
		margin-top: rem-calc(11);
		color: $kiva-darkgreen;


        .amount {
            background-color: $kiva-darkgreen;
        }
    }

    .right-side.columns {
        float: right;
        border: none;

        @media #{$large-up} {
            width: auto;
        }

        .columns a {
            border-left: rem-calc(1) solid $kiva-navdivider-green;
        }
    }

    .f-dropdown {
        background-color: $level-one-background;
        outline: none;
        width: auto;
        max-width: none;
        margin-top: 0;
        border-top: none;
	    z-index: 1002;

        &:after {
            display: none;
        }

        &.content {
            padding: 0;
        }
    }

    .pronus {
        font-size: 0.8rem;
        text-align: center;
        background-color: $kiva-green;
		border-top: 1px solid $kiva-navdivider-green;
		height: rem-calc(45);
		line-height: rem-calc(45);
		color: $dark-green;
		width: 100%;
		display: block;

		@media #{$small-only} {
			line-height: rem-calc(21);
		}
    }
}

// cover both n-touch and no-touch due to legacy versions of medernizr
.n-touch
, .no-touch {
	.top-nav .header-button:hover {
		background-color: $kiva-icon-green;
	}
}

.basket-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
	height: 2.444rem;
	margin-bottom: 0;
	font-size: 1.1666666667rem !important;
	z-index:1111;
}


@media #{$small-only}, #{$medium-only} {
    .top-nav {

        .small-1-8th {
            width: grid-calc(1, 8);
        }

        .small-3-8ths {
            width: grid-calc(3, 8);
        }

        .columns {
            padding:0;
        }

        .right-side {
            padding: 0;

            .columns:first-child a {
                border-left:none;
            }
        }

        .f-dropdown {
            border: none;

            // !important to override foundation inline styles applied by js
            left: 0 !important;
            width: 100% !important;

            &:before, &:after {
                display: none;
            }
        }
    }
}