.top-nav {
    background-color: $kiva-green;

    .columns {
        padding:0;

        .kv-dropdown {
            position: inherit;
        }
    }

    .header-row {
        position: relative;
    }

    .header-column > a {
        border-right: rem-calc(1) solid $kiva-navdivider-green;
    }

    .header-column:last-child > a {
        border-right:none;
    }

    .amount {
        color: inherit;
        background: none;
        padding: 0;
    }

    .promo-space.columns {
        position: absolute;
        text-align: center;
        line-height: $header-height;
        width: 100%;

        a {
            color: $kiva-darkgreen;
        }

        .amount {
            background-color: $kiva-darkgreen;
        }

        .promo {
            color: $kiva-accent-green;
        }
    }

    .right-side.columns {
        float: right;
        border: none;

        .columns a {
            border-left: rem-calc(1) solid $kiva-navdivider-green;
        }
    }

    .f-dropdown {
        outline: none;
        width: auto;
        max-width: none;
        margin-top: 0;
        border-top: none;

        &:after {
            display: none;
        }
    }

    .pronus {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        background-color: $kiva-darkgreen;

        a {
            color: $white;
            width: 100%;
            display: block;
        }
    }
}


.my-kiva {

    img {
        height: 0.78125 * $header-height-small;
        border-radius: 50%;
        margin-left: 0.3rem;
    }
}


.basket-bar {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: $kiva-accent-blue;

    a {
        color: $white;
        line-height: rem-calc(64);
        width: 100%;
        display: block;
    }
}


.secondary-nav-bar {
    background-color: $kiva-darkgreen;
    margin-bottom: 0.5rem; // should this go here?

    ul {
        list-style: none;
        margin: 0;
        display: block;
    }

    li {
        font-size: 0.8em;
        display: inline-block;

        a {
            position: relative;
            display: block;
            padding: rem-calc(12) rem-calc(16);
            color: $white;

            &.active {
                color: $kiva-green;
                font-weight: bold;
            }

            &.active:before {
                content: ' ';
                position: absolute;
                bottom: rem-calc(10);
                left: rem-calc(16);
                right: rem-calc(16);
                height: rem-calc(2);
                background-color: $kiva-green;
            }
        }

        &:first-child a {
            padding-left: 0;

            &.active:before {
                left: 0;
            }
        }
    }
}

.secondary-nav-dropdown {
    & > a {
        display: block;
        width: 100%;
        line-height: rem-calc(64);
        padding: 0 0.5rem;
        background-color: $kiva-darkgreen;
        color: $white;

        .open-icon, .closed-icon {
            float: right;
            line-height: inherit;
        }

        .closed-icon {
            display: inline;
        }
        .open-icon {
            display: none;
        }

        &.active {
            .closed-icon {
                display: none;
            }
            .open-icon {
                display: inline;
            }
        }
    }

    ul.f-dropdown {
        outline: none;
        max-width: none;
        margin-top: 0;
        border: none;

        // !important to override foundation inline styles applied by js
        left: 0 !important;
        width: 100% !important;

        &:before, &:after {
            display: none;
        }
    }
}


ul.tertiary-nav {
    list-style: none;
    margin: 0.4rem 0;

    li a {
        line-height: 2rem;

        &.active {
            color: $kiva-stroke-gray;
        }
    }
}


@media #{$small-only} {
    .top-nav {

        .small-1-8th {
            width: grid-calc(1, 8);
        }

        .small-3-8ths {
            width: grid-calc(3, 8);
        }

        .columns {
            padding:0;
        }

        .right-side {
            padding: 0;

            .columns:first-child a {
                border-left:none;
            }
        }

        .f-dropdown {
            border: none;

            // !important to override foundation inline styles applied by js
            left: 0 !important;
            width: 100% !important;

            &:before, &:after {
                display: none;
            }
        }
    }
}


@media #{$large-up} {
    .top-nav {
        .amount {
            color: $kiva-green;
            background: $white;
            padding: rem-calc(1) rem-calc(7);
        }

        .columns {
            padding:0;
            width:auto;
        }

        .logo-area {
            text-align: left;
            .header-button {
                padding: 0 rem-calc(64) 0 rem-calc(8);
            }
        }

        .right-side {
            width: auto;
        }
    }

    .my-kiva {
        img {
            height: 0.78125 * $header-height;
            margin-left: 0.5rem;
        }
    }
}