.top-nav {
    background-color: $kiva-green;

    .columns {
        padding:0;

        @media #{$large-up} {
            padding:0;
            width:auto;
        }

        .kv-dropdown {
            position: inherit;
        }
    }

    .header-row {
        position: relative;
    }

    .header-column > a {
        border-right: rem-calc(1) solid $kiva-navdivider-green;
    }

    .header-column:last-child > a {
        border-right:none;
    }

    .logo-area .header-button {
        padding: 0 0.3rem;
        img {
            max-height: rem-calc(32);
        }
    }

    .logo-area.wordmark .header-button {
        padding: 0 0.3rem;
        img {
            max-height: rem-calc(20);

            @media #{$small-only} {
                margin-top: rem-calc(-8);
            }

            @media #{$medium-up} {
                max-height: rem-calc(32);
            }
        }
    }

    .amount {
        color: inherit;
        background: none;
        padding: 0;

        @media #{$large-up} {
            color: $kiva-green;
            background: $white;
            padding: rem-calc(1) rem-calc(7);
        }
    }

    .promo-space.columns {
        position: absolute;
        text-align: center;
        line-height: $header-height;
        width: 100%;

        a {
            color: $kiva-darkgreen;
        }

        .amount {
            background-color: $kiva-darkgreen;
        }
    }

    .right-side.columns {
        float: right;
        border: none;

        @media #{$large-up} {
            width: auto;
        }

        .columns a {
            border-left: rem-calc(1) solid $kiva-navdivider-green;
        }
    }

    .f-dropdown {
        background-color: $level-one-background;
        outline: none;
        width: auto;
        max-width: none;
        margin-top: 0;
        border-top: none;

        &:after {
            display: none;
        }

        &.content {
            padding: 0;
        }
    }

    .pronus {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        background-color: $kiva-darkgreen;

        a {
            color: $white;
            width: 100%;
            display: block;
        }
    }

    @media #{$large-up} {
        .logo-area {
            text-align: left;
            .header-button {
                padding: 0 rem-calc(16);
                img {
                    max-height: none;
                }
            }
        }

        .logo-area.wordmark {
            text-align: left;
            .header-button {
                padding: 0 rem-calc(16);
                img {
                    max-height: none;
                }
            }
        }
    }
}


.basket-bar {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: $kiva-accent-blue;
	z-index:1111;

    a {
        color: $white;
        line-height: rem-calc(64);
        width: 100%;
        display: block;
    }
}


@media #{$small-only}, #{$medium-only} {
    .top-nav {

        .small-1-8th {
            width: grid-calc(1, 8);
        }

        .small-3-8ths {
            width: grid-calc(3, 8);
        }

        .columns {
            padding:0;
        }

        .right-side {
            padding: 0;

            .columns:first-child a {
                border-left:none;
            }
        }

        .f-dropdown {
            border: none;

            // !important to override foundation inline styles applied by js
            left: 0 !important;
            width: 100% !important;

            &:before, &:after {
                display: none;
            }
        }
    }
}