<div class="faq-container">
	<h2 class="faq-title">Frequently asked questions</h2>
	<section class="accordion-container">
		{{#faqs}}
			{{> 01-molecules/06-components/13-faq-question-answer}}
		{{/faqs}}
		<div class="ac-title ac-container"></div>
	</section>
</div>