<div class="social-media-list-wrapper">
	<p class="follow-us featured text-center">
		Follow us:
	</p>

	<ul class="social-media-icon-list icons inline-list">
		<li class="icon">
			<a kvtrackevent="Home|click-SocialShare-facebook" class="icon-facebook" href="https://www.facebook.com/kiva" target="_blank" class="foo">
				<svg class="icon icon-facebook">
					<use xlink:href="#icon-facebook"/>
				</svg>
			</a>
		</li>

		<li class="icon">
			<a kvtrackevent="Home|click-SocialShare-twitter" class="icon-twitter" href="https://twitter.com/Kiva" target="_blank">
				<svg class="icon icon-twitter">
					<use xlink:href="#icon-twitter"/>
				</svg>
			</a>
		</li>

		<li class="icon">
			<a kvtrackevent="Home|click-SocialShare-youtube" class="icon-youtube" href="https://www.youtube.com/user/kiva:" target="_blank">
				<svg class="icon icon-youtube">
					<use xlink:href="#icon-youtube"/>
				</svg>
			</a>
		</li>

		<li class="icon">
			<a kvtrackevent="Home|click-SocialShare-linkedin" class="icon-linkedIn" href="https://www.linkedin.com/company/266361" target="_blank">
				<svg class="icon icon-linkedIn">
					<use xlink:href="#icon-linkedIn"/>
				</svg>
			</a>
		</li>

		<li class="icon">
			<a kvtrackevent="Home|click-SocialShare-instagram" class="icon-instagram" href="instagram.com/kiva_microloans" target="_blank">
				<svg class="icon icon-instagram">
					<use xlink:href="#icon-instagram"/>
				</svg>
			</a>
		</li>
	</ul>
</div>
