<li class="comment" id="comment-{{commentId}}">
    <a {{#isBorrower}}class="commenter-image borrower-image"{{/isBorrower}}{{^isBorrower}}class="commenter-image non-borrower-image"{{/isBorrower}} href="{{commenterProfileUrl}}"><span class="circle-avatar" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true;" title="{{commenterFirstName}}<br>{{commenterLocation}}" style="background-image:url({{commenterImgUrl}})"></span></a>
    <div {{#isBorrower}}class="comment-content borrower-text"{{/isBorrower}}{{^isBorrower}}class="comment-content non-borrower-text"{{/isBorrower}}>
        <div class="comment-header show-for-large-up">
            {{commenterFirstName}}{{#commenterRole}}, {{commenterRole}}{{/commenterRole}} | {{commentTimestamp}}
        </div>
        <div class="comment-header hide-for-large-up">
            {{commenterFirstName}}{{#commenterRole}}, {{commenterRole}}{{/commenterRole}}<br>{{commentTimestamp}}
        </div>
        <div class="comment-text">{{{commentText}}}</div>
        <div class="comment-actions">
            {{#isLoggedInUserAdmin}}<a class="delete-comment" id="{{commentId}}" href="#">Delete</a>{{/isLoggedInUserAdmin}}
			{{#canFlag}}<a class="flag-comment" id="{{commentId}}" data-reveal-id="flag-comment-lightbox-{{commentId}}" href="#">Flag as inappropriate</a>{{/canFlag}}
			{{#timeFlagged}}<span class="flagged">Flagged on {{timeFlagged}}</span>{{/timeFlagged}}
			{{> 01-molecules/10-lightbox/10-flag-comment-lightbox}}
        </div>
    </div>
</li>