<div class="statistic-display">
	<div>
		<span class="statistic kiva-green">{{statisticValue}}</span>
	</div>

	<div class="statistic-label">{{statisticLabel}}</div>
	<div class="statistic-link">
			<a href="#" data-reveal-id="{{dataRevealId}}">{{lightboxTriggerLinkText}}</a>
	</div>
</div>
