<div class="statistic-display">
	<div>
		<span class="statistic kiva-green">{{statisticValue}}</span>

		{{! large-screen link }}
		{{#statisticLinkText}}
			<span class="statistic-link-large">
				<a href="#" data-reveal-id="countries-lent-to-lightbox">Details</a>
			</span>
		{{/statisticLinkText}}
	</div>

	<div class="statistic-label">{{statisticLabel}}</div>

	{{! small-screen link }}
	{{#statisticLinkText}}
		<div class="statistic-link hide-for-large-up">
			<a href="#" data-reveal-id="countries-lent-to-lightbox">Details</a>
		</div>
	{{/statisticLinkText}}
</div>
