<a href="#" class="lightboxTriggerLink" data-reveal-id="{{dataRevealId}}">{{lightboxTriggerLinkText}}</a>
<div id="{{dataRevealId}}" class="{{neededClass}} lightboxWrapper" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="closeRevealModal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightboxContent white">
                {{!different lightbox variation fills go in here.}}
            </div>
        </div>
    </div>
</div>