.touch .filter {

	.expandable-filter {
		display: block;
	}

	.small-touch {
		visibility: visible;
		height: auto;
	}

	.medium-notouch {
		visibility: hidden;
		height: 0;
		margin: 0;
		display: none;
	}

	.large-touch {
		visibility: visible;
		height: auto;
	}

	.button_box {
		padding-top: 10px;
	}

	.filter-header {
		margin: 0.5em 0;
		text-align: center;
		color: $charcoal;
		height: auto;
	}

	.filter-header-title {
		margin-left: -30px;
	}

	.filter-component {
		margin: 0;
		min-height: 44px;
		cursor: pointer;
		border-bottom: 1px solid #D8D8C8;
		padding-bottom:0;
	}

	input[type=checkbox] {
		margin-right: rem-calc(8);
		margin-bottom: 0;
		float: left;
		opactiy: 0;
	}

	input[type=checkbox] + label {
		margin: 0;
	}

	input[type=checkbox]:checked + label {
		&:before {
			content: '';
			display: inline-block;
			width: 6px;
			height: 12px;
			border: solid $kiva-green 2px;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			margin-right: 12px;
			margin-left: -18px;
		}
	}

	.checkbox-input-span {
		display: table-cell;
		text-transform: none;
		vertical-align: middle;
	}

	h3 {
		font-size: 0.8em;
		font-weight: bold;
		color: $gray;
	}

	.filter-keywords-search-box {
		color: $charcoal;
		border: 1px solid $charcoal;
		width: 12.5rem;
		margin: 0 0.6666666667rem 0.3333333333rem;
		&::-ms-clear {
			display: none;
		}
	}

	#misc-filters-container {
		margin-bottom: 0em;
	}

	.borrower-filter-box {
		width: 143px;
		height: 35px;
	}

	.borrower-filter-box-right {
		width: 143px;
		height: 35px;
	}

	.checkbox-input {
		padding-left: 35px;
		height: 44px;
		display: inline-table;
		width: 240px;
		border-bottom: 1px solid #D8D8C8;
		margin-left: 0;
		input[type=checkbox] {
			display: none;
		}
	}

	.filter-button-group-ul {
		background: #f5f5f5;
		-webkit-box-shadow: inset 0px 1px 1px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: inset 0px 1px 1px rgba(50, 50, 50, 0.75);
		box-shadow: inset 0px 1px 1px rgba(50, 50, 50, 0.75);

		.subtext {
			display: inline-table;
			padding-left: 12px;
		}
	}

	.extra-padding-bottom {
		padding-bottom: 10px;
	}

	.no-padding-top {
		padding-top: 0;
	}

	.no-border {
		border: 0;
	}

	.filter-links {
		font-size: 0.7em;
		visibility: hidden;
		margin-left: 10px;
		float: left;
		&.save-search-button {
			margin-left: 0;
			float: none;
			font-size: 18px;
		}
	}

	.filter-clear-button {
		font-size: 0.7em;
		visibility: hidden;
		margin-left: 10px;
		float: left;
	}

	.filters-close-icon {
		position: absolute;
		right: 1px;
		display: block;
	}

}

.touch {
	.desktop-clear-button {
		display: none;
	}
}