.touch .filter {
  .button_box {
    padding-top: 10px;
  }

  .filter-header {
    margin: 0.5em;
    text-align:center;
    color:$charcoal;
  }

  .filter-header-title {
    margin-left: -30px;

  }

  .filter-component {
    min-height: 44px;
    cursor: pointer;
    border-bottom: 1px solid #D8D8C8;
    padding-top: 10px;
  }

  .filter-component input {
    width: 260px;
  }

  .borrower-label {
    color: $charcoal;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked+label{
    &:before{
      content: '';
      display: inline-block;
      width: 6px;
      height: 12px;
      border: solid $kiva-green 2px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      margin-right: 10px;
      margin-left: -18px;
    }
  }

  .checkbox-input-span {
    display: table-cell;
    text-transform: none;
    vertical-align: middle;
  }
}