.touch .filter {

	.expandable-filter {
		display: block;
	}

	.small-touch {
		visibility: visible;
		height: auto;
	}

	.medium-notouch {
		visibility: hidden;
		height: 0;
		margin: 0;
		display: none;
	}

	.large-touch {
		visibility: visible;
		height: auto;
	}

	.button_box {
		padding-top: rem-calc(10);
	}

	.filter-header {
		margin: 0.5em 0;
		text-align: center;
		color: $charcoal;
		height: auto;
	}

	.filter-header-title {
		margin-left: rem-calc(-30);
	}

	.filter-component {
		margin: 0;
		min-height: rem-calc(44);
		cursor: pointer;
		border-bottom: 1px solid #D8D8C8;
		padding-bottom:0;
	}

	input[type=checkbox] {
		margin-right: rem-calc(8);
		margin-bottom: 0;
		float: left;
		visibility: hidden;
	}

	input[type=checkbox] + label {
		margin: 0;
	}

	input[type=checkbox]:checked + label {
		&:before {
			content: '';
			display: inline-block;
			width: rem-calc(6);
			height: rem-calc(12);
			border: solid $kiva-green;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			margin-right: rem-calc(12);
			margin-left: rem-calc(-18);
		}
	}

	.checkbox-input-span {
		display: table-cell;
		text-transform: none;
		vertical-align: middle;
	}

	h3 {
		font-size: 0.8em;
		font-weight: bold;
		color: $gray;
	}

	.filter-keywords-search-box {
		color: $charcoal;
		border: 1px solid $charcoal;
		width: 12.5rem;
		margin: 0 0.6666666667rem 0.3333333333rem;
		&::-ms-clear {
			display: none;
		}
	}

	#misc-filters-container {
		margin-bottom: 0;
	}

	.borrower-filter-box {
		width: rem-calc(143);
		height: rem-calc(35);
	}

	.borrower-filter-box-right {
		width: rem-calc(143);
		height: rem-calc(35);
	}

	.checkbox-input {
		padding-left: rem-calc(35);
		height: rem-calc(44);
		display: inline-table;
		width: rem-calc(240);
		border-bottom: 1px solid #D8D8C8;
		margin-left: 0;
		input[type=checkbox] {
			display: none;
		}
	}

	.filter-button-group-ul {
		background: #f5f5f5;
		box-shadow: inset 0 rem-calc(1) rem-calc(1) rgba(50, 50, 50, 0.75);

		.subtext {
			display: inline-table;
			padding-left: rem-calc(12);
		}
	}

	.extra-padding-bottom {
		padding-bottom: rem-calc(10);
	}

	.no-padding-top {
		padding-top: 0;
	}

	.no-border {
		border: 0;
	}

	.filter-links {
		font-size: 0.7em;
		visibility: hidden;
		margin-left: rem-calc(10);
		float: left;
		&.save-search-button {
			margin-left: 0;
			float: none;
			font-size: 1em;
		}
	}

	.filter-clear-button {
		font-size: 0.7em;
		visibility: hidden;
		margin-left: rem-calc(10);
		float: left;
	}

	.filters-close-icon {
		position: absolute;
		right: rem-calc(1);
		display: block;
	}

}

.touch {
	.desktop-clear-button {
		display: none;
	}
}