.filter {
  .filter-distribution-icon {
    margin-left: 75%;
    margin-top:10px;
    border:1px solid $charcoal;
    padding:1px 5px;
  }

  .filter-distribution-icon a {
    color: $charcoal;
  }

  .button_box {
    padding-left: 60px;
    @media #{$small-only} {
      padding-top: 10px;
    }
  }

  .filter-dropdown {
    color: $light-gray;
    border: 1px solid $charcoal;
    width: 210px;
    margin: 0 0.6666666667rem 0.3333333333rem;
    height: 16px;

    @media #{$medium-up} {
      width: 220px;
      margin: 0em 0.6666666667rem;
    }
  }

  .filter-header {
    @media #{$small-only} {
      margin: 0.5em;
      text-align:center;
      color:$charcoal;
    }
  }

  .filter-header-title {
    @media #{$small-only} {
      margin-left: -30px;
    }
  }

  .filter-component {
    margin: 0;
    @media #{$medium-up} {
      margin: 1em 0;
    }
  }

  .filter-component input {
    @media #{small-only} {
      width: 260px;
    }
  }

  .mobile-apply-filters-button {
    display: block;
    width:286px;
    background:#25a7e2;
    color:$white;
    margin:auto;
    text-align:center;
    border:0;
    height:40px;
  }

  .mobile-filter-sub-menu {
    font-size: 0.8em;
    color: $charcoal;
  }

  .mobile-filter-title {
    font-size:0.8em;
    font-weight:bold;
  }

  h3 {
    font-size:0.8em;
    font-weight: bold;
    color: $gray;
    margin: 0.5em 0.6666666667rem;

    @media #{$medium-up} {
      font-size:1em;
      color: $gray;
      margin: 0em 0.6666666667rem;
    }
  }

  .interact {
    color: $charcoal;
    font-weight: 300;
  }

  .filter-keywords-search-box {
    color: $charcoal;
    border: 1px solid $charcoal;
    width: 225px;
    margin: 0 0.6666666667rem 0.3333333333rem;

    @media #{$medium-up} {
      width: 220px;
      margin: 0em 0.6666666667rem;
    }

    ::-webkit-input-placeholder {
      color: $light-gray;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $light-gray;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: $light-gray;
    }
    :-ms-input-placeholder {
      color: $light-gray;
    }
  }

  .filter-slider {
    color: $green;
    border: 0px;
    padding: 0em 0.6666666667rem;
  }

  .filter-slider-item {
    margin: 1.5em 0;
  }

  .filter-slider-inner {
    margin: 0em 1rem;
  }

  .country-filter-box {
    padding: 0em;

    @media #{$medium-up} {
      padding: 0em 0.6666666667rem;
    }
  }

  .partner_filter_text {
    margin-left: 5px;
  }

  #misc-filters-container {
    margin-bottom: 0em;
    @media #{$medium-up} {
      margin-bottom: 1em;
    }
  }

  .borrower-filter-box {
    position: relative;
    border: 1px solid $charcoal;
    text-align: center;
    display: inline-table;
    vertical-align: middle;
    width: 143px;
    height: 35px;
    margin-top: 5px;

    @media #{$medium-up} {
      width: 105px;
      height: 25px;
    }
  }

  .borrower-filter-box-right {
    position: relative;
    border: 1px solid $charcoal;
    text-align: center;
    border-left: 0px;
    display: inline-table;
    vertical-align: middle;
    width: 143px;
    height: 35px;
    margin-left: -5px;
    margin-top: 5px;

    @media #{$medium-up} {
      width: 105px;
      height: 25px;
    }
  }

  .borrower-input {
    display: none;
  }

  .borrower-label {
    border: 0px;
    display: table-cell;
    vertical-align: middle;

    @media #{$small-only} {
      color: $charcoal;
    }
  }

  .checkbox-input {
    padding-left: 12px;
    display:block;
    height: 44px;
    display: inline-table;
    width: 240px;
    border-bottom: 1px solid $charcoal;

    @media #{$medium-up} {
      height: 25px;
      margin-left: 10px;
      border-bottom: 0px;
    }
  }

  input[type=checkbox] {
    margin: 0;
    @media #{$small-only} {
      display: none;
    }
  }

  input[type=checkbox]:checked+label{
    @media #{$small-only} {
      &:before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 12px;
        border: solid $kiva-green 2px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        margin-right: 10px;
      }
    }
  }

  .checkbox-input-span {
    margin-left: 3px;
    font-size: 0.8em;
    color: $charcoal;
    border: 0px;
    display: inline;
    @media #{$small-only} {
      display: table-cell;
      text-transform: none;
      vertical-align: middle;
    }
  }

  .filter-button-group-ul {
    background: #f8f8f8;
    -webkit-box-shadow: inset 0px 1px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 1px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 1px 1px rgba(50, 50, 50, 0.75);
    @media #{$medium-up} {
      background: #fff;
      -webkit-box-shadow: inset 0px 0px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    inset 0px 0px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         inset 0px 0px 0px rgba(50, 50, 50, 0.75);
    }
  }
}

.reveal-modal {
  background: $white;
}

.filter-button-group-ul {
  padding: 0em;

  @media #{$medium-up} {
    padding: 0;
  }
}

.filter-button-group-ul-bottom {
  margin-top: 0.5em;
  line-height: 1em;
  padding: 0em 0.7rem;

  @media #{$medium-up} {
    padding: 0;
  }
}

.filters_countries {
  background: $white;
}

.noUi-handle-lower div, .noUi-handle-upper div {
  position: absolute;
  color: $jumbo;
  bottom: -25px;
  text-align: center;
  width: 18px;
  font-size: 0.8em;
}

.csscolumns #countrySelectModal #country-list {
	@media #{$large-up} {
		@include column-count(2);
	}

	@media #{$xxlarge-up} {
		@include column-count(3);
	}

	.region-name {
		@include column-break();
		padding-top: 1rem;
	}
}

.no-csscolumns  #countrySelectModal #country-list {
	width: 14rem;
	margin: 0 auto;
	padding-left: 3rem;
}

hr {
  margin: 0;
}

.mobile-filters {
  background: #fbfcfc;
  margin-top: 0.5em;
}

.left-off-canvas-toggle {
  margin: 10px 5px;
}

#filter-clear-button {
  font-size: 0.7em;
  float: left;
}