.filter-component {
  margin: 1em 0;
}

.filter-component input {
  margin-bottom: 0;
}

.filters-keywords-search-box {
  color: #aaa;
  border: 1px solid #000;
  width: 200px;
}

.filter-slider {
  color: #928f8c;
  border: 0px;
  padding: 0em 0.6666666667rem;
}

.filter-slider-inner {
  margin: 0em 1rem;
}