.fundraising-meter {
    background-color: $kiva-bg-darkgray;
    position: relative;
	border: none;
	padding: 0;

	.meter {
		background-color: $kiva-green;
	}

    &.repaying .meter {
        background-color: $gray;
    }

    .caption {
        position: absolute;
        top: 0;
		left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}
