.fundraising-meter {
    position: relative;
	border: none;
	padding: 0;

	.meter {
		background-color: $kiva-green;
	}

    .caption {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}
