$banner-padding-mobile: 0.75rem;
$banner-padding-desktop: 1.5rem;

.cookie-banner-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5rem;
	z-index: 1000;

	.cookie-banner {
		position: relative;
		background: #f4f4f4;
		font-size: rem-calc(14);
		border: 0.5px solid rgba(151, 151, 151, 0.3);
		border-radius: rem-calc(2);
		color: $charcoal;
		padding: $banner-padding-mobile;
		line-height: 1.6;

		.close-button {
			cursor: pointer;
			display: block;
			margin: 0.25rem auto 0;
			padding: 0.55rem 1rem;
		}

		.cookie-banner-content {
			text-align: center;
			margin: 0 auto;
		}
	}

	@media #{$large-up} {
		.cookie-banner {
			padding-right: 10rem;

			.close-button {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: absolute;
				right: $banner-padding-desktop;
				top: 50%;
				transform: translateY(-50%);
				margin: unset;
			}
		}
	}

	@media #{$xga-up} {
		.cookie-banner {
			padding-right: 10rem;

			.cookie-banner-content {
				max-width: 50rem;
			}
		}
	}
}

.gdpr-hidden {
	display:none;
}
