// shared vars
$header-height: rem-calc(64);
$header-height-small: rem-calc(45);

$selected-color: #a9a9a9;
$level-one-background: $white;
$level-two-background: #f5f5f5;
$level-three-background: #e6e6e6;

// imports - alphabetical for clarity
@import 'header/dropdown-list';
@import 'header/header-button';
@import 'header/lend-menu';
@import 'header/my-kiva';
@import 'header/search-box';
@import 'header/secondary-nav.scss';
@import 'header/top-nav';
@import 'header/holiday-promo';