$light-blue-gray: #DBE3E5;

.icon {
    fill: none;
    stroke: none;
    -webkit-backface-visibility: hidden;

    &.icon-confirmation,
	&.icon-error,
	&.icon-info,
	&.icon-warning,
	&.icon-question,
    &.icon-magnify-glass,
    &.icon-nearme,
    &.icon-triangle,
    &.icon-globe,
    &.icon-handshake,
    &.icon-sort,
	&.icon-edit,
	&.icon-refresh,
	&.icon-grid,
	&.icon-map,
    &.icon-tags-checkmark,
	&.icon-sector-agriculture,
	&.icon-sector-arts,
	&.icon-sector-clothing,
	&.icon-sector-construction,
	&.icon-sector-education,
	&.icon-sector-entertainment,
	&.icon-sector-food,
	&.icon-sector-health,
	&.icon-sector-housing,
	&.icon-sector-manufacturing,
	&.icon-sector-personal-use,
	&.icon-sector-retail,
	&.icon-sector-services,
	&.icon-sector-transportation,
	&.icon-sector-wholesale {
        fill: $kiva-text-dark;
    }

    &.icon-large-chevron,
    &.icon-large-chevron-mobile,
    &.icon-medium-chevron,
    &.icon-small-chevron,
    &.icon-small-chevron-mobile,
    &.icon-x,
	&.icon-list,
    &.icon-filter {
        stroke: $kiva-text-dark;
    }

    &.icon-distribution {
        color: $kiva-text-dark;
    }

    &.icon-star,
    &.icon-half-star {
        fill: $kiva-bg-darkgray;
        color: $kiva-text-dark;
    }

    &.icon-slideshow-dot {
        stroke: $white;
        fill: $white;
        fill-opacity: 0.3;

        &.active {
            fill-opacity: 1;
        }
    }

    &.icon-facebook,
    &.icon-pinterest,
    &.icon-twitter,
    &.icon-yelp,
    &.icon-youtube,
    &.icon-linkedIn,
	&.icon-instagram {
        color: $gray;
    }

    &.icon-boundaries,
    &.icon-hand-up,
    &.icon-lifting,
    &.icon-recycle,
    &.icon-impact {
        fill: $light-blue-gray;
        color: $kiva-green;
    }

    &.icon-choose,
    &.icon-lend,
    &.icon-repaid,
    &.icon-repeat {
        fill: $kiva-green;
        color: $kiva-icon-green;
    }

    &.icon-leaf,
    &.icon-leaves {
        fill: $kiva-green;
    }

    &.icon-match {
        fill: $white;
        color: $kiva-icon-green;
    }

	&.icon-pdf {
		fill: #C31B00;
	}

    &.icon-checkbox-bad {
        fill: $kiva-accent-red;
    }

    &.icon-checkbox-good {
        fill: $kiva-green;
    }

	&.icon-curved-arrow {
		fill: $kiva-darkgreen;
	}

	&.icon-new-kiva-logo {
		fill: $kiva-green;
	}
}

// Note: :hover and :active CSS for the social media icons
// can't be applied on the icon SVG elements themselves,
// they must be applied on the element wrapping the SVG.
// Add one of the following classes to the wrapping
// element to get the :hover and :active state coloring:

.icon-facebook {
	&:hover svg, &:active svg {
		color: $facebook-hover-color;
	}
}
.icon-pinterest {
	&:hover svg, &:active svg {
		color: $pinterest-hover-color;
	}
}
.icon-twitter {
	&:hover svg, &:active svg {
		color: $twitter-hover-color;
	}
}
.icon-yelp {
	&:hover svg, &:active svg {
		color: $yelp-hover-color;
	}
}
.icon-youtube {
	&:hover svg, &:active svg {
		color: $youtube-hover-color;
	}
}
.icon-linkedIn {
	&:hover svg, &:active svg {
		color: $linkedin-hover-color;
	}
}
.icon-instagram  {
	&:hover svg, &:active svg {
		color: $instagram-hover-color;
	}
}