@import '../settings';
@import '../palette';
@import '../vendor_override/foundation/type';

$loan-card-footer-height: 3rem;
$loan-card-meter-height: $loan-card-footer-height/2;
$loan-card-border: 1px solid $kiva-stroke-gray;
$list-break-point: $xlarge-up;
$list-loan-card-section-spacing: 0.75rem;
$list-loan-card-buttons-width: rem-calc(210);
$list-loan-card-buttons-height: 2.5rem;
$list-loan-card-image-width: rem-calc(100);
$list-loan-card-image-width-larger: rem-calc(150);
$list-loan-card-image-break-point: '#{$screen} and (min-width: 1200px)';
$list-loan-card-buttons-half-width: $list-loan-card-buttons-width / 2;

.list-view-header {
	display: none;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: $kiva-bg-darkgray;
	border-bottom: $loan-card-border;

	@media #{$list-break-point} {
		.list-view & {
			display: table;
		}
	}

	> div {
		float: left;
	}

	.loan-country {
		width: 46%;
	}

	.partner-trustee {
		width: calc(30% - #{$list-loan-card-buttons-half-width});
		padding-right: $list-loan-card-section-spacing;
	}

	.loan-length {
		width: calc(24% - #{$list-loan-card-buttons-half-width});
		padding-right: $list-loan-card-section-spacing;
	}
}

.list-view ul.loancards-list {
	@media #{$list-break-point} {
		@include block-grid(1);
		
		margin: 0 rem-calc(-10) rem-calc(20);

		li {
			padding-bottom: 0;

			&:nth-child(2n) .loan-card {
				background-color: $kiva-bg-darkgray;

				.fundraising-meter {
					background-color: $white;
				}
			}
		}
	}
}

.loan-card {
	height: 100%;
	position: relative;
    min-width: rem-calc(300);
	background-color: $white;

	&.row {
		margin: auto;
		max-width: rem-calc(480);
	}

	.loading & {
		opacity: 0.2;
	}

	.move-right.loading & {
		opacity: 1;

		@media #{$large-up} {
			opacity: 0.2;
		}
	}

	.columns {
		padding: 0;
	}

	p {
		margin-bottom: 0.25rem;
	}

	.borrower-partner-trustee, .borrower-loan-length {
		display: none;
		padding: 0 0.5rem;
		z-index: 1;

		span {
			display: block;
			color: $kiva-text-medium;
			font-size: $x-small-font-size;
			line-height: $x-small-line-height;
		}
	}

	.list-view & {

		.borrower-partner-trustee, .borrower-loan-length {
			display: block;
		}

		.borrower-loan-length {
			margin-bottom: $loan-card-footer-height / 2;
		}

		@media #{$list-break-point} {
			max-width: none;
			height: auto !important;
			background-color: $kiva-bg-lightgray;
			border-bottom: $loan-card-border;
			padding: 1rem;

			.borrower-partner-trustee, .borrower-loan-length {
				border: none;
				padding: 0 $list-loan-card-section-spacing 0 0;

				span {
					display: none;
				}
			}

			.borrower-image-wrap {
				width: $list-loan-card-image-width;
			}

			.borrower-details-wrap {
				width: calc(46% - #{$list-loan-card-image-width});
				padding-right: $list-loan-card-section-spacing;
			}

			.borrower-partner-trustee {
				width: calc(30% - #{$list-loan-card-buttons-half-width});
			}

			.borrower-loan-length {
				width: calc(24% - #{$list-loan-card-buttons-half-width});
			}

			.borrower-footer-wrap {
				width: $list-loan-card-buttons-width;
			}

			&:hover {
				box-shadow: none;
			}
		}

		@media #{$list-loan-card-image-break-point} {
			.borrower-image-wrap {
				width: $list-loan-card-image-width-larger;
			}

			.borrower-details-wrap {
				width: calc(46% - #{$list-loan-card-image-width-larger});
			}
		}
	}

	.loan-message {
		font-size: $small-font-size;
		line-height: $small-line-height;
		color: $kiva-text-dark;

		&.urgent {
			color: $red;
		}
	}

	.image-edit-buttons {
		position: absolute;
		z-index: 1;
		display: none;

		a {
			display: inline-block;
			float: left;
			padding: 0.25rem;
			line-height: 0;
			background-color: $kiva-text-dark;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}

			.icon {
				fill: $white;
				width: 1.5rem;
				height: 1.5rem;
			}

			.icon-edit {
				transform: translate(6%,-10%);
			}
		}

		a.loading {
			.icon-refresh {
				animation: spin 1s linear infinite;
			}

			@keyframes spin {
				100% {
					transform: rotate(-360deg);
				}
			}
		}
	}

	.borrower-image-wrap {
		z-index: 1;
	}

	.borrower-image {
        position: relative;
        display: block;
		width: 100%;
		padding-bottom: 62.5%;
        background-size: cover;
		background-color: $kiva-bg-darkgray;

        .loan-message {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 0.25rem;
            background-color: rgba(255, 255, 255, 0.8);
        }

		@media #{$list-break-point} {
			.list-view & {
				padding-bottom:100%;

				.loan-message {
					display:none;
				}
			}
		}
	}

	.loan-image-footer {
        position: relative;
        $loan-image-footer-height: 2rem;

        .icon-match {
            height: $loan-image-footer-height;
            width: $loan-image-footer-height;
        }

        .matching-message {
            font-size: $small-font-size;
            height: $loan-image-footer-height;
            padding-right: $loan-image-footer-height;

			@media #{$list-break-point} {
				.list-view & {
					display: none;
				}
			}

            span {
                line-height: $loan-image-footer-height;
            }
        }

        .icon-star {
            height: $loan-image-footer-height;
            width: $loan-image-footer-height;
        }
    }

	.borrower-details-wrap {
		padding: 0 0.5rem;
		margin-bottom: $loan-card-footer-height / 2;
		z-index: 1;

		.list-view & {
			margin-bottom: 0;

			@media #{$list-break-point} {
				border: none;

				.loan-message {
					display: block;
				}
			}
		}

        a, a:visited {
            color: $kiva-textlink;
        }

		.loan-message {
			display: none;
		}
	}

    .country {
        display: inline;
        white-space: nowrap;

        span.f16 {
            margin-right: 0.25rem;
        }

		@media #{$list-break-point} {
			.list-view & {
				display: block;
				position: relative;
				padding-left: 1.1rem;
				white-space: normal;
				line-height: 1.25rem;
				padding-bottom: 0.25rem;

				span {
					position: absolute;
					top: 0.15rem;
					left: 0;
				}
			}
		}
    }

    .borrower-footer-wrap {
        overflow: hidden;
		position: static;
		height: 1.5 * $loan-card-footer-height;
		$loan-image-footer-height: 1.5rem;

		&:before {
			content: '';
			border-left: $loan-card-border;
			border-right: $loan-card-border;
			height: 100%;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 0;
		}

		.fundraising-meter {
			height: $loan-card-meter-height;
			width: 100%;
			margin: 0;
		}

		.floater {
			position: absolute;
			width: 100%;
			bottom: 0;
		}

		@media #{$list-break-point} {
			.list-view & {
				overflow: visible;
				height: auto;

				.floater {
					position: static;
				}

				&.vertical-centering {
					position: relative;
					padding-bottom: $list-loan-card-image-width;

					.floater {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						bottom: auto;
					}
				}

				&:before {
					display: none;
				}
				
				.fundraising-meter {
					position: relative;
				}
			}
		}

		@media #{$list-loan-card-image-break-point} {
			.list-view &.vertical-centering {
				padding-bottom: $list-loan-card-image-width-larger;
			}
		}

		.icon-match {
			position: absolute;
			left: 0;
			height: $loan-image-footer-height;
			width: $loan-image-footer-height;
		}

		.matching-message {
			position: relative;
			margin-top: 1rem;
			font-size: $small-font-size;
			padding-left: $loan-image-footer-height + 0.25rem;
			display: none;

			@media #{$list-break-point} {
				.list-view & {
					display: block;
				}
			}

			span {
				display: inline-block;
				line-height: 1.3;
			}
		}
    }

    &:hover {
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

		.image-edit-buttons {
			display: block;
		}

        .bottom-bar {
            height: $loan-card-footer-height;
        }
    }
}

.no-touch .borrower-footer-wrap{
	height: 0;

	.fundraising-meter {
		position: absolute;
		bottom: 0;
	}
}

.no-touch .bottom-bar {
    position: absolute;
    bottom: 0;
    height: 0;
    overflow: hidden;

    &.no-hide {
        height: $loan-card-footer-height;
    }

    &.show-short {
        height: $loan-card-meter-height;

        .button, .message {
            height: $loan-card-meter-height;
            line-height: $loan-card-meter-height;
            font-size: $small-font-size;

            .icon {
                height: $loan-card-meter-height;
                width: rem-calc(14);
            }

            span {
                padding-left: 1.25rem;
            }
        }
    }
}

.bottom-bar {
    width: 100%;
	$message-height: 1.75rem;

    $transition: height 200ms ease-out;
    -webkit-transition: $transition;
    transition: $transition;

	&.lent-to-list-view {
		display: none;
	}

	@media #{$list-break-point} {
		.list-view & {
			position: static;
			height: $loan-card-footer-height;

			&.lent-to-list-view {
				display: block;
			}

			&.hide-for-touch {
				display: block !important;
			}

			&.ended {
				display: none;
			}

			&:first-child {
				margin-top: $message-height;
			}

			.button, .message {
				font-size: $body-font-size;
				height: $list-loan-card-buttons-height;
				line-height: $list-loan-card-buttons-height;

				.icon {
					height: $list-loan-card-buttons-height;
				}
			}

			&.show-short {
				margin-top: 0;
				height: $message-height;

				.button, .button:hover {
					height: $message-height;
					line-height: $message-height;
					font-size: $small-font-size;
					background: none;
					color: $kiva-text-dark;

					.icon {
						height: $message-height;
						fill: $kiva-green;
						width: rem-calc(14);
					}
				}
			}
		}
	}

    .button, .message {
        height: $loan-card-footer-height;
        line-height: $loan-card-footer-height;
        font-size: $top-nav-font-size;
        font-weight: normal;
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
        white-space: nowrap;
        color: $white;

        &:hover, &:active, &:visited, &:focus {
            color: $white;
        }

        &.half-width {
            width: 50%;

            &:first-child {
                border-right: rem-calc(1) solid $white;
            }
        }

		@media #{$list-break-point} {
			.list-view &:nth-child(1) {
				width: 100%;
			}

			.list-view &:nth-child(2) {
				display: none;
			}
		}

        .icon {
            fill: $white;
            width: 1rem;
            height: $loan-card-footer-height;
            position: absolute;
        }

        span {
            padding-left: 1.5rem;
        }

        .loading-spinner {
            height: 1.2rem;
			width: 1.2rem;
            margin-right: 0.75rem;
			vertical-align: middle;

			.line {
				background-color: $white;
			}
        }
    }

    .button.success {
		background-color: $kiva-navdivider-green;

		&:hover, &:active {
            background-color: $kiva-icon-green;
        }
    }

    .message {
        background-color: $kiva-navdivider-green;
        text-align: center;
    }
}