@import '../settings';
@import '../font-vars';

$loan-card-footer-height: 3rem;
$loan-card-meter-height: rem-calc(8);
$loan-card-border: 1px solid $kiva-stroke-gray;

.list-view .list-view-header.is-loan-card-2 {
	@media #{$xlarge-up} {
		display: table;
		width: 100%;
		padding: 0.5rem 1rem;
		background-color: $kiva-bg-darkgray;
		border-bottom: $loan-card-border;

		.loan-country {
			width: calc(44.5% - 6.25rem);
		}

		.partner-trustee {
			width: calc(28% - 6.25rem);;
		}

		.loan-length {
			width: calc(24% - 6.25rem);
		}
	}
}

.list-view .loan-card-2 .favorite-link {
	@media #{$xlarge-up} {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.list-view .loan-card-2 .loan-card-2-loan-length {
	display: none;
}

.loan-card-2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	min-width: rem-calc(300);
	background-color: white;
	border: $loan-card-border;

	&.row {
		margin: auto;
		max-width: rem-calc(480);
	}

	.loading & {
		opacity: 0.2;
	}

	.move-right.loading & {
		opacity: 1;

		@media #{$large-up} {
			opacity: 0.2;
		}
	}

    .favorite-star-wrapper {
	  	position: relative;

	  	.favorite-link {
		  	position: absolute;
		  	bottom: 0;
		  	right: 0;
		 	border: none;
			background-color: #FFFFFF;
			border-radius: 50%;
			margin-right: 0.25rem;
			margin-bottom: 0.25rem;
		}

		.icon-bookmark,
		.icon-bookmark-filled {
		  	height: 2rem;
		  	width: 2rem;
		  	padding: 0.5rem;
		  	vertical-align: bottom;
		}
	}

	.loan-card-2-details-wrap {
		flex-grow: 1;
		padding: rem-calc(16) rem-calc(20) 0;
		text-align: center;

		a, a:visited {
			color: $kiva-textlink;
		}
	}

	.loan-card-2-borrower-name {
		font-size: rem-calc(22);
		line-height: rem-calc(22);
		font-weight: 400;
	}

	.loan-card-2-country {
		margin: rem-calc(5) 0 rem-calc(9) ;
		font-size: rem-calc(16);
		line-height: rem-calc(16);
		font-weight: 400;
		color: $kiva-text-light;
	}

	.loan-card-2-use {
		font-size: rem-calc(16);
		line-height: rem-calc(22);
		font-weight: 300;
	}

	.loan-card-2-loan-length {
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
		font-weight: 300;
		
		span {
			font-weight: bold;
		}
	}
	
	.loan-message
	, .short-loan-message {
		color: $kiva-text-dark;
	}

	.short-loan-message {
		display: none;
	}

	.image-edit-buttons {
		z-index: 1;

		a {
			display: inline-block;
			float: left;
			padding: 0.25rem;
			line-height: 0;
			background-color: $kiva-text-dark;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}

			.icon {
				fill: $white;
				width: 1.5rem;
				height: 1.5rem;
			}

			.icon-edit {
				transform: translate(6%,-10%);
			}
		}

		a.loading {
			.icon-refresh {
				animation: spin 1s linear infinite;
			}

			@keyframes spin {
				100% {
					transform: rotate(-360deg);
				}
			}
		}
	}

	.loan-card-2-image-wrap {
		z-index: 1;
	}

	.loan-card-2-image {
		position: relative;
		display: block;
		width: 100%;
		padding-bottom: 62.5%;
		background-size: cover;
		background-color: $kiva-bg-darkgray;
	}

	.borrower-partner-trustee,
	.borrower-loan-length {
		display: none;
	}

	.fundraising-meter {
		height: $loan-card-meter-height;
		width: 100%;
		margin: 0 0 rem-calc(8) 0;
		border-radius: $loan-card-meter-height;
		background-color: $kiva-stroke-gray;

		.meter {
			border-radius: $loan-card-meter-height;
		}
	}

	.loan-card-2-footer-wrap {
		height: rem-calc(145);
		padding: rem-calc(10) rem-calc(20)rem-calc(20);
		text-align: center;
	}

	&:hover {
		box-shadow: rem-calc(2) rem-calc(2) rem-calc(4) rgba(0,0,0,0.1);

		.image-edit-buttons {
			display: block;
		}
	}

	.left-and-to-go-line
	, .matching-line {
		font-size: $small-font-size;
	}

	.left-and-to-go-line {
		height: $small-font-size;
		font-size: $small-font-size;
		line-height: $small-font-size;
		font-style: italic;
		color: $kiva-green;
		margin-bottom: rem-calc(10);
	}

	.matching-line {
		$matching-line-height: rem-calc(22);
		height: $matching-line-height;
		line-height: $matching-line-height;
		font-weight: 300;
		margin-bottom: rem-calc(3);
		max-width: 85vw;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		.icon-match {
			fill: $kiva-text-medium ;
			color: $kiva-stroke-gray;
			height: $matching-line-height;
			width: $matching-line-height;
			position: static;
			left: auto;
			vertical-align: middle;
		}
	}
}

.list-view  {

	.loan-card-2 {
		.borrower-partner-trustee,
		.borrower-loan-length {
			display: block;
			font-size: $small-font-size;
			font-weight: $paragraph-font-weight;
			padding: 0.5rem 1.25rem 0;
			text-align: center;

			span {
				font-weight: bold;
			}
		}

		.borrower-loan-length {
			padding-bottom: 0.5rem;
		}
	}


	@media #{$xlarge-up} {
		.is-loan-card-2 li:nth-child(2n+0) .loan-card-2{
			background-color: $kiva-bg-darkgray;
		}

		.loan-card-bottom-buffer.show-for-touch.is-loan-card-2 {
			height: 0;
		}

		.loan-card-2 {
			flex-direction: row;
			max-width: none;
			width: 100%;

			.loan-card-2-use,
			.borrower-partner-trustee,
			.borrower-loan-length {
				padding-left: 0;
				text-align: left;

				span {
					display: none;
				}
			}
		}

		.loan-card-2-image-wrap {
			padding-left: rem-calc(12);
			padding-top: rem-calc(10);
			width: 6.25rem;
		}

		.loan-card-2-image {
			padding-bottom: 100%;
		}

		.loan-card-2-details-wrap {
			padding: rem-calc(8) 1rem 0;
			text-align: left;
			width: calc(38% - 6.25rem);
		}

		.loan-card-2-borrower-name {
			font-size: $body-font-size;
		}

		.borrower-partner-trustee,
		.borrower-loan-length {
			padding-right: 1rem;
			padding-top: rem-calc(10);
		}

		.borrower-partner-trustee {
			width: calc(27% - 6.25rem);
		}

		.borrower-loan-length {
			width: calc(24% - 6.25rem);
		}

		.loan-card-2-footer-wrap {
			height: auto;
			min-width: 15rem;
			margin-top: 0.25rem;
			width: calc(33% - 6.25rem);
		}

		.left-and-to-go-line {
			.loan-message {
				display: none;
			}

			.short-loan-message {
				display: inline;
			}
		}

		.matching-line {
			height: auto;
			line-height: $small-font-size;
			overflow: visible;
			text-overflow: initial;
			white-space: normal;
			padding-bottom: rem-calc(2);
		}
	}
}

.bottom-bar-2 {
	width: 100%;

    .button, .message {
		height: rem-calc(47);
		line-height: rem-calc(47);
		font-size: $top-nav-font-size;
		font-weight: normal;
		color: $white;
		width: 100%;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		border-radius: rem-calc(2);
		box-shadow: 0 rem-calc(2)  $dark-blue;

		&:hover, &:active, &:visited, &:focus {
			color: $white;
		}

		.lend-button {
			&:hover, &:active, &:visited, &:focus {
			   background-color: $shadow-blue;
			}
		}

		.icon {
			fill: $white;
			width: 1rem;
			height: $loan-card-footer-height;
			position: absolute;
		}

		span {
			padding-left: 1.5rem;
		}

	.loading-spinner {
			height: 1.2rem;
			width: 1.2rem;
			margin-right: 0.75rem;
			vertical-align: middle;

			.line {
				background-color: $white;
			}
        }
    }

	.message {
		background-color: $dark-blue;
		font-style: italic;
	}

    .button.success {
		color: $charcoal;
		background-color: $white;
		border: rem-calc(1) solid $charcoal;
		box-shadow: 0 rem-calc(2)  $dark-charcoal;

		&:hover, &:active {
			border: rem-calc(1) solid $kiva-accent-blue;
			box-shadow: 0 rem-calc(2)  $kiva-accent-blue;
			color: $kiva-accent-blue;

			.icon {
				color: $kiva-accent-blue;
			}
        }

		.icon {
			color: $charcoal;
			width: rem-calc(30);
			height: rem-calc(30);
			vertical-align: middle;
			position: relative;
			margin-top: rem-calc(-5);
			margin-right: rem-calc(5);
		}
	}
}

.list-view .bottom-bar-2 {
	.button,
	.message {
		@media #{$xlarge-up} {
			height: 2.5rem;
			line-height: 2.5rem;
			font-size: $paragraph-font-size;
		}
	}
}

.message-card-2 {
	display: flex;
	flex-direction: column;

	.bottom-bar-2 {
		padding: 1.25rem 1.25rem 1.375rem;
	}

	.message {
		flex-grow: 1;
		padding: 0.75rem;

		h2 {
			font-weight: bold;
		}

		p {
			font-size: $top-nav-font-size;
		}
	}

	@media #{$list-break-point} {
		.list-view & {
			flex-direction: row;
			align-items: center;

			.message {
				border: none;
			}

			.bottom-bar-2 {
				padding: 0 rem-calc(20) 0 0;
				text-align: right;

				.button {
					width: rem-calc(200);
				}
			}
		}
	}
}
