$footer-height: 3rem;

// Loan cards - listing
.loancards-list > li {
	//margin-bottom: 1rem;
}

.loan-card {
	height: 100%;
	position: relative;

	.borrower-img-wrap {
        position: relative;
        display: block;
		width: 100%;
		padding-bottom: 62.5%;
	}

	.borrower-img {
        position: absolute;
		width: 100%;
	}

	.matcher-text {
		background-color: rgba(255, 255, 255, .8);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.borrower-details-wrap {
		padding: 0 0.5rem;
        $border: rem-calc(1) solid $kiva-stroke-gray;
        border-left: $border;
        border-right: $border;

        a, a:visited, a:hover, a:active {
            color: $kiva-text-dark;
        }

        p {
            margin-bottom: 0.25rem;
        }
	}

    .country {
        display: inline;
        white-space: nowrap;

        span.f16 {
            margin-right: 0.25rem;
        }
    }

    .borrower-footer-wrap {
        width: 100%;
        overflow: hidden;

        .fundraising-meter {
            height: $footer-height/2;
            width: 100%;
            margin: 0;
        }
    }

    &:hover {
        .bottom-bar {
            height: $footer-height;
        }
    }
}

.no-touch .bottom-bar {
    position: absolute;
    bottom: 0;
    height: 0;
    overflow: hidden;

    &.no-hide {
        height: $footer-height;
    }
}

.bottom-bar {
    width: 100%;

    .button, .message {
        height: $footer-height;
        line-height: $footer-height;
        font-size: $top-nav-font-size;
        font-weight: normal;
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
        white-space: nowrap;
        color: $white;

        &:hover, &:active, &:visited {
            color: $white;
        }

        &.half-width {
            width: 50%;

            &:first-child {
                border-right: rem-calc(1) solid $white;
            }
        }

        .icon {
            fill: $white;
            width: 1rem;
            height: 1.1rem;
            margin-right: 0.5rem;
            padding-top: rem-calc(4);
        }

        .loader {
            height: 1rem;
            padding-right: 1rem;
        }
    }

    .message {
        background-color: $kiva-green;
        text-align: center;
    }
}