.loan-figure {
  position: relative;
  margin: 0;
  padding: 0;

  .loan-image-wrap {
    position: relative;

    img {
      margin: 0 auto;
    }

    .icon-youtube {
      position: absolute;
      height: 80px;
      width: 80px;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px;
    }
    iframe {
      display: block;
      margin: 0 auto;
    }
  }

  .carousel-nav {
    background-color: rgba(51, 51, 51, .3);
    display: none;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100px;
    margin-top: -50px;
    transform: rotate(180deg);

    svg {
      stroke: #fff;
    }
  }

  .carousel-prev {
    left: 0;

    .icon {
      transform: rotate(270deg);
    }
  }

  .carousel-next {
    right: 0;

    .icon {
      transform: rotate(90deg);
    }
  }

  .carousel-nav:hover {
    background-color: rgba(51, 51, 51, .6);
    cursor: pointer;
  }

  .icon-small-chevron {
    width: 50px;
    height: 50px;
    margin-top: -27px;
    position: absolute;
    top: 50%;
  }

  .icon-small-chevron:hover {
    cursor: pointer;
  }

}