$loan-card-footer-height: 3rem;
$loan-card-meter-height: $loan-card-footer-height/2;

.loan-card {
	height: 100%;
	position: relative;
    min-width: rem-calc(300);
    max-width: rem-calc(480);
    margin: auto;

	.borrower-img-wrap {
        position: relative;
        display: block;
		width: 100%;
		padding-bottom: 62.5%;
        background-size: cover;
		background-color: $kiva-bg-darkgray;

        .loan-message {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 0.25rem;
            font-size: $small-font-size;
            line-height: $small-line-height;
            background-color: rgba(255, 255, 255, 0.8);
            color: $kiva-text-dark;

            &.urgent {
                color: $red;
            }
        }
	}

	.loan-image-footer {
        position: relative;
        $loan-image-footer-height: 2rem;

        .icon-match {
            height: $loan-image-footer-height;
            width: $loan-image-footer-height;
        }

        .matching-message {
            font-size: $small-font-size;
            height: $loan-image-footer-height;
            padding-right: $loan-image-footer-height;

            span {
                line-height: $loan-image-footer-height;
            }
        }

        .icon-star {
            height: $loan-image-footer-height;
            width: $loan-image-footer-height;
        }
    }

	.borrower-details-wrap {
		padding: 0 0.5rem;
        $border: rem-calc(1) solid $kiva-stroke-gray;
        border-left: $border;
        border-right: $border;

        a, a:visited {
            color: $kiva-textlink;
        }

        p {
            margin-bottom: 0.25rem;
        }
	}

    .country {
        display: inline;
        white-space: nowrap;

        span.f16 {
            margin-right: 0.25rem;
        }
    }

    .borrower-footer-wrap {
        width: 100%;
        overflow: hidden;

        .fundraising-meter {
            height: $loan-card-meter-height;
            width: 100%;
            margin: 0;
        }
    }

    &:hover {
		box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

        .bottom-bar {
            height: $loan-card-footer-height;
        }
    }
}

.no-touch .bottom-bar {
    position: absolute;
    bottom: 0;
    height: 0;
    overflow: hidden;

    &.no-hide {
        height: $loan-card-footer-height;
    }

    &.show-short {
        height: $loan-card-meter-height;

        .button, .message {
            height: $loan-card-meter-height;
            line-height: $loan-card-meter-height;
            font-size: $small-font-size;

            .icon {
                height: $loan-card-meter-height;
                width: rem-calc(14);
            }

            span {
                padding-left: 1.25rem;
            }
        }
    }
}

.bottom-bar {
    width: 100%;

    $transition: height 200ms ease-out;
    -webkit-transition: $transition;
    transition: $transition;

    .button, .message {
        height: $loan-card-footer-height;
        line-height: $loan-card-footer-height;
        font-size: $top-nav-font-size;
        font-weight: normal;
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
        white-space: nowrap;
        color: $white;

        &:hover, &:active, &:visited, &:focus {
            color: $white;
        }

        &.half-width {
            width: 50%;

            &:first-child {
                border-right: rem-calc(1) solid $white;
            }
        }

        .icon {
            fill: $white;
            width: 1rem;
            height: $loan-card-footer-height;
            position: absolute;
        }

        span {
            padding-left: 1.5rem;
        }

        .loading-spinner {
            height: 1.2rem;
			width: 1.2rem;
            margin-right: 0.75rem;
			vertical-align: middle;

			.line {
				background-color: $white;
			}
        }
    }

    .button.success {
        &, &:hover, &:active, &:visited, &:focus {
            background-color: $kiva-navdivider-green;
        }
    }

    .message {
        background-color: $kiva-navdivider-green;
        text-align: center;
    }
}