.loan-figure {
	position: relative;
	margin: 0;
	padding: 0;

	.loan-figure-carousel:nth-child(n + 2) {
		display: none;
	}

	.carousel-nav {
		position: absolute;
		top:50%;
		width: 50px;
		height: 100px;
		margin-top: -50px;
		transform: rotate(180deg);
	}

	.carousel-prev-arrow {
		position: absolute;
		left: 0;
		top: 0;
	}

	.carousel-prev {
		left: 0;

		svg {
			transform: rotate(270deg);
		}
	}

	.carousel-next {
		right: 0;

		svg {
			transform: rotate(90deg);
		}
	}

	.carousel-nav:hover {
		background-color: rgba(200, 200, 200, .2);
		cursor: pointer;
	}

	.icon-small-chevron {
		width: 50px;
		margin-top: -75px;
		position: absolute;
		top: 50%;
	}

	.icon-small-chevron:hover {
		cursor: pointer;
	}
}