.loan-image-footer {
    $loan-image-footer-height: rem-calc(40);

	.icon-match {
		height: $loan-image-footer-height;
		width: $loan-image-footer-height;
		padding: rem-calc(3);
		vertical-align: middle;
	}

	.matching-message {
		background-color: rgba(255, 255, 255, .8);
		height: $loan-image-footer-height;
		width: 100%;
		padding-right: $loan-image-footer-height;

		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		position: absolute;
		left: 0;
		bottom: 0;

		span {
			line-height: $loan-image-footer-height;
			vertical-align: middle;
		}
	}

	.favorite-link {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.favorite-link.is-favorite .icon-star {
		color: $vivid-yellow;
		opacity: 1;
	}

	.favorite-link:hover .icon-star{
		color: $vivid-yellow;
		opacity: .8;
	}

	.icon-star {
		background-color: $charcoal;
		color: $white;
		fill: none;
		height: $loan-image-footer-height;
		width: $loan-image-footer-height;
		padding: rem-calc(8);
		opacity: .5;
		vertical-align: bottom;
	}
}

.touch {
	.loan-image-footer {
		.favorite-link:hover .icon-star{
		}
	}
}