//Shared styles for all the message types
.message-text {
	display: block;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 10000;

	.icon-wrapper {
		display: inline-block;
		vertical-align: middle;
		margin-left: rem-calc(-40);
		padding-top: rem-calc(9);
		padding-bottom: rem-calc(9);

		.icon {
			margin-right: rem-calc(10);
			margin-top: rem-calc(2);
			height: rem-calc(30);
			width: rem-calc(30);
		}
	}

	.message {
		display: inline-block;
		margin: auto;
		vertical-align: middle;
		max-width: 60%;
		padding-top: rem-calc(9);
		padding-bottom: rem-calc(9);
	}

	.close-tip-message {
		position: absolute;
		top: rem-calc(2);
		right: rem-calc(2);

		.icon.icon-x {
			stroke: $kiva-text-dark;
			height: rem-calc(30);
			width: rem-calc(30);
			margin-top: rem-calc(2);
		}
	}

//Custom styles for the 3 types of messages (Confirmation, Warning & Error messages)
	&.message-text-confirmation {
		background-color: $kiva-bg-lightgray;
		border-bottom: 1px solid $kiva-text-dark ;

		.icon.icon-confirmation {
			fill: $kiva-green;
		}
	}

	&.message-text-warning, &.message-text-info {
		background-color: #FFF6A5;

		.icon.icon-warning, .icon.icon-info {
			fill: $kiva-text-dark;
		}
	}

	&.message-text-error {
		background-color: #9A071F;

		.icon.icon-error {
			fill: $white;
		}

		.message {
			color: $white;
		}

		.icon.icon-x {
			stroke: $white;
		}
	}
}
