@import '../vendor_override/foundation/type';

.mini-loan-card {
	$meter-height: 2rem;

	.image {
		display: block;
		width: 100%;
		padding-bottom: 100%;
		position: relative;

		img {
			position: absolute;
			width: 100%;
		}
	}

	.fundraising-meter {
		margin-bottom: 0;
		height: $meter-height;

		.caption {
			font-size: $small-font-size;
			line-height: $meter-height;
		}
	}

	.dedication {
		$icon-spacing: 0.25rem;
		$icon-dim: $meter-height - (2 * $icon-spacing);

		display: block;
		position: relative;
		width: 100%;
		height: $meter-height;
		padding-left: $icon-dim + $icon-spacing;
		font-size: $small-font-size;
		line-height: $meter-height / 2;

		.icon {
			position: absolute;
			left: 0;
			top: $icon-spacing;
			width: $icon-dim;
			height: $icon-dim;
		}
	}

	.status, .name, .activity, .country {
		@extend .small-text;

		display: block;
		width: 100%;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.status {
		margin-top: 0.35rem;
	}

	.country span {
		margin-right: 0.25rem;
	}
}
