.paging {
	text-align: center;
  	white-space: nowrap;

	.no-touch & .button {
		&:hover .icon {
			stroke: $kiva-textlink-hover;
		}

		&.disabled:hover .icon, &[disabled]:hover .icon {
			stroke: $kiva-text-light;
		}
	}

	.button {
		display: inline-block;
		width: calc(30% - #{rem-calc(30)});
		border-width: 1px;
		padding-left: 0;
		padding-right: 0;

		&.hidden {
			display: none;
		}

		&.first, &.last {
			border-width: 0px;
		  	box-shadow: none;
		  	background-color: $kiva-bg-lightgray;
			color: $kiva-textlink;

			&:hover {
				text-decoration: underline;
				color: $kiva-textlink;
			  	box-shadow: none;
			}
		}

		@media #{$medium-up} {
			width: calc(27% - #{rem-calc(30)});
			max-width: rem-calc(120);
			max-width: rem-calc(160);
		}

		&.previous {
			margin-right: rem-calc(20);
			padding-left: 0.5rem;

			.icon {
				right: calc(50% + 1.1rem);
				transform: rotate(90deg);
			}

			@media #{$medium-only} {
				.icon {
					right: calc(75%);
				}
			}

			@media #{$large-up} {
				padding-left: $button-med*2 + 1;
				padding-right: $button-med*2;
			}
		}

		&.next {
			padding-right: 0.5rem;

			.icon {
				left: calc(50% + 1.1rem);
				transform: rotate(-90deg);
			}

			@media #{$medium-only} {
				.icon {
					left: calc(75%);
				}
			}

			@media #{$large-up} {
				padding-left: $button-med*2;
				padding-right: $button-med*2 + 1;
			}
		}

		&.disabled .icon, &[disabled] .icon {
			stroke: $kiva-text-light;
		}
	}

	.icon {
		position: absolute;
		top: 0;
		height: $button-height-sm;
		width: 1rem;

		@media #{$medium-up} {
			height: $button-height-med;
			width: 2rem;
		}
	}
}