.paging {
	text-align: center;

	.no-touch & .button {
		&:hover .icon {
			stroke: $kiva-textlink-hover;
		}

		&.disabled:hover .icon, &[disabled]:hover .icon {
			stroke: $kiva-text-light;
		}
	}

	.button {
		display: inline-block;
		width: calc(50% - #{rem-calc(30)});
		border-width: 1px;
		padding-left: 0;
		padding-right: 0;

		@media #{$medium-up} {
			width: 12rem;
		}

		&.previous {
			margin-right: rem-calc(20);
			padding-left: 0.5rem;

			.icon {
				right: calc(50% + 1.25rem);
				transform: rotate(90deg);
			}

			@media #{$medium-up} {
				padding-left: $button-med*2 + 1;
				padding-right: $button-med*2;

				.icon {
					right: calc(50% + 2.5rem);
				}
			}
		}

		&.next {
			padding-right: 0.5rem;

			.icon {
				left: calc(50% + 0.5rem);
				transform: rotate(-90deg);
			}

			@media #{$medium-up} {
				padding-left: $button-med*2;
				padding-right: $button-med*2 + 1;

				.icon {
					left: calc(50% + 1rem);
				}
			}
		}

		&.disabled .icon, &[disabled] .icon {
			stroke: $kiva-text-light;
		}
	}

	.icon {
		position: absolute;
		top: 0;
		height: $button-height-sm;
		width: 1rem;

		@media #{$medium-up} {
			height: $button-height-med;
			width: 2rem;
		}
	}
}