@import '../palette';

@mixin printable-bg($color) {
	// Webkit support (Chrome/Safari)
	-webkit-print-color-adjust: exact;
	background-color: $color !important;

	// this should work for most browsers
	box-shadow: inset 0 0 0 1000px $color !important;

	// IE 8/9 support
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$color}', endColorstr='#{$color}')";
}

@media print {

	* {
		color: black; // black prints faster
	}

	body {
		font-size: 14px; // up the density for paper
	}

	// print grid
	@for $i from 1 through $total-columns {
		.print-#{$i} {
			width: $i/$total-columns * 100%;
		}
	}

	// print block-grid
	@include block-grid-html-classes($size:print, $include-spacing:false);

	// table styling
	table {
		thead {
			@include printable-bg($table-head-bg);
		}
		tr:nth-of-type(even) {
			@include printable-bg($table-even-row-bg);
		}
	}

	// don't limit row width
	.row {
		max-width: none;
	}

	// hide all of these elements
	.top-nav,
	.siteFooter,
	.fund-a-loan-bar,
	#ac-how-it-works,
	.lend-action,
	.mobile-lend-action,
	.ac-container .ac-dropdown-icon,
	.padding-pillow,
	.pageWrap:after {
		display: none;
	}

	// expand all sections
	.ac-body[aria-hidden="true"], [data-kv-accordion] + *[aria-hidden="true"] {
		height: auto;
	}

	// hide these specific sections
	#ac-previous-loan-details-body,
	.lenders-teams,
	.comments-and-updates,
	.loan-tags,
	.field-partner-image-wrapper {
		display: none;

		& + hr {
			display: none;
		}
	}

	// force display of fundraising meter
	.fundraising-meter {
		@include printable-bg($kiva-bg-darkgray);

		.meter {
			@include printable-bg($kiva-green);
		}

		&.repaying .meter {
			@include printable-bg($gray);
		}
	}

	// resize the country flag image
	.country-image {
		width: 3.75rem;
	}

	// Firefox doesn't like display:flex when printing
	.borrower-profile-wrapper .borrower-profile-pieces > .row {
		display: block;
	}

	// why-special & endorsement adjustments
	.green-bolded.endorsement {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.endorser {
		.profile-photo {
			display: inline-block;
		}
		.name-and-title {
			display: inline-block;
			vertical-align: middle;
			.hide-for-large-up {
				display: none;
			}
			br.lu {
				display: inline;
			}
		}
	}

	.loan-details .loan-term .icon-recycle {
		width: 3.0444rem;
		fill: #000;
		color: #000;
	}

	// show the repayment schedule inline
	#repayment-schedule-tables {
		display: block !important;
		visibility: visible !important;
		position: relative !important;

		> .row {
			padding: 0;
			margin: 0;
		}

		.repayment-schedule-lightbox {
			padding-top: 1rem;
		}

		.close-reveal-modal, .featured, .show-advanced, .hide-advanced {
			display: none;
		}
	}

	// hide the line-break before the repayment schedule
	.loan-tags + .hide-for-large-up > hr {
		display: none;
	}

	/* page break rules */
	.ac-title {
		page-break-after: avoid;
	}

	.country-map {
		page-break-inside: avoid;
	}
}