.header-nav {
    background-color: $green;

    .columns {
        padding:0;
    }

    .row > .columns {
        border-right: 1px solid $divider-green;
    }
    .row > .columns:last-child {
        border-right:none;
    }

    .pronus.columns {
        color: $light-green;
        text-align: center;
        line-height: em-calc(64);
        width: grid-calc(4, $total-columns);
    }

    .right-side.columns {
        float:right;
        border:none;

        .columns {
            border-left: 1px solid $divider-green;
        }
    }
}


.header-button {
    display:block;
    padding:0 em-calc(16);
    line-height: em-calc(64);
    background-color: $green;
    white-space: nowrap;
    text-align: center;

    &:link, &:visited, &:hover, &:active {
        color: $white;
    }

    &.active, {
        color: $dark-green;
    }
}


ul.kv-dropdown {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    list-style: none;
    padding:0;
    margin:0;
    border: 1px solid $light-gray;

    &.open {
        display:block;

        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top:-(em-calc(12));
            left:5%;
            border-left: em-calc(12) solid transparent;
            border-right: em-calc(12) solid transparent;
            border-bottom: em-calc(12) solid $white;
        }
    }

    li {
        position:relative;
        float:none;
        white-space: nowrap;
        margin:0;
        padding: em-calc(8);
        border-bottom: 1px solid $light-gray;
    }

    li:last-child {
        border-bottom: none;
    }


}


@media #{$small-only} {
    .header-nav {
        .columns {
            padding:0;
        }

        .right-side {
            padding: 0;

            .columns:first-child {
                border-left:none;
            }
        }
    }

    .header-button {
        padding:0;
    }
}


@media #{$medium-up} {
    .header-nav {
        .columns {
            padding:0;
            width:auto;
        }

        .logo-area {
            text-align: left;
            .header-button {
                padding: 0 em-calc(64) 0 em-calc(8);
            }
        }

        .right-side {
            width: auto;
        }
    }
}