.sitewide-appeal-wrapper {
	background-color: $kiva-alert-yellow;

	.sitewide-appeal {
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);

		.sitewide-header {
			h2 {
				position: relative;
				padding-right: rem-calc(40);
				@media #{$xlarge-up} {
					padding-left: rem-calc(130);
				}

				.icon-large-chevron {
					position: absolute;
					top: rem-calc(7);
					right: 0;
					height: rem-calc(25);
					width: rem-calc(25);
				}
			}
			&[aria-expanded="true"] {
				.icon-large-chevron {
					$transform: rotate(-180deg);
					-webkit-transform: $transform;
					-ms-transform: $transform;
					transform: $transform;
				}
			}
		}

		.thermometer-wrap {
			// position: relative;
			// top: 50px;
			// height: 100%;
		
			.thermometer {
				transform: rotate(270deg);
				width: 16%;
				background-color: #efefef;
				position: relative;
				border: none;
				padding: 0;
				border-radius: 15px;
				height: 13px;
				top: 50px;
				// Tried this solution for the thermometer tick marks,
				// ran into issues because the meter div overlaid this background
				// image so the white ticks were never shown as desired. Rethinking
				// this stragety. 
				// background-image: linear-gradient(90deg, #4faf4e 2.27%, #efefef 2.27%, #efefef 4.55%, #fff 4.55%, #fff 50%, #4faf4e 50%, #4faf4e 52.27%, #efefef 52.27%, #efefef 54.55%, #fff 54.55%, #fff 100%);
				// background-size: 30px;

				.inner-meter {
					background-color: #4faf4e;
					display: block;
					height: 100%;
					float: left;
				}
			}

			.thermometer-bulb {
				background-color: #4faf4e;
				height: 27px;
				width: 27px;
				display: inline-block;
				border-radius: 20px;
				left: 53px;
				top: 98px;
				position: relative;
			}
		}


		.sitewide-body {
			// .circle-avatar {
			// 	float: left;
			// 	margin-left: 0;
			// 	margin-right: rem-calc(10);
			// 	width: rem-calc(120);
			// 	height: rem-calc(120);
			// }

			.message {
				overflow: hidden;
				.closing {
					margin-top: rem-calc(10);
				}
			}

			.donation-buttons {
				margin-top: rem-calc(10);
				@media #{$xlarge-up} {
					padding-left: rem-calc(130);
				}

				// .item {
				// 	width: 100%;
				// 	padding: 0;
				// 	margin: 0;
				// }

				// .custom-amount {
				// 	input {
				// 		margin: 0;
				// 		font-size: $button-font-sm;
				// 		height: $button-height-sm;
				// 		@media #{$medium-only} {
				// 			font-size: $body-font-size;
				// 		}
				// 	}
				// }

				// .custom-submit {
				// 	@media #{$medium-only} {
				// 		font-size: $body-font-size;
				// 	}
				// 	&.inactive {
				// 		border-color: $kiva-text-light;
				// 		color: $kiva-text-light;

				// 		&:hover, &:focus {
				// 			border-color: $kiva-text-light;
				// 			color: $kiva-text-light;
				// 		}
				// 	}
				// }
			}
		}
	}
}
