$footer-top-bottom-padding: rem-calc(40);

.siteFooter {
	height: $footer-height - $footer-height-reduction;
	background-color: $dark-green;
	color: $white;
	font-size: $small-font-size;
	line-height: $small-line-height;
	padding: rem-calc(40);

	@media #{$large-up} {
		height: $footer-height;
	}

	a {
		color: $light-green;
		font-size: $small-font-size;
		line-height: $small-line-height;
	}

	h1 {
		color: $white;
		font-size: $small-font-size;
		font-weight: bold;
		line-height: $small-line-height;
		margin-bottom: 0;
	}
}

.siteFooter-group {
	margin-bottom: rem-calc(60);
}

.siteFooter-group:last-of-type {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}

.siteFooter-statement-group {
	margin-bottom: 12%;
}

.siteFooter-links {
	list-style-type: none;
	margin-left: 0;
}

.footer-link-borrow {
	width: 17%;
}

.footer-link-about {
	width: 21%;
}

.footer-link-help {
	width: 19%;
}

.footer-link-careers {
	width: 22%;
}

.footer-link-map {
	width: 21%;
}

.siteFooter-disclaimer {
	margin-bottom: rem-calc(20);
}

@media #{$small-only}, #{$medium-only} {
    .siteFooter {
        padding: 1rem;
    }

	.siteFooter-nav {
		.siteFooter-links {
			border-bottom: white 1px solid;
			list-style-type: none;
			margin-left: 0;
			padding-bottom: rem-calc(40);
			text-align: center;

			> li {
				float: left;
			}
		}

		li:first-of-type {
			text-align: left;
		}

		li:last-of-type {
			text-align: right;
		}

		.siteFooter-policy {
			text-align: center;
			margin-bottom: rem-calc(40);
		}

        .siteFooter-legal {
            text-align: center;
        }

		.siteFooter-privacy {
			border-right: $white 1px solid;
			padding-right: rem-calc(20);
			margin-right: rem-calc(13);
		}
	}
}

@media #{$medium-only} {
    .siteFooter {
        padding: rem-calc(40);
    }

	.siteFooter-links a {
		font-size: $body-font-size;
		line-height: $body-line-height;
	}
}

@media #{$large-up} {
    .siteFooter {
        padding: rem-calc(40) 1rem;
    }

	.siteFooter-nav {
		height: $footer-height - $footer-top-bottom-padding;
		position: relative;
		padding-bottom: rem-calc(40);

		> .column {
			height: 100%;
		}

		.siteFooter-links {
			margin-bottom: 0;

            &.links-list {
                li {
                    display: inline-block;
                    float: left;

                    &:nth-child(3) {
                        clear: both;

                        a {
                            border: none;
                            padding-left: 0;
                            margin-left: 0;
                        }
                    }

                    &:first-of-type a {
                        border: none;
                        padding-left: 0;
                        margin-left: 0;
                    }
                }

                a {
                    white-space: nowrap;
                    border-left: $white rem-calc(1) solid;
                    padding-left: rem-calc(8);
                    margin-left: rem-calc(8);
                }
            }
		}
	}
}

@media #{$xxlarge-up} {
    .siteFooter-statement-group {
        margin-bottom: 14%;
    }

    .siteFooter-nav .siteFooter-links.links-list li:nth-child(3) {
        clear: none;

        a {
            border-left: $white rem-calc(1) solid;
            padding-left: rem-calc(8);
            margin-left: rem-calc(8);
        }
    }
}