.sitewide-appeal-wrapper {
	background-color: $kiva-alert-yellow;

	.sitewide-appeal {
		padding-left: rem-calc(10);
		padding-right: rem-calc(10);

		.sitewide-header {
			h2 {
				font-weight: 300;
				position: relative;
				padding-right: rem-calc(40);

				.icon-large-chevron {
					position: absolute;
					top: rem-calc(7);
					right: 0;
					height: rem-calc(25);
					width: rem-calc(25);
					transition: transform .3s ease,
					-webkit-transform .3s ease;
				}
			}
			&[aria-expanded="true"] {
				.icon-large-chevron {
					$transform: rotate(-180deg);
					-webkit-transform: $transform;
					-ms-transform: $transform;
					transform: $transform;
				}
			}
		}

		.thermometer-holder {
			@media #{$medium-up} {
				height: rem-calc(185);
			}

			.thermometer-wrap {
				padding: 1rem;
				
				.thermometer {
					background-color: #efefef;
					border: none;
					padding: 0;
					border-radius: rem-calc(15);
					height: rem-calc(13);

					@media #{$medium-up} {
						transform: rotate(270deg);
						position: relative;
						width: rem-calc(150);
						top: rem-calc(53);
						left: rem-calc(-47);
					}

					@media #{$large-up} {
						left: rem-calc(-28);
					}

					@media #{$xlarge-up} {
						left: rem-calc(-14);
					}

					@media #{$xxlarge-up} {
						left: rem-calc(-5);
					}

					.inner-meter {
						background-color: #4faf4e;
						display: block;
						height: 100%;
						float: left;
						border-radius: rem-calc(7);
						transition: width 3500ms ease-in-out;
						width: 0;
						max-width: 100%;
					}

					.tick-wrapper {
						position: absolute;
						height: 100%;
						width: 100%;

						.tick-lines {
							border-left: 1px solid #4faf4e;
							border-right: 1px solid #efefef;
							padding-right: 7%;
							height: 9%;
							float: left;
							top: rem-calc(3);
							position: relative;

							@media #{$medium-up} {
								height: 55%;
								padding-right: rem-calc(10);
							}
						}
					}
				}

				.thermometer-bulb {
					background-color: #4faf4e;
					position: relative;
					display: inline-block;
					border-radius: rem-calc(20);
					height: rem-calc(30);
					width: rem-calc(30);
					left: rem-calc(-10);
					top: rem-calc(-32);
					
					@media #{$medium-up} {
						left: rem-calc(13);
						top: rem-calc(96);
					}

					@media #{$large-up} {
						left: rem-calc(32);
					}

					@media #{$xlarge-up} {
						left: rem-calc(46);
					}

					@media #{$xxlarge-up} {
						left: rem-calc(55);
					}
				}
			}
		}

		.sitewide-body {
			padding: 0.4rem 0;
			
			@media #{$medium-up} {
				position: relative;
				left: -0.5rem;
			}

			@media #{$large-up} {
				left: -1.75rem;
			}

			@media #{$xlarge-up} {
				left: -2.5rem;
			}

			@media #{$xxlarge-up} {
				left: -3rem;
			}

			.message-wrapper {
				@media (min-width: 591px) {
					padding-bottom: rem-calc(20);
				}
			}

			.message {
				overflow: hidden;
				margin-bottom: rem-calc(20);
				line-height: rem-calc(28);
				font-weight: 300;
				
				.closing {
					margin-top: rem-calc(10);
				}
			}
			.donation-buttons {
				margin: 0 auto;
				display: table;

				@media #{$medium-up} {
					margin: 0;
				}

				li {
					width: inherit;
					padding-bottom: 0;

					@media #{$medium-up} {
						width: unset;
					}

					// Overriding .smallest button class, not ideal, but text is too small otherwise
					.smallest {
						margin-bottom: 0;
						font-size: 1.25rem;
					}
				}

				.other-amount {
					cursor: pointer;
					font-size: 1.25rem;
					width: 100%;
					text-align: center;
					line-height: 2.5;

					@media #{$medium-up} {
						width: rem-calc(150);
					}

					a:visited {
						color: $blue;
					}
				}
			}
		}
	}
}
