.header-nav {
    background-color: $green;

    .columns {
        padding:0;

        .kv-dropdown {
            position: inherit;
        }
    }

    .row > .columns > a {
        border-right: 1px solid $divider-green;
    }
    .row > .columns:last-child > a {
        border-right:none;
    }

    .amount {
        color: $green;
        background-color: $white;
        padding: rem-calc(1) rem-calc(7);
    }

    .promo-space.columns {
        text-align: center;
        line-height: rem-calc(64);
        width: grid-calc(4, $total-columns);

        a {
            color: $dark-green;
        }

        .amount {
            background-color: $dark-green;
        }

        .promo {
            color: $light-green;
        }
    }

    .right-side.columns {
        float: right;
        border: none;

        .columns a {
            border-left: 1px solid $divider-green;
        }
    }

    .f-dropdown {
        outline: none;
        width: auto;
        max-width: none;
        margin-top: 0;
        border-top: none;

        &:after {
            display: none;
        }
    }

    .pronus {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        background-color: $dark-green;

        a {
            color: $white;
            width: 100%;
            display: block;
        }
    }
}


.header-button {
    display:block;
    padding:0 rem-calc(16);
    line-height: rem-calc(64);
    background-color: $green;
    white-space: nowrap;
    text-align: center;

    &:link, &:visited, &:hover, &:active {
        color: $white;
    }

    &.open, &[aria-expanded="true"]{
        color: $dark-green;
    }
}


.basket-bar {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: $blue;

    a {
        color: $white;
        line-height: rem-calc(64);
        width: 100%;
        display: block;
    }
}


.secondary-nav-bar {
    background-color: $dark-green;
    margin-bottom: 0.5rem; // should this go here?

    ul {
        list-style: none;
        margin: 0;
        display: block;
    }

    li {
        font-size: 0.8em;
        display: inline-block;

        a {
            position: relative;
            display: block;
            padding: rem-calc(12) rem-calc(16);
            color: $white;

            &.active {
                color: $green;
                font-weight: bold;
            }

            &.active:before {
                content: ' ';
                position: absolute;
                bottom: rem-calc(10);
                left: rem-calc(16);
                right: rem-calc(16);
                height: rem-calc(2);
                background-color: $green;
            }
        }

        &:first-child a {
            padding-left: 0;

            &.active:before {
                left: 0;
            }
        }
    }
}

.secondary-nav-dropdown {
    & > a {
        display: block;
        width: 100%;
        line-height: rem-calc(64);
        padding: 0 0.5rem;
        background-color: $dark-green;
        color: $white;

        .open-icon, .closed-icon {
            float: right;
            line-height: inherit;
        }

        .closed-icon {
            display: inline;
        }
        .open-icon {
            display: none;
        }

        &.active {
            .closed-icon {
                display: none;
            }
            .open-icon {
                display: inline;
            }
        }
    }

    ul.f-dropdown {
        outline: none;
        max-width: none;
        margin-top: 0;
        border: none;

        // !important to override foundation inline styles applied by js
        left: 0 !important;
        width: 100% !important;

        &:before, &:after {
            display: none;
        }
    }
}


ul.tertiary-nav {
    list-style: none;
    margin: 0.4rem 0;

    li a {
        line-height: 2rem;

        &.active {
            color: $light-gray;
        }
    }
}


ul.dropdown-list {
    list-style: none;

    li {
        border-bottom: 1px solid $light-gray;

        a {
            display: block;
            padding: 0 0 0 1.5rem;
            line-height: rem-calc(64);
            font-size: 1rem;
            color: $charcoal;

            &.active {
                color: $gray;
            }
        }
    }

    ul {
        list-style: none;
        margin-left: 0;

        li {
            border-top: 1px solid $light-gray;
            border-bottom: none;
            background-color: $ghost;

            a {
                padding-left: 2.5rem;
            }
        }
    }
}


@media #{$small-only} {
    .header-nav {
        .columns {
            padding:0;
        }

        .right-side {
            padding: 0;

            .columns:first-child a {
                border-left:none;
            }
        }

        .f-dropdown {
            border: none;

            // !important to override foundation inline styles applied by js
            left: 0 !important;
            width: 100% !important;

            &:before, &:after {
                display: none;
            }
        }
    }

    .header-button {
        padding:0;
    }
}


@media #{$medium-up} {
    .header-nav {
        .columns {
            padding:0;
            width:auto;
        }

        .logo-area {
            text-align: left;
            .header-button {
                padding: 0 rem-calc(64) 0 rem-calc(8);
            }
        }

        .right-side {
            width: auto;
        }
    }
}