<div class="pageWrap">
    {{> templates-header}}

    <div class="borrower-profile-wrapper">
        <div class="row">
            <div class="small-12 medium-7 columns loan-figure left-content">
                {{> molecules-loan-figure-multiple-photos}}
            </div>
            <div class="small-12 medium-5 columns right-content">
                {{#inPfp}}
                    {{> molecules-pfp-meter}}
                {{/inPfp}}
                {{^inPfp}}
                    {{> molecules-current-status-meter}}
                {{/inPfp}}
                {{> molecules-loan-gist}}
                {{> molecules-lend-action}}
            </div>
        </div>

        <hr class="line-break"/>

        <div class="row">
            <div class="small-12 columns">
                {{> molecules-loan-use}}
            </div>
        </div>

        <div class="show-for-small-down">
            <hr class="line-break"/>
        </div>

        <div class="borrower-profile-pieces small-12 row">
            <div class="left-content medium-7">
                {{> molecules-loan-story}}
            </div>
            <div class="left-content medium-7">
                {{> molecules-is-special}}
            </div>
            <div class="right-content medium-5">
                {{> molecules-loan-details}}
            </div>
            <div class="left-content medium-7">
                {{> molecules-lenders-teams}}
            </div>
        </div>
    </div>
</div>

{{> organisms-footer}}
{{> molecules-mobile-lend-action}}