<div class="pageWrap">
	{{> templates-header}}

	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">

			<!-- filters -->
			{{> 02-organisms/05-filters/00-filters-menu }}

			<!-- controls -->
			{{> 02-organisms/10-lend/01-control-region }}

			<!-- results -->
			{{> 02-organisms/04-loancards/02-loancards-listing }}

			<a class="exit-off-canvas hide-for-large-up" href="#"></a>
		</div>
	</div>
</div>

{{> organisms-footer}}