<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}
	
	<div class="row finances">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
	
			<p>
			Kiva is a 501(c)(3) nonprofit, based in California, with a <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=12978" target="_blank">4 out of 4 star rating from Charity Navigator</a>. Sustainability, transparency and efficiency are at the core of our work, our mission and our financial model.
			</p>
			<h2>100% of your loans go to borrowers</h2>
			<p>Kiva never takes a fee from lenders, which means 100% of the funds you lend on Kiva go to supporting borrowers’ loans. We also do not charge any interest or fees to borrowers or our Field Partners working on the ground in more than 80 countries.</p>
			<blockquote>“Neither Kiva nor Kiva lenders make any money from the loans they facilitate. Because of this, Kiva is able to partner with groups based on social motive, rather than profit motive.”
				<cite><a href="http://www.theguardian.com/global-development-professionals-network/2014/jun/10/crowdfunding-for-development" target="_blank">The Guardian</a></cite>
			</blockquote>
			<h2>Additional donations cover Kiva’s operating costs</h2>
			<p>Kiva covers operating costs primarily through the generosity of our lenders, who can choose to make donations in addition to loans. We cover more than two-thirds of our operating costs through these voluntary donations from Kiva lenders. The remainder of our costs are covered through grants and donations from foundations and supporters.</p>

<p>This model of fundraising helps promote sustainability, by keeping our fundraising costs low and tapping into the power of the crowd to help cover our costs. 
</p>
			
			
			
			
			
			<h2>Awarded for effectiveness and efficiency</h2>
			<p>Kiva's staff and volunteers work hard to ensure every dollar donated to Kiva is used efficiently, and we’ve received recognition for our commitment in these areas:</p>
			<div class="row awards">
				<div class="small-12 large-4 columns">
					<a href="https://www.google.org/global-giving/global-impact-awards/kiva/" target="_blank"><img data-interchange="[//kiva.org/cms/page/images/google-global-impact-award-std.png, (default)],[//kiva.org/cms/page/images/google-global-impact-award-retina.png, (retina)] " alt="Google Global Impact Awards" width="232" height="232">
					<noscript><img src="//kiva.org/cms/page/images/google-global-impact-award-std.png" alt="Google Global Impact Awards" width="232" height="232"></noscript></a>
					<p>Effectively Expand Financial Access and Share Results</p>
				</div>
				<div class="small-12 large-4 columns">
					<a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=12978" target="_blank"><img data-interchange="[//kiva.org/cms/page/images/charity-navigator-std.png, (default)],[//kiva.org/cms/page/images/charity-navigator-retina.png, (retina)] " alt="Charity Navigator 4 star rating" width="232" height="232">
					<noscript><img src="//kiva.org/cms/page/images/charity-navigator-std.png" alt="Charity Navigator 4 star rating" width="232" height="232"></noscript></a>
					<p>Charity Navigator’s Highest Rating</p>
				</div>
				<div class="small-12 large-4 columns">
					<a href="http://www.wsj.com/video/financial-inclusion-challenge-finalist-kiva/D7440226-C296-427E-A449-8F849D3D4D06.html" target="_blank"><img data-interchange="[//kiva.org/cms/page/images/financial-inclusion-challenge-std.png, (default)],[//kiva.org/cms/page/images/financial-inclusion-challenge-retina.png, (retina)] " alt="The Wall Street Journal Financial Inclusion Challenge Award" width="232" height="232">
					<noscript><img src="//kiva.org/cms/page/images/financial-inclusion-challenge-std.png" alt="The Wall Street Journal Financial Inclusion Challenge Award" width="232" height="232"></noscript></a>
					<p>2015 Award Winner Operational Effectiveness</p>
				</div>
			</div>

			<p>A broad breakdown of our revenue and expenses is outlined below, with more detailed information in our IRS filings, audited financials and annual reports, found at the bottom of the page.</p>
			<div class="row awards">
				<div class="small-12 large-6 columns">
					<p class="huge kiva-green">18.6M</p>
					<div class="featured kiva-darkgreen">Revenue</div>
					<img data-interchange="[//kiva.org/cms/page/images/revenue-std.png, (default)],[//kiva.org/cms/page/images/revenue-retina.png, (retina)] " alt="Pie chart of Kiva's 2015 revenue" width="275" height="275">
					<noscript><img src="//kiva.org/cms/page/images/revenue-std.png" alt="Pie chart of Kiva's 2015 revenue" width="275" height="275"></noscript>
					<p>How Kiva makes money</p>
				</div>
				<div class="small-12 large-6 columns">
					<p class="huge kiva-green">17.2M</p>
					<div class="featured kiva-darkgreen">Expenses</div>
					<img data-interchange="[//kiva.org/cms/page/images/expenses-std.png, (default)],[//kiva.org/cms/page/images/expenses-retina.png, (retina)] " alt="Pie chart of Kiva's 2015 expenses" width="275" height="275">
					<noscript><img src="//kiva.org/cms/page/images/expenses-std.png" alt="Pie chart of Kiva's 2015 expenses" width="275" height="275"></noscript>
					<p>How Kiva spends money</p>
				</div>
			</div>
			<h2>Organizational structure</h2>
			<p>While making a loan on Kiva may seem like a simple thing, there’s a lot that goes on behind the scenes. As such, Kiva is structured as 3 separate entities:
				<ul id="entities">
					<li><b>Kiva Microfunds</b> is based in California and registered as a 501(c)(3) nonprofit organization. All donations made to Kiva go to support Kiva Microfunds and are used to cover the operating costs of running Kiva.</li>
					<li><b>Kiva User Funds LLC</b> is a separate entity that holds all funds belonging to Kiva users in FDIC-insured, escrow-like bank accounts. These low-yielding FBO accounts were set up to ensure Kiva users’ funds (meant for lending) are protected and fully separated from Kiva’s operational funds.</li>
					<li><b>Kiva-DAF LLC</b> is a third entity that was created to hold donor advised funds to facilitate lending on Kiva's platform for Kiva's institutional partners (such as charitable foundations).</li>
				</ul>
			</p>
			<h2>Kiva Microfunds audited financials and tax filings</h2>
			<ul class="irs-filings">
				<li><a href="https://www.kiva.org/cms/kiva_form_990_-2014.pdf">Kiva form 990 - 2014</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_w9_2012.pdf">Kiva W9 2012</a></li>
				<li><a href="https://www.kiva.org/cms/2014_kiva_audited_financials.pdf">2014 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_user_fund_final_scanned_financial_statement_12312014.pdf">Kiva User Funds audited financials ending Dec 31, 2014</a></li>
			</ul>

			<div class="ac-title ac-container archives-title" data-kv-accordion aria-controls="ac-archives-body" aria-expanded="false">
				View prior years
				<div class="ac-dropdown-icon">
					<svg class="icon icon-large-chevron">
						<use xlink:href="#icon-large-chevron"></use>
					</svg>
				</div>
			</div>

			<ul class="ac-body" id="ac-archives-body" aria-hidden="true">
				<li><a href="https://www.kiva.org/cms/kiva_microfunds_-_2013_form_990_tax_filing.pdf">Kiva form 990 - 2013</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_microfunds_2012_990.pdf">Kiva form 990 - 2012</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_form_990_-_2011.pdf">Kiva form 990 - 2011<span style="color:red;"> link needs correction</span></a></li>
				<li><a href="https://www.kiva.org/cms/Kiva_Form_990_-_2010.pdf">Kiva form 990 - 2010</a></li>
				<li><a href="https://www.kiva.org/cms/Kiva_Form_990_-_2009.pdf">Kiva form 990 - 2009</a></li>
				<li><a href="https://www.kiva.org/cms/Kiva_Form_990_-_2008.pdf">Kiva form 990 - 2008</a></li>
				<li><a href="https://www.kiva.org/cms/Kiva_Form_990_-_2007.pdf">Kiva form 990 - 2007</a></li>
				<li><a href="https://www.kiva.org/cms/2013_kiva_financial_statement_123113.pdf">2013 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_microfunds_2012_audited_financials.pdf">2012 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_microfunds_123111_fs_final.pdf">2011 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/2010 Kiva Audited Financials.pdf">2010 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/Kiva_-_Financial_Statements_FINAL.pdf">2009 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/2008_Kiva_Audited_Financials.pdf">2008 Kiva audited financials</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_2012_fs_final.pdf">Kiva User Funds audited financials ending May 30, 2012</a></li>
			</ul>

			<h2>Governance and policies</h2>
			<ul>
				<li><a href="https://www.kiva.org/cms/Whistleblower_Protection_Policy.pdf">Whistleblower protection policy</a></li>
				<li><a href="https://www.kiva.org/cms/Document_Retention_Policy.pdf">Document retention policy</a></li>
				<li><a href="https://www.kiva.org/cms/1023_w._Exhibits_-_Kiva.pdf">1023 with exhibits</a></li>
				<li><a href="https://www.kiva.org/cms/Conflict_of_Interest_Policy.pdf">Conflict of interest policy</a></li>
			</ul>
			<h2>Annual reports</h2>
			<ul>
				<li><a href="http://www.kiva.org/annualreport/2014">2014 Kiva annual report</a></li>
				<li>
					<a href="http://www.kiva.org/annualreport/2013">2013 Kiva annual report</a>
					<span class="pdf-version">
						<a href="https://www.kiva.org/cms/kiva_annual_report_2013_0.pdf">
						<svg class="icon icon-pdf" width="16" height="16">
							<use xlink:href="#icon-pdf"/>
        				</svg>
						PDF</a>
        			</span>
        		</li>
				<li>
					<a href="http://www.kiva.org/annualreport/2012">2012 Kiva annual report</a>
					<span class="pdf-version">
						<a href="https://www.kiva.org/cms/kiva_annual_report_2012_0.pdf">
						<svg class="icon icon-pdf" width="16" height="16">
							<use xlink:href="#icon-pdf"/>
        				</svg>
						PDF</a>
        			</span>
				<li>
					2011 Kiva annual report
					<span class="pdf-version">
						<a href="https://www.kiva.org/cms/kiva-annual-report-2011.pdf">
						<svg class="icon icon-pdf" width="16" height="16">
							<use xlink:href="#icon-pdf"/>
        				</svg>
						PDF</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

{{> organisms-footer}}