<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}
	
	<div class="row finances">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
	
			<p>
			Kiva is a 501(c)(3) nonprofit registered in the state of California. Self-sustainability is critical to our work, connecting people through lending to alleviate poverty around the globe. To that effort, we believe that it’s imperative to have a financial model which promotes sustainability, transparency and effectiveness.
			</p>
			<h2>100% of your loans go to the field!</h2>
			<p>That’s right, Kiva doesn't make money on the loans we facilitate through our website and 100% of the funds lenders contribute to loans go to supporting the borrowers they choose. We also don't charge any interest to our Field Partners on the funds we send them.</p>
			<blockquote>“Neither Kiva nor Kiva lenders make any money from the loans they facilitate. Because of this, Kiva is able to partner with groups based on social motive, rather than profit motive.”
				<cite><a href="http://www.theguardian.com/global-development-professionals-network/2014/jun/10/crowdfunding-for-development" target="_blank">The Guardian</a></cite>
			</blockquote>
			<h2>How does Kiva support its operations?</h2>
			<p>We support ourselves primarily through the support of our lender community, who can choose to make optional donations in addition to the loans they make. We also raise funds through grants, interest earned on our bank accounts, corporate sponsors and foundations. This model of fundraising helps promote sustainability, by keeping our fundraising costs low and tapping into the power of the crowd to help cover our costs.</p>
			
			
			
			
			
			<h2>Transparency &amp; Efficiency</h2>
			<p>Kiva's staff and volunteers work hard to ensure every dollar donated to Kiva is used efficiently, and we’ve received recognition for our commitment in these areas:</p>
			<div class="row awards">
				<div class="small-12 large-4 columns">
					<a href="https://www.google.org/global-giving/global-impact-awards/kiva/" target="_blank"><img data-interchange="[/images/finances/google-global-impact-award.png, (default)],[/images/finances/google-global-impact-award@2x.png, (retina)] " alt="Google Global Impact Awards" width="232" height="232">
					<noscript><img src="/images/finances/google-global-impact-award.png" alt="Google Global Impact Awards" width="232" height="232"></noscript></a>
					<p>Effectively Expand Financial Access and Share Results</p>
				</div>
				<div class="small-12 large-4 columns">
					<a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=12978" target="_blank"><img data-interchange="[/images/finances/charity-navigator.png, (default)],[/images/finances/charity-navigator@2x.png, (retina)] " alt="Charity Navigator 4 star rating" width="232" height="232">
					<noscript><img src="/images/finances/charity-navigator.png" alt="Charity Navigator 4 star rating" width="232" height="232"></noscript></a>
					<p>Charity Navigator’s Highest Rating</p>
				</div>
				<div class="small-12 large-4 columns">
					<a href="http://www.wsj.com/video/financial-inclusion-challenge-finalist-kiva/D7440226-C296-427E-A449-8F849D3D4D06.html" target="_blank"><img data-interchange="[/images/finances/financial-inclusion-challenge.png, (default)],[/images/finances/financial-inclusion-challenge@2x.png, (retina)] " alt="The Wall Street Journal Financial Inclusion Challenge Award" width="232" height="232">
					<noscript><img src="/images/finances/financial-inclusion-challenge.png" alt="The Wall Street Journal Financial Inclusion Challenge Award" width="232" height="232"></noscript></a>
					<p>2015 Award Winner Operational Effectiveness</p>
				</div>
			</div>

			<p>A broad breakdown of our revenue and expenses is outlined below, with more detailed information in our IRS filings, audited financials and annual reports, found at the bottom of the page.</p>
			<div class="row awards">
				<div class="small-12 large-6 columns">
					<p class="huge kiva-green">18.6M</p>
					<div class="featured kiva-darkgreen">Revenue</div>
					<img data-interchange="[/images/finances/revenue.png, (default)],[/images/finances/revenue@2x.png, (retina)] " alt="Pie chart of Kiva's 2015 revenue" width="275" height="275">
					<noscript><img src="/images/finances/revenue.png" alt="Pie chart of Kiva's 2015 revenue" width="275" height="275"></noscript>
					<p>How Kiva makes money</p>
				</div>
				<div class="small-12 large-6 columns">
					<p class="huge kiva-green">17.2M</p>
					<div class="featured kiva-darkgreen">Expenses</div>
					<img data-interchange="[/images/finances/expenses.png, (default)],[/images/finances/expenses@2x.png, (retina)] " alt="Pie chart of Kiva's 2015 expenses" width="275" height="275">
					<noscript><img src="/images/finances/expenses.png" alt="Pie chart of Kiva's 2015 expenses" width="275" height="275"></noscript>
					<p>How Kiva spends money</p>
				</div>
			</div>
			<h2>Organizational Structure</h2>
			<p>While making a loan on Kiva may seem like a simple thing, there’s a lot that goes on behind the scenes. As such, Kiva is structured as 3 separate entities:
				<ul id="entities">
					<li><b>Kiva Microfunds</b> is a California non-profit registered as a 501(c)(3) non-profit organization. Any donations made to Kiva's operating expenses go to support Kiva Microfunds, which are used to cover the costs of running Kiva.</li>
					<li><b>Kiva User Funds LLC</b> holds all funds belonging to Kiva users. This escrow-like account is a FDIC insured, low-yielding FBO account, which was set up to ensure Kiva users’ funds (meant for lending) are fully separate from Kiva’s operational funds and protected.</li>
					<li><b>Kiva-DAF LLC</b> is a third entity that was created to operate donor advised funds to facilitate lending on Kiva's platform for Kiva's institutional partners (such as charitable foundations).</li>
				</ul>
			</p>
			<h2>IRS Filings &amp; Audited Financials</h2>
			<ul>
				<li><a href="https://www.kiva.org/cms/kiva_form_990_-2014.pdf">Kiva Form 990 - 2014</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_w9_2012.pdf">Kiva W9 2012</a></li>
				<li><a href="https://www.kiva.org/cms/2014_kiva_audited_financials.pdf">2014 Kiva Audited Financials</a></li>
				<li><a href="https://www.kiva.org/cms/kiva_2012_fs_final.pdf">Kiva User Funds Audited Financials ending Dec 31, 2014</a></li>
			</ul>
			<select id="archive">
				<option value="#">Archive Prior Years</option>
				<option value="#">Kiva Form 990 - 2013</option>
				<option value="#">Kiva Form 990 - 2012</option>
				<option value="#">Kiva Form 990 - 2011</option>
				<option value="#">Kiva Form 990 - 2011</option>
				<option value="#">Kiva Form 990 - 2010</option>
				<option value="#">Kiva Form 990 - 2009</option>
				<option value="#">Kiva Form 990 - 2008</option>
				<option value="#">Kiva Form 990 - 2007</option>
				<option value="#">2013 Kiva Audited Financials</option>
				<option value="#">2012 Kiva Audited Financials</option>
				<option value="#">2011 Kiva Audited Financials</option>
				<option value="#">2011 Kiva Audited Financials</option>
				<option value="#">2010 Kiva Audited Financials</option>
				<option value="#">2009 Kiva Audited Financials</option>
				<option value="#">2008 Kiva Audited Financials</option>
				<option value="#">Kiva User Funds Audited Financials ending May 30, 2012</option>
			</select>
			<h2>Governance &amp; Policies</h2>
			<ul>
				<li><a href="https://www.kiva.org/cms/Whistleblower_Protection_Policy.pdf">Whistleblower Protection Policy</a></li>
				<li><a href="https://www.kiva.org/cms/Document_Retention_Policy.pdf">Document Retention Policy</a></li>
				<li><a href="https://www.kiva.org/cms/1023_w._Exhibits_-_Kiva.pdf">1023 with Exhibits</a></li>
				<li><a href="https://www.kiva.org/cms/Conflict_of_Interest_Policy.pdf">Conflict of Interest Policy</a></li>
			</ul>
			<h2>Annual Reports</h2>
			<ul>
				<li><a href="http://www.kiva.org/annualreport/2014">2014 Kiva Annual Report</a></li>
				<li>
					<a href="http://www.kiva.org/annualreport/2013">2013 Kiva Annual Report</a>
					<span class="pdf-version">
						<a href="https://www.kiva.org/cms/kiva_annual_report_2013_0.pdf">
						<svg class="icon icon-pdf" width="16" height="16">
							<use xlink:href="#icon-pdf"/>
        				</svg>
						PDF</a>
        			</span>
        		</li>
				<li>
					<a href="http://www.kiva.org/annualreport/2012">2012 Kiva Annual Report</a>
					<span class="pdf-version">
						<a href="https://www.kiva.org/cms/kiva_annual_report_2012_0.pdf">
						<svg class="icon icon-pdf" width="16" height="16">
							<use xlink:href="#icon-pdf"/>
        				</svg>
						PDF</a>
        			</span>
				<li>
					2011 Kiva Annual Report
					<span class="pdf-version">
						<a href="https://www.kiva.org/cms/kiva-annual-report-2011.pdf">
						<svg class="icon icon-pdf" width="16" height="16">
							<use xlink:href="#icon-pdf"/>
        				</svg>
						PDF</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

{{> organisms-footer}}