<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}
	
	<div class="row due-diligence">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
	
			<p>Microloans reach populations that have limited access to financial services, so these types of loans come with some inherent risks for lenders. When you lend money on Kiva, you may lose some or all of your principal. You should be aware of the different types of risk (some of which are outlined below) and find the right loan option for you, with respect to repayment risk and social return.</p>
			<p>For information on Kiva’s historical repayment rate, <a href="#">please click here</a>; please note, however, that past repayment performance does not guarantee future results. To review the terms that apply to your use of Kiva, please see our <a href="/legal/terms">Terms of Use.</a></p>
			<p>In order to help reduce your risk exposure, you may wish to diversify your Kiva portfolio, thus reducing your exposure to any one borrower, Field Partner or country. For example, instead of placing $100 with 1 borrower, you may wish to place $25 with 4 borrowers in different countries.</p>
			<p><a href="#">See Kiva's latest risk statistics here.</a></p>
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-borrower-risk" aria-expanded="false">
			        Borrower Risk
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-borrower-risk" aria-hidden="true">
					<p>Borrowers on Kiva are vetted or endorsed by either a local Field Partner, Trustee or members of the community.</p>
					<p><b>For loans administered by a Field Partner</b><br>
		The partner looks at a variety of factors (past loan history, village or group reputation, loan purpose, etc.) before deeming a borrower as credit-worthy. However, a number of factors can result in borrowers defaulting, such as:
						<ul>
							<li>Business issues (such as crop failure, liquidity issues or demand for goods)</li>
							<li>Health issues (such as malaria, cancer or physical disability)</li>
							<li>Other issues ( such as theft, paying for school fees, over indebtedness, reduced remittances, civil disturbances, etc.)</li>
						</ul>
					If a borrower defaults, Kiva Field Partners are expected to pursue collections according to their normal practices. In addition, Kiva asks and expects that all of our Field Partners adhere to the <a href="http://www.smartcampaign.org/about/smart-microfinance-and-the-client-protection-principles" target="_blank">Client Protection Principles from the Smart Campaign</a>.</p>
					<p>* Learn more about the <a href="#">Field Partner's role</a> in reviewing loan applications and administering your loan.</p>
					<p><b>For direct loans</b><br>
					<p>Borrowers are endorsed by either a Trustee organization or members of their community in a process we call social underwriting. A borrower must either:
					<ul>
						<li>Have the endorsement of a Kiva Trustee, an organization or individual that works to connect borrowers with Kiva</li>
						<li>Or successfully invite members of their own social networks to support their loan before the loan is able to fundraise publicly on Kiva</li>
					</ul>
					Because their own connections, friends and family are putting their own dollars in, we believe social underwriting builds borrowers’ commitment to repaying their loans. However, direct loans can default for all of the same reasons as Field Partner loans, and with direct loans there is no Field Partner pursuing repayments.</p>
					<p>Lenders should be aware that direct loans involve a higher level of risk of default than loans administered through Field Partners for various reasons, including less monitoring and follow up for collection of repayments as well as the stage of business. Many direct loan borrowers are start-up businesses in their first years of operation, which is a particularly challenging and critical time for businesses.</p>
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-field-partner-risk" aria-expanded="false">
			        Field Partner Risk
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-field-partner-risk" aria-hidden="true">
					<p>Most of the loans on Kiva are administered by a Field Partner, which means the funds are distributed through one of our local partners working in the community.</p>
					<p>The funds are also repaid by borrowers through the Field Partner (please refer to <a href="#">net billing system</a> for more information). While working with Field Partners increases the likelihood that your loan will be effectively used and repaid, new institutional risks are introduced. Even if a Kiva borrower is able to repay, Kiva lenders could still lose principal due to Field Partner issues such as:
						<ul>
							<li>Bankruptcy (the Field Partner may go out of business and be unable to collect your loan)</li>
							<li>Fraud (staff members at the Field Partner may embezzle funds)</li>
							<li>Operational difficulties (the Field Partner may have some cash-flow or other challenges that could prevent repayment)</li>
						</ul>
					Before working with a Field Partner, Kiva performs due diligence on the organization to help assess this risk.</p>
					<p>* Learn more about <a href="#">Kiva's role</a> in rating and monitoring the risk of each Field Partner</p>
					
			    </div>
			</section>

			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-direct-loan-risk" aria-expanded="false">
			        Direct Loan Risk
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-direct-loan-risk" aria-hidden="true">
					<p>Direct loans on Kiva are not administered by a Field Partner. There are some great benefits to direct loans: for example they are 0% interest to the borrower. But they are also at higher risk of default because there is no Field Partner working on the ground to follow up with the borrower and encourage or collect repayments.</p>
					<p>Many direct loan borrowers are also start-up businesses in their first years of operation, which is a particularly challenging and critical time for businesses.</p>
					
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-country-risk" aria-expanded="false">
			        Country Risk
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-country-risk" aria-hidden="true">
					<p>When lending internationally it is important to consider "macro-level" risks:
					<ul>
						<li>Economic (a large currency devaluation — or the institution of exchange controls by local governments — may reduce or render the Field Partner's local currency collections valueless for you)</li>
						<li>Political (many loans posted on Kiva are disbursed in the developing world. Policies can change regarding funds repatriation or even the requirement that borrowers have to repay their loans)</li>
						<li>Natural disasters such as a flood, tsunami or drought may greatly reduce the likelihood of loan repayment from certain countries or from specific regions in a country</li>
					</ul>
					Kiva currently targets a country limit of no more than 10% of total loans outstanding to help ensure a balanced portfolio. In certain instances, this limit is lifted on a temporary basis. Guaranty mechanisms may also be used in excess of this limit on a case by case basis.</p>
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-currency-risk" aria-expanded="false">
			        Currency Risk
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-currency-risk" aria-hidden="true">
					<p>While Kiva's working currency is the U.S. dollar, many loans are disbursed to borrowers in their local currency, thus adding an additional risk to lenders, especially in times when the U.S. dollar is strong. Please determine if currency exchange loss is possible for a loan. For loans with currency risk possible, lenders bear the risk of loss if the U.S. dollar appreciates by more than 10% against the local currency.</p>
					<p>Additionally, if your home currency is not the U.S. dollar, another layer of currency risk is added because loans made through Kiva must be in U.S. dollars. Therefore, the initial conversion from your home currency to USD will add foreign exchange risk.</p>
					<p>Note: foreign exchange risk is not present if your local currency is the U.S. dollar and loans are disbursed in U.S. dollars.</p>
			    </div>
			</section>
			
			<hr>
			<section>
			    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-due-diligence-kiva-related-risk" aria-expanded="false">
			        Kiva-Related Risks
			        <span class="ac-dropdown-icon">
			            <svg class="icon icon-large-chevron">
			                <use xlink:href="#icon-large-chevron"></use>
			            </svg>
			        </span>
			    </h2>
			    <div class="ac-body" id="ac-due-diligence-kiva-related-risk" aria-hidden="true">
					<p>There is a potential risk that Kiva, like any organization, may not continue its operations indefinitely. To better protect lenders’ funds in this circumstance and others, lenders’ funds are held by a separate Kiva entity in accounts for the benefit of Kiva lenders who have funds available in the Kiva system (e.g. funds deposited by a lender to make a loan or repayments made by Kiva borrowers to Kiva lenders). We believe that holding lenders’ funds separately from Kiva’s operational funds helps protect these funds from being subject to any claims of Kiva creditors (other than the Kiva lenders who have funds available in the Kiva system).</p>
					<p>To learn more about <a href="#">Kiva’s role</a> in the process, and related risks, please go to Kiva’s role.</p>
			    </div>
			</section>
			<hr>

		</div>
	</div>
</div>

{{> organisms-footer}}