<div class="pageWrap">
	{{> templates-header}}

<div class="fellows-page">

	{{> organisms-fellows-headline}}

	<div class="row row-fellows-anchors fellpad">
  	<div class="small-12 columns">
				Jump to: <a href="#apply">Apply</a> &nbsp;|&nbsp; <a href="#placement">Placement</a> &nbsp;|&nbsp; <a href="#experience">Experience</a> &nbsp;|&nbsp; <a href="#testimonials">Testimonials</a> &nbsp;|&nbsp; <a href="#dates">Dates</a> &nbsp;|&nbsp; <a href="#timeline">Process Timeline</a> &nbsp;|&nbsp; <a href="#alumni">Alumni</a> &nbsp;|&nbsp; <a href="#faq">FAQ</a>
		</div>
	</div>

	<div class="row">
		<div class="small-12 large-7 columns">
			<p class="featured featured-fellows">
				By lending as little as $25 on Kiva, anyone can help a borrower start or grow a business, go to school, access clean energy, or realize their potential. For some, it's a matter of survival, for others it's the fuel for a life-long ambition.
			</p>
		</div>
		<div class="small-0 large-5 columns">
			{{> organisms-fellows-video-wrapper}}
		</div>
	</div>

	<div class="row fellpadbtm">
		<div class="small-12 columns">
			<p class="extra-lineheight">
			Kiva has a mission to connect people through lending to alleviate poverty, and Kiva fellows live and breathe that purpose every day. Since 2007, fellows have been Kiva's eyes and ears in the field, creating a crucial link between borrowers and lenders and working hands-on to grow Kiva's impact.
			</p>
			<p class="extra-lineheight">
			A Kiva fellowship allows you to immerse yourself in the culture and language of your host country or region for 6 months, while applying your skills in new ways with one or more of our 300 Field Partners. You'll gain a behind-the-scenes understanding of microfinance and social enterprise, while meeting inspiring people working to improve financial access around the world. Learn more about the Kiva Fellows Program experience on the <a href="https://fellowsblog.kiva.org/" target="_blank">Kiva Fellows Blog</a>.
			</p>
		</div>
	</div>

	{{> organisms-fellows-stats}}

	<a name="placement"></a>
	<div class="row">
		<div class="small-12 columns fellpadbtm">
			<h1 class="impact">
				Where will you serve?
			</h1>
			<p class="featured featured-fellows">
				Fellows are matched with one or more Kiva Field Partners in 60+ countries throughout the developing world. Field Partners are local microfinance institutions, social enterprises and other organizations that facilitate Kiva loans, making it possible for Kiva to have the reach we do – 2 million borrowers and counting.
			</p>
			<p class="extra-lineheight">
				Kiva's Partnerships team requests fellows based on the current needs of the partners in each region where Kiva works. Most fellows will be placed with multiple field partners in several countries throughout the duration of their fellowship. Kiva cares about the safety and security of all fellows, and uses travel advisories provided by trusted sources including the State Departments of the U.S., U.K., and Canada to inform security-related decisions during the placement process.
			</p>
			<p class="extra-lineheight">
				We recommend reading through the job descriptions carefully and applying to a position that you feel you're a good fit for. Some locations require candidates to have high proficiency or fluency in a second language, and the specific workplan for a Field Partner may also require certain skills.
			</p>
			<p class="extra-lineheight">
				Within the positions that are English-speaking, you'll have a chance to indicate your preference to serve in a certain region. For all candidates, the Kiva Fellows Program staff may feel you're a better fit for a different role in a different region, so country/region flexibility is highly valued throughout the application process.
			</p>
		</div>
	</div>

	<div class="row fellpadtop countries-map">
		<div class="small-8 medium-7 large-6 xlarge-5 sevenfour-text">
			<div class="huge-statistic">
				74
			</div>
			<h2 class="scalable">
				Countries where Kiva Fellows have served
			</h2>
		</div>
	</div>

	<a name="experience"></a>
	<div class="row">
		<div class="small-12 columns">
			<h1 class="impact">
				Hands-on field experience
			</h1>
			<p class="featured featured-fellows">
				All fellows play a critical role in supporting operations and monitoring Kiva's Field Partners, including meeting with borrowers, documenting Kiva processes, conducting trainings, and working with field staff to improve efficiency. No two fellowships are the same, and a fellow's workplan may evolve once in the field based on shifting priorities or changes to the portfolio.
			</p>
			<p class="extra-lineheight">
				Some fellows may also work on design and management of partners' credit programs, the risk management and strategy development of partners, or Kiva's impact measurement efforts. Other examples of deliverables include helping to find and develop new partners, blogging from the field, and sharing photo and video content that helps tell the story of Kiva's impact.
			</p>
		</div>
	</div>

	<a name="testimonials"></a>
	<div class="row">
		<div class="small-12 columns">
			<h1 class="impact">
				There are no "typical" Kiva fellows
			</h1>
		</div>
	</div>
	<div class="row fellows-tesimonial">
		<div class="small-12 large-4 columns avatar-fellows">
			<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test1_std2.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test1_retina2.jpg, (retina)] " alt="Kiva intern testimonial 1">
			<noscript><img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test1_std2.jpg" alt="Kiva Fellow testimonial 1"></noscript>
			<p class="testimony-text extra-lineheight"><strong>Maryse Martin, CARE</strong> – The Kiva fellowship gave me the critical field experience I needed to move away from the private sector. I felt so alive in the field, closely working with partners and interacting with beneficiaries... Truly, a great experience at all levels – personal and professional!</p>
		</div>
		<div class="small-12 large-4 columns avatar-fellows">
			<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test3_std2.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test3_retina2.jpg, (retina)] " alt="Kiva intern testimonial 3">
			<noscript><img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test3_std2.jpg" alt="Kiva Fellow testimonial 3"></noscript>
			<p class="testimony-text extra-lineheight"><strong>Oleg Izyumenko, AlphaCE Coaching &amp; Education</strong> – As a long-time Kiva lender, I wanted to experience the borrowers' reality first-hand, to see how Field Partners manage lenders' funds and what difference Kiva loans make for people. I now work as an educator, helping refugees learn basics of Swedish language, society and culture.</p>
		</div>
		<div class="small-12 large-4 columns avatar-fellows">
			<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test2_std2.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test2_retina2.jpg, (retina)] " alt="Kiva intern testimonial 2">
			<noscript><img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows_test2_std2.jpg" alt="Kiva Fellow testimonial 2"></noscript>
			<p class="testimony-text extra-lineheight"><strong>Ariadni Liakis, FINCA Haiti</strong> – After 10 years working in the audit/banking sector, the Kiva fellowship was a great career break with possibility to explore new horizons. The experience has heart; the connections between you and your work cement your true being.</p>
		</div>
	</div>

	<a name="dates"></a>
	<div class="row">
		<div class="small-12 columns">
			<h1 class="impact">
				Mark your calendar
			</h1>
			<p class="featured featured-fellows">
				Kiva is now hiring for our January - July 2017 fellowship class starting in mid January 2017. These are important dates for the next class of Kiva fellows:
			</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-3 columns">
			<div class="dates-title">Application due</div>
			<p class="featured dates-date">Oct. 9, 2016</p>
		</div>
		<div class="small-12 large-1 columns">
			<svg class="icon icon-medium-chevron fellows-chevron"><use xlink:href="#icon-medium-chevron"></use></svg>
		</div>
		<div class="small-12 large-4 columns">
			<div class="dates-title">Fellowship start</div>
			<p class="featured dates-date">Jan. 23, 2017</p>
		</div>
		<div class="small-12 large-1 columns">
			<svg class="icon icon-medium-chevron fellows-chevron"><use xlink:href="#icon-medium-chevron"></use></svg>
		</div>
		<div class="small-12 large-3 columns">
			<div class="dates-title">Fellowship end</div>
			<p class="featured dates-date">July 28, 2017</p>
		</div>
	</div>
	<div class="row fellpadtop">
		<div class="small-12 columns">
			<p class="extra-lineheight">
				The Kiva fellowship is a full-time, 6-month program, so interested applicants must be able and willing to commit to the full time period.
			</p>
		</div>
	</div>
	<div class="row fellpad">
		<div class="small-12 large-6 columns lifestyle-photo">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows-lifestyle3_0.jpg" alt="Kiva Fellow in the field">
		</div>
		<div class="small-12 large-6 columns">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows-lifestyle4_0.jpg" alt="Kiva Fellow in the field">
		</div>
	</div>

	<a name="timeline"></a>
	{{> molecules-steps-for-apply}}

	<a name="alumni"></a>
	<div class="row intern-extra-padbtm">
		<div class="small-12 columns">
			<h1 class="impact">
				Get to know our current fellows and alumni
			</h1>
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows-class-lrg.jpg" alt="Kiva Fellows class photo" height="100%" width="100%">
			<p class="featured featured-fellows fellpad">
				Kiva fellows come from a wide range of backgrounds and have gone on to work in many different sectors all over the world at companies and organizations like Apple, Grameen America, Save the Children, IDEO.org, Box, Oliver Wyman and USAID. <a href="https://www.linkedin.com/vsearch/p?type=people&keywords=kiva+fellow&orig=GLHD&rsid=&pageKey=oz-winner&trkInfo=tarId%3A1473372657472&trk=global_header&search=Search" target="_blank"> Learn more about our talented fellows here.</a>
			</p>
		</div>
		<div class="small-12 large-6 columns lifestyle-photo">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows-lifestyle1_0.jpg" alt="Kiva Fellow in the field">
		</div>
		<div class="small-12 large-6 columns">
			<img src="//www-kiva-org.global.ssl.fastly.net/cms/page/images/fellows-lifestyle2_0.jpg" alt="Kiva Fellow in the field">
		</div>
	</div>

	<a name="apply"></a>
	{{#cta-banner}}
		{{^applications-closed}}
			{{> 02-organisms/19-fellows/fellows-cta}}
		{{/applications-closed}}
		{{#applications-closed}}
			{{> 02-organisms/19-fellows/fellows-cta-closed}}
		{{/applications-closed}}
	{{/cta-banner}}

	<a name="faq"></a>
	<div class="row intern-extra-padbtm">
		<div class="small-12 columns large-centered">
			<div class="faq-container">
				<h2 class="faq-title">Frequently asked questions</h2>
				<section class="accordion-container">
					{{#fellows-faqs}}
						{{> 01-molecules/06-components/13-faq-question-answer}}
					{{/fellows-faqs}}
					<div class="ac-title ac-container"></div>
				</section>
				<p class="extra-lineheight">Have a question that you couldn't find here? <a href="mailto:fellowsstaff@kiva.org?Subject=Fellowship%20question" target="_blank">Email a member of our team.</a></p>
			</div>
		</div>
	</div>

</div>
</div>
{{> organisms-footer}}
