<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}

	<div class="row partner-with-us">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
			<p>Double your impact by matching loans on Kiva dollar for dollar to entrepreneurs that meet your specific philanthropic criteria, with tax deductible options. Whether it’s supporting farmers in Africa, water and sanitation projects in Asia, or women artisans in Latin America, <strong>a loan matching account will help drive more dollars towards the causes you care about</strong>, while giving you high brand visibility on our site. Contact us at <a href="mailto:development@kiva.org">development@kiva.org</a> to learn more.</p>
			<h2>Benefits of loan matching</h2>
			<div class="checklist"><ul>
				<li>Direct your support to the causes you care most about</li>
				<li>Multiply your impact by activating Kiva lenders</li>
				<li>Detailed data tracking</li>
				<li>Public recognition on Kiva.org</li>
				<li>Tax-deductibility if contributing at least $50,000</li>
			</ul></div>

			<hr>

			<h2>How it works</h2>
			<div class="how-it-works">
				<div class="row bottom-buffer">
					<div class="small-12 large-6 columns">
						<h3><span class="numberbtn">1</span>Define your criteria</h3>
						<p>When you set up a matching account with Kiva, you define exactly where you want the dollars to go to – the countries, sectors, and causes that are most important to you.</p>
					</div>
					<div class="small-11 large-5 columns col-centered">
						<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/loan-matching-1-define-criteria-std.png, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/loan-matching-1-define-criteria-retina.png, (retina)]">
					</div>
				</div>

				<div class="row bottom-buffer">
					<div class="small-12 large-6 columns">
						<h3><span class="numberbtn">2</span>Badge appears on loans</h3>
						<p>As Kiva lenders browse through fundraising loans, they’ll see a x2 badge with your display name on borrower profiles that fit your criteria.</p>
					</div>
					<div class="small-12 large-5 columns col-centered">
						<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/loan-matching-2-loan-card-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/loan-matching-2-loan-card-retina.jpg, (retina)]">
					</div>
				</div>

				<div class="row bottom-buffer">
					<div class="small-12 large-6 columns">
						<h3><span class="numberbtn">3</span>Loans automatically matched</h3>
						<p>When lenders support a qualifying borrower, a loan for the same dollar amount will also be made from your matching account as long as funds last.</p>
					</div>
					<div class="small-12 large-5 columns col-centered">
						<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/loan-matching-3-loan-matched-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/loan-matching-3-loan-matched-retina.jpg, (retina)]">
						<p class="cite">Juan lent $25 to Asunta. The PepsiCo Foundation matched Juan’s $25 loan.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{{> organisms-footer}}
