<div class="pageWrap">
	{{> templates-header}}
	{{> molecules-secondary-nav}}

	<div class="row partner-with-us">
		{{> 01-molecules/05-navigation/03-tertiary-nav}}
		<div class="small-12 large-9 columns">
			<h1>{{page-title}}</h1>
			<p><strong>Looking for a new way to engage your employees or customers?</strong> Fortune 500 companies and leading foundations including Google, TripAdvisor and Hewlett-Packard Company Foundation have used our customizable engagement program to reconnect with their employees and customers by giving them the opportunity to choose which borrowers to support. Repayments return to your corporate account and tax-advantaged lending is also available.</p>
			<p>This investment creates multi-year programming that amplifies your impact and creates a unique customer or employee experience. Contact us at <a href="mailto:development@kiva.org">development@kiva.org</a> to learn more.</p>

			<h2>Benefits of employee and customer engagement programs</h2>
			<div class="checklist"><ul>
				<li>Direct your support to the causes you care most about</li>
				<li>Multiply your impact by activating Kiva lenders</li>
				<li>Detailed data tracking</li>
				<li>Public recognition on Kiva.org</li>
				<li>Tax-deductibility if contributing at least $50,000</li>
			</ul></div>

			<div class="how-it-works">
				<h2>How it works</h2>
				<div class="show-for-large-up">
					<div class="row large-collapse bottom-no-buffer">
						<div class="large-8 large-centered columns">
							<h3><span class="numberbtn">1</span>Distribute promo codes</h3>
							<p>Kiva generates a list of promo codes from your corporate account, which are then shared with your employees or customers.</p>
						</div>
						<div class="large-4 xlarge-3 columns bottom">
							<h3><span class="numberbtn">3</span>Get repaid</h3>
							<p>As borrowers repay, funds return to your Kiva account and can be used to create additional codes or a tax-deductible donation to Kiva.</p>
						</div>

						<div class="large-4 xlarge-6 columns">
							<div class="graphic-padding">
								<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/employee-engagement-how-it-works-std.png, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/employee-engagement-how-it-works-retina.png, (retina)]">
							</div>
						</div>

						<div class="large-4 xlarge-3 columns bottom">
							<h3><span class="numberbtn">2</span>Make a loan</h3>
							<p>When your employees or customers redeem their promo codes, they’re given the power to choose who to support.</p>
						</div>
					</div>
				</div>

				<div class="hide-for-large-up">
					<div class="row">
						<div class="small-6 columns small-centered">
							<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/employee-engagement-how-it-works-std.png, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/employee-engagement-how-it-works-retina.png, (retina)]">
						</div>
					</div>

					<div class="row top-pad">
						<div class="small-12 columns">
							<h3><span class="numberbtn">1</span>Distribute promo codes</h3>
							<p>Kiva generates a list of promo codes from your corporate account, which are then shared with your employees or customers.</p>
						</div>

						<div class="small-12 columns">
							<h3><span class="numberbtn">2</span>Make a loan</h3>
							<p>When your employees or customers redeem their promo codes, they’re given the power to choose who to support.</p>
						</div>

						<div class="small-12 columns">
							<h3><span class="numberbtn">3</span>Get repaid</h3>
							<p>As borrowers repay, funds return to your Kiva account and can be used to create additional codes or a tax-deductible donation to Kiva.</p>
						</div>
					</div>
				</div>
			</div>

			<h2>Hear what our partners have to say</h2>
			<div class="testimonials"><div class="row">
				<div class="small-12 large-3 columns col-centered">
					<img src="//www-kiva-org.global.ssl.fastly.net/cms/hp-enterprise-foundation-logo-flat_0.svg">
				</div>
				<div class="small-12 large-9 columns">
					<h3 class="show-for-large-up">Hewlett Packard Corporate Foundation</h3>
					<blockquote>“We’re very proud of this great partnership which has enabled us to make a significant impact over several years—more than $11.6 million. It has also provided us with a unique opportunity to align giving with employee engagement. We hope our example and success inspires other companies to participate in the program.”</blockquote>

					<div class="row small-collapse medium-collapse">
						<div class="small-2 medium-1 columns">
							<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/lisa-conover-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/lisa-conover-quote-pic-retina.jpg, (retina)]">
						</div>
						<div class="small-10 medium-11 columns name-title"><cite>
							<p>Lisa Conover</br>
								Senior Manager, Living Progress &amp; HPE Foundation</p>
							</cite></div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="small-12 large-3 columns col-centered">
						<img src="//www-kiva-org.global.ssl.fastly.net/cms/metlife-foundation-logo-flat_0.svg">
					</div>
					<div class="small-12 large-9 columns">
						<h3 class="show-for-large-up">MetLife Foundation</h3>
						<blockquote>“We have been thrilled to find a program that aligns with our focus and that can be rolled out to our associates around the world.”</blockquote>

						<div class="row small-collapse medium-collapse">
							<div class="small-2 medium-1 columns">
								<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/april-hawkins-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/april-hawkins-quote-pic-retina.jpg, (retina)]">
							</div>
							<div class="small-10 medium-11 columns name-title"><cite>
								<p>April Hawkins</br>
									Assistant Vice President, MetLife Foundation</p>
								</cite></div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-12 large-3 columns col-centered">
							<img src="//www-kiva-org.global.ssl.fastly.net/cms/google-logo-flat_0.svg">
						</div>
						<div class="small-12 large-9 columns">
							<h3 class="show-for-large-up">Google.org</h3>
							<blockquote>"Kiva's promotional loan funds are one of the most cost-effective and transparent ways to give our employees a meaningful do-good experience at scale.”</blockquote>

							<div class="row small-collapse medium-collapse">
								<div class="small-2 medium-1 columns">
									<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/chris-busselle-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/chris-busselle-quote-pic-retina.jpg, (retina)]">
								</div>
								<div class="small-10 medium-11 columns name-title"><cite>
									<p>Chris Busselle</br>
										Principal, Google.org</p>
									</cite></div>
								</div>
							</div>
						</div>
						<hr>
						<div class="row bottompage-buffer">
							<div class="small-12 large-3 columns col-centered">
								<img src="//www-kiva-org.global.ssl.fastly.net/cms/pearson-logo-flat_0.svg">
							</div>
							<div class="small-12 large-9 columns">
								<h3 class="show-for-large-up">Pearson</h3>
								<blockquote>"Our $1M commitment to Kiva has enabled our employees to impact thousands of students, teachers, families, and communities​ through crowdfunded loans. We're proud to partner with Kiva to help learners and entrepreneurs in our local communities and all over the world.​”</blockquote>

								<div class="row small-collapse medium-collapse">
									<div class="small-2 medium-1 columns">
										<img data-interchange="[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kate-james-quote-pic-std.jpg, (default)],[//www-kiva-org.global.ssl.fastly.net/cms/page/images/kate-james-quote-pic-retina.jpg, (retina)]">
									</div>
									<div class="small-10 medium-11 columns name-title"><cite>
										<p>Kate James</br>
											Chief Corporate Affairs and Global Marketing Officer, Pearson</p>
										</cite></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{> organisms-footer}}
