<div class="pageWrap">
    {{> templates-header}}
    {{> molecules-secondary-nav}}

    <div class="row">
        {{> molecules-tertiary-nav}}
        <div class="frame">
            {{> templates-inbox}}
        </div>
    </div>
</div>

{{> organisms-footer}}