<div class="pageWrap">
    {{> templates-header}}
	<div id="checkoutSteps" class="row">
		{{> 02-organisms/60-checkout/01-checkout-steps}}
	</div>
	<div id="checkoutWrap" class="row small-collapse large-uncollapse">
		{{> 03-templates/60-checkout/02-payment}}
	</div>
</div>
{{> organisms-footer}}

