<div class="paypal-profile-iconography">
    <div class="circle-avatar align-self-middle" style="background-image:url({{profilePhotoUrl}})"></div>
    <div class="align-self-middle"><b>{{paypalEmail}}</b></div>
    <div class="paypal-logo align-self-middle">
        <svg class="icon icon-new-kiva-logo">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-kiva-logo"></use>
        </svg>
    </div>
</div>