<div class="paypal-profile-iconography">
    <div class="iconography-bubble">
        <div class="circle-avatar" style="background-image:url({{profilePhotoUrl}})"></div>
        <div>
            <b>{{paypalEmail}}</b>
        </div>
        <div>
            <svg class="icon icon-payPal">
                <use xlink:href="#icon-paypal"/>
            </svg>
        </div>
    </div>
</div>