/*
 * Temporary Brown font from ufonts.com
 *
 * @todo - replace these ** interim ** versions of the Brown font when we have officially-licensed copies

 */

@font-face {
    font-family: 'Brown Regular';
    src: url('../fonts/br.eot') format('eot')
		,url('../fonts/br.woff') format('woff')
		,url('../fonts/br.ttf') format('ttf')
		,url('../fonts/br.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown Bold';
    src: url('../fonts/bb.eot') format('eot')
		,url('../fonts/bb.woff') format('woff')
		,url('../fonts/bb.ttf') format('ttf')
		,url('../fonts/bb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

