/*
 * Temporary Brown font from ufonts.com
 *
 * @todo - replace these **temporary** versions of the Brown font when we have officially-licensed copies

 */

@font-face {
    font-family: 'Brown Regular';
    src: url('../fonts/ufonts.com_brown.eot') format('eot')
         ,url('../fonts/ufonts.com_brown.woff') format('woff')
         ,url('../fonts/ufonts.com_brown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
