$green: #63a541; // rgb(99, 165, 65)
$dark-green: #236133; // rgb(35, 97, 51)
$graphic-green: #488443; // rgb(72, 132, 67)
$divider-green: #49953f; // rgb(73, 149, 63)
$light-green: #a9d14c; // rgb(169, 209, 76)
$blue: #26b6e8; // rgb(38, 182, 232)
$sky-blue: #22a9d8; // rgb(34, 169, 216)
$faded-blue: #6698a9; // rgb(102, 152, 169)
$highlight-blue: #0d8ebb; // rgb(13, 142, 187)
$red: #9C021A; // rgb(156, 2, 26)
$ghost: #fafafa; // rgb(250, 250, 250)
$platinum: #efefef; // rgb(239, 239, 239)
$light-gray: #d8d8d8; // rgb(216, 216, 216)
$charcoal: #333; // rgb(51, 51, 51)
$dark-gray: #666; // rgb(102, 102, 102)
$gray: #999; // rgb(153, 153, 153)

$kiva-green: $green;
$kiva-darkgreen: $dark-green;
$kiva-accent-green: $light-green;
$kiva-accent-blue: $blue;
$kiva-accent-red: $red;
$kiva-icon-green: $graphic-green;
$kiva-navdivider-green: $divider-green;
$kiva-bg-lightgray: $ghost;
$kiva-bg-darkgray: $platinum;
$kiva-stroke-gray: $light-gray;
$kiva-text-dark: $charcoal;
$kiva-text-medium: $dark-gray;
$kiva-text-light: $gray;
$kiva-textlink: $sky-blue;
$kiva-textlink-visited: $faded-blue;
$kiva-textlink-hover: $highlight-blue;