// Foundation default named colors
$white       : #FFFFFF;
$ghost       : #FAFAFA; // rgb(250, 250, 250)
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Kiva-added named colors
$green: #63a541; // rgb(99, 165, 65)
$dark-green: #236133; // rgb(35, 97, 51)
$graphic-green: #488443; // rgb(72, 132, 67)
$divider-green: #49953f; // rgb(73, 149, 63)
$light-green: #a9d14c; // rgb(169, 209, 76)
$blue: #26b6e8; // rgb(38, 182, 232)
$sky-blue: #22a9d8; // rgb(34, 169, 216)
$faded-blue: #6698a9; // rgb(102, 152, 169)
$pale-blue: #d2f0f8;
$highlight-blue: #0d8ebb; // rgb(13, 142, 187)
$red: #9C021A; // rgb(156, 2, 26)
$vivid-yellow: #F8E71C; //rgb(248, 231, 28)
$platinum: #efefef; // rgb(239, 239, 239)
$light-gray: #d8d8d8; // rgb(216, 216, 216)
$charcoal: #333; // rgb(51, 51, 51)
$dark-gray: #666; // rgb(102, 102, 102)
$gray: #999; // rgb(153, 153, 153)

// social media icon colors
$facebook-hover-color:	#3b5998;
$pinterest-hover-color:	#bd081c;
$twitter-hover-color:	#55acee;
$youtube-hover-color:	#cd201f;
$linkedin-hover-color:	#0077b5;
$instagram-hover-color:	#0a0b09;

// Kiva functional color names
$kiva-green: $green;
$kiva-darkgreen: $dark-green;
$kiva-accent-green: $light-green;
$kiva-accent-blue: $blue;
$kiva-accent-red: $red;
$kiva-alert-yellow: $vivid-yellow;
$kiva-icon-green: $graphic-green;
$kiva-navdivider-green: $divider-green;
$kiva-bg-lightgray: $ghost;
$kiva-bg-darkgray: $platinum;
$kiva-stroke-gray: $light-gray;
$kiva-text-dark: $charcoal;
$kiva-text-medium: $dark-gray;
$kiva-text-light: $gray;
$kiva-textlink: $sky-blue;
$kiva-textlink-visited: $faded-blue;
$kiva-textlink-hover: $highlight-blue;
$kiva-filter-indicator: $blue;
$kiva-filter-indicator-bg: $pale-blue;

.white {
	color: $white;
}

.white-bg {
	background-color: $white;
}

.kiva-gray{
	color: $kiva-text-light;
}

.kiva-green {
	color: $kiva-green;
}

.kiva-darkgreen {
	color: $kiva-darkgreen;
}

.kiva-accent-green {
	color: $kiva-accent-green;
}

.kiva-green-bg {
	background-color: $kiva-green;
}

.kiva-darkgreen-bg {
	background-color: $kiva-darkgreen;
}