// Kiva Colors
$kiva-green        : #63a541;
$kiva-dark-green   : #236133;
$kiva-light-green  : #a9d14c;
$kiva-blue         : #26b6e8;
$kiva-red          : #9c021a;
$icon-green        : #488443;
$nav-divider-green : #49953f;
$bg-light-gray     : #fafafa;
$bg-dark-gray      : #efefef;
$stroke-gray       : #d8d8d8;
$text-dark         : #333;
$text-medium       : #666;
$text-light        : #999;
$text-link         : #22a9d8;
$text-link-clicked : #6698a9;
$text-link-hover   : #0d8ebb;