/* ===========================================================
  @font-face calls that load font files, which once lived in
  this file, have been moved to css/localfonts.css so that
  they won't be exported during the release process. This
  file is maintained to preserve the two font-related
  classes below.
=========================================================== */

.light {
	font-weight: 100;
}

.book {
	font-weight: 300;
}

::selection {
	background-color: #49953f;
	color: #fff;
}

::-moz-selection {
	background-color: #49953f;
	color: #fff;
}
