// screen-width-specific line breaks
br.so
, br.mo
, br.lo
, br.xlo
, br.xxlo
, br.smo
, br.mu
, br.lu
, br.xgau {
	display: none;
}

br.so {
	@media #{$small-only} {
		display: inline;
	}
}

br.mo {
	@media #{$medium-only} {
		display: inline;
	}
}

br.lo {
	@media #{$large-only} {
		display: inline;
	}
}

br.xlo {
	@media #{$xlarge-only} {
		display: inline;
	}
}

br.xxlo {
	@media #{$xxlarge-only} {
		display: inline;
	}
}

br.smo {
	@media #{$small-only} {
		display: inline;
	}
	@media #{$medium-only} {
		display: inline;
	}
}

br.mu {
	@media #{$medium-up} {
		display: inline;
	}
}

br.lu {
	@media #{$large-up} {
		display: inline;
	}
}

br.xgau {
	@media #{$xga-up} {
		display: inline;
	}
}
