@import "settings";
@import "flags16";
// @todo should we add bourbon?  @import "../../../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../bower_components/foundation/scss/normalize";

// Foundation components.
@import '../../../bower_components/foundation/scss/foundation/components/grid';
@import '../../../bower_components/foundation/scss/foundation/components/accordion';
@import '../../../bower_components/foundation/scss/foundation/components/alert-boxes';
@import '../../../bower_components/foundation/scss/foundation/components/block-grid';
@import '../../../bower_components/foundation/scss/foundation/components/breadcrumbs';
@import '../../../bower_components/foundation/scss/foundation/components/button-groups';
@import '../../../bower_components/foundation/scss/foundation/components/buttons';
@import '../../../bower_components/foundation/scss/foundation/components/clearing';
@import '../../../bower_components/foundation/scss/foundation/components/dropdown';
@import '../../../bower_components/foundation/scss/foundation/components/dropdown-buttons';
@import '../../../bower_components/foundation/scss/foundation/components/flex-video';
@import '../../../bower_components/foundation/scss/foundation/components/forms';
@import '../../../bower_components/foundation/scss/foundation/components/icon-bar';
@import '../../../bower_components/foundation/scss/foundation/components/inline-lists';
@import '../../../bower_components/foundation/scss/foundation/components/joyride';
@import '../../../bower_components/foundation/scss/foundation/components/keystrokes';
@import '../../../bower_components/foundation/scss/foundation/components/labels';
@import '../../../bower_components/foundation/scss/foundation/components/magellan';
@import '../../../bower_components/foundation/scss/foundation/components/orbit';
@import '../../../bower_components/foundation/scss/foundation/components/pagination';
@import '../../../bower_components/foundation/scss/foundation/components/panels';
@import '../../../bower_components/foundation/scss/foundation/components/pricing-tables';
@import '../../../bower_components/foundation/scss/foundation/components/progress-bars';
@import '../../../bower_components/foundation/scss/foundation/components/range-slider';
@import '../../../bower_components/foundation/scss/foundation/components/reveal';
@import '../../../bower_components/foundation/scss/foundation/components/side-nav';
@import '../../../bower_components/foundation/scss/foundation/components/split-buttons';
@import '../../../bower_components/foundation/scss/foundation/components/sub-nav';
@import '../../../bower_components/foundation/scss/foundation/components/switches';
@import '../../../bower_components/foundation/scss/foundation/components/tables';
@import '../../../bower_components/foundation/scss/foundation/components/tabs';
@import '../../../bower_components/foundation/scss/foundation/components/thumbs';
@import '../../../bower_components/foundation/scss/foundation/components/tooltips';
@import '../../../bower_components/foundation/scss/foundation/components/top-bar';
@import '../../../bower_components/foundation/scss/foundation/components/type';
@import '../../../bower_components/foundation/scss/foundation/components/offcanvas';
@import '../../../bower_components/foundation/scss/foundation/components/visibility';

// Foundation overrides
//@import 'foundation/grid';
//@import 'foundation/accordion';
//@import 'foundation/alert-boxes';
//@import 'foundation/block-grid';
//@import 'foundation/breadcrumbs';
//@import 'foundation/button-groups';
//@import 'foundation/buttons';
//@import 'foundation/clearing';
//@import 'foundation/dropdown';
//@import 'foundation/dropdown-buttons';
//@import 'foundation/flex-video';
//@import 'foundation/forms';
//@import 'foundation/icon-bar';
//@import 'foundation/inline-lists';
//@import 'foundation/joyride';
//@import 'foundation/keystrokes';
//@import 'foundation/labels';
//@import 'foundation/magellan';
//@import 'foundation/orbit';
//@import 'foundation/pagination';
//@import 'foundation/panels';
//@import 'foundation/pricing-tables';
//@import 'foundation/progress-bars';
//@import 'foundation/range-slider';
//@import 'foundation/reveal';
//@import 'foundation/side-nav';
//@import 'foundation/split-buttons';
//@import 'foundation/sub-nav';
//@import 'foundation/switches';
//@import 'foundation/tables';
//@import 'foundation/tabs';
//@import 'foundation/thumbs';
//@import 'foundation/tooltips';
//@import 'foundation/top-bar';
//@import 'foundation/type';
@import 'foundation/offcanvas';

// Loan cards - listing
.loan-card--listing {
	border: #333 1px solid;
	width: 150px;
	height: 184px;

	.amount-left {
		font-size: 13px;
	}

	.country-name {
		font-size: 12px;
	}

	.sector {
		font-size: 12px;
	}

	.borrower-img-wrap {
		position: relative;
		width: 100%;
		height: 60%;
	}

	.borrower-img {
		width: 100%;
		height: 100%;
	}

	.matcher-text {
		background-color: rgba(255, 255, 255, .8);
		font-size: 16px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.borrower-details-wrap {
		padding: 0 2px 2px 2px;
		text-align: right;
	}

}


.loan-card--listing-selected {
	.borrower-img-wrap {
		position: relative;
		width: 100%;
		height: 30%;
	}

	.borrower-img {
		width: 50%
	}

	.country-flag {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -14px;
		margin-left: 3px;
	}

	.amount-left {
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: 3px;
	}

	.borrower-details-wrap {
		text-align: left;
	}

	.borrower-name {
		font-size: 13px;
	}

	.matcher-text {
		font-size: 12px;
		position: static;
	}
}


// fundraising meter
.fundraising-meter {
	background-color: #ccc;
	width: 100%;
	height: 4px;
}

.fundraising-meter-fill {
	background-color: #74b446;
	width: 100%;
	height: 100%;
}



