<div class="message-text message-text-{{ type }} text-center small-12">
    <span class="message-content">
		{{> 01-molecules/07-messaging/03-aviso-content}}
	</span>
    <a class="close-tip-message" aria-label="Close">
        <svg class="icon icon-x">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
        </svg>
    </a>
</div>