<div class="warning-text show-for-medium-up text-center small-12">
    <a class="warning-icon">
        <svg class="icon icon-error">
            <use xlink:href="#icon-error"></use>
        </svg>
    </a>
    <p class="message">{{warning.message}}
        Your loan fully funded before your transaction completed.</br>
		$100.00 of excess funds have been added to your account.</p>
    <a class="close-reveal-modal" aria-label="Close">
        <svg class="icon icon-x">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
        </svg>
    </a>
</div>

<div class="warning-text show-for-small-only text-center small-12">
    <div class="warning-icon">
        <svg class="icon icon-error">
            <use xlink:href="#icon-error"></use>
        </svg>
    </div>
    <p class="message">{{warning.message}}
        Your loan fully funded before your transaction completed.</br>
		$100.00 of excess funds have been added to your account.</p>
    <a class="close-reveal-modal" aria-label="Close">
        <svg class="icon icon-x">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
        </svg>
    </a>
</div>