<div class="error-text show-for-medium-up text-center small-12">
    <a class="error-icon">
        <svg class="icon icon-error">
            <use xlink:href="#icon-error"></use>
        </svg>
    </a>
    <p class="message">{{message.error}}</p>
    <a class="close-reveal-modal" aria-label="Close">
        <svg class="icon icon-x">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
        </svg>
    </a>
</div>

<div class="error-text show-for-small-only text-center small-12">
    <div class="error-icon">
        <svg class="icon icon-error">
            <use xlink:href="#icon-error"></use>
        </svg>
    </div>
    <p class="message">{{message.error}}</p>
    <a class="close-reveal-modal" aria-label="Close">
        <svg class="icon icon-x">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
        </svg>
    </a>
</div>