<div class="text-center fixed">
	<p>You've already made a loan to every country where Kiva currently works. Congrats!</p>
	<p>Our team is working hard to add new countries, but until then, <a href="{{all_loans_href}}" class="all-loans-link">start a new search.</a></p>
</div>
