<div class="secondary-nav-bar show-for-large-up">
	<div class="row">
		<div class="large-12 columns">
			<ul>
				{{#bar-links}}
					<li>
						<a href="{{url}}" kvtrackevent="SecondaryNav|click-About-{{title}}"
						   {{#active}}class="active"{{/active}}>{{title}}</a>
					</li>
				{{/bar-links}}
			</ul>
		</div>
	</div>
</div>

<div class="hide-for-large-up secondary-nav-dropdown">
	<a data-dropdown="secondary-nav-drop" aria-controls="secondary-nav-drop"
	   aria-expanded="false" href="##">{{main-title}}
		<svg class="icon">
			<use xlink:href="#icon-small-chevron"/>
		</svg>
	</a>
	<ul id="secondary-nav-drop" class="f-dropdown dropdown-list"
		data-dropdown-content aria-hidden="true" tabindex="-1">
		{{#drop-links}}
			<li>
				<a href="{{url}}" {{#active}}class="active"{{/active}}>{{title}}</a>
				<ul>
					{{#sub-links}}
						<li><a href="{{url}}"
							   {{#sub-active}}class="active"{{/sub-active}}>{{sub-title}}</a>
						</li>
					{{/sub-links}}
				</ul>
			</li>
		{{/drop-links}}
		{{#is-borrower}}
			{{#drop-links-borrower}}
				<li>
					<a href="{{url}}"
					   {{#active}}class="active"{{/active}}>{{title}}</a>
				</li>
			{{/drop-links-borrower}}
		{{/is-borrower}}
		{{#is-trustee}}
			{{#drop-links-trustee}}
				<li>
					<a href="{{url}}"
					   {{#active}}class="active"{{/active}}>{{title}}</a>
				</li>
			{{/drop-links-trustee}}
		{{/is-trustee}}
	</ul>
</div>