<div class="show-for-large-up large-3 columns">
	<ul class="tertiary-nav">
		{{#bar-sub-links}}
			<li><a href="#"
				   {{#sub-active}}class="active"{{/sub-active}}>{{sub-title}}</a>
			</li>
		{{/bar-sub-links}}
	</ul>
</div>
