<!--sg-kiva-banner-->
<div class="sg-kiva-banner" id="sg-kiva-banner">
	Kiva Style Guide
	<span class="credits">Built with <a href="http://patternlab.io/">Pattern Lab</a> and <a href="http://foundation.zurb.com/">Zurb Foundation</a><span>
</div>
<!--End #sg-kiva-banner-->