<div class="borrowerInfoCard small-12 large-3 columns" style="text-align: center;">
	<p class="featured text-center">{{borrowerInfoCard.name}}</p>
	<img class="borrower-image" style="margin: 0 auto;" src="{{borrowerInfoCard.img_src}}">
	<p class="text-center">{{borrowerInfoCard.company}}</p>
</div>