<p class="loan-funded-description">Your loan is 100% funded and will be disbursed to your PayPal account within the next 5-7 business days.
	In the meantime, consider thanking your lenders by clicking the button below!</p>
<strong class="loan-amount">Total loan: ${{totalLoanAmount}}</strong>
<p>
	<a href="{{profileLink}}#lenders-teams" class="lender-count black-underlined">
		<strong>Powered by {{lenderCount}} lenders</strong>
	</a>
</p>