<p class="loan-rejected-description">Unfortunately, the loan application did not meet our minimum requirements. To apply again, please make sure to read over <a href='http://www.kivaushub.org/review'>our requirements</a> to have a better chance of being approved.</p>
<strong class="loan-amount">Total loan requested: ${{totalLoanAmount}}</strong>