<a href="#" data-reveal-id="country-select-lightbox">{{lightboxTriggerLinkText}}</a>
<div id="country-select-lightbox" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="columns small-12">
			<div class="lightbox-content">
				{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
				 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
				 Molecules/10-lightbox folder. }}
				{{> 02-organisms/05-filters/country-filter-components/country-filter-modal}}
			</div>
		</div>
	</div>
</div>