{{!To make an element show a lightbox your triggers DATA-REVEAL-ID and the modal's ID need to match}}
<a href="#" data-reveal-id="modal">Text lightbox{{modal-trigger-text}}</a>

<section class="TextLightbox">
	<div id="modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

			<h1 id="modalTitle" class="white">title{{modal-title}}</h1>

		<p class="featured white text-left">text{{modal-text}}</p>

		<a class="close-reveal-modal" aria-label="Close">
			<svg class="icon icon-x">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
			</svg>
		</a>
	</div>
</section>