<a href="#" class="lightbox-trigger-link" data-reveal-id="{{dataRevealId}}">{{lightboxTriggerLinkText}}</a>
<div id="{{dataRevealId}}" class="{{neededClass}} lightbox-wrapper" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="columns small-12">
			<a class="close-reveal-modal" aria-label="Close">
				<svg class="icon icon-x">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
				</svg>
			</a>
			<div class="lightbox-content white">
				{{!The content within this div is the only change from the copy and pasted lightbox atom. If you need to
				 make changes to this lightbox outside of this div, those changes need to be made to every lightbox file within the
				 Molecules/10-lightbox folder. }}

				{{!TODO: on large screens the video opens larger than the black background, gotta fix that. Might be fixed with the scrolling bug fix.
				TODO: Also, I want to know where/how Jim has passed through the title and size of this video.}}
				<h1 class="white">{{lightbox.video.youtube.modal-title}}</h1>

				<div class="flex-video widescreen vimeo">
					<iframe width="{{lightbox.video.youtube.width}}" height="{{lightbox.video.youtube.height}}" src="{{lightbox.video.youtube.src}}" frameborder="{{lightbox.video.youtube.frameborder}}" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>