<a href="#" data-reveal-id="free-trial">Free trial</a>
<div id="free-trial" class="reveal-modal full free-trial-lightbox" data-reveal aria-hidden="true" role="dialog">

    <div class="row">
        <div class="columns small-10">
            <h1 class="white">You are opting out of using Free Trial.</h1>

            <p class="featured white">You have selected to not use your Free Trial and will be prompted to pay for
                this loan using your own money.</p>

            <div class="row">
                <button class="button js-free-trial-agree columns small-4">Agree</button>
                <button class="button transparent js-free-trial-decline columns small-6">Use a Free Trial</button>
            </div>
        </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">
        <svg class="icon icon-x">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
        </svg>
    </a>
</div>