<a href="#" data-reveal-id="standard-lightbox">Standard lightbox</a>
<div id="standard-lightbox" class="reveal-modal-bg" data-reveal aria-hidden="true" role="dialog">
	<div class="columns small-12">
        <a class="close-reveal-modal" aria-label="Close">
            <svg class="icon icon-x">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
            </svg>
        </a>
		<div class="lightbox-text white">
			<p class="featured">Standard lightbox heading</p>

			<p>Standard lightbox message text. Filler text Filler text Filler text Filler text
                    Filler text Filler text Filler text Filler text Filler text Filler text Filler text Filler text </p>
		</div>
	</div>
</div>