<h2><a href="#" class="black-underlined" data-reveal-id="repayment-schedule-tables">Repayment Schedule</a></h2>
<div id="repayment-schedule-tables" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-content white repayment-schedule-lightbox">
                <p class="featured">Repayment Schedule</p>

                <div class="show-advanced">
                    <a href="javascript:void(0);" id="show-advanced-toggle">Show Advanced</a>
                </div>

                <div class="hide-advanced" style="display:none;">
                    <a href="javascript:void(0);" id="hide-advanced-toggle">Hide Advanced</a>
                </div>

                <div class="repayment-schedule-wrapper">
                    <table class="simple-repayment-schedule" role="grid" summary="Schedule of expected and actual repayments for this loan.">
                        <thead>
                            <tr>
                                <th id="months" class="shrink">&nbsp;</th>
                                <th id="expected-repayments" class="text-right shrink"><a target="_blank" href="https://www.kiva.org/help/paymentSchedule#payment_schedule_expected_payments">Expected Repayments</a></th>
                                <th id="actual-repayments" class="text-right shrink"><a target="_blank" href="https://www.kiva.org/help/paymentSchedule#payment_schedule_actual_payments">Actual Repayments</a></th>
                                <th id="comments" class="expand"><a target="_blank" href="https://www.kiva.org/help/paymentSchedule#payment_schedule_comments">Comments</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#repayments}}
                                <tr>
                                    <td headers="months" class="shrink"><strong>{{month}}</strong></td>
                                    <td headers="expected-repayments" class="text-right shrink">{{expectedRepayment}}</td>
                                    <td headers="actual-repayments" class="text-right shrink">
                                        {{#actualRepayment}}
                                            {{actualRepayment}}
                                        {{/actualRepayment}}
                                        {{^actualRepayment}}
                                            {{^isDelinquent}}
                                                $0.00
                                            {{/isDelinquent}}
                                        {{/actualRepayment}}
                                    </td>
                                    <td headers="comments" class="expand">
                                        {{#repaymentReceived}}
                                            <svg class="icon icon-checkbox-good">
                                                <use xlink:href="#icon-checkbox-good"></use>
                                            </svg>
                                            Repayment Received
                                        {{/repaymentReceived}}
                                        {{^repaymentReceived}}
                                            {{#isDelinquent}}
                                                <svg class="icon icon-checkbox-bad">
                                                    <use xlink:href="#icon-checkbox-bad"></use>
                                                </svg>
                                                Delinquent
                                            {{/isDelinquent}}
                                            {{^isDelinquent}}
                                                {{comments}}
                                            {{/isDelinquent}}
                                        {{/repaymentReceived}}
                                    </td>
                                </tr>
                            {{/repayments}}
                        </tbody>
                    </table>

                    <table class="advanced-repayment-schedule" style="display:none;" role="grid" summary="Schedule of expected and actual repayments for this loan.">
                        <thead>
                            <tr>
                                <th id="months" class="shrink">&nbsp;</th>
                                <th id="expected-repayments" colspan="2"  class="text-left shrink"><a target="_blank" href="https://www.kiva.org/help/paymentSchedule#payment_schedule_expected_payments">Expected Repayments</a></th>
                                <th id="actual-repayments" colspan="2" class="text-left shrink"><a target="_blank" href="https://www.kiva.org/help/paymentSchedule#payment_schedule_actual_payments">Actual Repayments</a></th>
                                <th id="comments" class="expand"><a target="_blank" href="https://www.kiva.org/help/paymentSchedule#payment_schedule_comments">Comments</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#repayments}}
                                <tr class="period">
                                    <th colspan="5">{{month}}</th>
                                    <th class="status success">
                                        {{#repaymentReceived}}
                                            <svg class="icon icon-checkbox-good">
                                                <use xlink:href="#icon-checkbox-good"></use>
                                            </svg>
                                            Repayment Received
                                        {{/repaymentReceived}}
                                        {{^repaymentReceived}}
                                            {{#isDelinquent}}
                                                <svg class="icon icon-checkbox-bad">
                                                    <use xlink:href="#icon-checkbox-bad"></use>
                                                </svg>
                                                Delinquent
                                            {{/isDelinquent}}
                                            {{^isDelinquent}}
                                                {{comments}}
                                            {{/isDelinquent}}
                                        {{/repaymentReceived}}
                                    </th>
                                </tr>
                                {{#paymentsFromBorrowerToPartner}}
                                    <tr>
                                        {{#showB2FPMessage}}<td rowspan="{{numberOfExpectedBorrowerPayments}}">From Borrower to Field Partner</td>{{/showB2FPMessage}}
                                        <td>{{expectedDate}}</td>
                                        <td>{{expectedAmount}}</td>
                                        <td>{{actualDate}}</td>
                                        <td>{{actualAmount}}</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                {{/paymentsFromBorrowerToPartner}}
                                <tr>
                                    <td>From Field Partner to Lenders</td>
                                    <td>{{expectedRepayDate}}</td>
                                    <td>{{expectedRepayment}}</td>
                                    {{#repaymentReceived}}
                                        <td>{{month}}</td>
                                    {{/repaymentReceived}}
                                    <td>
                                        {{#actualRepayment}}
                                            {{actualRepayment}}
                                        {{/actualRepayment}}
                                        {{^actualRepayment}}
                                            {{^isDelinquent}}
                                                $0.00
                                            {{/isDelinquent}}
                                        {{/actualRepayment}}
                                    </td>
                                    <td>
                                        {{#comments}}
                                            {{comments}}<br>
                                        {{/comments}}
                                        {{#currencyLossLenders}}
                                            {{currencyLossLenders}} lost to currency devaluation <a target="_blank" href="https://www.kiva.org/help/currencyExchangeLoss?business_id=950791&period=201602#ExplanationOfCurrencyExchangeLossToLendersOnThisRepayment">more »</a>
                                        {{/currencyLossLenders}}
                                        &nbsp;
                                    </td>
                                </tr>
                            {{/repayments}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>