{{#is-styleguide}}
	<a href="#" data-reveal-id="flag-comment-lightbox">trigger me!</a>
{{/is-styleguide}}

<div id="flag-comment-lightbox-{{commentId}}" class="reveal-modal flag-comment-lightbox" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="columns small-12">
			<a class="close-reveal-modal" aria-label="Close">
				<svg class="icon icon-x">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
				</svg>
			</a>
			<div class="lightbox-content white">
				<div class="row inner">
					<div class="small-12 large-8 columns">
						<label for="flag-description">
							Please explain why this comment is inappropriate:
						</label>
					</div>
				</div>
				<div class="row inner">
					<div class="columns small-12 large-8">
						<textarea rows="3" cols="4" id="flag-description-{{commentId}}" type="text" name="flag-description"></textarea>
					</div>
				</div>
				<div class="row inner">
					<div class="columns medium-12 large-8">
						<button class="button submit-flag">Flag comment</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>