<a href="#" data-reveal-id="countries-lent-to-lightbox">Details</a>
<div id="countries-lent-to-lightbox" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-content white">
				<h1 class="white">Kiva Countries</h1>
                <p class="white">
					This is the number of distinct countries where you’ve
					supported a borrower on Kiva, compared to the number
					of countries where we offer loans.
				</p>

				<p class="white">
					Because Kiva is sometimes unable to continue working
					in specific countries where we’ve operated in the past,
					there is a chance that you could have lent to more countries
					than Kiva is currently working in.
				</p>

				<div class="row">
					<div class="columns small-12 large-6">
						<div class="country-list-heading">Countries you’ve supported</div>
						<div class="portfolio-countries-list">
							{{#portfolio-countries-lent-to}}
								<div>
									<span class="f16 {{code}}"></span>
									<span class="country-name">{{name}}</span>
								</div>
							{{/portfolio-countries-lent-to}}
						</div>
					</div>

					<div class="columns small-12 large-6">
						<div class="country-list-heading">Countries you haven’t yet supported</div>
						<div class="portfolio-countries-list">
							{{#portfolio-countries-remaining}}
								<div>
									<span class="f16 {{code}}"></span>
									<span class="country-name">{{name}}</span>
								</div>
							{{/portfolio-countries-remaining}}
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>