{{#is-styleguide}}
	<a href="#" data-reveal-id="inactive-account-settings-modal">trigger me!</a>
{{/is-styleguide}}

<div id="inactive-account-settings-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="columns small-12">
			<a class="close-reveal-modal" aria-label="Close">
				<svg class="icon icon-x">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
				</svg>
            </a>
			<div class="lightbox-content inactive-account-settings white" id="inactivity_content">
				<p class="inactive-account-settings-header featured">We need you to set your preferences!</p>
                <p>We noticed that you don’t have an inactivity setting enabled, and need you to tell us how to handle your funds, should your account become inactive* in the future.</p>
				<p><a href="{{inactivity_settings_url}}" class="button smaller">Change inactivity settings</a></p>
                <p class="small-text">* Please note: If you don’t select an inactivity setting, Kiva may be required by law to turn your account credit over to the state government as abandoned property when your account becomes inactive. Your Kiva account will only become inactive if you haven’t signed in or had any activity for 2 years.</p>
			</div>
		</div>
	</div>
</div>
