{{#is-patternlab}}
    <a href="#" data-reveal-id="compose-message-modal">Compose a lender message</a>
{{/is-patternlab}}

<div id="compose-message-modal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-content white">
                <h2 class="save-search-header">Save this search</h2>
            </div>
        </div>
    </div>
</div>