<!-- Probably don't need this button -->
<!-- add the 'hide' class to hide it or use dynamic text {{lightboxTriggerLinkText}} -->
<a href="#" class="" data-reveal-id="add-credit-completion">Click ME to see the Lightbox!</a>
<div id="add-credit-completion" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
		<div class="row">
			<div class="columns small-12">
				<a class="close-reveal-modal" aria-label="Close">
					<svg class="icon icon-x">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
					</svg>
				</a>
				<div class="lightbox-content white">
					{{! Add your specific lightbox content here, you shouldn't have to touch the other lines of code wihtin this file.}}
					<p class="featured">Transaction Complete</p>
					<p>As an initial step to showing the transaction data, we can inject content into this div targeting it via "#add-credit-completion .lightbox-content".</p>
					<p><a class="button" href="#">Link to Portfolio</a><p/>
					<p>
            We can open the lightbox directly from the success response after we inject some data.<br>
            <br>
            <a href="http://foundation.zurb.com/sites/docs/v/5.5.3/components/reveal.html" target="_blank">See Advanced Section Here</a>
						<br>
						JS to trigger the modal: $('#add-credit-completion').foundation('reveal', 'open');
          </p>
				</div>
			</div>
		</div>
</div>
