<div aria-hidden="true" class="reveal-modal"  data-reveal="" id="autoDepositRevealModal" role="dialog">
	<div class="row">
		<div class="columns small-12">
			<a aria-label="Close" class="close-reveal-modal"> <svg class="icon icon-x"> <use xlink:href="#icon-x" xmlns:xlink="http://www.w3.org/1999/xlink"></use> </svg> </a>
			<div class="lightbox-content white text-center">
                <div class="auto-deposit-spinner">
                    <div class="loading-spinner">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>

                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <p class="featured">
						Processing your Auto Deposit...
					</p>
                </div>
			</div>
		</div>
	</div>
</div>
