<!--The top two container divs are used to apply styles from monthly-good.scss-->
<div class="monthly-good-landing-page">
	<div class="mg-header-section-wrapper">


		<div class="full-width mg-header-section-wrapper">
			<img alt="" data-interchange="
			[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-sm-std.jpg, (default)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-sm-retina.jpg, (retina)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-med-std_0.jpg, (medium)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-med-retina_0.jpg, (medium-retina)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-lg-std_0.jpg, (large)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-lg-retina_0.jpg, (large-retina)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-xl-std_0.jpg, (xlarge)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-xl-retina_0.jpg, (xlarge-retina)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-xxl-std.jpg, (xxlarge)]
			, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/monthlygood-banner-xxl-retina.jpg, (xxlarge-retina)]"
			style="position: relative;" />
			<div class="row">
				<div class="mg-header-content columns">
					<p class="impact overlay white mg-headline">
						{{{mg-headline}}}
					</p>
					<p class="overlay white mg-subhead">
						{{{mg-subhead}}}
					</p>
					<form class="mg-deposit-form" data-abide="ajax">
						<div class="mg-deposit-input-wrapper deposit-amount-input-1">

						</div>
						<button class="button smaller join-monthly-good">{{button-text}}</button>
					</form>

					<div class="already-subscribed-msg-wrapper">
						{{already-subscribed-text}}
						<a href="{kvurl page=settings action=credit}">{{already-subscribed-link-text}}</a>.
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
