<!--This top container div is used to apply styles from monthly-good.scss-->
<div class="monthly-good-landing-page">

	<div class="email-preview-section-wrapper">
		<div class="small-9 large-6 email-preview-image">
			<img alt="Email preview" data-interchange="
		[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/email-preview-mobile-std.jpg, (default)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/email-preview-mobile-retina_.jpg, (retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/email-preview-desktop-std.jpg, (medium)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/email-preview-desktop-retina.jpg, (medium-retina)]
		" />
		</div>
		<div class="small-12 large-6 text-center email-preview-text">
			<h1>
				Monthly Good, delivered to your inbox
			</h1>
			<p>
				Once a month, we'll send you a dose of inspiration with an update on who your funds supported and how you’re making a difference.
			</p>
		</div>
	</div>

</div>
