<!--This top container div is used to apply styles from monthly-good.scss-->
<div class="monthly-good-landing-page">

	<div class="kiva-as-expert-section-wrapper">
		<div class="row">
			<div class="columns">
				<p class="impact kiva-as-expert-heading">{{kiva-as-expert-title}}</p>
				<div class="text-content small-12 large-7 columns">
					<p{{kiva-as-expert-text-1}}</p>

					<p>
						<img class="show-for-medium-down community-image" alt="" data-interchange="
							[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/10-years-billion-impact-std.jpg, (default)]
							, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/10-years-billion-impact-retina.jpg, (retina)]
						"/>
					</p>

					<br>
					<p>{{{kiva-as-expert-text-2}}}<p>
				</div>

				<div class="large-5 columns">
					<p>
						<img class="show-for-large-up community-image" alt="" data-interchange="
						[https://www-kiva-org.global.ssl.fastly.net/cms/page/images/10-years-billion-impact-std.jpg, (default)]
						, [https://www-kiva-org.global.ssl.fastly.net/cms/page/images/10-years-billion-impact-retina.jpg, (retina)]
					"/>
					</p>
				</div>

				<form class="columns contribute-form" data-abide>
					<div class="mg-deposit-input-wrapper deposit-amount-input-2 small-12">
					</div>

					<a class="button smaller join-monthly-good">{{button-text}}</a>
				</form>
			</div>
		</div>
	</div>

</div>
