<!--This top container div is used to apply styles from monthly-good.scss-->
<div class="monthly-good-landing-page">

	<div class="more-about-kiva-section-wrapper">
		<p class="more-about-kiva-headline impact">{{more-about-kiva-title}}</p>
		<div class="more-about-kiva-text small-12 large-7 columns">
			<p>{{more-about-kiva-text-1}}</p>

			<p class="show-for-large-up">{{more-about-kiva-text-2}}</p>
		</div>

		<div class="img-container small-12 large-5 columns">
			<div class="large-10 small-6 columns large-centered charity-nav-wrapper">
				<p class="small-text text-center">{{{charity-nav-text-1}}}</p>
				<div class="text-center">
					<img alt="Charity Navigator 4 star rating" data-interchange="//kiva.org/cms/page/images/charity-navigator-std.png, (default)
				, //kiva.org/cms/page/images/charity-navigator-retina.png, (retina)" />
				</div>
				<p class="small-text text-center">
					{{charity-nav-text-2}}
				</p>
			</div>

			<div class="large-10 small-6 columns large-centered kiva-promise-wrapper text-center">
				<svg class="small-6 icon"> <use xlink:href="#icon-kiva-promise" xmlns:xlink="http://www.w3.org/1999/xlink"></use> </svg>
			</div>
		</div>

		<p style="clear: both;" class="show-for-medium-down">{{more-about-kiva-text-2}}</p>
	</div>

</div>
