<div class="text-center donation-sidebar">
	<div class="kiva-promise-wrapper">
		<!--Kiva 100% promise section-->
		<b>Loans vs. donations</b>
		<svg class="icon">
			<use xlink:href="#icon-kiva-promise"></use>
		</svg>
		<p class="small-text">Kiva never takes a cut of loans, optional donations fund our operations.</p>
	</div>
	<div class="charity-nav-wrapper">
		<!--Charity Navigator section-->
		<b>Awarded for effectiveness and efficiency</b>
		<div>
			<img alt="Charity Navigator 4 star rating" data-interchange="//kiva.org/cms/page/images/charity-navigator-std.png, (default)
			, //kiva.org/cms/page/images/charity-navigator-retina.png, (retina)">
		</div>
		<p class="small-text">Charity Navigator's highest rating</p>
	</div>
</div>