<div class="small-12  large-3 columns">
	<div>
		<a class="button setting">$10</a>
		<a class="button setting">$20</a>
		<a class="button setting">$50</a>
	</div>
	<div>
		<a class="button setting">$100</a>
		<a class="button setting">$200</a>
		<a class="button setting">$Other</a>
	</div>
	<label for="checkbox1">
		<input id="checkbox1" name="checkbox" type="checkbox" checked="checked">Make this a monthly donation.</label>
	<button>Donate</button>
</div>