<div class="siteMapContainer row">
    <div class="small-12 columns">
		<div class="pageTitle">Site Map</div>
    	</br>
	</div>
	<div class="small-12 medium-4 columns">
		<ul class="siteMapList">
			<p>Lending</p>
				<li><a href="#">All Loans</a></li>
				<li><a href="#">All Categories</a></li>
            </br>
			<p>Borrower</p>
				<li><a href="#">Borrower portal and application</a></li>
            </br>
			<p>My Kiva</p>
				<li><a href="#">Login</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">My Teams</a></li>
				<li><a href="#">Donation History</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Add Credit</a></li>
				<li><a href="#">Withdraw</a></li>
            </br>
			<p>Community</p>
				<li><a href="#">Teams</a></li>
				<li><a href="#">Students & Educators</a></li>
            </br>
		</ul>
	</div>
	<div class="small-12 medium-4 columns">
		<ul class="siteMapList">
			<p>About</p>
				<li><a href="#">About Us</a></li>
				<li><a href="#">How Kiva Works</a></li>
				<li><a href="#">Where Kiva Works</a></li>
				<li><a href="#">Impact</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Finances</a></li>
				<li><a href="#">Leadership</a></li>
				<li><a href="#">Due Diligence</a></li>
            </br>
			<p>Work with us</p>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Fellow Program</a></li>
				<li><a href="#">Internships</a></li>
				<li><a href="#">Review and Translation Program</a></li>
            </br>
			<p>Help</p>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Forgot Password</a></li>
            </br>
        </ul>
	</div>
	<div class="small-12 medium-4 columns">
		<ul class="siteMapList">
			<p>Support us</p>
				<li><a href="#">Donate to Operating Expenses</a></li>
				<li><a href="#">Small Business Support</a></li>
				<li><a href="#">Corporate Support</a></li>
				<li><a href="#">Institutional Support</a></li>
            </br>
			<p>Blogs</p>
				<li><a href="#">Kiva Blog</a></li>
				<li><a href="#">Engineering Blog</a></li>
				<li><a href="#">Fellows Blog</a></li>
            </br>
			<p>More</p>
				<li><a href="#">Buy a Kiva Card</a></li>
				<li><a href="#">Kiva Labs</a></li>
				<li><a href="#">Developer API</a></li>
				<li><a href="#">Happening Now</a></li>
				<li><a href="#">2014 Annual Report</a></li>
				<li><a href="#">Speaker Request Form</a></li>
            </br>
			<p>Legal</p>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
		</ul>
	</div>
</div>