<div class="siteMapContainer">
	<div>Site Map</div>
    <ul>
		<p>Lending</p>
        	<li><a>All Loans</a></li>
        	<li><a>All Categories</a></li>
		<p>Borrower</p>
	        <li><a>Borrower portal and application</a></li>
		<p>My Kiva</p>
	        <li><a>Login</a></li>
    	    <li><a>Register</a></li>
     	   	<li><a>Portfolio</a></li>
    		<li><a>My Teams</a></li>
    	    <li><a>Donation History</a></li>
    	    <li><a>Settings</a></li>
    	    <li><a>Add Credit</a></li>
			<li><a>Withdraw</a></li>
		<p>Community</p>
			<li><a>Teams</a></li>
			<li><a>Students & Educators</a></li>
		<p>About</p>
        	<li><a>About Us</a></li>
        	<li><a>How Kiva Works</a></li>
        	<li><a>Where Kiva Works</a></li>
        	<li><a>Impact</a></li>
       		<li><a>Press</a></li>
        	<li><a>Finances</a></li>
    	    <li><a>Leadership</a></li>
	        <li><a>Due Diligence</a></li>
		<p>Work with us</p>
        	<li><a>Careers</a></li>
        	<li><a>Fellow Program</a></li>
        	<li><a>Internships</a></li>
        	<li><a>Review and Translation Program</a></li>
		<p>Help</p>
        	<li><a>Help Center</a></li>
        	<li><a>Contact Us</a></li>
        	<li><a>Forgot Password</a></li>
		<p>Support us</p>
        	<li><a>Donate to Operating Expenses</a></li>
        	<li><a>Small Business Support</a></li>
        	<li><a>Corporate Support</a></li>
        	<li><a>Institutional Support</a></li>
		<p>Blogs</p>
        	<li><a>Kiva Blog</a></li>
        	<li><a>Engineering Blog</a></li>
        	<li><a>Fellows Blog</a></li>
		<p>More</p>
        	<li><a>Buy a Kiva Card</a></li>
        	<li><a>Kiva Labs</a></li>
        	<li><a>Developer API</a></li>
        	<li><a>Happening Now</a></li>
        	<li><a>2014 Annual Report</a></li>
        	<li><a>Speaker Request Form</a></li>
		<p>Legal</p>
        	<li><a>Privacy Policy</a></li>
        	<li><a>Terms of Use</a></li>
	</ul>


</div>