<div class="loan-section">
    <p class="featured">{{borrowerFirstName}}'s Story</p>

    {{#storyBody}}
        <p>
            {{content}}
        </p>
    {{/storyBody}}

    <div>
        In this group:
        <ul class="borrower-names">
            {{#borrowers}}
                <li>{{name}}{{^pictured}}*{{/pictured}}</li>
            {{/borrowers}}
        </ul>
        <p>*not pictured</p>
    </div>

    <br/>
    {{#translation}}
        <span>Translated from {{language}} by Kiva Volunteer {{translator}}</span>
        <ul class="accordion" data-accordion>
            <li class="accordion-navigation">
                <a href="#translation">View original language description</a>
                <div id="translation" class="content">
                    {{original}}
                </div>
            </li>
        </ul>
    {{/translation}}
</div>