<div>
	<p>
		This Privacy Policy describes how Kiva Microfunds (“Kiva”) collects and uses the personal information you provide on our Website www.kiva.org. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.
	</p>
	<p>
		Kiva has been awarded TRUSTe's Privacy Seal signifying that this Privacy Policy and practices have been reviewed by TRUSTe for compliance with <a href="https://www.truste.com/privacy-certification-standards/">TRUSTe's program requirements</a> including transparency, accountability and choice regarding the collection and use of your personal information. The TRUSTe program does not cover information that may be collected through mobile applications and only covers the Website www.kiva.org. TRUSTe's mission, as an independent third party, is to accelerate online trust among consumers and organizations globally through its leading privacy trustmark and innovative trust solutions. If you have questions or complaints regarding our Privacy Policy or practices, please contact us at <a href="mailto:contactus@kiva.org">contactus@kiva.org</a>. If you are not satisfied with our response you can <a href="https://feedback-form.truste.com/watchdog/request">contact TRUSTe here</a>.
	</p>
</div>
