<div class="is-special">
    <p class="featured">
        This loan is special because:
    </p>

    <h2 class="green-bolded">
        It's in a rural region many banks won't serve.
    </h2>

    <div class="kivan">
        <div class="show-for-small-only">
            <p>
                Jomay, Kiva Knowledge Manager
            </p>
        </div>
        <div class="show-for-medium-up">

            <p>
                Jomay
            </p>

            <p>
                Kiva Knowledge Manager
            </p>
        </div>
    </div>
</div>