<div class="pfp-meter">
    <div class="lender-count">
        <h2 class="green-bolded">
            {{fundraising_info.lenderCount}} of {{fundraising_info.lenderCountNeeded}}
        </h2>

        <div>Lenders</div>
    </div>

    <div class="fundraising-meter progress">
        <span class="meter" style="width: {{lenderCountPercent}}%"></span>
    </div>
    <p>
        <a class="black-underlined" data-reveal-id="in-pfp-explain-lightbox">
            {{fundraising_info.timeLeft}} to reach {{fundraising_info.lenderCountNeeded}} lenders.
        </a>
    </p>
    <div class="amount-raised">
        <div>
            ${{fundraising_info.amountRaised}} of ${{fundraising_info.amountNeeded}} raised so far.
        </div>

        <div class="fundraising-meter progress">
            <span class="meter" style="width: {{amountRaisedPercent}}%"></span>
        </div>
    </div>

    {{#fundraising_info.inPFPHelpText}}
        {{> 01-molecules/10-lightbox/04-help-text-lightbox}}
    {{/fundraising_info.inPFPHelpText}}
</div>