<div class="current-status-meter">
	{{#fundraising_info.status}}
		<h2 class="green-bolded inline">
			{{status}}
		</h2>
	{{/fundraising_info.status}}

	{{#fundraising_info.showRaisedInfo}}
		<div class="amount-raised">
			<h2 class="green-bolded inline">
				{{fundraising_info.meterAmountPercent}}%
			</h2>
			<div class="inline">{{fundraising_info.raisedVerb}}</div>
		</div>
        <div class="goal-stats">
            <div class="days-left-stat {{#fundraising_info.isExpiringSoon}}urgent{{/fundraising_info.isExpiringSoon}}">{{fundraising_info.loanLengthMessage}}</div>
            <div class="amount-to-go-stat">${{fundraising_info.amountLeft}} to go</div>
            <div style="clear: both;"></div>
        </div>
		<div class="fundraising-meter progress">
			<span class="meter" style="width: {{fundraising_info.meterAmountPercent}}%"></span>
		</div>
	{{/fundraising_info.showRaisedInfo}}

	<div class="raised-info row">
		<div class="loan-total">
			Total loan: ${{fundraising_info.totalLoanAmount}}
		</div>
		{{#fundraising_info.lenderCount}}
			<a kvtrackevent="Borrower Profile|click-powered by" href="#lenders-teams" class="lender-count black-underlined">
				Powered by {{fundraising_info.lenderCount}} lenders
			</a>
		{{/fundraising_info.lenderCount}}
	</div>
</div>