<div class="loan-gist">
    <h2 class="group-name">{{groupName}}</h2>

    <div class="">
        <div class="country-image">
            <img class="" src="../../images/flags/{{countryIso}}.svg" alt="{{countryFullName}}">
        </div>
        <div class="country-text">
            <div class="black-underlined">{{city}}, {{country}}</div>
            <div>/</div>
            <div>{{typeText}}</div>
        </div>
    </div>
</div>

