<div class="loan-gist">
    <h2 class="borrower-name">{{borrowerOrGroupName}}</h2>

    <div class="country-info-wrapper row">
        <div class="country-image columns small-2">
            <img class="" src="../../images/flags/{{countryISOCode}}.svg" alt="{{countryName}}">
        </div>
        <div class="country-text columns small-10">
            <a href="#country-section" class="black-underlined">{{city}}{{#city}}, {{/city}}{{countryName}}</a> / {{typeName}}
        </div>
    </div>
</div>

