<div class="loan-gist">
    <h1>Myi Ni Gone Village Group</h1>

    <div class="">
        <div class="country-image">
            <img class="" src="../../images/flags/ad.svg" alt="">
        </div>
        <div class="country-text">
            <div class="black-underlined">Papau New Guinea</div>
            <div>/</div>
            <div>Renewable Energy Products</div>
        </div>
    </div>
</div>

