<section class="loan-details">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-loan-details-body" aria-expanded="true">
        Loan Details
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <div class="ac-body" id="ac-loan-details-body" aria-hidden="false">
        <div class="loan-term">
            <svg class="icon icon-recycle"><use xlink:href="#icon-recycle"></use></svg>
			<h2><a href="#" id="repayment-term" class="black-underlined" data-reveal-id="repayment-term-lightbox">Repayment Term:</a></h2>
            <div class="green-bolded">{{numberOfMonths}} months</div>
            {{#hasDualStatement}}
                <div>(<a class="black-underlined" href="#repaymentSchedule">Additional Information</a>)</div>
            {{/hasDualStatement}}
        </div>

        <div class="loan-stats">
            <div id="repayment-schedule" class="stat">
                <a class="black-underlined" data-reveal-id="repayment-schedule-lightbox">Repayment schedule:</a>
                <strong>{{repaymentFrequency}}</strong>
            </div>
            <div id="disbursal-date" class="stat" data-reveal-id="disbursal-date-lightbox">
                <a class="black-underlined">Disbursal date:</a>
                {{#disbursalDate}}
                    <strong>{{disbursalDate}}</strong>
                {{/disbursalDate}}
                {{^disbursalDate}}
                    <strong>Disbursed after fully funded on Kiva.</strong>
                {{/disbursalDate}}
            </div>
            <div id="currency-exchange-loss" class="stat">
                <a class="black-underlined" data-reveal-id="currency-exchange-loss-lightbox">Currency exchange loss:</a>
                <strong>{{currencyExchangeLossScenario}}</strong>
            </div>
            <div id="field-partner" class="stat">
                {{#fieldPartner}}
                    <a class="black-underlined" data-reveal-id="field-partner-lightbox">Facilitated by Field Partner:</a>
                    <strong>{{fieldPartner}}</strong>
                {{/fieldPartner}}
                {{^fieldPartner}}
                    {{#trustee}}
                        <a class="black-underlined">Endorsed by Trustee:</a>
                        <strong>{{trustee}}</strong>
                    {{/trustee}}
                    {{^trustee}}
                        <a class="black-underlined">Not Facilitated by a Field Partner or Trustee</a>
                    {{/trustee}}
                {{/fieldPartner}}
            </div>
            <div id="borrower-paying-interest" class="stat">
                <a class="black-underlined" data-reveal-id="borrower-paying-interest-lightbox">Is borrower paying interest?</a>
                <strong>
                    {{#borrowerPayingInterest}}
                        Yes
                    {{/borrowerPayingInterest}}
                    {{^borrowerPayingInterest}}
                        No
                    {{/borrowerPayingInterest}}
                </strong>
            </div>
            {{#fieldPartner}}
                <div id="field-partner-risk-rating" class="stat">
                    <a class="black-underlined" data-reveal-id="field-partner-risk-rating-lightbox">Field Partner risk rating:</a>
                    <strong class="risk-rating">
                        {{#stars}}
                            {{#isFullStar}}
                                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                            {{/isFullStar}}
                            {{#isHalfStar}}
                                <svg class="icon icon-half-star"><use xlink:href="#icon-half-star"></use></svg>
                            {{/isHalfStar}}
                            {{#isEmptyStar}}
                                <svg class="icon icon-star empty-star"><use xlink:href="#icon-star"></use></svg>
                            {{/isEmptyStar}}
                        {{/stars}}
                    </strong>
                </div>
            {{/fieldPartner}}
            {{^fieldPartner}}
                <div id="risk-rating" class="stat">
                    <a class="black-underlined" data-reveal-id="risk-rating-lightbox">Risk rating:</a>
                    <strong>N/A</strong>
                </div>
            {{/fieldPartner}}
			{{#loan_details_helptext}}
				{{> molecules-standard-lightbox}}
			{{/loan_details_helptext}}
		</div>
    </div>
</section>