<div class="loan-details">
    <section class="ac-container">
        <div class="show-for-small-down">
            <div>
                <input class="ac-input" id="ac-loan-details" name="accordion-1" type="checkbox" checked/>
                <label class="ac-title" for="ac-loan-details">
                    Loan details
                <span class="ac-dropdown-icon">
                    <svg class="icon icon-large-chevron">
                        <use xlink:href="#icon-large-chevron"></use>
                    </svg>
                </span>
                </label>
                <article class="ac-body">
                    <div class="loan-term">
                        <svg class="icon icon-recycle">
                            <use xlink:href="#icon-recycle"></use>
                        </svg>
                        <div class="black-underlined featured">
                            Repayment Term:
                        </div>
                        <div class="green-bolded">
                            {{months}} months
                        </div>
                    </div>

                    <div class="loan-stats">
                        {{#loanDetails}}
                            <div class="stat">
                            <span class="black-underlined">
                                Repayment schedule:
                            </span>
                            <span class="bold">
                                {{repaymentSchedule}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Disbursal date:
                            </span>
                            <span class="bold">
                                {{disbursalDate}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Currency exchange loss:
                            </span>
                            <span class="bold">
                                {{currencyExchangeLoss}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Facilitated by Field Partner:
                            </span>
                            <span class="bold">
                                {{fieldPartner}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Is borrower paying interest?
                            </span>
                            <span class="bold">
                                {{#borrowerPayingInterest}}
                                    Yes
                                {{/borrowerPayingInterest}}
                                {{^borrowerPayingInterest}}
                                    No
                                {{/borrowerPayingInterest}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Field Partner risk rating:
                            </span>
                            <span class="bold risk-rating">
                                {{#stars}}
                                    {{#isFullStar}}
                                        <svg class="icon icon-star">
                                            <use xlink:href="#icon-star"></use>
                                        </svg>
                                    {{/isFullStar}}
                                    {{#isHalfStar}}
                                        <svg class="icon icon-half-star">
                                            <use xlink:href="#icon-half-star"></use>
                                        </svg>
                                    {{/isHalfStar}}
                                    {{#isEmptyStar}}
                                        <svg class="icon icon-star empty-star">
                                            <use xlink:href="#icon-star"></use>
                                        </svg>
                                    {{/isEmptyStar}}
                                {{/stars}}
                                {{riskRating}}
                            </span>
                            </div>
                        {{/loanDetails}}
                    </div>

                </article>
            </div>
        </div>
        <div class="show-for-medium-up">
            <div>
                <div class="ac-title">
                    Loan details
                </div>
                <article class="ac-body">
                    <div class="loan-term">
                        <svg class="icon icon-recycle">
                            <use xlink:href="#icon-recycle"></use>
                        </svg>
                        <div class="black-underlined featured">
                            Repayment Term:
                        </div>
                        <div class="green-bolded">
                            {{months}} months
                        </div>
                    </div>

                    <div class="loan-stats">
                        {{#loanDetails}}
                            <div class="stat">
                            <span class="black-underlined">
                                Repayment schedule:
                            </span>
                            <span class="bold">
                                {{repaymentSchedule}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Disbursal date:
                            </span>
                            <span class="bold">
                                {{disbursalDate}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Currency exchange loss:
                            </span>
                            <span class="bold">
                                {{currencyExchangeLoss}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Facilitated by Field Partner:
                            </span>
                            <span class="bold">
                                {{fieldPartner}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Is borrower paying interest?
                            </span>
                            <span class="bold">
                                {{#borrowerPayingInterest}}
                                    Yes
                                {{/borrowerPayingInterest}}
                                {{^borrowerPayingInterest}}
                                    No
                                {{/borrowerPayingInterest}}
                            </span>
                            </div>
                            <div class="stat">
                            <span class="black-underlined">
                                Field Partner risk rating:
                            </span>
                            <span class="bold risk-rating">
                                {{#stars}}
                                    {{#isFullStar}}
                                        <svg class="icon icon-star">
                                            <use xlink:href="#icon-star"></use>
                                        </svg>
                                    {{/isFullStar}}
                                    {{#isHalfStar}}
                                        <svg class="icon icon-half-star">
                                            <use xlink:href="#icon-half-star"></use>
                                        </svg>
                                    {{/isHalfStar}}
                                    {{#isEmptyStar}}
                                        <svg class="icon icon-star empty-star">
                                            <use xlink:href="#icon-star"></use>
                                        </svg>
                                    {{/isEmptyStar}}
                                {{/stars}}
                                {{riskRating}}
                            </span>
                            </div>
                        {{/loanDetails}}
                    </div>

                </article>
            </div>
        </div>
    </section>

</div>