<section class="loan-details">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-loan-details-body{{#right-content}}-right{{/right-content}}" aria-expanded="true">
        Loan details
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <div class="ac-body" id="ac-loan-details-body{{#right-content}}-right{{/right-content}}" aria-hidden="false">
        <div class="loan-term">
            <svg class="icon icon-recycle"><use xlink:href="#icon-recycle"></use></svg>
			<h2><a href="#" id="repayment-term" class="black-underlined" data-reveal-id="repayment-term-lightbox">Loan length:</a></h2>
            <div class="green-bolded">{{repaymentTerm}} months</div>
            {{#hasDualStatement}}
                <div>(<a class="black-underlined" data-reveal-id="repayment-schedule-tables">Additional information</a>)</div>
            {{/hasDualStatement}}
        </div>

        <div class="loan-stats">
            <div id="repayment-schedule" class="stat">
                <a class="black-underlined" data-reveal-id="repayment-schedule-lightbox">Repayment schedule:</a>
                <strong>{{repaymentFrequency}}</strong>
            </div>
            <div id="disbursed-date" class="stat">
                <a class="black-underlined" data-reveal-id="disbursed-date-lightbox">Disbursed date:</a>
                {{#disbursedDate}}
                    <strong>{{disbursedDate}}</strong>
                {{/disbursedDate}}
                {{^disbursedDate}}
                    <strong>Disbursed after fully funded on Kiva.</strong>
                {{/disbursedDate}}
            </div>
            <div id="currency-exchange-loss" class="stat">
                <a class="black-underlined" data-reveal-id="currency-exchange-loss-lightbox">Currency exchange loss:</a>
                <strong>{{currencyExchangeLossScenario}}</strong>
            </div>
            <div id="field-partner" class="stat">
                {{#fieldPartner}}
                    <a class="black-underlined" data-reveal-id="facilitated-or-endorsed-by-lightbox">Facilitated by Field Partner:</a>
                    <strong>{{fieldPartner}}</strong>
                {{/fieldPartner}}
                {{^fieldPartner}}
                    {{#trustee}}
                        <a class="black-underlined" data-reveal-id="facilitated-or-endorsed-by-lightbox">Endorsed by Trustee:</a>
                        <strong>{{trustee}}</strong>
                    {{/trustee}}
                    {{^trustee}}
                        <a class="black-underlined" data-reveal-id="facilitated-or-endorsed-by-lightbox">Not facilitated by a Field Partner or Trustee</a>
                    {{/trustee}}
                {{/fieldPartner}}
            </div>
            <div id="borrower-paying-interest" class="stat">
                <a class="black-underlined" data-reveal-id="borrower-paying-interest-lightbox">Is borrower paying interest?</a>
                <strong>
                    {{#borrowerPayingInterest}}
                        Yes
                    {{/borrowerPayingInterest}}
                    {{^borrowerPayingInterest}}
                        No
                    {{/borrowerPayingInterest}}
                </strong>
            </div>
            {{#fieldPartner}}
                <div id="field-partner-risk-rating" class="stat">
                    <a class="black-underlined" data-reveal-id="risk-rating-lightbox">Field Partner risk rating:</a>
                    <strong class="risk-rating">
                        {{#riskRatingStars}}
                            {{#isFullStar}}
                                <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                            {{/isFullStar}}
                            {{#isHalfStar}}
                                <svg class="icon icon-half-star"><use xlink:href="#icon-half-star"></use></svg>
                            {{/isHalfStar}}
                            {{#isEmptyStar}}
                                <svg class="icon icon-star empty-star"><use xlink:href="#icon-star"></use></svg>
                            {{/isEmptyStar}}
                        {{/riskRatingStars}}
                    </strong>
                </div>
            {{/fieldPartner}}
            {{^fieldPartner}}
                <div id="risk-rating" class="stat">
                    <a class="black-underlined" data-reveal-id="risk-rating-lightbox">Risk rating:</a>
                    <strong>N/A</strong>
                </div>
            {{/fieldPartner}}
			{{#loanDetailsHelpText}}
				{{> 01-molecules/10-lightbox/04-help-text-lightbox}}
			{{/loanDetailsHelpText}}
		</div>
    </div>
</section>