<section class="lenders-teams" id="lenders-teams">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-lenders-teams-body" aria-expanded="true">
        Lenders ({{lenderCount}}) and lending teams ({{teamCount}})
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <article class="ac-body" id="ac-lenders-teams-body" aria-hidden="false">
        <ul class="lenders small-block-grid-4 medium-block-grid-6 large-block-grid-6">
            {{#lenders}}
                <li>
                    {{#displayTooltip}}
                        <a href="https://www.kiva.org/lender/{{id}}"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true; show_on: large" title="{{firstName}}<br>{{location}}"  class="circle-avatar" style="background-image:url({{imgUrl}})"></span></a>
                    {{/displayTooltip}}
                    {{^displayTooltip}}
                        <span class="circle-avatar" style="background-image:url({{imgUrl}})"></span>
                    {{/displayTooltip}}
                </li>
            {{/lenders}}
        </ul>
        {{#numAnonymousLenders}}
            <div class="anonymous-lender-message text-center">+ {{numAnonymousLenders}} anonymous lenders</div>
        {{/numAnonymousLenders}}
        <ul class="teams small-block-grid-4 medium-block-grid-6 large-block-grid-6">
            {{#teams}}
                <li>
                    {{#displayTooltip}}
                        <a href="https://www.kiva.org/team/{{id}}"><span data-tooltip aria-haspopup="true" data-options="disable_for_touch:true; show_on: large" title="{{teamName}}<br>{{teamType}}<br>{{numLenders}} of {{numTeamMembers}} members"  class="circle-avatar" style="background-image:url({{imgUrl}})"></span></a>
                    {{/displayTooltip}}
                    {{^displayTooltip}}
                        <span class="circle-avatar" style="background-image:url({{imgUrl}})"></span>
                    {{/displayTooltip}}
                </li>
            {{/teams}}
        </ul>
    </article>
</section>