<section class="lenders-teams" id="lenders-teams">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-lenders-teams-body" aria-expanded="true">
        Lenders ({{lenderCount}}) & Lending Teams ({{teamCount}})
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <article class="ac-body" id="ac-lenders-teams-body" aria-hidden="false">
        {{#lenders}}
            <span class="my-kiva">
                <a data-tooltip aria-haspopup="true" data-options="show_on:medium;" title="{{firstName}}<br>{{location}}" href="https://www.kiva.org/lender/{{id}}" class="circle-avatar" style="background-image:url({{imgUrl}})"></a>
            </span>
        {{/lenders}}
        {{#teams}}
            <span class="my-kiva">
                <a data-tooltip aria-haspopup="true" data-options="show_on:medium;" title="{{teamName}}<br>{{teamType}}<br>{{numLenders}} of {{numTeamMembers}} members" href="https://www.kiva.org/team/{{id}}" class="circle-avatar" style="background-image:url({{imgUrl}})"></a>
            </span>
        {{/teams}}
    </article>
</section>