<section class="lenders-teams">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-lenders-teams-body" aria-expanded="true">
        Lenders ({{lenderCount}}) & Lending Teams ({{teamCount}})
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <article class="ac-body" id="ac-lenders-teams-body" aria-hidden="false">
        {{#lenders}}
            <span class="my-kiva">
                <a href="{{lenderUrl}}" class="circle-avatar" style="background-image:url({{imgUrl}})"></a>
            </span>
        {{/lenders}}
        {{#teams}}
            <span class="my-kiva">
                <a href="{{teamUrl}}" class="circle-avatar" style="background-image:url({{imgUrl}})"></a>
            </span>
        {{/teams}}
    </article>
</section>