{{^amountInBasket}}
    <div class="lend-action show-for-large-up row">
        {{#alreadyLent}}
            <div id="already-supported-message" class="columns small-12">You've supported this loan</div>
        {{/alreadyLent}}
        {{^inBasket}}
            <div class="lend-button-wrapper columns small-5 lend-values-button">
                <button data-dropdown="lend-button-dropdown" aria-controls="lend-button-dropdown"
                        aria-expanded="false"
                        class="button dropdown lend-action-button loan-amount-button">
                    $25
                </button>
                <ul id="lend-button-dropdown" data-dropdown-content class="f-dropdown" aria-hidden="true">
                    {{#lendValues}}
                        <li><a href="#">${{amount}}</a></li>
                    {{/lendValues}}
                </ul>
            </div>
            <div class="lend-button-wrapper columns small-7 lend-now-button">
                <button class="button lend-action-button lend-button">
                    Lend Now
                </button>
            </div>
        {{/inBasket}}
        {{#inBasket}}

        {{/inBasket}}
    </div>
{{/amountInBasket}}