{{^amountInBasket}}
    <div class="show-for-large-up row lend-action">
        {{#alreadyLent}}
            <div id="already-supported-message" class="columns small-12">You've supported this loan</div>
        {{/alreadyLent}}
        {{#dafIneligible}}
            <div class="columns small-12 not-eligible-message">Not eligible for promotion. <a class="black-underlined" data-reveal-id="daf-ineligible-lightbox">Learn more</a></div>
        {{/dafIneligible}}
        {{^inBasket}}
            <div class="lend-button-wrapper columns small-4 lend-values-button">
                <button data-dropdown="lend-button-dropdown" aria-controls="lend-button-dropdown"
                        aria-expanded="false"
                        class="button lend-action-button loan-amount-button">
                    <span class="loan-amount-text">{{#freeTrialEligible}}Free {{/freeTrialEligible}}$25</span>
                    <svg class="icon icon-triangle">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-triangle"></use>
                    </svg>
                </button>
                <ul id="lend-button-dropdown" data-dropdown-content class="f-dropdown" aria-hidden="true">
                    {{#freeTrialEligible}}
                        <li><a href="#">Free $25</a></li>
                    {{/freeTrialEligible}}
                    {{#lendValues}}
                        <li><a href="#">${{amount}}</a></li>
                    {{/lendValues}}
                </ul>
            </div>
            <div class="lend-button-wrapper columns small-8 lend-now-button">
                <button class="button lend-action-button lend-button">
                    Lend Now
                </button>
            </div>
        {{/inBasket}}
        {{#inBasket}}

        {{/inBasket}}
    </div>

    {{#lendActionHelpText}}
        {{> 01-molecules/10-lightbox/04-help-text-lightbox}}
    {{/lendActionHelpText}}
{{/amountInBasket}}