<div class="lend-action show-for-large-up row">
    {{#alreadyLent}}
        <div id="already-supported-message" class="columns small-12">You've supported this loan</div>
    {{/alreadyLent}}
    {{^inBasket}}
        <div class="not-in-basket">
            <div class="lend-button-wrapper columns small-5 lend-values-button">
                <button data-dropdown="lend-button-dropdown" aria-controls="lend-button-dropdown"
                        aria-expanded="false"
                        class="button dropdown lend-button loan-amount-button">
                    $25
                </button>
                <ul id="lend-button-dropdown" data-dropdown-content class="f-dropdown" aria-hidden="true">
                    {{#lendValues}}
                        <li><a href="#">${{amount}}</a></li>
                    {{/lendValues}}
                </ul>
            </div>
            <div class="lend-button-wrapper columns small-7">
                <button class="button lend-button">
                    Lend Now
                </button>
            </div>
        </div>
    {{/inBasket}}
    {{#inBasket}}
        <div class="in-basket">
            <div class="row">
                <div class="columns small-12">
                    <button class="button green-button">
                        Proceed to checkout
                    </button>
                </div>
            </div>
        </div>
    {{/inBasket}}
</div>

