<div class="mobile-lend-action show-for-medium-down row">
    <div class="already-supported-message columns small-12">You've supported this loan</div>
    <div class="basket-buttons">
        <div id="loan-amount" class="columns small-3">
            <a href="#" data-options="align:top; ignore_repositioning:true" data-dropdown="drop"
               class="button dropdown lend-button">$25</a>
            <ul id="drop" class="tiny f-dropdown" data-dropdown-content data-options="ignore_repositioning:true">
                {{#lendValues}}
                    <li><a href="#">${{amount}}</a></li>
                {{/lendValues}}
            </ul>
        </div>
        <div id="lend-button" class="columns small-6">
            <a href="#" class="button">Lend Now</a>
        </div>
        <div id="basket-button" class="columns small-3">
            <div class="button">
                <div class="row" id="basket-text">
                    Basket
                </div>
                <div class="row">
                    1
                </div>
            </div>
        </div>
    </div>
</div>