<div class="adding-to-basket-wrapper" style="display:none">
    <div class="adding-to-basket row columns small-12 show-for-large-up">
        <img class="loader" src="../../images/loan-card-loader.gif">Adding to basket
    </div>
</div>
