<div class="show-for-medium-down">
    <div class="mobile-adding-to-basket" style="display: none">
        <img class="loader basket-text" src="{{img.loan-card-loader.src}}">Adding to basket
    </div>
</div>