<div class="mobile-lend-action bottom-bar no-hide">
    <div class="message mobile-adding-to-basket">
        <img class="loader basket-text" src="../../images/loan-card-loader.gif">Adding to basket
    </div>
</div>