<div class="lend-action show-for-large-up row">
    <div class="checkout columns small-12 no-padding">
        <button class="button green-button checkout-button-desktop"  style="display: none;">
            <svg class="icon icon-checkmark">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark"></use>
            </svg>
            Proceed to checkout
        </button>
    </div>
</div>