<div class="mobile-lend-action show-for-medium-down row">
    <div class="basket-buttons mobile-proceed-to-checkout" style="display: none;">
        <div id="checkout-button" class="columns small-9">
            <button class="button">Checkout</button>
        </div>
        <div id="basket-button" class="footer-basket-button columns small-3">
            <div class="button">
                <div class="row" id="basket-text">
                    Basket
                </div>
                <div class="row footer-basket-amount">
					{{basket.item_count}}
                </div>
            </div>
        </div>
    </div>
</div>