<div class="mobile-lend-action show-for-medium-down row">
    <div class="basket-buttons mobile-proceed-to-checkout" style="display: none;">
        <div id="checkout-button" class="columns small-12">
	        <div id="mobile-basket-button" class="basket-bar {{#basket.item_count}}hide-for-large-up{{/basket.item_count}}{{^basket.item_count}}hide{{/basket.item_count}}"><a href="{{basket_href}}" class="button" kvtrackevent="Lending|Checkout - Item Count|Bottom Bar|{{basket.item_count}}|true">Checkout (<span class="basket-item-count">{{basket.item_count}}</span>)</a></div>
        </div>
	</div>
</div>
