<div class="mobile-lend-action show-for-medium-down row">
    <div class="basket-buttons mobile-already-in-basket" {{^amountInBasket}}style="display: none;"{{/amountInBasket}}>
        <div id="checkout-button" class="columns small-9">
            <button class="button">
                <svg class="icon icon-checkmark">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark"></use>
                </svg>
                ${{amountInBasket}} in basket
            </button>
        </div>
        <div id="basket-button" class="columns small-3">
            <div class="button">
                <div class="row" id="basket-text">
                    Basket
                </div>
                <div class="row amount-in-basket">
                    3
                </div>
            </div>
        </div>
    </div>
</div>