<section class="loan-story">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-loan-story-body" aria-expanded="true">
        {{#previousLoanDetails}}
            Update on {{borrowerOrGroupName}}
        {{/previousLoanDetails}}
        {{^previousLoanDetails}}
            {{borrowerOrGroupName}}'s Story
        {{/previousLoanDetails}}
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <div class="ac-body" id="ac-loan-story-body" aria-hidden="false">
        {{#storyDescription}}
            <section class="loan-description">
                <p>{{{.}}}</p>
            </section>
        {{/storyDescription}}

        {{#displayBorrowers}}
            <section>
                <p>In this group: {{#borrowers}}{{name}}{{^pictured}}*{{/pictured}} {{/borrowers}}<br>*not pictured</p>
            </section>
        {{/displayBorrowers}}

        {{#previousLoanDetails}}
            <section class="previous-loan-details">
                <h2>Previous Loan Details</h2>
                <p>{{{previousLoanDescriptionBlurb}}} ... <a href="{{previousLoanLink}}">More from {{borrowerOrGroupName}}'s previous loan »</a></p>
            </section>
        {{/previousLoanDetails}}

        {{#translation}}
            <section class="loan-translation ac-container">
                {{#reviewerImageLink}}
                    <img class="reviewer-image" src="{{reviewerImageLink}}" alt="Translator profile picture"/>
                {{/reviewerImageLink}}
                <p>
                    Translated from {{language}} by <a href="{{reviewerLink}}">Kiva Volunteer</a> {{reviewerName}}
                    <span class="ac-title black-underlined" data-kv-accordion aria-controls="ac-translation-body" aria-expanded="false">
                        View original language description
                    </span>
                </p>
                <div class="ac-body" id="ac-translation-body" aria-hidden="true">
                    {{#storyDescription}}
                        <p>{{{.}}}</p>
                    {{/storyDescription}}
                </div>
            </section>
        {{/translation}}
    </div>
</section>