<section class="country-info" id="country-section">
    <h2 class="ac-title ac-container" data-kv-accordion aria-controls="ac-country-info-body" aria-expanded="true">
        Country information
        <span class="ac-dropdown-icon">
            <svg class="icon icon-large-chevron">
                <use xlink:href="#icon-large-chevron"></use>
            </svg>
        </span>
    </h2>
    <div class="ac-body" id="ac-country-info-body" aria-hidden="false">
        <div class="country-map row">
            <div id="mapPane"></div>
        </div>
        <div class="country-stats row">
            {{#fieldPartnerLoanStats}}
                <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2">
                    <li>
                        <strong>Average annual income (USD):</strong>
                        <div class="data-point featured">{{avgAnnualIncome}}</div>
                    </li>
                    <li>
                        <strong>Funds lent in {{countryName}}:</strong>
                        <div class="data-point featured">{{#fundsLentInCountry}}{{fundsLentInCountry}}{{/fundsLentInCountry}}{{^fundsLentInCountry}}&nbsp;{{/fundsLentInCountry}}</div>
                    </li>
                    {{#inUSD}}
                        <li>
                            <strong>Loan transacted in USD</strong>
                            <div class="data-point featured">U.S. dollars</div>
                        </li>
                    {{/inUSD}}
                    {{^inUSD}}
                        <li>
                            <strong>{{currencyFullName}} ({{currencyCode}}) = $1:</strong>
                            <div class="data-point featured">{{exchangeRate}}</div>
                        </li>
                    {{/inUSD}}
                    <li>
                        <strong>Loans currently fundraising:</strong>
                        <div class="data-point featured">{{numLoansFundraising}}</div>
                    </li>
                </ul>
            {{/fieldPartnerLoanStats}}
            {{#directLoanStats}}
                <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2">
                    <li>
                        <strong>Loans to ethnic minorities:</strong>
                        <div class="data-point featured">{{percentLoansToMinorities}}</div>
                    </li>
                    <li>
                        <strong>Comments per loan:</strong>
                        <div class="data-point featured">{{commentsPerLoan}}</div>
                    </li>
                </ul>

            {{/directLoanStats}}
        </div>
    </div>
</section>