<div class="ac-body" id="ac-country-info-body" aria-hidden="true">
	<div class="country-map row">
		<div id="mapPane"></div>
	</div>
	<div class="country-stats">
		<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 print-block-grid-2">
			<li>
				<div>Average annual income (USD):</div>
				<div class="data-point featured">{{avgAnnualIncome}}</div>
			</li>
			<li>
				<div>Funds lent in {{countryName}}:</div>
				<div class="data-point featured">{{#fundsLentInCountry}}{{fundsLentInCountry}}{{/fundsLentInCountry}}{{^fundsLentInCountry}}
					&nbsp;{{/fundsLentInCountry}}</div>
			</li>
			{{#inUSD}}
				<li>
					<div>Loan transacted in USD</div>
					<div class="data-point featured">U.S. dollars</div>
				</li>
			{{/inUSD}}
			{{^inUSD}}
				<li>
					<div>{{currencyFullName}} ({{currencyCode}}) = $1:</div>
					<div class="data-point featured">{{exchangeRate}}</div>
				</li>
			{{/inUSD}}
			<li>
				<div>Loans currently fundraising:</div>
				<div class="data-point featured">{{numLoansFundraising}}</div>
			</li>
		</ul>
	</div>
</div>
