<section class="country-info" id="country-section">
	<div class="ac-title ac-container" data-kv-accordion aria-controls="ac-country-info-body" aria-expanded="false">
		<h2>
			Country information
            <span class="ac-dropdown-icon">
                <svg class="icon icon-large-chevron">
                    <use xlink:href="#icon-large-chevron"></use>
                </svg>
            </span>
		</h2>
	</div>

	{{> molecules-country-info }}

</section>