<!-- @todo update URLs for xlarge and xxlarge versions when available -->
<img alt="Filler Photo" data-interchange="
	[//www.kiva.org/cms/page/images/hp-slideshow-r6-sm-std.jpg, (default)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-sm-retina.jpg, (retina)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-std.jpg, (medium)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-retina.jpg, (medium-retina)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-std.jpg, (large)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-retina.jpg, (large-retina)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-std.jpg, (xlarge)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-lg-retina.jpg, (xlarge-retina)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-std.jpg, (xxlarge)]
	, [//www.kiva.org/cms/page/images/hp-slideshow-r6-med-retina.jpg, (xxlarge-retina)]
">