<div class="sg-element-group-description">User Interface icons</div>
<ul class="icons userinterface inline-list">
    <li class="icon">
        <div class="sg-element-group-description">Distribution icon</div>
        <svg class="icon icon-distribution">
            <use xlink:href="#icon-distribution"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Globe icon</div>
        <svg class="icon icon-globe">
            <use xlink:href="#icon-globe"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Star icon</div>
        <svg class="icon icon-star">
            <use xlink:href="#icon-star"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Half star icon</div>
        <svg class="icon icon-half-star">
            <use xlink:href="#icon-half-star"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Handshake icon</div>
        <svg class="icon icon-handshake">
            <use xlink:href="#icon-handshake"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Sort icon</div>
        <svg class="icon icon-sort">
            <use xlink:href="#icon-sort"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Filter icon</div>
        <svg class="icon icon-filter">
            <use xlink:href="#icon-filter"/>
        </svg>
    </li>

    <li class="icon">
		<div class="sg-element-group-description">Checkmark icon</div>
		<svg class="icon icon-checkmark">
			<use xlink:href="#icon-checkmark"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Slideshow dot icon</div>
		<svg class="icon icon-slideshow-dot">
			<use xlink:href="#icon-slideshow-dot"/>
		</svg>
	</li>

    <li class="icon">
        <div class="sg-element-group-description">Slideshow dot icon (active)</div>
        <svg class="icon icon-slideshow-dot active">
            <use xlink:href="#icon-slideshow-dot"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Magnifying glass icon</div>
        <svg class="icon icon-magnify-glass">
            <use xlink:href="#icon-magnify-glass"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Near-me icon</div>
        <svg class="icon icon-nearme">
            <use xlink:href="#icon-nearme"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Triangle icon</div>
        <svg class="icon icon-triangle">
            <use xlink:href="#icon-triangle"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">X icon</div>
        <svg class="icon icon-x">
            <use xlink:href="#icon-x"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Chevron icon - large</div>
        <svg class="icon icon-large-chevron">
            <use xlink:href="#icon-large-chevron"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Chevron icon - large (small-screens)</div>
        <svg class="icon icon-large-chevron-mobile">
            <use xlink:href="#icon-large-chevron-mobile"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Chevron icon - medium</div>
        <svg class="icon icon-medium-chevron">
            <use xlink:href="#icon-medium-chevron"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Chevron icon - small</div>
        <svg class="icon icon-small-chevron">
            <use xlink:href="#icon-small-chevron"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Chevron icon - small (small-screens)</div>
        <svg class="icon icon-small-chevron-mobile">
            <use xlink:href="#icon-small-chevron-mobile"/>
        </svg>
    </li>

</ul>

<div class="sg-element-group-description">Storytelling icons</div>
<ul class="icons inline-list">
	<li class="icon">
		<div class="sg-element-group-description">Boundaries icon</div>
		<svg class="icon icon-boundaries">
			<use xlink:href="#icon-boundaries"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Hand-up icon</div>
		<svg class="icon icon-hand-up">
			<use xlink:href="#icon-hand-up"/>
		</svg>
	</li>

    <li class="icon">
        <div class="sg-element-group-description">Impact icon</div>
        <svg class="icon icon-impact">
            <use xlink:href="#icon-impact"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Lifting icon</div>
        <svg class="icon icon-lifting">
            <use xlink:href="#icon-lifting"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Recycle icon</div>
        <svg class="icon icon-recycle">
            <use xlink:href="#icon-recycle"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Choose icon</div>
        <svg class="icon icon-choose">
            <use xlink:href="#icon-choose"/>
        </svg>
    </li>

	<li class="icon">
		<div class="sg-element-group-description">Lend icon</div>
		<svg class="icon icon-lend">
			<use xlink:href="#icon-lend"/>
		</svg>
	</li>

    <li class="icon">
        <div class="sg-element-group-description">Repaid icon</div>
        <svg class="icon icon-repaid">
            <use xlink:href="#icon-repaid"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Repeat icon</div>
        <svg class="icon icon-repeat">
            <use xlink:href="#icon-repeat"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Leaf icon</div>
        <svg class="icon icon-leaf">
            <use xlink:href="#icon-leaf"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Leaves icon</div>
        <svg class="icon icon-leaves">
            <use xlink:href="#icon-leaves"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Match icon</div>
        <svg class="icon icon-match">
            <use xlink:href="#icon-match"/>
        </svg>
    </li>
</ul>

<div class="sg-element-group-description">Social media icons</div>
<ul class="icons socialmedia inline-list">
    <li class="icon">
        <div class="sg-element-group-description">Facebook icon</div>
        <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">LinkedIn icon</div>
        <svg class="icon icon-linkedIn">
            <use xlink:href="#icon-linkedIn"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Pinterest icon</div>
        <svg class="icon icon-pinterest">
            <use xlink:href="#icon-pinterest"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Twitter icon</div>
        <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Youtube icon</div>
        <svg class="icon icon-youtube">
            <use xlink:href="#icon-youtube"/>
        </svg>
    </li>
</ul>
