<div class="sg-element-group-description">User Interface icons</div>
<ul class="icons userinterface inline-list">
	<li class="icon">
		<div class="sg-element-group-description">Distribution icon</div>
		<svg class="icon icon-distribution">
			<use xlink:href="#icon-distribution"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Globe icon</div>
		<svg class="icon icon-globe">
			<use xlink:href="#icon-globe"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Star icon</div>
		<svg class="icon icon-star">
			<use xlink:href="#icon-star"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Half star icon</div>
		<svg class="icon icon-half-star">
			<use xlink:href="#icon-half-star"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Handshake icon</div>
		<svg class="icon icon-handshake">
			<use xlink:href="#icon-handshake"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Sort icon</div>
		<svg class="icon icon-sort">
			<use xlink:href="#icon-sort"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Filter icon</div>
		<svg class="icon icon-filter">
			<use xlink:href="#icon-filter"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Edit icon</div>
		<svg class="icon icon-edit">
			<use xlink:href="#icon-edit"/>
		</svg>
	</li>


	<li class="icon">
		<div class="sg-element-group-description">Refresh icon</div>
		<svg class="icon icon-refresh">
			<use xlink:href="#icon-refresh"/>
		</svg>
	</li>


	<li class="icon">
		<div class="sg-element-group-description">List icon</div>
		<svg class="icon icon-list">
			<use xlink:href="#icon-list"/>
		</svg>
	</li>


	<li class="icon">
		<div class="sg-element-group-description">Grid icon</div>
		<svg class="icon icon-grid">
			<use xlink:href="#icon-grid"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Map icon</div>
		<svg class="icon icon-map">
			<use xlink:href="#icon-map"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Confirmation icon</div>
		<svg class="icon icon-confirmation">
			<use xlink:href="#icon-confirmation"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Tags Checkmark icon</div>
		<svg class="icon icon-tags-checkmark">
			<use xlink:href="#icon-tags-checkmark"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Error icon</div>
		<svg class="icon icon-error">
			<use xlink:href="#icon-error"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Warning/Info icon</div>
		<svg class="icon icon-warning">
			<use xlink:href="#icon-warning"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Question icon</div>
		<svg class="icon icon-question">
			<use xlink:href="#icon-question"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Slideshow dot icon</div>
		<svg class="icon icon-slideshow-dot">
			<use xlink:href="#icon-slideshow-dot"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Slideshow dot icon (active)
		</div>
		<svg class="icon icon-slideshow-dot active">
			<use xlink:href="#icon-slideshow-dot"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Magnifying glass icon</div>
		<svg class="icon icon-magnify-glass">
			<use xlink:href="#icon-magnify-glass"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Near-me icon</div>
		<svg class="icon icon-nearme">
			<use xlink:href="#icon-nearme"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Triangle icon</div>
		<svg class="icon icon-triangle">
			<use xlink:href="#icon-triangle"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">X icon</div>
		<svg class="icon icon-x">
			<use xlink:href="#icon-x"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Chevron icon - large</div>
		<svg class="icon icon-large-chevron">
			<use xlink:href="#icon-large-chevron"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Chevron icon - large
			(small-screens)
		</div>
		<svg class="icon icon-large-chevron-mobile">
			<use xlink:href="#icon-large-chevron-mobile"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Chevron icon - medium</div>
		<svg class="icon icon-medium-chevron">
			<use xlink:href="#icon-medium-chevron"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Chevron icon - small</div>
		<svg class="icon icon-small-chevron">
			<use xlink:href="#icon-small-chevron"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Chevron icon - small
			(small-screens)
		</div>
		<svg class="icon icon-small-chevron-mobile">
			<use xlink:href="#icon-small-chevron-mobile"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">PDF icon</div>
		<svg class="icon icon-pdf">
			<use xlink:href="#icon-pdf"/>
		</svg>
	</li>

</ul>

<div class="sg-element-group-description">Storytelling icons</div>
<ul class="icons inline-list">
	<li class="icon">
		<div class="sg-element-group-description">Boundaries icon</div>
		<svg class="icon icon-boundaries">
			<use xlink:href="#icon-boundaries"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Hand-up icon</div>
		<svg class="icon icon-hand-up">
			<use xlink:href="#icon-hand-up"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Impact icon</div>
		<svg class="icon icon-impact">
			<use xlink:href="#icon-impact"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Lifting icon</div>
		<svg class="icon icon-lifting">
			<use xlink:href="#icon-lifting"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Recycle icon</div>
		<svg class="icon icon-recycle">
			<use xlink:href="#icon-recycle"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Choose icon</div>
		<svg class="icon icon-choose">
			<use xlink:href="#icon-choose"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Lend icon</div>
		<svg class="icon icon-lend">
			<use xlink:href="#icon-lend"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Repaid icon</div>
		<svg class="icon icon-repaid">
			<use xlink:href="#icon-repaid"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Repeat icon</div>
		<svg class="icon icon-repeat">
			<use xlink:href="#icon-repeat"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Leaf icon</div>
		<svg class="icon icon-leaf">
			<use xlink:href="#icon-leaf"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Leaves icon</div>
		<svg class="icon icon-leaves">
			<use xlink:href="#icon-leaves"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Match icon</div>
		<svg class="icon icon-match">
			<use xlink:href="#icon-match"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Curved arrow icon</div>
		<svg class="icon icon-curved-arrow">
			<use xlink:href="#icon-curved-arrow"/>
		</svg>
	</li>


</ul>

<div class="sg-element-group-description">Kiva sector icons</div>
<ul class="icons inline-list">
    <li class="icon">
        <div class="sg-element-group-description">Agriculture sector icon</div>
        <svg class="icon icon-sector-agriculture">
            <use xlink:href="#icon-sector-agriculture"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Arts sector icon</div>
        <svg class="icon icon-sector-arts">
            <use xlink:href="#icon-sector-arts"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Clothing sector icon</div>
        <svg class="icon icon-sector-clothing">
            <use xlink:href="#icon-sector-clothing"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Construction sector icon</div>
        <svg class="icon icon-sector-construction">
            <use xlink:href="#icon-sector-construction"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Education sector icon</div>
        <svg class="icon icon-sector-education">
            <use xlink:href="#icon-sector-education"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Entertainment sector icon</div>
        <svg class="icon icon-sector-entertainment">
            <use xlink:href="#icon-sector-entertainment"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Food sector icon</div>
        <svg class="icon icon-sector-food">
            <use xlink:href="#icon-sector-food"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Health sector icon</div>
        <svg class="icon icon-sector-health">
            <use xlink:href="#icon-sector-health"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Housing sector icon</div>
        <svg class="icon icon-sector-housing">
            <use xlink:href="#icon-sector-housing"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Manufacturing sector icon</div>
        <svg class="icon icon-sector-manufacturing">
            <use xlink:href="#icon-sector-manufacturing"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Personal use sector icon</div>
        <svg class="icon icon-sector-personal-use">
            <use xlink:href="#icon-sector-personal-use"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Retail sector icon</div>
        <svg class="icon icon-sector-retail">
            <use xlink:href="#icon-sector-retail"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Services sector icon</div>
        <svg class="icon icon-sector-services">
            <use xlink:href="#icon-sector-services"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Transportation sector icon</div>
        <svg class="icon icon-sector-transportation">
            <use xlink:href="#icon-sector-transportation"/>
        </svg>
    </li>

    <li class="icon">
        <div class="sg-element-group-description">Wholesale sector icon</div>
        <svg class="icon icon-sector-wholesale">
            <use xlink:href="#icon-sector-wholesale"/>
        </svg>
    </li>
</ul>

<div class="sg-element-group-description">Social media icons</div>
<ul class="icons socialmedia inline-list">
	<li class="icon icon-facebook">
		<div class="sg-element-group-description">Facebook icon</div>
		<svg class="icon icon-facebook">
			<use xlink:href="#icon-facebook"/>
		</svg>
	</li>

	<li class="icon icon-linkedIn">
		<div class="sg-element-group-description">LinkedIn icon</div>
		<svg class="icon icon-linkedIn">
			<use xlink:href="#icon-linkedIn"/>
		</svg>
	</li>

	<li class="icon icon-pinterest">
		<div class="sg-element-group-description">Pinterest icon</div>
		<svg class="icon icon-pinterest">
			<use xlink:href="#icon-pinterest"/>
		</svg>
	</li>

	<li class="icon icon-twitter">
		<div class="sg-element-group-description">Twitter icon</div>
		<svg class="icon icon-twitter">
			<use xlink:href="#icon-twitter"/>
		</svg>
	</li>

	<li class="icon icon-yelp">
		<div class="sg-element-group-description">Yelp icon</div>
		<svg class="icon icon-yelp">
			<use xlink:href="#icon-yelp"/>
		</svg>
	</li>

	<li class="icon icon-youtube">
		<div class="sg-element-group-description">Youtube icon</div>
		<svg class="icon icon-youtube">
			<use xlink:href="#icon-youtube"/>
		</svg>
	</li>

	<li class="icon icon-instagram">
		<div class="sg-element-group-description">Instagram icon</div>
		<svg class="icon icon-instagram">
			<use xlink:href="#icon-instagram"/>
		</svg>
	</li>
</ul>

<div class="sg-element-group-description">Logos</div>
<ul class="icons kiva-logo inline-list">
	<li class="icon">
		{{> atoms-logo }}
	</li>
</ul>

<div class="sg-element-group-description">Miscellaneous icons</div>
<ul class="icons inline-list">
	<li class="icon">
		<div class="sg-element-group-description">Dedicate Heart icon</div>
		<svg class="icon icon-dedicate-heart">
			<use xlink:href="#icon-dedicate-heart"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Line Graph</div>
		<svg class="icon icon-line-graph">
			<use xlink:href="#icon-line-graph"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Kiva Card</div>
		<svg class="icon icon-kiva-card">
			<use xlink:href="#icon-kiva-card"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">Kiva 100% promise</div>
		<svg class="icon icon-kiva-promise">
			<use xlink:href="#icon-kiva-promise"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">KFIP Apply</div>
		<svg class="icon icon-apply">
			<use xlink:href="#icon-apply"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">KFIP Screen</div>
		<svg class="icon icon-screen">
			<use xlink:href="#icon-screen"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">KFIP Matchmaking</div>
		<svg class="icon icon-matchmaking">
			<use xlink:href="#icon-matchmaking"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">KFIP Interview</div>
		<svg class="icon icon-interview">
			<use xlink:href="#icon-interview"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-element-group-description">KFIP Offer</div>
		<svg class="icon icon-offer">
			<use xlink:href="#icon-offer"/>
		</svg>
	</li>
</ul>
