{{#is-patternlab}}
	{{> 01-molecules/03-media/01-icons }}
{{/is-patternlab}}


<div class="sg-type-size-head">Navigation icons</div>
<ul class="icons navigation inline-list">

	<li class="icon">
		<div class="sg-type-size-head">Chevron icon - large</div>
		<svg class="icon">
			<use xlink:href="#icon-large-chevron"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Chevron icon - large (small-screens)</div>
		<svg class="icon">
			<use xlink:href="#icon-large-chevron-mobile"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Chevron icon - medium</div>
		<svg class="icon">
			<use xlink:href="#icon-medium-chevron"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Chevron icon - small</div>
		<svg class="icon">
			<use xlink:href="#icon-small-chevron"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Chevron icon - small (small-screens)</div>
		<svg class="icon">
			<use xlink:href="#icon-small-chevron-mobile"/>
		</svg>
	</li>
</ul>


<div class="sg-type-size-head">Social media icons</div>
<ul class="icons socialmedia inline-list">
	<li class="icon">
		<div class="sg-type-size-head">Facebook icon</div>
		<svg class="icon">
			<use xlink:href="#icon-facebook"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Pinterest icon</div>
		<svg class="icon">
			<use xlink:href="#icon-pinterest"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Twitter icon</div>
		<svg class="icon">
			<use xlink:href="#icon"/>
		</svg>
	</li>


	<li class="icon">
		<div class="sg-type-size-head">Youtube icon</div>
		<svg class="icon">
			<use xlink:href="#icon-youtube"/>
		</svg>
	</li>
</ul>

<div class="sg-type-size-head">User Interface icons</div>
<ul class="icons userinterface inline-list">
	<li class="icon">
		<div class="sg-type-size-head">Favorite icon</div>
		<svg class="icon">
			<use xlink:href="#icon-favorite"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Checkmark icon</div>
		<svg class="icon">
			<use xlink:href="#icon-checkmark"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Choose icon</div>
		<svg class="icon">
			<use xlink:href="#icon-choose"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Repeat icon</div>
		<svg class="icon">
			<use xlink:href="#icon-repeat"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Slideshow icon</div>
		<svg class="icon">
			<use xlink:href="#icon-slideshow"/>
		</svg>
	</li>

</ul>

<div class="sg-type-size-head">Storytelling icons</div>
<ul class="icons inline-list">
	<li class="icon">
		<div class="sg-type-size-head">Boundaries icon</div>
		<svg class="icon">
			<use xlink:href="#icon-boundaries"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Hand-up icon</div>
		<svg class="icon">
			<use xlink:href="#icon-hand-up"/>
		</svg>
	</li>
	<li class="icon">
		<div class="sg-type-size-head">Leaf icon</div>
		<svg class="icon">
			<use xlink:href="#icon-leaf"/>
		</svg>
	</li>
	
	<li class="icon">
		<div class="sg-type-size-head">Leaves icon</div>
		<svg class="icon">
			<use xlink:href="#icon-leaves"/>
		</svg>
	</li>
	
	<li class="icon">
		<div class="sg-type-size-head">Lend icon</div>
		<svg class="icon">
			<use xlink:href="#icon-lend"/>
		</svg>
	</li>
	
	<li class="icon">
		<div class="sg-type-size-head">Lifting icon</div>
		<svg class="icon">
			<use xlink:href="#icon-lifting"/>
		</svg>
	</li>
	
	<li class="icon">
		<div class="sg-type-size-head">Magnifying glass icon</div>
		<svg class="icon">
			<use xlink:href="#icon-magnify-glass"/>
		</svg>
	</li>
	
	<li class="icon">
		<div class="sg-type-size-head">Near-me icon</div>
		<svg class="icon">
			<use xlink:href="#icon-nearme"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Recycle icon</div>
		<svg class="icon">
			<use xlink:href="#icon-recycle"/>
		</svg>
	</li>
	
	<li class="icon">
		<div class="sg-type-size-head">Repaid icon</div>
		<svg class="icon">
			<use xlink:href="#icon-repaid"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">Triangle icon</div>
		<svg class="icon">
			<use xlink:href="#icon-triangle"/>
		</svg>
	</li>

	<li class="icon">
		<div class="sg-type-size-head">X icon</div>
		<svg class="icon">
			<use xlink:href="#icon-x"/>
		</svg>
	</li>
</ul>