<img class="full-width-image" alt="full width image"
	 data-interchange="
		[{{image-path}}-sm-std.jpg, (default)]
		, [{{image-path}}-sm-retina.jpg, (retina)]
		, [{{image-path}}-med-std.jpg, (medium)]
		, [{{image-path}}-med-retina.jpg, (medium-retina)]
		, [{{image-path}}-lg-std.jpg, (large)]
		, [{{image-path}}-lg-retina.jpg, (large-retina)]
		, [{{image-path}}-xl-std.jpg, (xlarge)]
		, [{{image-path}}-xl-retina.jpg, (xlarge-retina)]
		, [{{image-path}}-xxl-std.jpg, (xxlarge)]
		, [{{image-path}}-xxl-retina.jpg, (xxlarge-retina)]
	 ">
</img>