<img class="category-image" alt="{{img.category.alt}}"
	 data-interchange="
		[{{img.category.src}}-sm-std.jpg, (default)]
		, [{{img.category.src}}-sm-retina.jpg, (retina)]
		, [{{img.category.src}}-med-std.jpg, (medium)]
		, [{{img.category.src}}-med-retina.jpg, (medium-retina)]
		, [{{img.category.src}}-lg-std.jpg, (large)]
		, [{{img.category.src}}-lg-retina.jpg, (large-retina)]
	 ">
</img>