<div class="row text-right">
	<img height="20px" width="20px" alt="photocredit" 
		src="../../images/labs/camera.png">
	<span class="text-small" id="photocredit">Photo by <a href="{{photo-credit-link}}">{{photo-credit}}</a></span>		
</div>