<div class="header-nav" role="navigation">
	<div class="primary-nav">
		<div class="row">
			<div class="small-3 medium-2 large-2 columns logo-area">
				{{> 00-atoms/09-header/00-header-button(text: '<img src="/images/logo-white-cropped.png" alt="Kiva" />')}}
			</div>
			<div class="small-3 medium-2 large-1 columns">
				{{> 00-atoms/09-header/00-header-button(text: 'Lend <i class="fa fa-chevron-down"></i>')}}
			</div>
			<div class="show-for-medium-up medium-1 large-1 columns">
				{{> 00-atoms/09-header/00-header-button(text: '<i class="fa fa-search"></i>')}}
			</div>
			<div class="small-6 large-3 columns right-side">
				<div calss="row">
					<div class="small-6 medium-4 columns">
						{{#about-default}}
							{{> 00-atoms/09-header/00-header-button(text: 'About <i class="fa fa-chevron-down"></i>')}}
						{{/about-default}}
						{{#about-inline}}
							{{> 00-atoms/09-header/00-header-button(text: 'About <i class="fa fa-chevron-down"></i>', active:true)}}
						{{/about-inline}}
						{{#about-dropdown}}
							<a data-dropdown="about-drop" aria-controls="about-drop" aria-expanded="false" class="header-button" href="#">About <i class="fa fa-chevron-down"></i></a>
						{{/about-dropdown}}
						{{#about-kvdropdown}}
							<a data-kv-dropdown="kv-drop" aria-controls="kv-drop" aria-expanded="false" class="header-button" href="#">About <i class="fa fa-chevron-down"></i></a>
							<ul id="kv-drop" class="kv-dropdown" aria-hidden="true">
                                <li><a href="#">One level</a></li>
								<li><a href="#">One level</a></li>
								<li>
                                    <a data-kv-dropdown="kv-drop2" aria-controls="kv-drop2" aria-expanded="false" href="#">One Level <i class="fa fa-chevron-down"></i></a>
									<ul id="kv-drop2" class="kv-dropdown" aria-hidden="true">
										<li><a href="#">Sub Item</a></li>
                                        <li><a href="#">Sub Item</a></li>
									</ul>
								</li>
                                <li><a href="#">One level</a></li>
							</ul>
						{{/about-kvdropdown}}
					</div>
					<div class="show-for-medium-up medium-4 columns">
						{{> 00-atoms/09-header/00-header-button(text: 'Basket')}}
					</div>
					<div class="small-6 medium-4 columns">
						{{> 00-atoms/09-header/00-header-button(text: 'Login')}}
					</div>
				</div>
			</div>
			<div class="show-for-large-up pronus large-4 large-centered columns">Promo Space</div>
		</div>
	</div>
	{{^about-default}}
	{{^about-kvdropdown}}
	<div class="secondary-nav">
		{{#about-inline}}
		<div class="row">
			<div class="small-12 columns">
				<ul class="inline-list">
		{{/about-inline}}
		{{#about-dropdown}}
				<ul id="about-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
		{{/about-dropdown}}
					<li><a href="#">About us</a></li>
					<li class="has-dropdown">
						<a data-dropdown="get-to-know-us-drop" aria-controls="get-to-know-us-drop" aria-expanded="false" href="#">Get to know us{{#about-dropdown}} <i class="fa fa-chevron-down"></i>{{/about-dropdown}}</a>
						<ul id="get-to-know-us-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
							<li><a href="#">Exexutives, Board and Advisors</a></li>
                            <li><a href="#">Supporters</a></li>
                            <li><a href="#">Finances</a></li>
						</ul>
					</li>
					<li><a href="#">How Kiva Works</a></li>
					<li class="has-dropdown">
						<a data-dropdown="where-kiva-works-drop" aria-controls="where-kiva-works-drop" aria-expanded="false" href="#">Where Kiva Works{{#about-dropdown}} <i class="fa fa-chevron-down"></i>{{/about-dropdown}}</a>
                        <ul id="where-kiva-works-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a href="#">Individual Field Partner or Trustee Page</a></li>
                            <li><a href="#">Become a Field Partner or Trustee</a></li>
                        </ul>
					</li>
					<li class="has-dropdown">
						<a data-dropdown="impact-drop" aria-controls="impact-drop" aria-expanded="false" href="#">Impact{{#about-dropdown}} <i class="fa fa-chevron-down"></i>{{/about-dropdown}}</a>
                        <ul id="impact-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a href="#">Labs</a></li>
                            <li><a href="#">Kiva Live</a></li>
                            <li><a href="#">Success Stories</a></li>
                            <li><a href="#">Social Performance</a></li>
                        </ul>
					</li>
					<li class="has-dropdown">
						<a data-dropdown="press-center-drop" aria-controls="press-center-drop" aria-expanded="false" href="#">Press Center{{#about-dropdown}} <i class="fa fa-chevron-down"></i>{{/about-dropdown}}</a>
                        <ul id="press-center-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a href="#">Image Gallery</a></li>
                            <li><a href="#">Press Releases</a></li>
                        </ul>
					</li>
					<li class="has-dropdown">
						<a data-dropdown="due-diligence-drop" aria-controls="due-diligence-drop" aria-expanded="false" href="#">Due Diligence and Monitoring{{#about-dropdown}} <i class="fa fa-chevron-down"></i>{{/about-dropdown}}</a>
                        <ul id="due-diligence-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li><a href="#">The Risk of Lending</a></li>
                            <li><a href="#">Field Partner Role</a></li>
                            <li><a href="#">Ongoing monitoring</a></li>
                            <li><a href="#">Due diligence process</a></li>
                        </ul>
					</li>
				</ul>
		{{#about-inline}}
			</div>
		</div>
		{{/about-inline}}
	</div>
	{{/about-kvdropdown}}
	{{/about-default}}
</div>