<div class="header-nav" role="navigation">
	<div class="row">
		<div class="small-3 medium-2 large-2 columns logo-area">
			{{> 00-atoms/09-header/00-header-button(text: '<img src="/images/logo-white-cropped.png" alt="Kiva" />')}}
		</div>
		<div class="small-3 medium-2 large-1 columns">
			{{> 00-atoms/09-header/00-header-button(text: 'Lend <i class="fa fa-chevron-down"></i>')}}
		</div>
		<div class="show-for-medium-up medium-1 large-1 columns">
			{{> 00-atoms/09-header/00-header-button(text: '<i class="fa fa-search"></i>')}}
		</div>
		<div class="small-6 large-3 columns right-side">
			<div calss="row">
				<div class="small-6 medium-4 columns">
					<a data-dropdown="{{about.drop-id}}" aria-controls="{{about.drop-id}}" aria-expanded="false" class="header-button" href="#">{{{about.title}}}</a>
				</div>
				<div class="show-for-medium-up medium-4 columns">
					{{> 00-atoms/09-header/00-header-button(text: 'Basket')}}
				</div>
				<div class="small-6 medium-4 columns">
					{{> 00-atoms/09-header/00-header-button(text: 'Login')}}
				</div>
			</div>
		</div>
		<div class="show-for-large-up large-4 large-centered columns promo-space">
			{{#bonus}}
				<span class="amount">$25</span> Bonus Credit <i class="fa fa-chevron-down"></i>
			{{/bonus}}
			{{^bonus}}
				<span class="promo">Promo Space</span>
			{{/bonus}}
		</div>
	</div>

	<ul id="{{about.drop-id}}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
		{{#about.links}}
			<li><a href="{{href}}">{{{label}}}</a></li>
		{{/about.links}}
	</ul>

	{{#bonus}}
		<div class="hide-for-large-up pronus">$25 Bonus Credit</div>
	{{/bonus}}
</div>