<div class="small-1-8th large-1 xxlarge-1 columns {{#is-visitor}}show-for-large-up{{/is-visitor}}">
    <a id="search-toggle" aria-controls="search-form" aria-expanded="false" class="header-button" href="#"><i class="fa fa-search search-icon"></i><i class="fa fa-times close-icon"></i></a>
</div>