<div class="{{#is-visitor}}hide-for-medium-down{{/is-visitor}} hide-for-xlarge-up {{#basket.item_count}}hide-for-xxlarge-up{{/basket.item_count}}">
    <a id="search-toggle" aria-controls="search-form" aria-expanded="false" class="header-button" href="#">
		<svg class="icon icon-magnify-glass-left search-icon">
			<use xlink:href="#icon-magnify-glass-left" />
		</svg>
	</a>
</div>
