<ul class="secondary-bar show-for-large-up">
	{{#bar-links}}
	<li><a href="#" {{#active}}class="active"{{/active}}>{{title}}</a></li>
	{{/bar-links}}
</ul>
<ul class="secondary-accordion accordion hide-for-large-up" data-accordion>
	<li class="accordion-navigation">
		<a href="#secondary-nav-panel">{{main-title}}<i class="fa fa-chevron-down closed-icon"></i><i class="fa fa-chevron-up open-icon"></i></a>
		<ul id="secondary-nav-panel" class="content dropdown-list">
			{{#drop-links}}
			<li>
				<a href="#" {{#active}}class="active"{{/active}}>{{title}}</a>
				<ul>
					{{#sub-links}}
					<li><a href="#" {{#sub-active}}class="active"{{/sub-active}}>{{sub-title}}</a></li>
					{{/sub-links}}
				</ul>
			</li>
			{{/drop-links}}
		</ul>
	</li>
</ul>