<div class="small-1-8th large-1 xxlarge-1 columns {{#is-visitor}}show-for-large-up{{/is-visitor}}">
    <a id="search-toggle" aria-controls="search-form" aria-expanded="false" class="header-button" href="#">
		<svg class="icon search-icon">
			<use xlink:href="#icon-magnify-glass" />
		</svg>
        <svg class="icon close-icon">
            <use xlink:href="#icon-x" />
        </svg>
	</a>
</div>