<div class="secondary-nav-bar show-for-large-up">
	<div class="row">
		<div class="large-12 columns">
			<ul>
				{{#bar-links}}
				<li>
					<a href="#" {{#active}}class="active"{{/active}}>{{title}}</a>
				</li>
				{{/bar-links}}
			</ul>
		</div>
	</div>
</div>

<ul class="secondary-nav-accordion accordion hide-for-large-up" data-accordion>
	<li class="accordion-navigation">
		<a href="#secondary-nav-panel">{{main-title}}<i class="fa fa-chevron-down closed-icon"></i><i class="fa fa-chevron-up open-icon"></i></a>
		<ul id="secondary-nav-panel" class="content dropdown-list">
			{{#drop-links}}
			<li>
				<a href="#" {{#active}}class="active"{{/active}}>{{title}}</a>
				<ul>
					{{#sub-links}}
					<li><a href="#" {{#sub-active}}class="active"{{/sub-active}}>{{sub-title}}</a></li>
					{{/sub-links}}
				</ul>
			</li>
			{{/drop-links}}
		</ul>
	</li>
</ul>

<div class="row">
	{{#has-bar-sub-links}}
	<div class="show-for-large-up large-3 columns">
		<ul class="tertiary-nav">
			{{#bar-sub-links}}
				<li><a href="#" {{#sub-active}}class="active"{{/sub-active}}>{{sub-title}}</a></li>
			{{/bar-sub-links}}
		</ul>
    </div>
	{{/has-bar-sub-links}}
	<div class="small-12 {{#has-bar-sub-links}}large-9{{/has-bar-sub-links}} columns">
		<h1>{{page-title}}</h1>
        <p>
			Gummies caramels chupa chups jelly-o gummies powder sugar plum. Apple pie chupa chups sugar plum pudding sugar plum dessert. Candy canes danish chocolate gingerbread soufflé jelly beans chocolate cake macaroon. Pie apple pie cupcake gingerbread gummi bears icing topping sweet roll gummi bears.
		</p>
        <p>
			Cotton candy jujubes sugar plum chocolate bar sweet roll liquorice bonbon danish danish. Apple pie tiramisu marzipan carrot cake chocolate bar caramels brownie. Powder cake biscuit wafer. Dessert liquorice dessert bonbon muffin sweet roll dessert tootsie roll.
		</p>
        <p>
			Gummi bears lollipop wafer gummi bears topping pie cotton candy. Sugar plum tiramisu carrot cake marshmallow soufflé. Chocolate donut apple pie.
		</p>
        <p>
			Candy apple pie dessert chocolate bar fruitcake tart biscuit. Jelly marzipan wafer danish bear claw. Biscuit chupa chups bonbon sesame snaps pie.
		</p>
	</div>
</div>
