<div class="small-1-8th large-1 xxlarge-1 columns {{#is-visitor}}show-for-large-up{{/is-visitor}}">
	<a id="search-toggle" aria-controls="search-form" aria-expanded="false" class="header-button" href="#"><i class="fa fa-search search-icon"></i><i class="fa fa-times close-icon"></i></a>
</div>
<div class="small-12 large-3 xxlarge-3 columns search-container {{#is-visitor}}show-for-large-up{{/is-visitor}}">
	<form id="search-form" aria-hidden="true">
		<div>
			<a id="close-search" aria-controls="search-form" aria-hidden="true" aria-expanded="false" class="show-for-small-only" href="#"><i class="fa fa-times close-icon"></i></a>
			<i class="fa fa-search search-icon"></i>
			<input id="search-box" type="text" placeholder="Search" />
		</div>
	</form>
</div>