<div class="search-container {{#is-visitor}}show-for-large-up{{/is-visitor}}">
	<form id="search-form" aria-hidden="true" action=".">
		<div>
			<a id="close-search" aria-controls="search-form" aria-hidden="true" aria-expanded="false" class="hide-for-large-up" href="#">
                <svg class="icon close-icon">
                    <use xlink:href="#icon-x" />
                </svg>
			</a>
            <svg class="icon icon-magnify-glass search-icon">
                <use xlink:href="#icon-magnify-glass" />
            </svg>
			<input type="search" id="search-box" placeholder="Search all loans">
            <input type="submit" class="hidden-submit"> {{! For triggering the "submit" event when user hits "enter" }}
		</div>
	</form>
</div>