<div id="lend-dropdown" class="f-dropdown content" data-dropdown-content aria-hidden="true" aria-autoclose="false" tabindex="-1">
    <ul class="lend-menu-small hide-for-large-up">
        <li>
            <a href="#" data-kv-accordion aria-controls="lend-menu-category-panel" aria-expanded="false" class="section-title">Category<svg class="icon icon-small-chevron-mobile"><use xlink:href="#icon-small-chevron-mobile" /></svg></a>
            <ul id="lend-menu-category-panel" aria-hidden="true">
				{{#categories.list}}
                    <li><a href="{{href}}">{{name}}</a></li>
				{{/categories.list}}
                <li><a href="{{categories_href}}">All Categories</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-kv-accordion aria-controls="lend-menu-countries-panel" aria-expanded="false" class="section-title">Countries<svg class="icon icon-small-chevron-mobile"><use xlink:href="#icon-small-chevron-mobile" /></svg></a>
            <ul id="lend-menu-countries-panel" aria-hidden="true">
				{{#regions}}
                    <li>
                        <a href="#" data-kv-accordion aria-controls="lend-menu-{{id}}-panel" aria-expanded="false" class="section-title">{{name}}<svg class="icon icon-small-chevron-mobile"><use xlink:href="#icon-small-chevron-mobile" /></svg></a>
                        <ul id="lend-menu-{{id}}-panel" aria-hidden="true">
							{{#countries}}
								<li><a href="{{#facet}}{{href}}{{/facet}}{{^facet}}#{{/facet}}" {{^facet}}class="disabled"{{/facet}}><span class="f16 {{code}}"></span>{{name}} {{#facet}}({{facet}}){{/facet}}{{^facet}}(0){{/facet}}</a></li>
							{{/countries}}
                        </ul>
                    </li>
				{{/regions}}
            </ul>
        </li>
        <li>
            <a href="{{lend_href}}">All Loans</a>
        </li>
		{{^is-visitor}}
			{{#has_personalized}}
	            <li>
	                <a href="#" data-kv-accordion aria-controls="lend-menu-personalized-panel" aria-expanded="false" class="section-title">Personalized<svg class="icon icon-small-chevron-mobile"><use xlink:href="#icon-small-chevron-mobile" /></svg></a>
	                <ul id="lend-menu-personalized-panel" aria-hidden="true">
						<li class="favorites-href"><a href="{{favorites_href}}">Favorites</a></li>
						{{#has_saved_searches}}
                            <li>
								<a href="#" data-kv-accordion aria-controls="lend-menu-searches-panel" aria-expanded="false" class="section-title">Saved Searches<svg class="icon icon-small-chevron-mobile"><use xlink:href="#icon-small-chevron-mobile" /></a>
								<ul id="lend-menu-searches-panel" aria-hidden="true">
									{{#saved_searches}}
										<li><a href="{{href}}">{{name}}</a></li>
									{{/saved_searches}}
								</ul>
							</li>
						{{/has_saved_searches}}
	                    {{#countries_unlent_href}}
	                    	<li><a href="{{countries_unlent_href}}">Countries I Have Not Lent To</a></li>
	                    {{/countries_unlent_href}}
	                </ul>
	            </li>
			{{/has_personalized}}
		{{/is-visitor}}
    </ul>
	<div class="lend-menu-large show-for-large-up">
		<div class="column-section list-length-{{categories.count}}">
			<div class="section-title">Category</div>
			<div class="column-list-container">
				<ul class="column-list">
					{{#categories.list}}
                        <li><a href="{{href}}">{{name}}</a></li>
					{{/categories.list}}
                    <li class="bottom"><a href="{{lend_href}}">All Loans</a></li>
					<li class="bottom"><a href="{{categories_href}}">All Categories</a></li>
				</ul>
			</div>
		</div>
		<div class="close-section" aria-hidden="true">
            <a href="#">
				<svg class="icon icon-medium-chevron">
					<use xlink:href="#icon-medium-chevron" />
				</svg>
			</a>
		</div>
        <div class="column-section">
			<div class="section-title">Countries</div>
			<ul>
				{{#regions}}
                    <li>
                        <a href="#" data-kv-toggle aria-controls="lend-menu-{{id}}-section" aria-expanded="false" class="tertiary-link">{{name}}</a>
                    </li>
				{{/regions}}
			</ul>
			{{^is-visitor}}
				{{#has_personalized}}
					<div class="section-title">Personalized</div>
					<ul>
						<li class="favorites-href"><a href="{{favorites_href}}">Favorites</a></li>
						{{#has_saved_searches}}
							<li>
								<a href="#" data-kv-toggle aria-controls="lend-menu-searches-section" aria-expanded="false" class="tertiary-link">Saved Searches</a>
							</li>
						{{/has_saved_searches}}
						{{^has_saved_searches}}
							<li id="lend-menu-searches-li">
								<span class="tertiary-link disabled">Saved Searches</span>
								<a href="#" data-kv-toggle aria-controls="lend-menu-searches-section" aria-expanded="false" class="tertiary-link" style="display: none;">Saved Searches</a>
							</li>
						{{/has_saved_searches}}
	                    {{#countries_unlent_href}}
	                    	<li><a href="{{countries_unlent_href}}">Countries I Have Not Lent To</a></li>
	                    {{/countries_unlent_href}}
					</ul>
				{{/has_personalized}}
			{{/is-visitor}}
		</div>
		{{#regions}}
            <div id="lend-menu-{{id}}-section" aria-hidden="true" class="tertiary-list column-section">
				<div class="section-title">{{name}}</div>
				<ul>
					{{#countries}}
						<li>
							<a href="{{#facet}}{{href}}{{/facet}}{{^facet}}#{{/facet}}" {{^facet}}class="disabled"{{/facet}}><span class="f16 {{code}}"></span>
								{{name}}
								{{#facet}}({{facet}}){{/facet}}{{^facet}}(0){{/facet}}</a>
						</li>
					{{/countries}}
				</ul>
            </div>
		{{/regions}}
            <div id="lend-menu-searches-section" aria-hidden="true" class="tertiary-list column-section">
                <div class="section-title">Saved Searches</div>
                <ul>
                    {{#saved_searches}}
                        <li><a href="{{href}}">{{name}}</a></li>
                    {{/saved_searches}}
                </ul>
            </div>
	</div>
</div>