{{! This is the holiday banner that is shown in the xlarge-up screen state}}
<div class="show-for-xlarge-up holiday-promo">
	<a href="{{holiday_mode.href}}">
		<svg class="icon icon-kiva-card">
			<use xlink:href="#icon-kiva-card"></use>
		</svg>
		<div class="content">
			<span class="show-for-xxlarge-up">{{holiday_mode.message}}<br></span>
			{{holiday_mode.call_to_action}}
		</div>
	</a>
</div>
