{{! This is the Holiday banner that is shown in the small-large screen state}}
<div class="hide-for-xlarge-up holiday-promo">
	<a href="{{holiday_mode.href}}">
		<svg class="icon icon-kiva-card">
			<use xlink:href="#icon-kiva-card"></use>
		</svg>
		<div class="content">
			{{holiday_mode.message}}
			<br>
			{{holiday_mode.call_to_action}}
		</div>
	</a>
</div>
