{{! This is the Holiday banner that is shown in the small-large screen state}}
<div class="hide-for-xlarge-up holiday-promo">
	<a href="{{holiday_mode.href}}">
		<svg class="icon icon-line-graph">
			<use xlink:href="#icon-line-graph"></use>
		</svg>
		<div class="content">
			{{holiday_mode.long_message}}
			<br>
			{{holiday_mode.short_message}}
		</div>
	</a>
</div>
