<div class="fellows-apply-wrapper">
	<h1 class="fellows-steps-head fellpadtop">
			Steps for applying
	</h1>
	<div class="row fellpadbtm">
		<div class="small 12 columns">
			<p class="featured fellows-steps-subhead">
				We encourage you to apply for any open position that aligns well with your skills, including language requirements, but we may consider you for another position if we think there is a great match.
			</p>
		</div>
	</div>

	<svg class="icon-apply">
		<use xlink:href="#icon-apply"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 1: Apply</p>
			<p class="fellows-text-step extra-lineheight">Please apply by submitting your application. Be sure to note any languages you speak, along with your proficiency in those languages, on your resume.</p>
			<p class="featured steps-green-feat"><strong>By October 9, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-screen">
		<use xlink:href="#icon-screen"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 2: Alumni interview and language assessment</p>
			<p class="fellows-text-step extra-lineheight">If your application is accepted into the next round, you will be contacted via email to schedule a Skype interview with an alum of the program. If you applied for a position that requires proficiency in another language there will also be a language assessment at this stage.</p>
			<p class="featured steps-green-feat"><strong>By November 4, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-interview">
		<use xlink:href="#icon-interview"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 3: Staff interview(s)</p>
			<p class="fellows-text-step extra-lineheight">Successful candidates will be invited to a second round Skype interview with Kiva Fellows Program staff, and possibly a third round interview with a partnerships team staff member.</p>
			<p class="featured steps-green-feat"><strong>By December 9, 2016</strong></p>
		</div>
	</div>

	<div class="dotted-line white"></div>

	<svg class="icon-offer">
		<use xlink:href="#icon-offer"></use>
	</svg>
	<div class="fellows-step-wrapper">
		<div class="fellows-text-frame-icon-overlay text-center white no-select">
			<p class="featured steps-white-feat">Step 4: Offer</p>
			<p class="fellows-text-step extra-lineheight">Taking all interviews into consideration, we will make offers based on the candidates’ best fit for the available roles. We consider professional skills, language skills, travel experience and personality fit.</p>
			<p class="featured steps-green-feat"><strong>By December 16, 2016</strong></p>
		</div>
	</div>

	<div class="row mousepadtop">
		<div class="small 12 columns">
			<p class="fellows-steps-subhead extra-lineheight">
				Due to the Fellowship Program's competitive nature, we recommend that you submit your application as soon as possible. We receive a large number of applications, so are only able to respond to people who will be moving forward in the process. Please note, if you are invited to an interview and are located in the San Francisco Bay Area, we will still ask to speak with you via Skype.
			</p>
		</div>
	</div>

</div>
