<div class="small-12 large-9 columns portfolio my-loans">
    <h1>My loans</h1>
    {{> 01-molecules/40-portfolio/06-my-loans-average-kiva-comparison}}
</div>

<div class="spacer" style="clear:both"></div>