<div class="small-12 large-9 columns portfolio my-loans">
    <h1>My loans</h1>
    {{> 01-molecules/40-portfolio/06-my-loans-average-kiva-comparison}}
    <div class="row bottom-rule"></div>
    {{> 01-molecules/40-portfolio/07-my-loans-lent-stats}}
    <div class="row bottom-rule"></div>
	<div class="loans-section">
		{{> 02-organisms/40-portfolio/09-my-loans-table }}
	</div>
</div>

<div class="spacer" style="clear:both"></div>