<div class="small-12 large-9 columns withdraw-credit">
    <div class="row explainer">
        <h1 class="columns small-12">Withdraw credit</h1>
        <p class="columns small-12">Enter the amount in U.S. dollars that you'd like to have withdrawn into your PayPal account. Withdrawals typically take 1-2 weeks to be processed after being requested.</p>
    </div>
    <div class="row">
        <div class="withdraw-request-display small-12 large-6 columns">
            <div class="statistic-display">
                <div>
                    <span class="statistic kiva-green">{{availableKivaCredit}}</span>
                </div>
                <div class="statistic-label">Available Kiva credit</div>
            </div>
            {{#hasWithdrawalsPending}}
                <div class="pending-withdrawals text-center hide-for-large-up">
                    <div><b><small>Withdrawals in review</small></b></div>
                    {{#pendingWithdrawalRequests}}
                        <div><small><b>{{withdrawalAmount}}</b> - {{requestTimestamp}}</small></div>
                    {{/pendingWithdrawalRequests}}
                </div>
            {{/hasWithdrawalsPending}}
            <form data-abide action="{{saveWithdrawalUrl}}" data-options="live_validate:false" method="post">
                <div class="amount-to-withdraw-field small-6">
                    <label>Amount to withdraw
                        <input type="text" name="withdrawalAmount" required data-abide-validator="currency" data-min-amount="0.01" data-max-amount="{{availableKivaCredit}}" placeholder="$ USD">
                    </label>
                    <small class="error">Please enter a valid amount in USD.</small>
                </div>
                <div class="paypal-email-field">
                    <label>Your PayPal account email
                        <input type="email" name="paypalAddress" id="paypal-email" required>
                    </label>
                    <small class="error">Invalid email address</small>
                </div>
                <div class="paypal-email-confirmation-field">
                    <label>Confirm PayPal account email
                        <input type="email" name="paypalAddressConfirm" required data-equalto="paypal-email">
                    </label>
                    <small class="error">Email addresses do not match.</small>
                </div>
                <div class="row bottom-rule">&nbsp;</div>
                <button type="submit" class="small-12">Continue</button>
            </form>
        </div>
        {{#hasWithdrawalsPending}}
            <div class="pending-withdrawals-large show-for-large-up large-6 columns">
                <div><b><small>Withdrawals in review</small></b></div>
                {{#pendingWithdrawalRequests}}
                    <div><b><small>{{withdrawalAmount}}</b> - {{requestTimestamp}}</small></div>
                {{/pendingWithdrawalRequests}}
            </div>
        {{/hasWithdrawalsPending}}
    </div>
    <div class="row bottom-rule">&nbsp;</div>
    <div class="row explainer">
        <p class="columns small-12">Currently, all withdrawals from Kiva must be sent to a PayPal account, and cannot be transferred directly to a bank account. If you don't have a PayPal account, you can create one at <a href="https://www.paypal.com/">paypal.com</a>.</p>
        <p class="columns small-12">Have questions about your withdrawal? Email us at <a href="mailto:contactus@kiva.org">contactus@kiva.org</a>.</p>
    </div>
    <div class="row bottom-rule">&nbsp;</div>
</div>

<div class="spacer" style="clear:both"></div>
