<div class="small-12 large-9 columns add-credit">
    <div class="explainer">
        <h1>Add credit</h1>
        <p>Add funds to your Kiva balance, making it easier to lend when you find borrowers you want to support.</p>
    </div>
    <!-- This is where the rest of the content goes -->
    <form data-abide="ajax" class="small-12">
        <div class="amount-to-deposit-field row collapse">
            <label class="small-12 medium-3 columns">Amount to deposit
                <input type="text" placeholder="$ USD" required data-abide-validator="currency" data-min-amount="0.01" data-max-amount="10000"/>
            </label>
            <small class="error small-12 medium-7 end columns">
				<svg class="icon icon-error">
					<use xlink:href="#icon-error"/>
				</svg>
				Deposits must be a valid amount in USD and are limited to $10,000. If you'd like to add more, please do so in separate deposits.
			</small>
        </div>
		<div class="monthly-deposit-field small-12 medium-6">
			<label>
				<input type="checkbox" />
				Make this a monthly deposit.
			</label>
		</div>
        <button id="continue-button" type="submit" class="small-12 medium-6">Continue</button>
    </form>
    <div class="explainer">
      <p class="paypal-message small-text">Thanks to PayPal, Kiva receives free payment processing.</p>
    </div>
</div>
<div class="spacer" style="clear:both"></div>
