{{#is-standalone}}
	<div class="auto-deposit">
{{/is-standalone}}

<form class="auto-deposit-form">
	<div class="lending-funds">
		<input class="deposit-amount-input" type="text" placeholder="$" value="{{auto_deposit.deposit_amount}}">
		<span class="featured">each month on the
			<div class="pencil-text-input">
				<span class="text-display">{{auto_deposit.deposit_date}}</span>
				<input type="text" class="text-input" value="{{auto_deposit.deposit_date}}">
				<span class="pencil">
					  <svg class="icon icon-pencil">
						<use xlink:href="#icon-pencil"/>
					</svg>
				  </span>
			</div>
		</span>
		<small class="hide">May be processed on the last day of the month</small>
	</div>

	<div class="donation-selector-small">
		<div class="fancy-checkbox-div">
			<input type='checkbox' class='fancy-checkbox' id='donationCheckboxSmall' {{#auto_deposit.has_donation}}checked{{/auto_deposit.has_donation}}>
			<label for="donationCheckboxSmall">
				<svg class="icon icon-checkbox-checked">
					<use xlink:href="#icon-checkbox-checked"/>
				</svg>
				<svg class="icon icon-checkbox-unchecked">
					<use xlink:href="#icon-checkbox-unchecked"/>
				</svg>
			</label>
		</div>

		<div class="request">Add an optional donation to support Kiva’s costs</div>

		
		<div class="selector">
			<input type="text" class="text-input" value="{{auto_deposit.donation_amount}}">
			<select class="dropdown-choices-select">
				<option id="donation-val-20s" value="{{auto_deposit.20_percent}}">$5.00</option>
				<option id="donation-val-15s" value="{{auto_deposit.15_percent}}" selected>$3.75</option>
				<option id="donation-val-8s" value="{{auto_deposit.8_percent}}">$2.00</option>
				<option id="donation-val-0s" value="$0">$0.00</option>
				<option id="donation-val-other" value="$other">$other</option>
			</select>
		</div>
	</div>

	<div class="donation-selector-large">
		<div class="fancy-checkbox-div">
			<input type='checkbox' class='fancy-checkbox' id='donationCheckbox' {{#auto_deposit.has_donation}}checked{{/auto_deposit.has_donation}}>
			<label for="donationCheckbox">
				<svg class="icon icon-checkbox-checked">
					<use xlink:href="#icon-checkbox-checked"/>
				</svg>
				<svg class="icon icon-checkbox-unchecked">
					<use xlink:href="#icon-checkbox-unchecked"/>
				</svg>
			</label>

			<span class="fancy-checkbox-text">Add an optional
				<div class="pencil-dropdown">
					<span class="text-display">{{auto_deposit.donation_amount}}</span>
					<input type="text" class="text-input" value="{{auto_deposit.donation_amount}}">
					<span class="edit-controls">
					  <span class="pencil">
						  <svg class="icon icon-pencil">
							<use xlink:href="#icon-pencil"/>
						</svg>
					  </span>
					  <ul class="dropdown-choices">
						<li id="donation-val-20" class="">{{auto_deposit.20_percent}}</li>
						<li id="donation-val-15" class="selected">{{auto_deposit.15_percent}}</li>
						<li id="donation-val-8" class="">{{auto_deposit.8_percent}}</li>
						<li id="donation-val-0" class="">$0.00</li>
						<li id="donation-val-other" class="">$other</li>
					  </ul>
					</span>
				</div>
				donation to support Kiva’s costs
			</span>
		</div>
	</div>



	<div class="submit-controls">
		<div id="paypal-button"></div>
		<div id="auto-deposit-signin-button">
			<button class="button smaller">Sign in to set up</button>
		</div>
	</div>
	<div class="disclaimer">Thanks to PayPal, Kiva receives
		<br class="so">free payment processing.</div>
</form>

{{#is-standalone}}
	</div>
{{/is-standalone}}
