<div class="auto-deposit-form">
	<div class="lending-funds">
		<input type="text" placeholder="$25" />
		<span>Each month on the <a href="#">14th</a></span>
		<small class="hide">May be processed on the last day of the month</small>
	</div>
	<div class="donation-funds">
		<input type="checkbox" id="donationCheckbox" />
		<span><label for="donationCheckbox">Add an optional</label> <a href="#">$3.75</a> <label for="donationCheckbox">donation to support Kiva’s costs</label></span>
	</div>
	<div class="submit-controls">
		<div id="paypal-button"></div>
		<div id="auto-deposit-signin-button">
			<button class="button smaller">Sign in to setup</button>
		</div>
	</div>
	<small class="disclaimer">Thanks to PayPal, Kiva receives free payment processing.</small>
</div>
