<div class="submit-controls">
{{#is_logged_in}}
	{{^has_legacy_subscription}}
		{{^has_auto_deposit}}
			{{^has_billing_agreement}}
				<div id="paypal-button"></div>

				<div class="disclaimer">Thanks to PayPal, Kiva receives
					<br class="so">free payment processing.</div>
			{{/has_billing_agreement}}
			
			{{#has_billing_agreement}}
				<div id="auto-deposit-save-button">
					<button class="button smaller">Save Auto Deposit</button>
				</div>
			{{/has_billing_agreement}}
		{{/has_auto_deposit}}

		{{#has_auto_deposit}}
			<div class="large-6 medium-8 panel callout auto-deposit-notice existing-auto-deposit-notice">
				<p>You already have an existing auto deposit. Changes can be made in your <a href="/settings/credit" title="Credit settings">Credit settings</a>.
			</div>
		{{/has_auto_deposit}}
	{{/has_legacy_subscription}}

	{{#has_legacy_subscription}}
		<div class="large-6 medium-8 panel callout auto-deposit-notice existing-legacy-subscription-notice">
			<p>Because you have an existing auto deposit, to make changes you’ll need to <a href="{{cancel_subscription_link}}">cancel your current auto deposit via PayPal</a> and then return to Kiva to set up a new one.</p>
		</div>
	{{/has_legacy_subscription}}
{{/is_logged_in}}

{{^is_logged_in}}
	<div id="auto-deposit-signin-button">
		<button class="button smaller">Sign in to set up</button>
	</div>
{{/is_logged_in}}
</div>
