<div class="auto-deposit-thanks">
	<h1>
		<svg class="icon icon-confirmation">
			<use xlink:href="#icon-confirmation"/>
		</svg>
		Thanks!
	</h1>

	{{#is_donation_only}}
		<svg class="icon icon-email">
			<use xlink:href="#icon-email"/>
		</svg>
		<p>Every month you'll get an email confirming
			<br class="so">your donation of ${{donation_amount}}!
	{{/is_donation_only}}

	{{^is_donation_only}}
		<p>Every month your balance will
			<br class="so">grow by ${{deposit_amount}}!

		{{#has_donation}}
			<br class="so">
			<br>(You’re also making a ${{donation_amount}} donation
			<br class="so">to Kiva <br class="mo">each month – thank you!)
		{{/has_donation}}
		</p>

		<svg class="icon icon-email">
			<use xlink:href="#icon-email"/>
		</svg>
		<p>You’ll get an email after each deposit
			<br class="smo">so you can make more loans.</p>

		<p><strong>Auto lending is the fastest
			<br class="so">way to lend your balance</strong>
			<br><a href="{{auto_lend_url}}">Define your criteria</a>
		</p>
	{{/is_donation_only}}
</div>
