<div class="how-it-works">
	<div class="row">
		<div class="dotted-line"></div>
		<div class="small-12 xlarge-3 columns">
			<svg class="icon icon-apply-circle">
				<use xlink:href="#icon-apply-circle"/>
			</svg>
			<h2>Apply</h2>
			<span class="small-text">20-30 min</span>
			<p>Find out if you're prequalified, then easily fill out our online application.</p>
		</div>
		<div class="small-12 xlarge-3 columns">
			<svg class="icon icon-invite">
				<use xlink:href="#icon-invite"/>
			</svg>
			<h2>Invite</h2>
			<span class="small-text">Up to 15 days</span>
			<p>Prove your creditworthiness by inviting friends and family to lend to you.</p>
		</div>
		<div class="small-12 xlarge-3 columns">
			<svg class="icon icon-fundraise">
				<use xlink:href="#icon-fundraise"/>
			</svg>
			<h2>Fundraise</h2>
			<span class="small-text">Up to 30 days</span>
			<p>Go public on Kiva, with your loan visible to over 1.5 million lenders worldwide.</p>
		</div>
		<div class="small-12 xlarge-3 columns">
			<svg class="icon icon-repeat">
				<use xlink:href="#icon-repeat"/>
			</svg>
			<h2>Repay</h2>
			<span class="small-text">Up to 36 months</span>
			<p>Build your business credit and customer base by repaying your Kiva loan.</p>
		</div>
	</div>
	<a class="button" href="{{applyUrl}}">Apply now</a>
</div>