<div class="row tagline">
	<div class="small-12 columns">
		<p class="featured">Kiva is a non-profit that expands access to capital for entrepreneurs around the world. More than 2 million people have raised nearly $1 billion on Kiva. Could you be next?</p>
		<svg class="icon icon-leaves">
			<use xlink:href="#icon-leaves"/>
		</svg>
	</div>
</div>