<div class="row value-props">
	<div class="small-12 columns">
		<h1 class="huge photo-headline">
			What makes us unique
		</h1>
	</div>
	<div class="small-12 xlarge-4 columns">
		<svg class="icon icon-high-five">
			<use xlink:href="#icon-high-five"/>
		</svg>
		<p class="kiva-green featured">Up to $10,000 at 0% interest</p>
		<p>Yes, 0% interest – no catch. We're a non-profit aimed at expanding access to capital.</p>
	</div>
	<div class="small-12 xlarge-4 columns">
		<svg class="icon icon-megaphone">
			<use xlink:href="#icon-megaphone"/>
		</svg>
		<p class="kiva-green featured">Free marketing and new customers</p>
		<p>Market your product to Kiva's community of 1.5 million supportive lenders.</p>
	</div>
	<div class="small-12 xlarge-4 columns">
		<svg class="icon icon-money-muscle">
			<use xlink:href="#icon-money-muscle"/>
		</svg>
		<p class="kiva-green featured">Build your business credit</p>
		<p>When you fully repay your loan, we report your good standing to build your business credit.</p>
	</div>
</div>