a.joinlink,
a.joinlink:visited {
  color: $kiva-accent-green;
}

.joinSection {
  //text-align: center;
  overflow: auto;
  background-color: $kiva-darkgreen;
  padding: rem-calc(20) rem-calc(35) rem-calc(20) rem-calc(35);
}

.joinText {
  line-height: rem-calc(65);
}

.white {
  color: $white;
}

.hrDivider {
  color: $kiva-green;
  border-color: $kiva-green;
  background-color: $kiva-green;
  margin-bottom: rem-calc(35);
}

.row1 {
  display: inline-block;
}

.row1TextContainer {
  margin-top: rem-calc(90);
  padding-left: rem-calc(20);
  @media #{$large-up} {
    margin-top: rem-calc(160);
  }
}

.row1StatContainer {
  padding-right: rem-calc(20);
  @media #{$large-up} {
    padding-right: rem-calc(150);
  }
}

.row2 {
  display: inline-block;
}

.row2StatContainer {
  padding-top: rem-calc(504);
}

.row3 {
  display: inline-block;
}

.row3TextContainer {
  padding-top: rem-calc(75);
}

.row4 {
  display: inline-block;
  padding-top: rem-calc(60);
}

.row5 {
  display: inline-block;
}

.row5TextContainer {
  padding-top: rem-calc(600);
}

.row6 {
  display: inline-block;
}

.row6StatContainer {
  padding-top: rem-calc(40);
}

.row7 {
  display: inline-block;
  padding-top: rem-calc(100);
}

.row7TextContainer {
  padding-top: rem-calc(20);
}
