@import '../../settings';
@import '../../palette';

.add-credit {
	$lock-icon-size: 2rem;

	svg.icon-secure-lock {
		width: $lock-icon-size;
		height: $lock-icon-size;
		color: $kiva-text-light;
		position: absolute;
	}

	.monthly-deposit-field, button, .explainer img {
		margin-bottom: 1.5rem;
	}

	.paypal-message {
		color: $kiva-text-light;
		margin-left: $lock-icon-size + 0.5rem;

		@media #{$medium-up} {
			line-height: $lock-icon-size;
		}
	}

	@media #{$medium-up} {
		[data-abide] small.error {
			padding: 0 0.5rem;
			margin-top: 1rem;
		}
	}
}