@import '../../settings';
@import '../../palette';

.add-credit {
	.add-credit-state {
		margin-bottom: 2rem;
	}

	.add-credit-form {
		.monthly-deposit-field, #continue-button {
			margin-bottom: 1.5rem;
		}

		.paypal-message {
			color: $kiva-text-light;
		}

		@media #{$medium-up} {
			[data-abide] small.error {
				padding: 0 0.5rem;
				margin-top: 1rem;
			}
		}
	}
}
