.auto-deposit {
    .auto-deposit-form {
        padding: 1.2rem 0;
        
        .lending-funds {
            input {
                display: inline-block;
                margin: 0;
                font-size: 1.3rem;
                height: 2.4rem;
                width: 4em;
                text-align: center;
            }
        }
        .donation-funds {
            #donationCheckbox {
                display: inline;
            }
            span {
                display: inline;
                label {
                    display: inline;
                }
            }
        }
        .submit-controls {

        }
        .disclaimer {
            color: $kiva-text-light;
        }
    }

	.expect-section-wrapper {
		background-color: $kiva-bg-darkgray;
		padding-top: 0.5rem;
		margin-top: 3rem;
	}

	.expect-section {
		text-align: center;
		margin: 1rem auto 2rem;

		//

		svg.icon {
			width: rem-calc(100);
			height: rem-calc(100);
		}

		.xlarge-4 {
			padding-bottom: 2rem;
			border-bottom: 1px solid $kiva-stroke-gray;

			@media#{$xlarge-up} {
				padding-bottom: 0;
				border-bottom: none;
				border-right: 1px solid $kiva-stroke-gray;
			}
		}

		.xlarge-4:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
			border-right: none;
		}


		p {
			max-width: 14rem;
			margin: 0 auto;
		}

		.columns {
			margin-bottom: 2rem;
		}
	}

	.faqs {
		padding: 2.5rem 0 4rem;
	}
}

.auto-deposit-thanks {
	text-align: center;

	h1 {
		padding-top: rem-calc(50);
		line-height: rem-calc(30);

		@media #{$large-up} {
			line-height: rem-calc(56);
		}

	}

	.icon-confirmation {
		fill: $kiva-green;
		width: rem-calc(30);
		height: rem-calc(30);
		margin-right: rem-calc(4);
		vertical-align: bottom;

		@media #{$large-up} {
			width: rem-calc(56);
			height: rem-calc(56);
		}
	}

	.icon-email {
		stroke: $kiva-green;
		stroke-width: 0;
		width: 2rem;
		height: 2rem;
		margin-bottom: -5px;
	}
}
