.auto-deposit {

	@media #{$x-small-only} {
		h1 {
			line-height: $feature-font-size;
		}
	}

	.auto-deposit-dynamic-view {
		position: relative;

		&.loading {
			min-height: 10rem;
		}

		.loader-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.7);
			z-index: 1;
			pointer-events: none;
			display: none;

			.loading-spinner {
				left: 50%;
				top: 50%;
				transform: translate(-50%);
			}
		}

		&.loading .loader-overlay {
			display: block;
			pointer-events: auto;
		}

		.auto-deposit-form {
			padding: 1.2rem 0;

			[data-abide] .error small.error
			, [data-abide] .error span.error
			, [data-abide] span.error, [data-abide] small.error {
				position: absolute;
				margin: 0;
				padding: 0;
			}
			
			.lending-funds {
				@media #{$medium-up} {
					height: rem-calc(60)
				}

				@media #{$x-small-only} {
					.featured {
						font-size: $base-font-size;
					}
				}

				.amount-input
				, .day-input {
					position: relative;
				}

				.amount-input {
					display: inline-block;

					.deposit-amount-input {
						display: inline-block;
						margin: 0;
						padding: 0 rem-calc(4);
						font-size: $body-font-size;
						font-weight: bold;
						color: $kiva-text-dark;
						height: 1.4rem;
						width: rem-calc(64);
						text-align: center;

						@media #{$medium-up} {
							font-size: $feature-font-size;
							height: 2.4rem;
							width: rem-calc(88);
						}
					}
				}

				.day-input {
					display: none;
					input {
						display: inline-block;
						font-size: 1rem;
						line-height: 1rem;
						text-align: center;
						margin: 0;
						padding: 0 rem-calc(4);
						width: rem-calc(50);
						height: rem-calc(24);

						@media #{$medium-up} {
							font-size: $feature-font-size;
							height: 2.4rem;
							width: rem-calc(75);
						}
					}
				}
			}

			/* turn on pointer events for touch events */
			.touch {
				.pencil {
					.icon-pencil {
						pointer-events: all;
					}
				}
			}

			.donation-selector-small {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin: 1rem 0;

				.fancy-checkbox-div label svg {
					height: 27px;
					width: 32px;
				}

				.request {
					max-width: rem-calc(160);
					font-size: $small-font-size;
					line-height: $small-font-size;
				}

				.selector {
					input {
						display:none;
						height: rem-calc(30);
						width: rem-calc(66);
						margin: 0 0 0 4px;
					}
					select {
						margin: 0 0 0 rem-calc(6);
						height: rem-calc(32);
						width: 4rem;
						background-color: white;
					}			
				}

				@media #{$medium-up} {
					display: none;
				}
			}

			.donation-selector-large {
				display: none;

				@media #{$screen} and (max-width: $sm-medium-breakpoint) {
					.fancy-checkbox-div .fancy-checkbox-text {
						font-size: $small-font-size;
					}
				}

				@media #{$medium-up} {
					display: block;
					margin: 2rem 0;
				}

				.pencil-dropdown {
					display: inline-block;

					.dropdown-choices {
						top: -7px;
						left: -83px;
					}
				}
			}

			input[type="text"] {
				color: $kiva-text-dark;
			}

			.disclaimer {
				font-size: $small-font-size;
				line-height: $small-font-size;
				color: $kiva-text-light;
			}
		}

		/* Utility class to Flip Date Input Field */
		.custom-date-input {
			.lending-funds {
				.pencil-text-input {
					display: none;
				}
				.day-input{
					display: inline-block;
				}
			}
		}
		/* Utility Class to Hide Donation Selectors and Show Donation Manual Inputs */
		.custom-donation-input {
			.donation-selector-small {
				.selector {
					input.text-input {
						display: inline-block;
					}
					.dropdown-choices-select {
						display: none;
					}
				}
			}
			.donation-selector-large {
				.pencil-dropdown {
					.text-display {
						display:none;
					}
					input.text-input {
						display: inline-block;
					}
				}
			}
		}

	}

	.expect-section-wrapper {
		background-color: $kiva-bg-darkgray;
		padding-top: 0.5rem;
		margin-top: 3rem;
	}

	.expect-section {
		text-align: center;
		margin: 1rem auto 2rem;

		//

		svg.icon {
			width: rem-calc(100);
			height: rem-calc(100);
		}

		.xlarge-4 {
			padding-bottom: 2rem;
			border-bottom: 1px solid $kiva-stroke-gray;

			@media#{$xlarge-up} {
				padding-bottom: 0;
				border-bottom: none;
				border-right: 1px solid $kiva-stroke-gray;
			}
		}

		.xlarge-4:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
			border-right: none;
		}


		p {
			max-width: 14rem;
			margin: 0 auto;
		}

		.columns {
			margin-bottom: 2rem;
		}
	}

	.faqs {
		padding: 2.5rem 0 4rem;
	}
}

.auto-deposit-thanks {
	text-align: center;
	padding-bottom: 5rem;

	h1 {
		padding-top: rem-calc(50);
		line-height: rem-calc(30);

		@media #{$large-up} {
			line-height: rem-calc(56);
		}

	}

	.icon-confirmation {
		fill: $kiva-green;
		width: rem-calc(30);
		height: rem-calc(30);
		margin-right: rem-calc(4);
		vertical-align: bottom;

		@media #{$large-up} {
			width: rem-calc(56);
			height: rem-calc(56);
		}
	}

	.icon-email {
		stroke: $kiva-green;
		stroke-width: 0;
		width: 2rem;
		height: 2rem;
		margin-bottom: -5px;
	}
}
