.borrower-profile-wrapper {
	padding-top: 1rem;

	.line-break {
		width: 90%;
		margin: auto;
		padding: 0.6rem 0;
		@media #{$medium-up}{
			width: 100%;
		}
	}
	.loan-figure {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		padding-bottom: 0;
		.line-break {
			margin-top: 1rem;
		}
	}

	@media #{$medium-up} {
		.loan-story, .loan-details {
			padding-top: 1rem;
		}
	}

	.borrower-profile-pieces {
		@media #{$medium-up}{
			background: linear-gradient(90deg, #efefef 50%, #d8d8d8 50%);
			border-top: 1px solid $kiva-text-medium;
			border-bottom: 1px solid $kiva-text-medium;
		}
		max-width: none;

		.line-break {
			width: 100%;
		}
		.left-content {
			@media #{$medium-up}{
				float: left;
				border-right: 1px solid $kiva-text-medium;
				background-color: $kiva-bg-darkgray;
			}
		}
		.right-content {
			@media #{$medium-up}{
				background-color: $kiva-stroke-gray;
			}
		}
		.left-content, .right-content {
			padding-left: 1rem;
			padding-right: 1rem;
			display: inline-block;
		}
	}
}

