.borrower-profile-wrapper {
	background: white;

	iframe {
		max-width: rem-calc(500);
	}

	.loan-image-footer {
		display: none;
	}

	.line-break {
		margin: auto rem-calc(15);
		padding: 0.6rem 0;
		border: 0;
		border-top: 1px solid $gray;

		@media #{$large-up}{
			margin: auto;
		}
	}

	.loan-figure {
		padding-left: 0;
		padding-right: 0;
	}

	.row {
		position: relative;
		padding-bottom: 0;
		.line-break {
			margin: 1rem rem-calc(15) 0;

			@media #{$xxlarge-up} {
				margin-left: 0;
			}
		}
	}

	.loan-image-info-row {
		min-height: rem-calc(350);

		.right-content {
			@media #{$medium-up} {
				padding-left: 1.5rem;
			}

			@media #{$xxlarge-up} {
				padding-right: 0;
			}
		}
	}

	@media #{$medium-up} {
		padding-top: 1rem;
	}

	@media #{$large-up} {
		.loan-story, .loan-details {
			padding-top: 1rem;
		}
	}

	.borrower-profile-pieces {
		@media #{$large-up}{
			background: linear-gradient(90deg, $kiva-bg-lightgray 50%, $kiva-bg-darkgray 50%);
			border-top: 1px solid $gray;
			border-bottom: 1px solid $gray;
		}
		max-width: none;

		> .row {
			display: flex;
			flex-flow: row wrap;
		}

		.left-content {
			padding: 0;

			section {
				padding-left: 1rem;
				padding-right: 1rem;

				&.loan-tags, &.comments-and-updates {
					padding-left: 0;
					padding-right: 0;
				}

				&.loan-description, &.all-previous-loan-details, &.previous-loan-details {
					padding-left: 0;
				}

				@media #{$xxlarge-up} {
					padding-left: 0;
				}
			}

			@media #{$small-only}{
				padding-left: 0;
				padding-right: 0;
			}

			@media #{$large-up} {
				flex-basis: auto;
				width: 58.3%;
				background-color: $kiva-bg-lightgray;
				border-right: 1px solid $gray;
			}
		}

		.right-content {
			display: none;
			@media #{$large-up} {
				display: block;
				flex-basis: auto;
				width: 41.5%;
				background-color: $kiva-bg-darkgray;
			}

			@media #{$xxlarge-up} {
				padding-right: 0;
			}

			.line-break {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.ac-title {
			padding-right: 1.75rem;
			cursor: pointer;
			.icon-large-chevron{
				stroke-width: rem-calc(7);
			}
		}
	}
}

