@import '../../settings';
@import '../../vendor_override/foundation/type';

.borrower-landing-page {
	.overlay {
		@media#{$small-only} {
			font-size: 1rem;
		}
	}

	p.row a.button {
		margin-top: rem-calc(20);
	}

	.tagline {
		text-align: center;
		margin: 2rem auto 0;

		svg.icon {
			width: 4rem;
			height: 4rem;
		}
	}

	.value-props {
		text-align: center;
		margin-bottom: 1rem;

		svg.icon {
			width: rem-calc(120);
			height: rem-calc(120);
		}

		p {
			max-width: 14rem;
			margin: 0 auto rem-calc(20);
		}

		.columns {
			margin-bottom: 1rem;
		}
	}

	/*Slideshow Styles*/
	.bl-slideshow-wrapper {
		.paging.row {
			.bl-arrow {
				background-color: transparent;
				position: absolute;
				top: 0;
				width: 4.4444444444rem;
				height: 100%;
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}

			.bl-arrow .icon {
				stroke: $platinum;
			}

			.bl-prev-arrow {
				left: 0;
			}

			.bl-prev-arrow .icon {
				transform: rotate(270deg);
				margin-left: -1.55555555rem;
			}

			.bl-next-arrow {
				right: 0;
				overflow: hidden;
			}

			.bl-next-arrow .icon {
				transform: rotate(90deg);
				margin-left: -2.555556rem;
			}
		}
	}

	.how-it-works {
		$breakpoint: $xlarge-up;
		$icon-size: 5rem;

		margin-top: 1rem;
		text-align: center;

		.row {
			position: relative;
			margin-bottom: 3rem;
		}

		.dotted-line {
			position: absolute;
			height: 80%;
			top: 10%;
			left: 50%;
			transform: translate(-50%,0);
			border-color: $kiva-text-light;
			border-style: dashed;
			border-width: 0 rem-calc(2);

			@media #{$breakpoint} {
				height: 0;
				width: 80%;
				top: $icon-size/2;
				left: 10%;
				transform: translate(0,-50%);
				border-width: rem-calc(2) 0;
			}
		}

		.columns {
			margin-bottom: 6rem;
			background-color: $white;

			&:last-of-type {
				margin-bottom: 0;
			}

			@media #{$breakpoint} {
				margin-bottom: 0;
				background: none;
			}
		}

		svg.icon {
			width: $icon-size;
			height: $icon-size;
			fill: $white;
			color: $kiva-green;
			margin-bottom: 0.25rem;
		}

		h2 {
			font-weight: bold;
			margin-top: 0;
			margin-bottom: 0.25rem;
		}

		span {
			color: $kiva-text-light;
			display: block;
			margin-bottom: 0.25rem;
		}

		p {
			margin: 0 auto 0.25rem;
			max-width: 20rem;

			@media #{$breakpoint} {
				max-width: 11rem;
			}
		}
	}

	.the-why-wrapper {
		padding: rem-calc(20) 0;

		.the-why-text {
			color: $kiva-text-medium;
		}
	}

	.do-you-qualify {
		background-color: $kiva-green;
		color: $white;
		padding-top: 1.5rem;
		margin-bottom: 2rem;

		h2 {
			color: $white;
			text-align: center;
			font-weight: bold;
			margin-bottom: 1.5rem;
		}

		ul {
			list-style: none;
			margin: 0 0 1.5rem;
		}

		li {
			display: flex;
			margin-bottom: 0.5rem;
			font-size: $top-nav-font-size;
			line-height: $body-line-height;
		}

		svg.icon {
			width: 1.25rem;
			height: 1.25rem;
			fill: $white;
			margin-right: 0.5rem;
			flex-shrink: 0;
		}

		.columns:last-child {
			text-align: center;

			@media #{$small-only} {
				padding: 0;
			}

			@media #{$xlarge-up} {
				text-align: right;
			}
		}

		.button {
			width: auto;
			margin-bottom: 1.5rem;
		}
	}
}
