.borrower-profile-wrapper {
	padding-top: 1rem;

	.line-break {
		width: 90%;
		margin: auto;
		padding: 0.6rem 0;
		border: 0;
		border-top: 1px solid $gray;
		@media #{$large-up}{
			width: 100%;
		}
	}
	.loan-figure {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		padding-bottom: 0;
		.line-break {
			margin-top: 1rem;
		}
	}

	@media #{$large-up} {
		.loan-story, .loan-details {
			padding-top: 1rem;
		}
	}

	.borrower-profile-pieces {
		@media #{$large-up}{
			background: linear-gradient(90deg, #efefef 50%, #d8d8d8 50%);
			border-top: 1px solid $gray;
			border-bottom: 1px solid $gray;
		}
		max-width: none;

		> .row {
			display: flex;
			flex-flow: row wrap;
		}

		.line-break {
			width: 100%;
		}
		.left-content {
			@media #{$large-up} {
				flex-basis: 58.3%;
				background-color: $kiva-bg-darkgray;
				border-right: 1px solid $gray;
			}
		}

		.right-content {
			display: none;
			@media #{$large-up} {
				display: block;
				flex-basis: 41.6%;
				background-color: $kiva-stroke-gray;
			}
		}
	}
}

