@import '../../settings';
@import '../../vendor_override/foundation/type';

.borrower-dashboard-main {
	.borrower-image {
		text-align: center;
		display: block;
		margin: auto;
	}

	.loan-status {
		color: $kiva-green;

		&.warning {
			color: $kiva-accent-red;
		}
	}

	.current-status-meter {
		margin-top: 0;

		.amount-raised h2 {
			@media #{$small-only} {
				font-size: $h2-font-size;
				line-height: $section-head-line-height;
			}
		}
	}

	.action-button {
		text-align: center;
		margin-top: 1.5rem;

		a {
			padding: 0;
			width: 100%;
			max-width: 16rem;
			margin: 0.5rem 0;
		}

		@media #{$medium-up} {
			margin-top: 1rem;
		}
	}

	.profile-link {
		font-size: $small-font-size;
		line-height: $small-line-height;

		@media #{$medium-up} {
			font-size: $body-font-size;
			line-height: $body-line-height;
		}
	}
}

.borrower-dashboard-endorsements {
	h2 {
		font-size: $body-font-size;
		line-height: $body-line-height;
		font-weight: bold;
		margin-bottom: 1rem;

		@media #{$large-up} {
			font-size: $section-head-font-size;
			line-height: $section-head-line-height;
			font-weight: normal;
		}
	}

	.borrower-endorsement-rows-region {
		margin: 0 0 2rem 0;
		list-style: none;
		text-align: center;

		.loading-spinner {
			width: 3rem;
			height: 3rem;
		}

		li {
			text-align: left;
			margin-bottom: 0.75rem;
		}
	}
}