.category-card {
	max-width: rem-calc(235);

	&.search-card {
		background-color: #2db4ec;
        position: relative;
        width: 100%;
        padding-bottom: 56%;

        div {
            position: absolute;
        }

		.category-card-title {
			margin: 0;
            text-align: center;
		}

        input {
            margin: 0;
        }
	}
}

.category-card-title {
	@include featured-text;
	color: $white;
	font-weight: $font-weight-bold;
}

.text-over-image .category-card-title {
	@include text-shadow;
}

.category-card-grid li {
	padding: 1px;

	@media #{$medium-up} {
		padding: 2px;
	}
}
