.category-card {
	@include preserve-3d;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-bottom: 56.17%;
	& img {
		position: absolute;
	}

	& div.category-card-title-wrap {
		@include vertical-center-text;
	}

	& p {
		padding: 0 rem-calc(6);
		margin: 0;
		text-align: center;
		@include text-shadow();
	}

	&.search-card {
		background-color: $kiva-accent-blue;
		z-index: 100;

		.color-card-center {
			padding: 5% 0.5rem 0;
		}

		.twitter-typeahead {
			max-width: 10rem;
			margin: 0 auto;
			display: block !important;
		}

		input {
			margin: 0 auto;
			max-width: 10rem;

			@media #{$small-only} {
				padding: 0 0.25rem;
				height: 1.5rem;
			}

			&::-webkit-input-placeholder {
				/* Chrome, Safari, Opera */
				text-align: center;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				text-align: center;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				text-align: center;
			}

			&:-ms-input-placeholder {
				/* IE10-11 */
				text-align: center !important;
			}

			&::-ms-input-placeholder {
				/* Edge */
				text-align: center;
			}

			&::placeholder {
				/* CSS Working Draft */
				text-align: center;
			}
		}

		input.category-search-form-submit {
			position: absolute;
			width: 1px;
			height: 1px;
			left: -9999px;
		}

		.category-card-title {
			margin-top: 0.4rem;
		}
	}
}

.no-touch .category-card:hover > .category-card-overlay{
	width: 100%;
	height: 100%;
	background-color: $black;
	position: absolute;

	.category-image {
		opacity: 0.5;
	}
	.category-card-title {
		text-decoration: underline;
		text-decoration-color: $white;
	}
}

.solid-color-card.all-loans-card {
	background-color: $kiva-green;
}

.solid-color-card {

	.color-card-center {
		@include vertical-center-text;
	}

	.category-card-title {
		margin: 0;
		text-align: center;
		text-shadow: none;
	}
}

.no-touch .solid-color-card:hover > .category-card-overlay{
	width: 100%;
	height: 100%;
	background-color: $kiva-darkgreen;
	position: absolute;

	.category-card-title {
		text-decoration: underline;
		text-decoration-color: $white;
	}
}

.category-card-title {
	color: $white;
	font-weight: $font-weight-bold;
	@include small-featured-text;

	@media (min-width: $x-small-breakpoint +1) and (max-width: $small-breakpoint) {
		@include large-featured-text;
	}

	@media (min-width: $sm-medium-breakpoint + 1) and (max-width: $medium-breakpoint) {
		@include large-featured-text;
	}

	@media #{$xlarge-up}  {
		@include large-featured-text;
	}

	p {
		padding: 0 rem-calc(6);
	}
}

.category-card-grid li {
	padding: 1px;

	@media #{$medium-up} {
		padding: 2px;
	}
}

div.category-cards-header {
	padding-top: 1rem;

	p {
		margin: 0;
	}

	svg {
		height: rem-calc(50);
		width: rem-calc(100);
		padding: 0.5rem 0 1rem 0;
	}
}

.all-categories {
	background-color: $kiva-green;
}

.secondary-category-link {
	border-bottom: 1px solid $kiva-stroke-gray;
}

.category-link-grid {
	padding-top: 0.5rem;

	li {
		padding-top: 0.5rem;
		padding-bottom: 0;
	}

	li > div {
		padding-bottom: 0.5rem;
	}
}
