#checkoutSteps {}

#checkoutWrap {

    label {
        background: transparent;
        color: $kiva-text-medium;
    }

    ul.list-items {
        margin:0;
        padding:0;
            
        & > li {
            list-style-type: none
        }
    }
    .loan-reservation {
        display: block;
        color: $kiva-text-light;
    }
    .red {
        color: $kiva-accent-red;
    }

    .basket-contents {

        .loan-row {
            display: block;
            padding: 1rem .5rem;
            border-bottom: 1px solid $kiva-stroke-gray;

            .loan-image {
                a {
                    display: block;
                    img {
                        display: block;
                        width:auto;
                    }
                }
            }

            .loan-details {
                padding: 0 .5rem;
                font-size: 1rem;

                p {
                    margin: 0;
                }
                @media #{$small-medium-only} {
                    .small-text {
                        font-size: .7rem;
                        line-height: .8rem;
                    }
                }

                .loan-title {
                    font-size: 1rem;
                    line-height: 1.3rem;
                    margin: .25rem 0;
                }
                @media #{$large-up} {
                    .loan-title {
                        font-size: 1.4rem;
                        line-height: 1.5rem;
                    }
                }

                .loan-sponsor {
                    color: $kiva-text-light;
                }
            }
            @media #{$large-up} {
                .loan-details {
                    padding: 0 .8rem;
                }                
            }

            .loan-totals {
                .amount-select {
                    float: right;
                    direction: rtl;
                    height: auto;
                    font-size: .9rem;
                    padding-right: 1rem;
                    padding-left: 0;
                    max-width: rem-calc(80);
                    border-color: $kiva-stroke-gray;
                    background-color: $white;
                }

                @media #{$large-up} {
                    .amount-select {
                        font-size: 1.4rem;
                        max-width: rem-calc(120);
                        padding-right: 1rem;
                    }
                }

                .remove-loan {
                    display: block;
                    text-align: right;
                    float: right;
                    clear: right;
                }
            }

        }
        @media #{$large-up} {
            .loan-row {
                padding: 1rem 0;
            }
        }

        .simple-donation-ui {
            padding: .5rem 0;
            border-bottom: 1px solid #d8d8d8;

            > .columns {
                padding: 0 .5rem;
            }

            span {
                line-height: 1.6em;
            }

            @media #{$large-up} {
                > .columns {
                    padding: 0 inherit;
                }
                .span {
                    text-align: right;
                }                
            }

            .donation-edit {
                #donation-edit-amount {
                    font-weight: bold;
                    max-width: rem-calc(100);
                    width: auto;
                    text-align: right;
                    font-size: 1rem;
                    float: right;
                    margin: 0;
                    box-shadow: none;
                }
                a.donation-update-button {
                    display: block;
                    text-align: right;
                    line-height: 1.4rem;
                    clear: right;
                }
            }
        }

    }

    .payment-contents {
        #payment-item-region {
            padding-bottom: 1rem;
            border-bottom: 1px solid $kiva-stroke-gray;
        }
        .payment-item-table {
            border: none;
            th {
                padding: .6rem .8rem;
            } 
            td {
                padding: 1rem .8rem;
            }
            .item-price-header {
                text-align: right;
            }
            .donate-repayments-header {
                max-width: 4rem;
                a {
                    color: $kiva-textlink;
                    cursor: default;
                    text-decoration: none;
                }
            }
        }
        .payment-item {
            .item-info {
                line-height: 1.2rem;
                .item-title {
                    margin:0;
                }
                .loan-reservation {
                    display: block;
                }
            }
            .item-price {
                text-align: right;
                p {
                    font-size: 1.2rem;
                    font-weight: normal;
                    margin: 0;
                }
            }
            .item-repayment {
                input {
                    margin: 0;
                }
            }
        }
    }

    .checkout-totals {
        padding: 0;
        text-align: right;

        .totals-row {
            padding: .2rem .5rem;

            label {
                display: inline-block;
                float: left;
                font-size: 1rem;
                color: $kiva-text-dark;
                line-height: 1.4rem;
                text-decoration: inherit;
            }
            span {
                display: inline-block;
                font-weight: bold;
                width: rem-calc(100);
                font-size: 1rem;
                line-height: 1.4rem;
                text-decoration: inherit;
            }
            .apply-link,
            .remove-link {
                font-size: .8rem;
                line-height: 1.4rem;
                margin-right: .5rem;
            }
            del {
                text-decoration: line-through;
            }
        }

        @media #{$large-up} {
            .totals-row {
                label {
                    float:none;
                }
            }
        }

        .grand-total {
            border-top: 1px solid #d8d8d8;
        }
    }

    .basket-operations,
    .payment-operations {
        padding: 1rem .5rem;

        .basket-buttons,
        .payment-buttons {
            display: block;
            float: right;
        }   
    }
}
