.donation-intro-text {
	text-align: center;
	padding: 20px 0;

	@media #{$large-up} {
		text-align: left;
	}
}

.donation-sidebar {
	padding-top: 30px;

	.kivaPromiseWrapper {
		padding-bottom: 20px;

		svg.icon {
			padding: 10px 0;
			width: 100%;
		}
	}
}

.donationFaq {
	padding-top: 20px;
	padding-bottom: 20px;
}

.donationFooter {
	display: inline-block;
}