//Source modal styling
.source-text-color {
    color:  #fff;
}

.headline-style {
  border-bottom: 3px solid #d8d8d8;
}

@media #{$small-only} {
    .small-only-margin {
          margin: 1rem;
    }
}

//Various div background colors
.no-background {
    background: #fff;
}

@media  #{$xlarge-up} {
    .ghost-background {
        background: #fafafa;
        border-top: 2px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
    }

    .platinum-background {
        background:  #efefef;
        border-top:  2px solid #d8d8d8;
        border-left:  1px solid #d8d8d8;
    }
}

//Main accordion and learn more accordion
#padding-xlarge-view {
    @media #{$xlarge-up} {
        margin-top: 1.75rem;
    }
}

.tweak-left-chevron {
    left: 0.8333rem !important;
}

.tweak-right-chevron {
    right: 0.8333rem !important;
}

//Make a loan area
.full-width-button {
    width: 100%;
    font-size: 1.5rem !important;
}

//Photo with caption
.financingAG-full-width-image {
   background: #efefef;
   padding-bottom: 1rem;
}

.financingAG-full-width-image img{
    width: 100%;
     background: #efefef;
   padding-bottom: 1rem;
    @media #{$xlarge-up} {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

//Learn more list
#learn-more-list {
    list-style-type: none;
    margin-left: 0;
}

#learn-more-list li {
   margin-bottom:  2rem;
}

//Choose a challenge
.kivalabs-category-card {
    width: 100%;
    @media #{$large-up} {
        width: 96%;
    }
    margin: 0 auto 3.0rem;
}

.kivalabs-category-card img {
    width: 100%;
}

//opacity on category-card-hover is needed so that category-card on active page will not darken on hover
.active-page {
  opacity: 0.6;
}

.active-page img {
   .category-card-overlay:hover {
       background-color: transparent !important;
   }
   .category-card:hover > .category-card-overlay .category-image {
       opacity: 0.6;
   }
}