.finances{
	$top-padding:rem-calc(32);
	
	h2 {
		color:$kiva-green;
		margin-top: $top-padding;
	}
	.awards {
		text-align: center;
		p{
			color:$aluminum;
		}
	}
	.huge {
		font-weight: bold;
	}
	ul{
		margin-left: 0;

		&.tertiary-nav {
			margin-left: -1.1111111rem;
		}

		li{
			list-style: none;
		}
		&#entities{
			margin-left: 20px;
			margin-bottom: 0;
			padding-bottom: 0px;
			li{
				padding-bottom: 35px;
				list-style: disc;
			}
		}

		&.irs-filings {
			margin-bottom: 0;
		}
	}

	.pdf-version{
		margin-left: rem-calc(20);
	}
	blockquote{
		border-left: none;
		padding-left: rem-calc(60);
		font-style: italic;
				
		cite a{
			color:$kiva-textlink;
		}
	}

	.archives-title {
		max-width: 500px;
		margin-top: 8px;
		border-top: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
		cursor: pointer;

		.ac-dropdown-icon {
			float: right;
		}
		.ac-dropdown-icon .icon {
			position: relative;
			right: 0;
		}
	}
}