.triple-state-buttons, .quintuple-state-buttons {
	margin: 0 rem-calc(12) rem-calc(6);
}

#partnersFilter {
	$padding: rem-calc(12);
	width: calc(100% - #{$padding*2 + rem-calc(2)});
	margin-left: $padding;
	padding: 0;

	& + .select2-container {
		width: calc(100% - #{$padding*2});
		margin-left: $padding;

		.select2-selection {
			border: 1px solid $charcoal;
			border-radius: 0;
		}

		input {
			box-shadow: none;
			padding: 0;
			margin-bottom: 0;
			font-size: $small-font-size;
			height: $small-line-height;
		}
	}
}

.select2-results__option, .select2-selection__choice {
	font-size: $small-font-size;
	line-height: $small-line-height;
}

.select2-results__option--highlighted {
	background-color: $kiva-accent-blue;
}

.left-off-canvas-menu {
	$border: rem-calc(1) solid $iron;
	border-right: $border;
	border-bottom: $border;
}

.control-region {
	@media #{$large-up} {
		padding: 0 rem-calc(20);
	}

	.control-box {
		width: 100%;
		margin-bottom: rem-calc(20);
		padding: rem-calc(10) 0;
		border-bottom: 1px solid $kiva-stroke-gray;

		p {
			margin-left: rem-calc(10);
			margin-right: rem-calc(10);

			@media #{$large-up} {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.filter-menu-button {
		width: 5rem;
		margin: 0 0 0 rem-calc(10);
		padding-left: 0;
		padding-right: 0;
		color: $kiva-text-dark;
		float: left;
		background: transparent;

		@media #{$large-up} {
			margin-left: 0;
		}
	}

	.filter-menu-sort {
		float: right;
		margin-top: -2px;
	}

	.filter-menu-sort-text {
		float: left;
		padding-top: 0.3rem;
		font-weight: bold;
		font-size: 0.7rem;

		@media #{$medium-up} {
			font-size: 0.9em;
			margin-top: 0.1rem;
		}
	}

	.filter-menu-sort-dropdown {
		float: right;
		margin: 0 0.5555555556rem 0 0;
	}

	.filter-dropdown {
		height: 26.2px;
		border-color: #333;
		font-weight: bold;
		font-size: 0.6666666667rem;
		width: 120px;
		padding: 0 0.5rem;

		@media #{$medium-up} {
			font-size: 0.8888888889rem;
			height: 31.9886px;
			width: 150px;
			margin-top: 0.1rem;
		}
	}

	.filter-loan-count {
		float: left;
		font-weight: bold;
		color: #999;
		margin: 0 0 0 rem-calc(10);

		@media #{$large-up} {
			margin-left: 0;
		}
	}

	.filter-links {
		visibility: visible;
	}

	.category-description {
		@include small-text();

		@media #{$large-up} {
			@include body-text();
		}
	}

}

a.filter-menu-button:visited {
	color: #000;
}

.control-region, .results-region {
	//padding-left: rem-calc(20);
	max-width: rem-calc(1300);
}

.inner-wrap {
	$menu-margin: rem-calc(20);
	$menu-base-width: rem-calc(251);
	$menu-width: rem-calc(251) + $menu-margin;
	$transform: translate3d(-$menu-width, 0, 0);

	width: calc(100% + #{$menu-width});
	-webkit-transform: $transform;
	transform: $transform;

	@media #{$large-up} {
		$transform: translate3d(-$menu-base-width, 0, 0);

		width: calc(100% + #{$menu-base-width});
		-webkit-transform: $transform;
		transform: $transform;
	}

	.left-off-canvas-menu {
		position: relative;
		float: left;
		-webkit-transform: none;
		transform: none;
		margin-right: $menu-margin;

		@media #{$large-up} {
			margin-right: 0;
		}
	}

	.control-region, .results-region {
		display: inline-block;
		width: calc(100% - #{$menu-width});

		@media #{$large-up} {
			width: calc(100% - #{$menu-base-width});
		}
	}

	.exit-off-canvas {
		left: $menu-width;

		@media #{$large-up} {
			left: $menu-base-width;
		}
	}
}

.move-right > .inner-wrap {
	-webkit-transform: none;
	transform: none;
}

.hide-filters-for-xxlarge-up {
	.control-region, .results-region {
		text-align: left;
	}

	.loancards-list {
		@media #{$xxlarge-up} {
			@include block-grid(3);
		}

		@media #{$screen} and (min-width: 1300px) {
			@include block-grid(4);
		}

		@media #{$large-up} {
			margin: 0 rem-calc(10);
		}
	}

	.inner-wrap {
		text-align: center;
	}
}

.show-filters-for-xxlarge-up {
	.control-region {
		.filter-menu-button {
			@media #{$xxlarge-up} {
				display: none;
			}
		}
	}

	.loancards-list {
		@media #{$screen} and (min-width: 1230px) {
			@include block-grid(3);
		}

		@media #{$screen} and (min-width: 1550px) {
			@include block-grid(4);
		}

		@media #{$large-up} {
			margin: 0 rem-calc(10);
		}
	}

	.inner-wrap {
		@media #{$xxlarge-up} {
			-webkit-transform: none;
			transform: none;
			width: 100%;
		}
	}
}