.gender-button-box, .group-button-box, .loan-length-button-box {
    margin: 0 rem-calc(12) rem-calc(6);
}

#partnersFilter {
    $padding: rem-calc(12);
    width: calc(100% - #{$padding*2 + rem-calc(2)});
    margin-left: $padding;
    padding: 0;

    &+.select2-container {
        width: calc(100% - #{$padding*2});
        margin-left: $padding;

        .select2-selection {
            border: 1px solid $charcoal;
            border-radius: 0;
        }

        input {
            box-shadow: none;
            padding: 0;
            margin-bottom: 0;
            font-size: $small-font-size;
            height: $small-line-height;
        }
    }
}

.select2-results__option, .select2-selection__choice {
    font-size: $small-font-size;
    line-height: $small-line-height;
}

.select2-results__option--highlighted {
    background-color: $kiva-accent-blue;
}