.hp-slideshow-wrapper {
	position: relative;
	margin: 0;

	.icon-small-chevron {
		width: rem-calc(80);
		height: rem-calc(80);
		margin-top: rem-calc(-40);
		position: absolute;
		top: 50%;
	}

	.icon-small-chevron:hover {
		cursor: pointer;
	}

	.hp-slideshow-arrow {
		background-color: transparent;
		display: none;
		position: absolute;
		top: 0;
		width: rem-calc(80);
		height: 100%;
		margin-top: 0;
		transform: rotate(180deg);

		.icon {
			stroke: darken($white, 10%);
			pointer-events: all;
			cursor: pointer;
		}

		&:hover {
			cursor: pointer;

			.icon {
				stroke: $white;
			}
		}
	}

	.hp-slideshow-prev-arrow {
		left: 0;

		.icon {
			transform: rotate(270deg);
			margin-left: rem-calc(10);
		}
	}

	.hp-slideshow-next-arrow {
		right: 0;
		width: rem-calc(50);
		overflow: hidden;  // fixes an unwanted right margin

		.icon {
			transform: rotate(90deg);
			margin-left: rem-calc(-10);
		}
	}

	.slick-prev,
	.slick-next {
		display: inline;
		cursor: pointer;
	}

	.slick-dots {
		@extend %width-100;
		@extend %margin-padding-0;
		position: absolute;
		bottom: rem-calc(10);
		display: block;
		padding: 0;
		list-style: none;
		text-align: center;

		@media #{$medium-down} {
			display: none !important;
		}
	}

	.slick-dots li {
		position: relative;
		display: inline-block;
		width: rem-calc(16);
		height: rem-calc(16);
		margin: 0 rem-calc(7);
		padding: 0;
		cursor: pointer;
	}

	.slick-dots li button {
		font-size: 0;
		line-height: 0;
		display: block;
		width: rem-calc(18);
		height: rem-calc(18);
		padding: 0;
		cursor: pointer;
		color: transparent;
		border: rem-calc(2) solid $white;
		border-radius: rem-calc(18);
		outline: none;
		background-color: black;
		opacity: 0.5
	}

	.slick-dots li button:hover,
	.slick-dots li button:focus {
		outline: none;
	}

	.slick-dots li.slick-active button {
		background-color: $white;
		opacity: 1
	}
}

.hp-slide {
	// this section is to avoid FOUC on before slideshow is initialized
	display: none;

	&:first-of-type {
		display: block;
	}

	&.slick-slide {
		display: block;
	}
}

.hp-element-wrapper {
	width: 100%;

	@media #{$large-up} {
		width: 50%;
		float: left;
	}
}

.hp-element {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 62.5%;

	@media  #{$large-up} {
		padding-bottom: 80.16%;
	}

	@media  #{$wxga-up} {
		padding-bottom: 62.5%;
	}

	img {
		width: 100%;
		position: absolute;
	}

	.slide-overlay-short, .slide-overlay-long, .slide-overlay-very-short {
		margin: 0;
		padding: 0 rem-calc(60);
		font-weight: bold;

		@media #{$small-only} {
			padding: 0 rem-calc(40);
		}
	}

	.attribution {
		margin-top: rem-calc(9);
	}

	.attribution-left, .attribution-right {
		@extend %margin-padding-0;
		position: absolute;
		top: 66%;

		@media #{$medium-only} {
			top: 74%;
		}

		@media #{$large-up} {
			top: 80%;
		}
	}

	.attribution-left {
		width: 100%;
		text-align: center;

		@media #{$large-up} {
			text-align: left;
			left: 5%;
		}

	}

	.attribution-right {
		width: 100%;
		text-align: center;

		@media #{$large-up} {
			text-align: right;
			width: 95%;
		}
	}

	.attribution-detail {
		font-weight: $font-weight-normal;
	}
}

$hiw-illustration-size-small: 60vw;
$hiw-illustration-size-large: 26vw;
$hiw-icon-size-small: 22vw;
$hiw-icon-size-large: 7vw;
$hiw-tap-button-size-small: 19vw;

$hiw-half-illustration-size-small: $hiw-illustration-size-small / 2;
$hiw-half-illustration-size-large: $hiw-illustration-size-large / 2;
$hiw-half-icon-size-small: $hiw-icon-size-small / 2;
$hiw-half-icon-size-large: $hiw-icon-size-large / 2;
$hiw-half-tap-button-size-small: $hiw-tap-button-size-small / 2;

@keyframes tapPulse {
	0% {
		background-color: $kiva-darkgreen;
	}
	60% {
		background-color: lighten($kiva-darkgreen, 8%);
	}
	100% {
		background-color: $kiva-darkgreen;
	}
}

.hp-how-it-works-wrapper {
	width: 100%;
	background-color: $kiva-green;
	padding-bottom: 1rem;

	@media #{$large-up} {
		padding-bottom: 2rem;
	}

	.how-it-works-title {
		font-weight: $font-weight-bold;
		color: white;
		text-align: center;
		margin-top: -0.5rem;

		@media #{$large-up} {
			color: $kiva-darkgreen;
			padding-top: 1.5rem;
		}
	}

	.scroll-down-icon svg {
		height: 1.5rem;
		width: 1.5rem;
		stroke: $white;
	}

	.how-it-works-content-wrapper {
		padding-top: 12vw;
		padding-bottom: 12vw;

		@media #{$large-up} {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.how-it-works-illustration-wrapper {
		position: relative;
		height: $hiw-illustration-size-small;

		@media #{$large-up} {
			height: $hiw-illustration-size-large;
			margin: 5rem auto;
		}
	}

	.how-it-works-illustration {
		position: absolute;
		left: 50%;
		width: $hiw-illustration-size-small;
		height: $hiw-illustration-size-small;
		margin-left: - $hiw-half-illustration-size-small;

		@media #{$large-up} {
			width: $hiw-illustration-size-large;
			height: $hiw-illustration-size-large;
			margin-left: - $hiw-half-illustration-size-large;
		}

		.icon-choose, .icon-lend, .icon-repaid, .icon-repeat {
			position: absolute;
			fill:$kiva-icon-green;
			color: $kiva-darkgreen;
			opacity: 0.5;
			height: $hiw-icon-size-small;
			width: $hiw-icon-size-small;
			margin-left: - $hiw-half-icon-size-small;

			@media #{$large-up} {
				fill: $white;
				color: $kiva-green;
				opacity: 1;
				height: $hiw-icon-size-large;
				width:  $hiw-icon-size-large;
				margin-left: -  $hiw-half-icon-size-large;
			}
		}

		svg.icon.active {
			fill: $white;
			color: $kiva-green;
			opacity: 1;
		}

		svg.icon-curved-arrow.active {
			fill: $white;
		}

		.icon-choose {
			top: 0%;
			left: 50%;
			margin-top: - $hiw-half-icon-size-small;

			@media #{$large-up} {
				margin-top: - $hiw-half-icon-size-large;
			}
		}

		.icon-lend {
			top: 50%;
			left: 100%;
			margin-top: - $hiw-half-icon-size-small;

			@media #{$large-up} {
				margin-top: - $hiw-half-icon-size-large;
			}
		}

		.icon-repaid {
			bottom: 0%;
			left: 50%;
			margin-bottom: - $hiw-half-icon-size-small;

			@media #{$large-up} {
				margin-bottom: - $hiw-half-icon-size-large;
			}
		}

		.icon-repeat {
			top: 50%;
			left: 0;
			margin-top: - $hiw-half-icon-size-small;

			@media #{$large-up} {
				margin-top: - $hiw-half-icon-size-large ;
			}
		}

		.icon-curved-arrow.arrow-1
		, .icon-curved-arrow.arrow-2
		, .icon-curved-arrow.arrow-3
		, .icon-curved-arrow.arrow-4 {
			position: absolute;
			height: $hiw-icon-size-small;
			width: $hiw-icon-size-small;
			z-index: 5;
			opacity: 0.5;

			@media #{$large-up} {
				height: $hiw-half-illustration-size-large - 2;
				width: $hiw-half-illustration-size-large - 2;
				fill: $kiva-icon-green;
				opacity: 1;
			}

			&.active {
				fill: $white;

				@media #{$large-up} {
					fill: $kiva-icon-green;
				}
			}
		}

		.icon-curved-arrow.arrow-1 {
			top: 0;
			left: 39vw;
			margin-top: -2vw;
			transform: rotate(283deg);

			@media #{$large-up} {
				left: 15.3vw;
				margin-top: -1.25vw;
				transform: rotate(283deg);
			}
		}

		.icon-curved-arrow.arrow-1.active {
			left: 38vw;

			@media #{$large-up} {
				left: 15.3vw;
			}
		}

		.icon-curved-arrow.arrow-2 {
			top: 38.45vw;
			right: -3vw;
			transform: rotate(10deg);

			@media #{$large-up} {
				left: 16vw;
				top: 15.4vw;
				transform: rotate(13deg);
			}
		}

		.icon-curved-arrow.arrow-3 {
			bottom: -3vw;
			left: 0;
			transform: rotate(103deg);

			@media #{$large-up} {
				bottom: -1.35vw;
				left: -0.37vw;
				transform: rotate(101deg);
			}
		}

		.icon-curved-arrow.arrow-4 {
			top: -0.25vw;
			left: -3vw;
			transform: rotate(193deg);

			@media #{$large-up} {
				top: -0.45vw;
				left: -1.2vw;
				transform: rotate(192deg);
			}
		}

		.tap-button {
			position: absolute;
			top: $hiw-half-illustration-size-small - $hiw-half-tap-button-size-small;
			left: $hiw-half-illustration-size-small - $hiw-half-tap-button-size-small;
			height: $hiw-tap-button-size-small;
			width: $hiw-tap-button-size-small;
			line-height: $hiw-tap-button-size-small;
			text-align: center;
			border-radius: $hiw-half-tap-button-size-small;
			border: 3px solid white;
			color: $white;
			// background-color is set by animation
			animation: tapPulse 3s linear infinite;
		}
	}

	div.step-1
	, div.step-2
	, div.step-3
	, div.step-4
	, div.small-step-1
	, div.small-step-2
	, div.small-step-3
	, div.small-step-4 {
		text-align: center;

		p.featured {
			color: $white;
			font-weight: $font-weight-bold;
			margin-bottom: rem-calc(0.25);

			& + p {
				color: $white;

				@media #{$large-up} {
					color: $kiva-darkgreen;
				}
			}
		}
	}

	div.small-step-1
	, div.small-step-2
	, div.small-step-3
	, div.small-step-4 {
		margin: 0 auto;
		width: 80vw;
		min-height: rem-calc(100);

		p.featured + p {
			font-size: $small-font-size;
			line-height: $body-font-size;
		}
	}


	div.step-1, div.step-3 {
		width: 40vw;
		margin: 0 auto;
	}

	div.step-2, div.step-4 {
		position: absolute;
		width: 30vw;
		margin-top: 11.5vw;
	}

	div.step-2 {
		right: 2vw;
	}

	div.step-4 {
		left: 2vw;
	}

	a.learn-more-link {
		color: $kiva-darkgreen;
		text-decoration: underline;

		@media #{$medium-down} {
			font-size: $small-font-size;
			line-height: $body-font-size;
		}
	}
}

.home-page-categories-wrapper {
	.category-link-grid {
		display: none;
	}
	.photo-headline {
		@media #{$small-only} {
			background: -webkit-linear-gradient(transparent, transparent), url(https://www.kiva.org/cms/page/images/start-sm-std.jpg);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@media #{$medium-only} {
			background: -webkit-linear-gradient(transparent, transparent), url(https://www.kiva.org/cms/page/images/start-med-std.jpg);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@media #{$large-up} {
			background: -webkit-linear-gradient(transparent, transparent), url(https://www.kiva.org/cms/page/images/start-lg-std.jpg);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.home-stats-wrapper {
	background: $dark-green;

	.home-stats {
		text-align: center;
		font-weight: $font-weight-bold;
		@media #{$small-up} {
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);
		}
		@media #{$large-up} {
			padding-top: rem-calc(30);
			padding-bottom: rem-calc(30);
		}
		.stat {
			padding-left: rem-calc(5);
			padding-right: rem-calc(5);
			.data-point {
				color: $white;
				padding-bottom: rem-calc(10);
				white-space: nowrap;
				&.growing-statistic {
					@media #{$small-only} {
						font-size: $small-statistic-font-size;
						line-height: $small-statistic-line-height;
					}
					@media #{$medium-up} {
						font-size: $medium-statistic-font-size;
						line-height: $medium-statistic-line-height;
					}
				}
			}
			.icon {
				color: $white;
				height: 1.5rem;
				width: 1.5rem;
				fill: $dark-green;
			}
			.description {
				font-size: $small-font-size;
				line-height: 110%;
				color: $kiva-green;

				&.top-row {
					padding-bottom: rem-calc(30);
				}
			}
		}
	}
}
