.loan-lifecycle-wrapper {
	background: url("//www-kiva-org.global.ssl.fastly.net/cms/kiva-works-sm-std.jpg") no-repeat center center fixed;
	min-height: 100%;
	min-width: 100%;
	background-size: cover;
	top: 0;

	.how-kiva-works-title {
		top:60px;
		line-height: 30px;
		text-align: center;
		padding-bottom: 20px;
	}
	.text-frame {
		border: white 5px solid;
		margin: auto;
		text-align: center;
		margin: 10px 80px 10px 80px;

		.text-step {
			margin: auto;

			&.text-step-one {
				padding: 20px 50px;
			}

			&.text-step-two {
				padding: 20px 10px;
			}

			&.text-step-three {
				padding: 80px 10px 20px 10px;
			}
		}
	}

	.text-box {
		background-color: $white;
	}

	.dotted-line {
		height: 140px;
		border-left: white 5px dashed;
		margin: 0 50%;
	}

	.loan-disbursal-container {
		margin: 10px 20px 10px 20px;
		border: white 3px solid;
		background-color: rgba(0,0,0,0.80);

		.dotted-line {
			height: 75px;
		}

		.icon-choose {
			color: $white;
			fill: $black;
			display: block;
			margin: -3px auto;
			width: 150px;
		}

		.text-frame-icon-overlay {
			border: white 5px solid;
			margin: auto;
			text-align: center;
			margin: -75px 80px 0 80px;
		};

		.fundraising-period-container {
			background-color: $kiva-green;
			text-align: center;
			margin: 0 80px 10px 80px;
			height: 100%;

			.fundraising-period-text-wrapper {

				.fundraising-period-title {
					font-weight: bold;
				}
			}

			.icon-lend {
				color: $white;
				fill: $kiva-green;
				display: inline-block;
				margin: 0 auto;
				width: 150px;
			}

			.dotted-line {
				height: 250px;
			}

			.text-frame {
				margin: 10px 0 0 0;
			}
			.text-step-four {
				padding: 30px 10px;
			}
			.text-step-five {
				padding: 20px 10px;
				max-width: 120px;
			}
		}
	}


}