div.invite-headline-wrapper {
	height: 0;
	position: relative;

	@media #{$small-only} {
		padding-bottom: 70%;
	}

	@media #{$medium-up} {
		padding-bottom: 37%;
	}

	// center hero image on extra-wide screens
	@media (min-width: 1901px) {
		text-align: center;
	}

	.profile-photo {
		@media screen and (max-width: 780px) {
			border-radius: rem-calc(100);
			height: rem-calc(100);
			width: rem-calc(100);
		}

		@media screen and (min-width: 780px) {
			border-radius: rem-calc(150);
	 		height: rem-calc(150);
			width: rem-calc(150);
		}
	}

	.title {
		@media screen and (max-width: 560px) {
			font-size: rem-calc(28) !important;
			line-height: 1.82rem;
		}
	}
}

div.invite-intro {
	padding-top: rem-calc(36);

	@media #{$medium-up} {
		padding-top: rem-calc(50);
	}

	.title {
		font-size: rem-calc(36);
		font-weight: bold;
		line-height: rem-calc(48);

		@media #{$small-only} {
			font-size: 1.5rem;
			line-height: 1.8rem;
		}
	}

	button.cta {
		font-size: 1.16666rem;
		font-weight: normal;
		margin-bottom: 0;
	}

	.hrDivider {
		@media #{$medium-up} {
			color: $light-gray;
			border-color: $light-gray;
			margin-bottom: rem-calc(35);
		}
	}
}

div.invite-elevator-pitch {
	@media #{$large-up} {
		margin-bottom: rem-calc(25);
	}

	.description {
		margin-top: rem-calc(20);

		p {
			font-size: 1.55555rem;
			line-height: 2rem;

			@media #{$small-only} {
				font-size: 1rem;
				line-height: 1.33333rem;
			}
		}

		@media #{$large-up} {
			margin-top: 0;
		}
	}
}


div.invite-about {
	overflow: hidden;
	background-color: $green;
	padding-bottom: 0;

	.title {
		color: $dark-green;
		font-size: rem-calc(36);
		font-weight: bold;
		line-height: rem-calc(48);
	}

	.subtitle {
		color: $dark-green;
		font-size: 1.55555rem;
		line-height: 2rem;
		weight: 300;

		@media #{$small-only} {
			font-size: 1.22222rem;
			line-height: 1.5rem;
			weight: 300;
		}
	}

	.divider {
		width: rem-calc(1);
		background-color: $graphic-green;
		height: rem-calc(40);
		margin-top: rem-calc(40);
	}

	.stats {
		margin-top: rem-calc(18);
		text-align: center;
		font-weight: normal;

		.value {
			color: $white;
			font-size: 1.66666rem;
			line-height: 1.38888rem;
			font-weight: bold;

			@media #{$large-up} {
				font-size: 3.11111rem;
				line-height: 3.55555rem;
			}
		}

		.stars {
			font-size: rem-calc(28);

			@media only screen and (min-width: 960px) {
				font-size: 2rem;
			}
		}

		.title {
			color: $white;
			margin-top: rem-calc(10);
			font-size: .8rem;
			line-height: .8rem;
			font-weight: 300;

			@media #{$large-up} {
				font-size: 1rem;
				line-height: 1.33333rem;
				font-weight: 300;
			}
		}
	}
}

div.invite-how-kiva-works {
	padding-top: rem-calc(30);

	.section-title {
		color: $green;
		font-size: rem-calc(36);
		font-weight: bold;
		margin-bottom: rem-calc(30);
	}

	.step {
		margin-bottom: 0;

		.number {
			color: $dark-green;
			font-size: rem-calc(36);
			line-height: rem-calc(24);
		}

		.title {
			color: $dark-green;
			font-size: rem-calc(18);
			line-height: rem-calc(24);
			font-weight: normal;
		}

		.description {
			color: $oil;
			font-size: rem-calc(18);
			line-height: rem-calc(24);
			font-weight: 300;
		}
	}

	@media #{$small-only} {
		.photo {
			min-width:100%;
			max-width:100%;
			height: auto;
		}

		.photo-column {
			padding-right: 10px;
		}
	}
}

div.invite-footer-wrapper {
	@media #{$medium-down} {
		margin-top: rem-calc(20);
	}

	.title {
		font-size: rem-calc(36);
		font-weight: bold;
		line-height: rem-calc(48);

		@media #{$medium-down} {
			color: $green;
		}

		@media #{$large-up} {
			color: $white;
		}
	}

	.actNow {
		margin-top: rem-calc(25);
	}

	button.cta {
		font-size: 1.16666rem;
		font-weight: normal;
	}
}

div.citation {
	cite {
		width: 100%;
		color: #666;
		font-size: 0.7rem;

		@media #{$medium-up} {
			white-space: nowrap;
		}
	}
}
