.loan-section{
  padding: 10px;
  ul.borrower-names {
    display: inline;
    margin: 0;
    padding: 0;
  }

  ul.borrower-names li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.borrower-names li:after {
    content: ",";
  }

  ul.borrower-names li:last-child:after {
    content: "";
  }
  a{
    color: black;
    text-decoration: underline;
  }
  a:hover{
    color: $kiva-accent-blue
  }
}