.green-bolded {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: $kiva-green;
}

.black-underlined {
  text-decoration: underline;
  color: #333;
}

.loan-story {
  .story-header, .body-text {
    padding-bottom: 0.6rem;
  }
  .icon {
    float: right;
    height: 1rem;
    width: rem-calc(25);
    fill: none;
    stroke: $kiva-text-dark;

    $transition: 300ms ease;

    -webkit-transition: -webkit-transform $transition;
    transition: transform $transition;
  }

  [aria-expanded="true"] {
    .icon {
      $transform: rotate(-180deg);

      -webkit-transform: $transform;
      -ms-transform: $transform;
      transform: $transform;
    }
  }

  .accordion.animated {
    margin: 0;
  }

  .accordion .accordion-navigation > a {
    font-size: $small-font-size;
  }

  .accordion.animated .accordion-navigation {
    a {
      position: relative;
      z-index: 10;
      background-color: transparent;
      padding: 0;
      min-height: 1rem;
    }
    .content {
      display: block;
      overflow: hidden;
      height: 0;
      transition: all .5s ease;
      background-color: transparent;
      padding: 0;

      &.active {
        height: auto;
        padding: 0.9375rem 0;
      }
    }
  }
  .borrower-names {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .borrower-names > li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .borrower-names > li:after {
    content: ",";
  }

  .borrower-names > li:last-child:after {
    content: "";
  }
}

.is-special {
  .kivan {
    position: relative;
    .profile-photo {
      padding-top: 1rem;
      text-align: center;
      @media #{$medium-up}{
        float: left;
        width: 4rem;
      }
      img {
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 100px;
      }
    }
    .show-for-medium-up {
      padding-top: 1rem;
      padding-left: 5rem;
      top: 0.5rem;
      position: absolute;
      p {
        line-height: 0.3rem;
      }
    }
    .show-for-small-only {
      text-align: center;
      margin: 0 auto;
    }
  }
  .green-bolded {
    text-align: left;
    max-width: 75%;
    @media #{$small-only} {
      text-align: center;
      max-width: 85%;
      margin: 0 auto;
    }
  }
}

.more-loan-info {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  @media #{$small-only} {
    text-align: left;
    max-width: 100%;
  }
}

.pfp-meter {
  .lender-count {
    h2, div {
      display: inline-block;
    }
  }
  .amount-raised {
    .fundraising-meter {
      height: .7rem;
    }
  }
}

.loan-gist {
  .country-image {
    display: inline;
    img {
      height: auto;
      width: 3rem;
    }
  }
  .country-text {
    width: 75%;
    vertical-align: top;
    display: inline-block;
    div {
      display: inline;
    }
  }
}

.ac-container label {
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  line-height: 33px;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent;

}

.ac-container input {
  display: none;
}

.ac-container article {
  margin-top: -1px;
  overflow: hidden;
  max-height: 0px;
  position: relative;
  z-index: 10;
  transition: max-height 0.3s ease-in-out;
}

.ac-container input:checked ~ article {
  transition: max-height 0.5s ease-in-out;
}

.ac-container input:checked ~ .icon {
  $transform: rotate(-180deg);

  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

.ac-container article p {
  padding: 20px;
  display: block;
  overflow: auto;
}

.ac-container input:checked ~ article.ac-small {
  max-height: 5000px;
}

.ac-container input:checked ~ article.ac-medium {
  max-height: 5000px;
}

.ac-container input:checked ~ article.ac-large {
  //height: 230px;
}

.icon {
  float: right;
  height: 1rem;
  width: rem-calc(25);
  fill: none;
  stroke: $kiva-text-dark;

  $transition: 300ms ease;

  -webkit-transition: -webkit-transform $transition;
  transition: transform $transition;
}

