.monthly-good {
	@media #{$x-small-only} {
		h1 {
			line-height: $feature-font-size;
		}
	}

	.monthly-good-landing {
		.amount-input-wrapper {
			display: inline-block;
		}

		.mg-amount-input {
			font-size: rem-calc(28);
			height: rem-calc(44);
			width: rem-calc(136);
			font-weight: bold;
			text-align: center;
		}
	}

	input#mg-deposit-amount-input {
		font-size: $body-font-size;
		text-align: right;
		width: rem-calc(110);
		margin: 0 0 0 auto;
	}

	.monthly-good-setup {
		h1+p {
			margin-bottom: 2rem;
		}

		.submit-controls {
			margin: 2rem 0;
		}
	}

	.monthly-good-dynamic-view {

		.monthly-good-form {
			padding: rem-calc(9) 0;

			&[data-abide] .error small.error
			, &[data-abide] .error span.error
			, &[data-abide] span.error
			, &[data-abide] small.error {
				position: absolute;
				margin: rem-calc(4) 0;
				padding: 0;
				line-height: rem-calc(14);
				width: rem-calc(180)
			}

			.day-control .pencil-text-input .text-display {
				font-size: $body-font-size;
				font-weight: $font-weight-bold;
			}

			.icon-pencil {
				height: $body-font-size;
				width: $body-font-size;
			}

			table {
				max-width: $medium-breakpoint;
				margin: 2rem auto 1rem;
			}

			td {
				font-size: $body-font-size;
			}

			.left-small-pad {
				padding-left: rem-calc(2);
			}

			.right-no-pad {
				padding-right: 0;
			}

			.day-input{
				display: none;
				position: relative;

				input {
					display: inline-block;
					font-size: 1rem;
					line-height: 1rem;
					text-align: center;
					margin: 0;
					padding: 0 rem-calc(4);
					width: rem-calc(50);
					height: rem-calc(24);

					@media #{$medium-up} {
						font-size: $feature-font-size;
						height: 2.4rem;
						width: rem-calc(75);
					}
				}
			}

			table.checkout-details {
				max-width: $small-breakpoint;
				margin: rem-calc(45) auto;
				background-color: transparent;
				border: none;

				tr:nth-of-type(even) {
					background-color: transparent;
				}
			}

			.lending-funds {
				@media #{$medium-up} {
					height: rem-calc(35)
				}

				@media #{$x-small-only} {
					.featured {
						font-size: $base-font-size;
					}
				}

				.amount-input {
					&.error ~ .after-28-note {
						margin-top: 1rem;
					}
				}

				.after-28-note {
					display: inline-block;
				}
			}

			/* turn on pointer events for touch events */
			.touch {
				.pencil {
					.icon-pencil {
						pointer-events: all;
					}
				}
			}

			.fancy-checkbox-div {
				text-align: right;
			}

			.donation-selector-large {
				display: none;

				@media #{$medium-up} {
					display: block;
				}

				.pencil-dropdown {
					// kluge to override _forms.scss
					@media (min-width: 1px) {
						.text-display{
							display: inline-block;
						}
					}

					.dropdown-choices {
						top: -7px;
						left: -83px;
						box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
					}
				}
			}

			.donation-selector-small {
				display: block;

				@media #{$medium-up} {
					display: none;
				}

				#donation-amount-input {
					display: none;
					width: rem-calc(110);
					text-align-last: right;
					font-size: $body-font-size;
				}

				.dropdown-choices-select {
					width: rem-calc(110);
					text-align-last: right;
					padding-right: 1rem;
					font-size: $body-font-size;
				}
			}

			input[type="text"] {
				color: $kiva-text-dark;
			}

			.total-amount {
				padding-right: rem-calc(20);
			}

			.total-amount-minimum, .total-amount-maximum {
				input {
					visibility: hidden;
					padding: 0;
					margin: 0 0 -1.2rem;
					height: 1.2rem;
				}

				&.error small.error {
					position: static;
					width: auto;
					margin-bottom: 1rem;
				}
			}

			.disclaimer {
				font-size: $small-font-size;
				line-height: $small-font-size;
				color: $kiva-text-light;
			}
		}

		/* Utility class to Flip Date Input Field */
		.custom-date-input {
			.pencil-text-input {
				display: none;
			}
			.day-input{
				display: inline-block;
			}
			.after-28-note {
				display: none;
			}
		}
		/* Utility Class to Hide Donation Selectors and Show Donation Manual Inputs */
		.custom-donation-input {
			.donation-selector {
				.pencil-dropdown {
					.text-display {
						display:none;
					}
					input.text-input {
						display: inline-block;
					}
				}
			}
		}
	}

	.icon-confirmation {
		fill: $kiva-green;
		height: rem-calc(24);
		width: rem-calc(24);
		vertical-align: bottom;
		margin-bottom: rem-calc(3);

		@media #{$medium-only} {
			height: rem-calc(36);
			width: rem-calc(36);
		}

		@media #{$large-up} {
			height: rem-calc(48);
			width: rem-calc(48);
			margin-bottom: rem-calc(4);
		}
	}
}
