.monthly-good {
	.amount-input-wrapper {
		display: inline-block;
	}

	.mg-amount-input {
		font-size: rem-calc(28);
		height: rem-calc(44);
		width: rem-calc(136);
		font-weight: bold;
		text-align: center;
	}

	.icon-confirmation {
		fill: $kiva-green;
		height: rem-calc(24);
		width: rem-calc(24);
		vertical-align: bottom;
		margin-bottom: rem-calc(3);

		@media #{$medium-only} {
			height: rem-calc(36);
			width: rem-calc(36);
		}

		@media #{$large-up} {
			height: rem-calc(48);
			width: rem-calc(48);
			margin-bottom: rem-calc(4);
		}
	}
}
