.portfolio {
	.bottom-rule {
		border-bottom: 1px solid $kiva-stroke-gray;
	}
}

.portfolio-main {
	.lender-name {
		margin-bottom: 1rem;
	}

	.findALoanButton {
		width: 90%;
		margin-top: 2rem;

		@media #{$large-up} {
			width: 100%;
			margin-top: 0;
		}
	}

}

.deposited-lent-widget {
	margin: 2rem auto;
	width: 225px;
	height: 225px;
	position: relative;
	text-align: center;

	@media #{$large-up} {
		width: 180px;
		height: 200px;
	}

	.icon.icon-recycle {
		position: absolute;
		top: 0;
		left: 0;
		height: 225px;
		width: 225px;
		fill: transparent;
		opacity: 0.25;

		@media #{$large-up} {
			top: 10px;
			height: 180px;
			width: 180px;
		}
	}

	.statistic {
		line-height: 1rem;
		padding: 0;
		margin: 0;
	}

	.small-statistic-legend {
		font-size: $small-font-size;
		font-weight: $font-weight-bold;
		margin: 0;
		padding: 0;
	}

	.deposited-amount, .lent-amount {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.deposited-amount {
		top: 0;

		.small-statistic-legend {
			margin-bottom: rem-calc(8);
		}
	}

	.lent-amount {
		bottom: 0;

		.small-statistic-legend {
			margin-top: rem-calc(8);
		}
	}
}

.attribution-title {
	margin-bottom: 0.75rem;
}

.team-attribution-display {
	.attribution-data, .team-image {
		float: left;
	}

	.team-image {
		clear: left;
	}

	.attribution-data {
		margin-left: 0.5rem;
		margin-bottom: 1rem;
	}
}
