@import '../../settings';
@import '../../palette';
@import '../../vendor_override/foundation/type';

.portfolio {
	h2 {
		color: $kiva-green;
	}

	.bottom-rule {
		border-bottom: 1px solid $kiva-stroke-gray;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
}

.portfolio-main {

	@media #{$large-up} {
		.row {
			margin-right: 0;
		}
	}


	.lender-name {
		margin-bottom: 1rem;
		margin-top: 1.6666666rem;
	}

	.findALoanButton {
		width: 90%;
		margin-top: 1rem;
		margin-left: 1.3333rem;

		@media #{$large-up} {
			width: 50%;
			margin-left: 25%;
		}
	}
	
	.statistic-display {
		text-align: center;
	}

	.statistics-bar {
		padding-top: 2rem;
	}

	.statistics-bar .row {
		padding-bottom: 2rem;
	}

	.extra-stat-row {
		margin-top: 1rem;
	}
}


.recent-loans {
	margin-top: 1rem;
	position: relative;

	h2 a {
		font-size: $body-font-size;
		margin-left: 0.75rem;
	}

	.icon-toggle {
		position: absolute;
		right: 0;
		top: 0.2rem;

		input:checked + label {
			.icon {
				fill: $white;
			}
		}

		.icon-map {
			width: 60%;
		}
	}

	.map-pane {
		display: none;
		position: relative;
		overflow: hidden;
		padding-bottom: 53%;

		.geo-chart {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 119%;
		}

		svg {
			pointer-events: auto;
		}
	}
}

.recent-updates {
	margin-top: 1rem;
	position: relative;

	h2 a {
		font-size: $body-font-size;
		margin-left: 20.5rem;
		margin-top: -1.75rem;
	}
}

.deposited-lent-widget {
	margin: 2rem auto;
	width: 225px;
	height: 225px;
	position: relative;
	text-align: center;

	@media #{$large-up} {
		width: 180px;
		height: 200px;
	}

	.icon.icon-recycle {
		position: absolute;
		top: 0;
		left: 0;
		height: 225px;
		width: 225px;
		fill: transparent;
		opacity: 0.25;

		@media #{$large-up} {
			top: 10px;
			height: 180px;
			width: 180px;
		}
	}

	.statistic {
		line-height: 1rem;
		padding: 0;
		margin: 0;
	}

	.small-statistic-legend {
		font-size: $small-font-size;
		font-weight: $font-weight-bold;
		margin: 0;
		padding: 0;
	}

	.deposited-amount, .lent-amount {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.deposited-amount {
		top: 0;

		.small-statistic-legend {
			margin-bottom: rem-calc(8);
		}
	}

	.lent-amount {
		bottom: 0;

		.small-statistic-legend {
			margin-top: rem-calc(8);
		}
	}
}

.teams-title, .teams-subtitle {
	text-align: center;

	@media #{$large-up} {
		text-align: left;
	}
}

.teams-subtitle {
	margin-bottom: 0.75rem;
}

.team-attributions {
	.attribution-title {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.button {
		color: #333 !important;
		min-width: 90%;
		margin-left: 5%;

		@media #{$large-up} {
			margin-left: 0;
			min-width: 60%;
		}
	}
}

.team-attribution-display {
	display: block;

	.team-image {
		float: left;
		margin-left: 0;
	}

	.attribution-data {
		margin-left: 2.5rem;
		margin-bottom: 1rem;

		@media #{$large-up} {
			margin-left: 3.5rem;
		}
	}
}

.loan-update {
	margin-bottom: 2.222222rem;

	.loan-update-image {
		margin-left: 35%;
		width: 25%;

		@media #{$large-up} {
			margin-left: 0;
			margin-right: 1rem;
			float: left;
		}
	}

	.loan-update-info {
		@media #{$large-up} {
			margin-left: 17rem;
		}

		.loan-update-label {
			text-align: center;
			color: $kiva-text-light;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			@media #{$large-up} {
				text-align: left;
			}
		}

		.loan-update-title {
			padding-bottom: 0.4rem;
			text-align: center;
			display: block;

			@media #{$large-up} {
				text-align: left;
			}
		}

		.loan-update-content {
			font-weight: 300;
		}

		.loan-update-timestamp {
			margin-top: 0.5rem;

			@media #{$large-up} {
				margin-top: 2rem;
				text-align: right;
			}
		}
	}
}

.distribution-charts {
	.no-js & section.content {
		display: none;
	}

	span {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 0.5rem;

		@media #{$large-up} {
			text-align: left;
		}
	}

	.pie-chart {
		width: 100%;

		svg {
			pointer-events: auto;
		}

		@media #{$large-up} {
			width: 70%;
		}
	}

	.distribution-table {
		width: 100%;
		text-align: center;

		table {
			border: none;
		}

		td:last-child {
			text-align: right;
		}

		@media #{$large-up} {
			width: 70%;
		}
	}

	.loading-spinner {
		display: block;
		margin: 2rem auto;
		width: 3rem;
		height: 3rem;
	}
}

.loan-count-graph-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 75%;

	@media #{$large-up} {
		padding-bottom: 60%;
	}

	.loan-count-graph {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 200ms;

		svg {
			pointer-events: auto;
		}
	}
}
