@import '../../settings';
@import '../../palette';
@import '../../vendor_override/foundation/type';

.portfolio {
	h2 {
		color: $kiva-green;
	}

	.bottom-rule {
		border-bottom: 1px solid $kiva-stroke-gray;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
}

.portfolio-main {

	@media #{$large-up} {
		.row {
			margin-right: 0;
		}
	}


	.lender-name {
		margin-bottom: 1rem;
		margin-top: 1.6666666rem;
	}

	.findALoanButton {
		width: 90%;
		margin-top: 1rem;
		margin-left: 1.3333rem;

		@media #{$large-up} {
			width: 50%;
			margin-left: 25%;
		}
	}
	
	.statistic-display {
		text-align: center;
	}

	.statistics-bar {
		padding-top: 2rem;

		.row {
			padding-bottom: 2rem;
		}

		svg {
			pointer-events: auto;
		}
	}

	.extra-stat-row {
		margin-top: 1rem;
	}
}


.recent-loans {
	margin-top: 1rem;
	position: relative;

	h2 a {
		font-size: $body-font-size;
		margin-left: 0.75rem;
	}

	.icon-toggle {
		position: absolute;
		right: 0;
		top: 0.2rem;

		input:checked + label {
			.icon {
				fill: $white;
			}
		}

		.icon-map {
			width: 60%;
		}
	}

	.map-pane {
		display: none;
		position: relative;
		overflow: hidden;
		padding-bottom: 53%;

		.geo-chart {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 119%;
		}

		svg {
			pointer-events: auto;
		}
	}
}

.loan-update {
	margin-bottom: 2.222222rem !important;

	.loan-update-image {
		text-align: center;
	}

	.loan-update-info {
		.loan-update-label {
			text-align: center;
			color: $kiva-text-light;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			@media #{$large-up} {
				text-align: left;
			}
		}

		.loan-update-title {
			padding-bottom: 0.4rem;
			text-align: center;
			display: block;

			@media #{$large-up} {
				text-align: left;
			}
		}

		.loan-update-content {
			font-weight: 300;
		}

		.loan-update-timestamp {
			margin-top: 0.5rem;

			@media #{$large-up} {
				margin-top: 2rem;
				text-align: right;
			}
		}
	}
}

.recent-updates {
	margin-top: 1rem;
	position: relative;

	h2 a {
		font-size: $body-font-size;
		margin-left: 0.75rem;
	}
}

.deposited-lent-widget {
	margin: 2rem auto;
	width: 225px;
	height: 225px;
	position: relative;
	text-align: center;

	@media #{$large-up} {
		width: 180px;
		height: 200px;
	}

	.icon.icon-recycle {
		position: absolute;
		top: 0;
		left: 0;
		height: 225px;
		width: 225px;
		fill: transparent;
		opacity: 0.25;

		@media #{$large-up} {
			top: 10px;
			height: 180px;
			width: 180px;
		}
	}

	.statistic {
		line-height: 1rem;
		padding: 0;
		margin: 0;
	}

	.small-statistic-legend {
		font-size: $small-font-size;
		font-weight: $font-weight-bold;
		margin: 0;
		padding: 0;
	}

	.deposited-amount, .lent-amount {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.deposited-amount {
		top: 0;

		.small-statistic-legend {
			margin-bottom: rem-calc(8);
		}
	}

	.lent-amount {
		bottom: 0;

		.small-statistic-legend {
			margin-top: rem-calc(8);
		}
	}
}

.teams-title, .teams-subtitle {
	text-align: center;

	@media #{$large-up} {
		text-align: left;
	}
}

.teams-subtitle {
	margin-bottom: 0.75rem;
}

.team-attributions {
	.attribution-title {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.button {
		color: #333 !important;
		min-width: 90%;
		margin-left: 5%;

		@media #{$large-up} {
			margin-left: 0;
			min-width: 60%;
		}
	}
}

.team-attribution-display {
	display: block;

	.team-image {
		float: left;
		margin-left: 0;
	}

	.attribution-data {
		margin-left: 2.5rem;
		margin-bottom: 1rem;

		@media #{$large-up} {
			margin-left: 3.5rem;
		}
	}
}

.distribution-charts {
	.no-js & section.content {
		display: none;
	}

	span {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 0.5rem;

		@media #{$large-up} {
			text-align: left;
		}
	}

	.pie-chart {
		width: 100%;

		svg {
			pointer-events: auto;
		}

		@media #{$large-up} {
			width: 70%;
		}
	}

	.distribution-table {
		width: 100%;
		text-align: center;

		table {
			border: none;
		}

		td:last-child {
			text-align: right;
		}

		@media #{$large-up} {
			width: 70%;
		}
	}

	.loading-spinner {
		display: block;
		margin: 2rem auto;
		width: 3rem;
		height: 3rem;
	}
}

.loan-count-graph-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 75%;

	@media #{$large-up} {
		padding-bottom: 60%;
	}

	.loan-count-graph {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 200ms;

		svg {
			pointer-events: auto;
		}
	}
}

.loan-stats-section {
	h2 {
		margin-bottom: 1rem;
	}

	.sub-title {
		margin-bottom: 0.5rem;
	}

	.section-header {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		position: relative;

		.section-title {
			color: $kiva-green;
			margin-right: 6rem;
		}

		.lent-count {
			background-color: $dark-green;
			color: $white;
			margin-left: -5rem;
			padding: 0 1rem 0 1rem;
			font-size: 1rem;
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	li {
		padding-bottom: 0.25rem;
		position: relative;

		.collection-icon {
			width: 1.5rem;
			height: 0.7777rem;
			position: absolute;
		}

		.icon-leaf, .icon-sector-agriculture, .icon-sector-arts, .icon-sector-clothing, .icon-sector-construction, .icon-sector-education, .icon-sector-entertainment, .icon-sector-food, .icon-sector-health, .icon-sector-housing, .icon-sector-manufacturing, .icon-sector-personal-use, .icon-sector-retail, .icon-sector-services, .icon-sector-transportation, .icon-sector-wholesale {
			width: 1.5rem;
			height: 0.7777rem;
		}

		a {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;
			margin-left: 1.5rem;
		}
		
		span, img, svg {
			position: absolute;
		}
	}

	.show-more-loan-stats-country, .show-more-loan-stats-sector, .show-more-loan-stats-activity, .show-more-loan-stats-field-partner {
		cursor: pointer;
	}

	.hide-more-loan-stats-country, .hide-more-loan-stats-sector, .hide-more-loan-stats-activity, .hide-more-loan-stats-field-partner {
		cursor: pointer;
	}

	.lend-link-btn {
		margin-top: 1rem;
		text-align: center;

		a {
			margin-bottom: 0;
		}
	}

	.all-completed-icon-wrapper {
		font-size: 1rem;
		display: inline-flex;
		margin-left: 0.5rem;
		color: $green;

		.icon-confirmation {
			fill: $green;
			width: 2rem;
			height: 2rem;
			margin-right: 0.5rem;

			@media #{$large-up} {
				width: 3rem;
				height: 3rem;
			}
		}

		@media #{$large-up} {
			font-size: 1.5rem;
		}
	}

	.section-end {
		margin-top: 0;
	}

	.row .columns {
		padding-left: 0;
	}
}

.lending-stats {
	.explainer {
		p {
			margin-bottom: 0;
		}
	}

	.bottom-rule.for-explainer {
		padding: 0;
	}
}

.avg-kiva-compare-table {
	.update-timestamp {
		color: $kiva-text-light;
	}

	table {
		border: none;
	}
}

.my-loans-lent-stats {
	.stat-label {
		word-wrap: break-word;
	}
}

.loans-table-wrapper {
	position: relative;

	.shadow-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		box-shadow: inset rem-calc(-18) 0 rem-calc(24) rem-calc(-16) rgba(0,0,0,0.25);

		@media #{$xxlarge-up} {
			display: none;
		}
	}

	.scroll-wrapper {
		width: 100%;
		overflow-x: scroll;
	}
}

.my-loans {
	padding: 0;

	.bottom-rule {
		padding: 0;
	}

	.avg-kiva-compare-table {
		margin-left: -0.555556rem;
		margin-right: -0.555556rem;

		@media #{$large-up} {
			margin-left: 0;
			margin-right: 0;
		}
	}

}

table.loans-table {
	border: none;
	font-weight: 100;
	margin: 0;

	td {
		vertical-align: top;

		&:first-child {
			padding-left: 0;
			padding-right: 0;
			min-width: rem-calc(50);
			text-align: center;

			svg {
				width: 100%;
				margin-top: 0.5rem;
				display: block;
			}

			svg.icon-match {
				height: rem-calc(27);
			}

			svg.icon-dedicate-heart {
				height: rem-calc(21);
			}
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.amount {
		text-align: right;
	}

	.country span {
		margin-right: 0.25rem;
    	vertical-align: top;
	}

	.date-lent {
		white-space: nowrap;
	}

	.dedication span, .date-lent, .progress-verb {
		color: $kiva-text-light;
		font-size: $x-small-font-size;
		line-height: $x-small-line-height;
	}

	.dedication span {
		display: block;
		line-height: 0.8rem;
		margin-top: 0.1rem;
	}

	.team {
		display: block;

		img {
			width: rem-calc(35);
			display: block;
		}
	}
}
