div.siteMapPageWrap {
	padding: 2.2222222222rem 1rem;

	nav.siteMapContainer {

		.pageTitle {
			font-weight: bold;
			@media #{$small-up} {
				font-size: rem-calc(28);
			}
		}
		.siteMapList {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a:visited {
				color: $kiva-textlink;
			}

			p {
				margin-bottom: rem-calc(5);
				font-weight: bold;
			}
		}
	}
}