.row-termsofuse {
	margin: 0 auto;
	max-width: 60rem;
	width: 100%;
};

ul.termsofuse {
    
    margin-left: 2rem;
    
};

p.title-termsofuse {
	
	margin-left: 3rem;
};

p.body-termsofuse {
	
	margin-left: 6rem;
};

#final-section-padding-termsofuse {
	 
	padding-bottom: 1rem;
};

