.row-termsofuse {
	margin: 0 auto;
	max-width: 60rem;
	width: 100%;
};

ul.termsofuse {
    
    margin-left: 2.0rem;
    
};

p.title-termsofuse {
	
	margin-left:.5in;
};

p.body-termsofuse {
	
	margin-left:1.0in;
};

