
.trustee-profile {

	margin-top: 1rem;

	.summary {
		dd {
			margin-bottom: .5rem;
		}
		dt {
			margin-bottom: 0;
		}
	}

	.q-and-a {
		dl {
			line-height: 1rem;
		}
		dl dd {
			margin-bottom: 1rem;
		}
		dt {
			margin-top: 1rem;
			margin-bottom: .5rem;
		}
	}


}

.trustee-application {

	margin-top: 1rem;

	.button.setting, .button.setting:visited {
		color: #6698a9;
	}

}
