
.trustee-profile {

	margin-top: 1rem;

	.summary {
		dd {
			margin-bottom: .5rem;
		}
		dt {
			margin-bottom: 0;
		}
	}

	.q-and-a {
		dl {
			line-height: 1rem;
		}
		dl dd {
			margin-bottom: 1rem;
		}
		dt {
			margin-top: 1rem;
			margin-bottom: .5rem;
		}
	}
}

.trustee-application {

	margin-top: 1rem;

	.button.setting, .button.setting:visited {
		color: $kiva-text-dark;
	}

}

.trustee-filters {
	padding: .5rem;
	background-color: #74b446;
	.tf-item {
		display: inline-block;
		float: right;
		white-space: nowrap;

		label {
			display: inline-block;
			color: #fff;
			line-height: 2rem;
		}

		input[type="text"], select {
			display: inline-block;
			width: 8rem;
			height: 1.9rem;
			line-height: 0.9rem;
			margin: 0.25rem;
			vertical-align: middle;
		}

	}
}






