.withdraw-credit {
	.withdraw-request-display {
		@media #{$large-up} {
			padding-left: 0;
		}

		.statistic-display {
			padding-bottom: rem-calc(40);
			padding-top: rem-calc(20);
		}
	}

	.explainer {
		@media #{$large-up} {
			margin-left: -1rem;
		}
	}

	.pending-withdrawals-large, .pending-withdrawals {
		div {
			margin-bottom: rem-calc(20);
		}
	}
}

.withdraw-credit-confirm {
	.withdraw-credit-graphic {
		margin-bottom: 2rem;
		margin-top: 2rem;

		@media #{$medium-down} {
			height: 12rem;
		}

		.columns {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.withdrawal-amount-requested {
			margin-top: 1.5rem;
			color: $kiva-green;
			font-size: 2rem;

			@media #{$medium-down} {
				margin-top: -2rem;
				margin-bottom: 1.5rem;
			}
		}
	}

	.confirm-withdrawal-form {
		margin-right: 0.1rem !important;
		margin-left: 0.1rem !important;

		.request-withdrawal-button {
			@media #{$large-up} {
				margin-right: 1rem;
			}
		}
	}
}

.confirmation-arrow {
	height: 5.5rem;
	position: relative;

	hr,
	.icon-triangle {
		height: 100%;
		position: absolute;
	}

	.label-in-box {
		position: absolute;
		left: 50%;
		top: -13%;
		transform: translate(-50%);
		height: 100%;

		@media #{$medium-down} {
			margin-top: 2rem;
			top: -20%;
		}

		p {
			background: #fff;
			font-size: 0.65rem;
			min-width: 6rem;

			@media #{$large-up} {
				border: 0.1rem solid $kiva-darkgreen;
				padding: 1rem;
			}
		}
	}

	hr {
		@media #{$large-up} {
			border-top: 0.5rem solid $kiva-darkgreen;
			width: 97%;
			left: 3%;
			top: 16%;
		}

		@media #{$medium-down} {
			border-left: 0.25rem solid $kiva-darkgreen;
			border-right: 0.25rem solid $kiva-darkgreen;
			border-top: none;
			left: 50%;
			top: -30%;
			transform: translate(-50%);
		}
	}

	.icon-triangle {
		fill: $kiva-darkgreen;
		width: 2.5rem;
		margin-top: -3.4rem;
		top: 109%;
		left: 50%;
		transform: rotate(180deg) translate(50%);
		position: absolute;

		@media #{$large-up} {
			margin-top: 0;
			top: -9%;
			left: 90%;
			transform: rotate(90deg);
		}
	}
}

.paypal-profile-iconography {
	height: 100%;
	font-size: 0.65rem;

	.iconography-bubble {
		padding: 1rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);

		@media #{$medium-down} {
			margin-top: 1rem;
		}

		.icon-payPal {
			width: 4rem;
			height: 2rem;
		}

		.circle-avatar {
			margin-left: 0;
			margin-right: 0;
		}
	}
}