.withdraw-credit {
	.withdraw-request-display {
		@media #{$large-up} {
			padding-left: 0;
		}

		.statistic-display {
			padding-bottom: rem-calc(40);
			padding-top: rem-calc(20);
		}
	}

	.explainer {
		@media #{$large-up} {
			margin-left: -1rem;
		}
	}

	.pending-withdrawals-large, .pending-withdrawals {
		div {
			margin-bottom: rem-calc(20);
		}
	}
}

.withdraw-credit-confirm {
	.withdraw-credit-graphic {
		margin-bottom: 2rem;
		margin-top: 2rem;

		@media #{$medium-down} {
			height: 12rem;
		}

		.columns {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.withdrawal-amount-requested {
			margin-top: 1.5rem;
			color: $kiva-green;
			font-size: 2rem;

			@media #{$medium-down} {
				margin-top: -2rem;
				margin-bottom: 1.5rem;
			}
		}
	}

	.confirm-withdrawal-form {
		margin-right: 0.1rem !important;
		margin-left: 0.1rem !important;

		.request-withdrawal-button {
			@media #{$large-up} {
				margin-right: 1rem;
			}
		}
	}
}

.confirmation-arrow {
	height: 5.5rem;

	.label-in-box+hr,
	.icon-triangle {
		height: 100%;
		position: absolute;
	}

	.label-in-box {
		height: 100%;

		@media #{$medium-down} {
			margin-top: 2rem;
		}

		p {
			background: #fff;
			z-index: 10;
			position: absolute;
			top: 40%;
			left: 51%;
			transform: translate(-50%, -50%);
			padding: 1rem;
			font-size: 0.65rem;
			min-width: 6rem;

			@media #{$large-up} {
				border: 0.1rem solid $kiva-darkgreen;
			}
		}
	}

	.label-in-box+hr {
		@media #{$large-up} {
			border-top: 0.5rem solid $kiva-darkgreen;
			width: 80%;
			left: 10%;
			top: 16%;
		}

		@media #{$medium-down} {
			border-left: 0.5rem solid $kiva-darkgreen;
			left: 49.2%;
			margin-top: -8rem;
		}
	}

	.icon-triangle {
		fill: $kiva-darkgreen;
		width: 2.5rem;
		margin-top: -3.4rem;
		top: 40%;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Safari */
		transform: rotate(180deg);
		position: relative;

		@media #{$large-up} {
			margin-top: 0;
			position: absolute;
			top: -9%;
			left: 83%;
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Safari */
			transform: rotate(90deg);
		}
	}
}

.paypal-profile-iconography {
	height: 100%;
	font-size: 0.65rem;

	.iconography-bubble {
		z-index: 10;
		padding: 1rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -20%);

		@media #{$medium-down} {
			margin-left: -0.1rem;
			margin-top: 1rem;
			left: 47.5%;
		}

		.icon-payPal {
			width: 4rem;
			height: 2rem;
		}
	}
}