.withdraw-credit {
	.withdraw-request-display {
		@media #{$large-up} {
			padding-left: 0;
		}

		.statistic-display {
			padding-bottom: rem-calc(40);
			padding-top: rem-calc(20);
		}
	}

	.explainer {
		@media #{$large-up} {
			margin-left: -1rem;
		}
	}

	.pending-withdrawals-large, .pending-withdrawals {
		div {
			margin-bottom: rem-calc(20);
		}
	}
}

.withdraw-credit-confirm {
	.withdraw-credit-graphic {
		.columns {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.withdrawal-amount-requested {
			margin-top: 2rem;
			color: $kiva-green;
			font-size: 1.25rem;

			@media #{$medium-up} {
				font-size: 1.75rem;
			}

			@media #{$large-up} {
				font-size: 2rem;
			}
		}
	}

	.confirm-withdrawal-form {
		margin-right: 0.1rem !important;
		margin-left: 0.1rem !important;

		.request-withdrawal-button {
			@media #{$large-up} {
				margin-right: 1rem;
			}
		}
	}
}

.confirmation-arrow {
	position: relative;
	height: 5.5rem;

	.label-in-box,
	.label-in-box+hr,
	.icon-triangle {
		height: 100%;
		position: absolute;
	}

	.label-in-box {
		width: 70%;
		left: 15%;
		top: 0;
		z-index: 10;
		border: 0.1rem solid $kiva-darkgreen;
		padding: 1rem;
		margin: 0 auto;
		background: #fff;
		font-size: 0.45rem;

		@media #{$medium-up} {
			font-size: 0.89rem;
		}
	}

	.label-in-box+hr {
		width: 100%;
		left: 0;
		top: 27%;
		border-top: 0.25rem solid $kiva-darkgreen;

		@media #{$medium-up} {
			top: 26%;
			border-top: 0.5rem solid $kiva-darkgreen;
		}
	}

	.icon-triangle {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Safari */
		transform: rotate(90deg);
		fill: $kiva-darkgreen;
		left: 92%;
		width: 1.3rem;

		@media #{$medium-up} {
			font-size: 0.89rem;
			width: 2rem;
		}

		@media #{$large-up} {
			font-size: 0.89rem;
			width: 2.5rem;
		}
	}
}

.paypal-profile-iconography {
	font-size: 0.49rem;

	@media #{$medium-up} {
		font-size: 0.89rem;
	}

	.icon-payPal {
		width: 3rem;
		height: 3rem;
	}
}