<a href="#"><span>Attributes</span></a>
<ul id="filter-attributes-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#attributes}}
        <li class="filter checkbox-input">
			{{> 02-organisms/05-filters/12-attributes-items}}
        </li>
	{{/attributes}}
</ul>
