<input class="filter borrower-input" type="checkbox" id="filter-loan-length-label-{{term}}" name="filter-loan-length-label-{{term}}" data-toggle="button">
<label class="filter borrower-label" class="button" for="filter-loan-length-label-{{term}}">{{name}}</label>