// Loan cards - listing
.loancards-list > li {
	margin-bottom: 20px;
}

.loan-card--listing {
	border: #333 1px solid;
	height: auto;
	position: relative;

	.amount-left {
		font-size: 13px;
	}

	.country-name {
		font-size: 12px;
	}

	.sector {
		font-size: 12px;
	}

	.borrower-img-wrap {
		position: relative;
		width: 100%;
		height: 60%;
	}

	.borrower-img {
		width: 100%;
		height: 100%;
	}

	.matcher-text {
		background-color: rgba(255, 255, 255, .8);
		font-size: 16px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.borrower-details-wrap {
		padding: 0 2px 2px 2px;
		text-align: right;
	}

	.borrower-details-more {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}


.loan-card--listing-selected {
	.borrower-img-wrap {
		position: relative;
		width: 100%;
		height: 30%;
	}

	.borrower-img {
		width: 50%
	}

	.country-flag {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -14px;
		margin-left: 3px;
	}

	.amount-left {
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: 3px;
	}

	.borrower-details-wrap {
		text-align: left;
	}

	.borrower-name {
		font-size: 13px;
	}

	.matcher-text {
		font-size: 12px;
		position: static;
	}
}

//@media #{$small-up} {
//	.loan-card--listing {
//		width: 320px;
//	}
//}


// fundraising meter
.fundraising-meter {
	border: none;
	height: 4px;
	padding: 0;

	.meter {
		background-color: #74b446;
	}
}
