{{#sampleTable}}
<table class="" role="" summary="">
	<thead>
		<tr>
			<th class=""></th>
			<th class="">{{tableHeading}}</th>
			<th class="">{{tableHeading}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{tableRowName}}</td>
			<td class="">{{tableValue}}</td>
			<td class="">{{tableValue}}</td>
		</tr>
	</tbody>
</table>
{{/sampleTable}}