{{!
<td><%= cc['displayName'] %></td>
<td><%= link_to cc_loan.title, (cc_loan.kiva_loan_url + "?Xb=1") %></td>
<td><%= l DateTime.parse(cc['effectiveTime']).in_time_zone %></td>
<td><%= number_to_currency cc['amount']['amount'].to_f %></td>
<td><%= number_to_currency balance %></td>
}}
<td>{{displayName}}</td>
<td>{{loanId}}</td>
<td>{{effectiveTimePretty}}</td>
<td>{{amountPretty}}</td>
<td>{{balancePretty}}</td>
