<table>
	<h3>{{transactions.count}} Transactions</h3>
	<tr>
		<th>Type</th>
		<th>Loan</th>
		<th>Date</th>
		<th>Price</th>
		<th>Balance</th>
	</tr>
	<tr>
		<td>{{transactions.type}}</td>
		<td>{{transactions.loan}}</td>
		<td>{{transactions.date}}</td>
		<td>{{transactions.price}}</td>
		<td>{{transactions.balance}}</td>
	</tr>
</table>