<div class="small-12 large-9 columns whats-next-wrapper">
	<hr>
	</br>
	<div>
		<p class="featured">What's next</p>
		<p></p><strong>{{whatsNextHeading}}</strong></p>
		<p>{{{whatsNextDescription}}}</p>
	</div>
	<div class="text-center learn-more-link">
		<a href="#">Learn more</a>
	</div>

	<div class="paging row">
		<a href="#" class="previous button secondary disabled previous-button">
			<svg class="icon icon-small-chevron previous-arrow">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-small-chevron"></use>
			</svg>Previous</a>

		<a href="#" class="next button secondary next-button">
			Next
			<svg class="icon icon-small-chevron next-arrow">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-small-chevron"></use>
			</svg>
		</a>
		<div>
			<ul class="slick-dots show-for-medium-up">
				<li style="float: left;">
					<svg class="icon icon-slideshow-dot" style="width: 10px; position: inherit;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-slideshow-dot"></use>
					</svg>
				</li>
				<li style="float: left;">
					<svg class="icon icon-slideshow-dot" style="width: 10px; position: inherit;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-slideshow-dot"></use>
					</svg>
				</li>
				<li style="float: left;">
					<svg class="icon icon-slideshow-dot" style="width: 10px; position: inherit;">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-slideshow-dot"></use>
					</svg>
				</li>
			</ul>
		</div>
	</div>

	</br>
	<hr>
</div>