<div class="small-12 large-9 columns borrower-dashboard-auto-repayments">
	<h1 class="impact auto-repayments">Automatic Repayments</h1>

	<p>Auto repayment widget goes here.</p>
	<p>So does the lightbox.</p>

	<p>
	{{#hasBillingAgreement}}

		{{^hasAutoRepayment}}
			{{^pausedAutoRepayment}}
			<div class="button auto-repayment-activate">
				Set up automatic repayments
			</div>
			{{/pausedAutoRepayment}}
			{{#pausedAutoRepayment}}
				Automatic repayments inactive - paused {{date}}
				<a class="auto-repayment-reactivate">Activate</a>
				|
				<a class="auto-repayment-cancel">Cancel</a><br/>
				{{#memo}}reason: {{memo}}{{/memo}}
			{{/pausedAutoRepayment}}


		{{/hasAutoRepayment}}

		{{#hasAutoRepayment}}
			you have an active auto-repayment.
			<a class="auto-repayment-pause">Pause</a>
		{{/hasAutoRepayment}}

	{{/hasBillingAgreement}}

	{{^hasBillingAgreement}}
		You need a billing agreement before signing up for auto-repayments.
		<div id="paypal-button"></div>
	{{/hasBillingAgreement}}
	</p>

	<h2>Faqs</h2>
	The faq goes here, too.
	<div class="row auto-repayment-faqs">
		<div class="small-12 columns">
			{{> 02-organisms/13-faq/00-faq}}
		</div>
	</div>

</div>
<div class="spacer" style="clear:both"></div>

