<div class="small-12 large-10 columns">
	<h1 class="impact">
		{{headerText}}
	</h1>
	{{#terms}}
		<div>
			<h2>{{topic1}}</h2>
			<p>{{answer1}}</p>
		</div>
		<div>
			<h2>{{topic2}}</h2>
			<p>{{answer2}}</p>
		</div>
		<div>
			<h2>{{topic3}}</h2>
			<p>{{answer3}}</p>
		</div>
		<div>
			<h2>{{topic4}}</h2>
			<p>{{answer4}}</p>
		</div>
	{{/terms}}
</div>
