<div class="hp-how-it-works-wrapper">
	<div class="scroll-down-icon hide-for-large-up text-center">
		<svg class="icon icon-small-chevron">
			<use xmlns:xlink="http://www.w3.org/1999/xlink"
				 xlink:href="#icon-small-chevron"></use>
		</svg>
	</div>

	<div class="how-it-works-title featured text-center">How it works</div>

	<div class="show-for-large-up step-1">
		<p class="featured">Choose a borrower</p>
		<p>Browse categories of borrowers&mdash;
			people looking to grow businesses, go to school,
			switch to clean energy, and more.</p>
	</div>

	<div class="how-it-works-content-wrapper">
		<div class="how-it-works-illustration-wrapper">
			<div class="show-for-large-up step-4">
				<p class="featured">Repeat!</p>
				<p>Use the repayment to support another borrower,
					or withdraw your money.</p>
			</div>

			<div kvtrackevent="Home|click-How It Works" class="how-it-works-illustration">
				<svg class="icon icon-choose step-1 active">
					<use xlink:href="#icon-choose"/>
				</svg>

				<svg class="icon icon-curved-arrow arrow-1 active">
					<use xlink:href="#icon-curved-arrow"/>
				</svg>

				<svg class="icon icon-lend step-2">
					<use xlink:href="#icon-lend"/>
				</svg>

				<svg class="icon icon-curved-arrow arrow-2">
					<use xlink:href="#icon-curved-arrow"/>
				</svg>

				<svg class="icon icon-repaid step-3">
					<use xlink:href="#icon-repaid"/>
				</svg>

				<svg class="icon icon-curved-arrow arrow-3">
					<use xlink:href="#icon-curved-arrow"/>
				</svg>

				<svg class="icon icon-repeat step-4">
					<use xlink:href="#icon-repeat"/>
				</svg>

				<svg class="icon icon-curved-arrow arrow-4">
					<use xlink:href="#icon-curved-arrow"/>
				</svg>

				<div class="hide-for-large-up small-text tap-button">
					Tap
				</div>
			</div>

			<div class="show-for-large-up step-2">
				<p class="featured">Make a loan</p>
				<p>Select a borrower who you connect with and help fund a loan with as little as $25.</p>
			</div>
		</div>
	</div>


	<div class="show-for-large-up step-3">
		<p class="featured">Get repaid</p>
		<p>Receive updates on your loans and see the dollars return to your Kiva account.</p>
	</div>

	<div class="hide-for-large-up small-step-1">
		<p class="featured">Choose a borrower</p>
		<p>Browse categories of borrowers&mdash;
			people looking to grow businesses, go to school,
			switch to clean energy, and more.</p>
	</div>

	<div class="hide small-step-2">
		<p class="featured">Make a loan</p>
		<p>Select a borrower who you connect with and help fund a loan with as little as $25.</p>
	</div>

	<div class="hide small-step-3">
		<p class="featured">Get repaid</p>
		<p>Receive updates on your loans and see the dollars return to your Kiva account.</p>
	</div>

	<div class="hide small-step-4">
		<p class="featured">Repeat!</p>
		<p>Use the repayment to support another borrower,
			or withdraw your money.</p>
	</div>





	<p class="text-center"><a href="{kvurl page=about action=how}" class="learn-more-link">Learn more
		about how Kiva works</a></p>

	<svg class="icon icon-x">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
	</svg>
</div>