<section class="home-fact-map">
	<h1 class="show-for-large-up">Why Kiva?</h1>
	<div class="row collapse">
		<div class="small-12 large-6 columns">
			<h2><span class="big-number">97%</span> repayment rate</h2>
			<p>It's a loan not a donation; <br/>so when you're repaid you <br/>can use the money again.</p>
		</div>
		<div class="small-12 large-6 columns">
			<h2><span class="big-number">100%</span> goes to the field</h2>
			<p>We don't take a cut of loans, <br/>but cover our costs through <br/>optional donations.</p>
		</div>
		<div class="small-12 columns">
			<div class="stars">
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			</div>
			<p>Charity Navigator's <br/>highest award rating</p>
		</div>
		<div class="hide-for-large-up small-12 columns">
			<h2>$1.1 billion in loans <br/>in 82 countries</h2>
		</div>
		<div class="show-for-large-up small-12 large-6 columns">
			<h2><span class="big-number">$1.1</span> billion in loans</h2>
		</div>
		<div class="show-for-large-up small-12 large-6 columns">
			<h2><span class="big-number">82</span> countries</h2>
		</div>
	</div>
	<a href="#" class="show-for-large-up">Learn more</a>
</section>