<div class="joinSection">
	<div class="row">
		<div class="small-6 large-6 columns">
        	<div class="statContainer">
				<div class="huge-statistic white text-right">450</div>
				<div class="kiva-green text-right">Volunteers</div>
			</div>
   		</div>
    	<div class="small-6 large-6 columns">
			<div class="textContainer">
				<div class="h2 white text-left">
					"I feel like part of an international family. I hope entrepreneurs around the world feel supported not
					just by the money they receive, but the fact that so many people care for them." </div>
				<div class="kiva-green text-left">Karen, </br> Kiva volunteer </div>
			</div>
		</div>
	</div>
</div>