<div class="aboutSeeMoreContainer">

{{! This section is shown on all screen sizes }}
	<div class="row row1 show-for-small-up">
		<div class="small-12 medium-6 large-6 columns">
        	<div class="row1StatContainer text-right">
				<div class="huge-statistic white">450</div>
				<div class="featured kiva-green">Volunteers</div>
			</div>
   		</div>
    	<div class="small-12 medium-6 large-6 columns">
			<div class="row1TextContainer text-left">
				<div class="featured white">"Kiva is my window to the world - it allows me to learn about people and
                    cultures that I would never know about otherwise."</div>
				<div class="featured kiva-green">- Nora, Kiva volunteer Spanish translator</div>
			</div>
		</div>
	</div>

{{! This section is shown on all screen sizes }}
    <div class="row row2 show-for-small-up">
        <div class="small-12 medium-6 large-6 columns">
            <div class="row2TextContainer text-right">
                <div><h1 class="normal white">"Kiva is a simple concept that can change a person's life."</h1></div>
                <div class="featured kiva-green">- Oprah</div>
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div class="row2StatContainer text-left">
                <div class="huge-statistic white">75%</div>
                <div class="featured kiva-green">Kiva loans that empower women</div>
            </div>
        </div>
    </div>

{{! This section is inserted when user has a small and medium 320px-680 screen size and hidden when in a screen larger than 680px }}
    <div id="row3Small-MediumView" class="row row3 hide-for-large-up">
		<div class="small-12 medium-12 columns">
			<div class="row3TextContainer text-center">
				<div class="featured white">"Knowing I've contributed to helping someone's family or community, or both,
                    is a feeling without measure."</div>
				<div class="featured kiva-green">-Kristin, Kiva lender</div>
			</div>
		</div>
	</div>

{{! This section is inserted when user has a screen size larger than 680px and is removed when in a small and medium 320px-680 screen size.}}
    <div id="row3LargeView" class="row row3a hide-for-small-only hide-for-medium-only">
        <div class="small-6 large-6 columns">
            <div class="row3TextContainer">
                <div class="featured white"></div>
                <div class="featured kiva-green"></div>
            </div>
        </div>
		<div class="large-6 columns">
            <div class="row3TextContainer text-left">
                <div class="featured white">"Knowing I've contributed to helping someone's family or community, or both,
                    is a feeling without measure."</div>
                <div class="featured kiva-green">-Kristin, Kiva lender</div>
            </div>
        </div>
    </div>

{{! This section is shown on all screen sizes }}
	<div class="row row4 show-for-small-up">
		<div class="small-12 medium-6 large-6 columns">
            <div class="row4StatContainer text-right">
                <div class="featured white">A Kiva loan is funded every</div>
                <div><h1 class="huge white">2 min</h1></div>
                <div class="featured kiva-green">Watch at <a class="visitLink kiva-green" href="http://kiva.org/live"> Kiva.org/live</a></div>
            </div>
        </div>
    </div>

{{! This section is shown on all screen sizes }}
    <div class="row row5 show-for-small-up">
        <div class="small-12 medium-6 large-6 columns">
            <div class="row5TextContainer text-right">
                <div class="featured white">“My global view has definitely been re-shaped by working at Kiva, and it
					motivates me when I hear about the unique partnerships that we are forming, and the opportunities
					that we are providing for borrowers.”</div>
                <div class="featured kiva-green">- Cherry Mangat, Kiva product manager</div>
            </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <div class="row5TextContainer2 text-left">
                <div><h1 class="normal white">“Kiva took my name from my living room across the globe...Lenders became
					my friends, my spiritual cheerleaders.”</h1></div>
                <div class="featured kiva-green">- Martin, Kiva borrower</div>
            </div>
        </div>
    </div>

{{! This section is inserted when user has a small and medium 320px-680 screen size and hidden when in a screen larger than 680px }}
	<div class="hide-for-large-up">
		<div id="row6Small-MediumView" class="row row6">
			<div class="small-12 medium-12 columns">
				<div class="row6StatContainer text-center">
					<div class="huge-statistic white">1,200</div>
					<div class="featured kiva-green">Field partners and trustees</div>
				</div>
			</div>
		</div>
		<div class="row row7">
			<div class="small-12 medium-6 columns">
				<div class="row7StatContainer text-center">
					<div class="huge-statistic white">110</div>
					<div class="featured kiva-green">Employees</div>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="row7TextContainer text-left">
					<div class="featured white">"Deep inside I feel that I am Kiva’s family member who works hard to
						let the whole world know about microfinance.”</div>
					<div class="featured kiva-green">- Nadine, Kiva coordinator at Field Partner Al Majmoua</div>
				</div>
			</div>
		</div>
	</div>

{{! This section is inserted when user has a screen size larger than 680px and is removed when in a small and medium 320px-680 screen size.}}
	<div class="hide-for-small-only hide-for-medium-only">
		<div id="row6LargeView" class="row row6a">
			<div class="large-6 columns">
				<div class="row6aTextContainer text-right">
					<div class="featured white">"I joined Kiva because I wanted to work side-by-side with people who
						want to make a difference in the world."</div>
					<div class="featured kiva-green">Kelly, Kiva employee</div>
				</div>
			</div>
			<div class="large-6 columns text-center">
				<div class="row6aStatContainer">
					<div class="huge-statistic white">1,200</div>
					<div class="featured kiva-green">Field partners and trustees</div>
				</div>
				<div class="row6aStatContainer2">
					<div class="huge-statistic white">110</div>
					<div class="featured kiva-green">Employees</div>
				</div>
			</div>
		</div>
	</div>
</div>

