<div class="joinSection">
	<div class="row row1">
		<div class="small-6 large-6 columns">
        	<div class="row1StatContainer">
				<div class="huge-statistic white text-right">450</div>
				<div class="featured kiva-green text-right">Volunteers</div>
			</div>
   		</div>
    	<div class="small-6 large-6 columns">
			<div class="row1TextContainer">
				<div class="featured white text-left">
					"I feel like part of an international family. I hope entrepreneurs around the world feel supported not
					just by the money they receive, but the fact that so many people care for them." </div>
				<div class="featured kiva-green text-left">Karen, Kiva volunteer </div>
			</div>
		</div>
	</div>

    <div class="row row2">
        <div class="small-6 large-6 columns">
            <div class="row2TextContainer">
                <div class="text-right"><h1 class="white normal">"People, even with a very modest amount of money, can have a huge impact."</h1></div>
                <div class="kiva-green featured text-right">President Bill Clinton, on Kiva</div>
            </div>
        </div>
        <div class="small-6 large-6 columns">
            <div class="row2StatContainer">
                <div class="huge-statistic white text-left">75%</div>
                <div class="kiva-green featured text-left">Kiva loans that empower women</div>
            </div>
        </div>
    </div>

    <div class="row row3">
        <div class="row3TextContainer">
            <div class="featured white text-center">"I've been lending to seamstressess for 7 years. After 168 loans, it's
                still exciting to send $25 to my sewing 'sisters' and know we're connected not just by thread, but hearts
                and minds, too."</div>
            <div class="featured kiva-green text-center">Jo Ann, Kiva lender</div>
        </div>
	</div>

	<div class="row row4">
		<div class="small-12 large-12 columns">
            <div class="row4StatContainer">
                <div class="featured white text-right">A Kiva loan is funded every</div>
                <div class="text-right"><h1 class="huge white">2 min</h1></div>
                <div class="featured kiva-green text-right">Watch at <a href="http://kiva.org/live"> Kiva.org/live</a></div>
            </div>
        </div>
    </div>

    <div class="row row5">
        <div class="small-6 large-6 columns">
            <div class="row5TextContainer">
                <div class="featured white text-right">"We've seen first-hand how motivated borrowers feel when they know there's a community
				behind them."</div>
                <div class="featured kiva-green text-right">Kiva Field Partner</div>
            </div>
        </div>
        <div class="small-6 large-6 columns">
            <div class="row5TextContainer2">
                <div class="text-left"><h1 class="white">"Because of my Kiva lender, I feel empowered to grow my business and
				provide a better life for my family."</h1></div>
                <div class="featured kiva-green text-left">Victor, Kiva Borrower</div>
            </div>
        </div>
    </div>

    <div class="row row6">
        <div class="small-12 large-12 columns">
            <div class="row6StatContainer">
                <div class="huge-statistic white text-right">1,200</div>
                <div class="featured kiva-green text-right">Field partners and trustees</div>
            </div>
        </div>
    </div>

    <div class="row row7">
        <div class="small-6 large-6 columns">
            <div class="row7StatContainer">
                <div class="huge-statistic white text-center">110</div>
                <div class="featured kiva-green text-center">Employees</div>
            </div>
        </div>
        <div class="small-6 large-6 columns">
            <div class="row7TextContainer">
                <div class="featured white text-left">"I joined Kiva because I wanted to work side-by-side with people who
					want to make a difference in the world."</div>
                <div class="featured kiva-green text-left">Kelly, Kiva employee</div>
            </div>
        </div>
    </div>
</div>

