<div class="faq-container">
	<h2 class="faq-title">Frequently asked questions</h2>
	<!--FAQ-1-->
	<section class="accordion-container">
		<div class="ac-title ac-container" data-kv-accordion aria-controls="faq1" aria-expanded="false">
			<p class="question-wrap">
				The first FAQ goes here.
			</p>
			<span class="ac-dropdown-icon">
				<svg class="icon icon-small-chevron">
					<use xlink:href="#icon-small-chevron"></use>
				</svg>
			</span>
		</div>
		<article class="ac-body" id="faq1" aria-hidden="true">
			<span>
				<p class='small-text'>The answer to the first FAQ goes here.</p>
			</span>
		</article>

		<!--FAQ-2-->
		<div class="ac-title ac-container" data-kv-accordion aria-controls="faq2" aria-expanded="false">
			<p class="question-wrap">
				The second FAQ goes here.
			</p>
			<span class="ac-dropdown-icon">
				<svg class="icon icon-small-chevron">
					<use xlink:href="#icon-small-chevron"></use>
				</svg>
			</span>
		</div>
		<article class="ac-body" id="faq2" aria-hidden="true">
			<span>
				<p class='small-text'>The answer to the second FAQ goes here.</p>
			</span>
		</article>

		<!--FAQ-3-->
		<div class="ac-title ac-container" data-kv-accordion aria-controls="faq3" aria-expanded="false">
			<p class="question-wrap">
				The third FAQ goes here.
			</p>
			<span class="ac-dropdown-icon">
				<svg class="icon icon-small-chevron">
					<use xlink:href="#icon-small-chevron"></use>
				</svg>
			</span>
		</div>
		<article class="ac-body" id="faq3" aria-hidden="true">
			<span>
				<p class='small-text'>The answer to the third FAQ goes here.</p>
			</span>
		</article>

		<!--FAQ-4-->
		<div class="ac-title ac-container" data-kv-accordion aria-controls="faq4" aria-expanded="false">
			<p class="question-wrap">
				The forth FAQ goes here.
			</p>
			<span class="ac-dropdown-icon">
				<svg class="icon icon-small-chevron">
					<use xlink:href="#icon-small-chevron"></use>
				</svg>
			</span>
		</div>
		<article class="ac-body" id="faq4" aria-hidden="true">
			<span>
				<p class='small-text'>The answer to the fourth FAQ goes here.</p>
			</span>
		</article>

		<!--FAQ-5-->
		<div class="ac-title ac-container" data-kv-accordion aria-controls="faq5" aria-expanded="false">
			<p class="question-wrap">
				The fifth FAQ goes here.
			</p>
			<span class="ac-dropdown-icon">
				<svg class="icon icon-small-chevron">
					<use xlink:href="#icon-small-chevron"></use>
				</svg>
			</span>
		</div>
		<article class="ac-body" id="faq5" aria-hidden="true">
			<span>
				<p class='small-text'>The answer to the fifth FAQ goes here.</p>
			</span>
		</article>

		<!--Blank ac-container to get the bottom line on the last FAQ. This way it works when accordion is expanded.-->
		<div class="ac-title ac-container"></div>
	</section>
</div>