<tr class="comment-container">
    <td class="comment-meta">{{> atoms-avatar }}</td>
    <td><h4 class="comment-name"><a href="#">{{ name.first }} {{ name.last }}</a></h4></td>
    <td><p>{{ description }}</p></td>
</tr>