<h1 class="huge text-center photo-headline" data-interchange="[{{img.behind-text.src}}-sm-std.jpg, (default)], [{{img.behind-text.src}}-med-std.jpg, (medium)], [{{img.behind-text.src}}-lg-std.jpg, (large)]">
	{{headline.short}}
</h1>
