<!--This molecule is intended as an example of the photo-showing-through-text header and
	should not be included as is. To see a live example, check out the "What makes us unique?"
	header on the home page. -->
<div class="photo-headline-example">
	<h1 class="huge text-center photo-headline">
		{{headline.short}}
	</h1>
</div>
