<div class="text-on-background-image" data-interchange="
		[{{img.full-width.src}}-sm-std.jpg, (default)]
		, [{{img.full-width.src}}-sm-retina.jpg, (retina)]
		, [{{img.full-width.src}}-med-std.jpg, (medium)]
		, [{{img.full-width.src}}-med-retina.jpg, (medium-retina)]
		, [{{img.full-width.src}}-lg-std.jpg, (large)]
		, [{{img.full-width.src}}-lg-retina.jpg, (large-retina)]
		, [{{img.full-width.src}}-xl-std.jpg, (xlarge)]
		, [{{img.full-width.src}}-xl-retina.jpg, (xlarge-retina)]
		, [{{img.full-width.src}}-xxl-std.jpg, (xxlarge)]
		, [{{img.full-width.src}}-xxl-retina.jpg, (xxlarge-retina)]

	">
	<div class="wrapper row">
		<div class="container">
			<div class="content">
				<p class="{{textClass}} text-center">
					{{headline.medium}}
				</p>
			</div>
		</div>
	</div>
	{{#img.full-width.attribution}}
		{{> 01-molecules/00-text/08-full-width-image-attribution}}
	{{/img.full-width.attribution}}
</div>
