<a href="#" data-reveal-id="modal">Click Me For A Modal</a>

<section class="lightbox">
	<div id="modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h1 id="modalTitle">Modal Title</h1>
		<p class="impact">The main text of the modal.</p>

		<a class="close-reveal-modal" aria-label="Close">
			<svg class="icon icon-x">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
			</svg>
		</a>
	</div>
</section>