<div class="arrow-steps">
	<ul>
		<li class="arrow active"><a href="#">first</a></li>
		<li class="arrow active"><a href="#">second</a></li>
		<li class="arrow active"><a href="#">third (current)</a></li>
		<li class="arrow"><a href="#">fourth</a></li>
		<li class="arrow"><a href="#">fifth</a></li>
	</ul>
</div>