<div class="row frame  small-text text-right">
    <a href="#" data-reveal-id="myModal">Source</a>
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        {{#sources-modal}}
          <h2 id="modalTitle" class="source-text-color">{{modal-headline}}</h2>
          <p class="lead source-text-color">{{source-citation}}</p>
          <a>{{link}}</a>
       {{/sources-modal}}
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
     </div>
</div>