<div class="small-text text-right">
    <a href="#" data-reveal-id="myModal">Source</a>
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle" class="source-text-color headline-style small-only-margin">{{modal-headline}}</h2>
            {{#sources-modal}}
                <p class="small-only-margin"><a href="{{link}}">{{source-citation}}</a></p>
           {{/sources-modal}}
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
     </div>
</div>

