<div class="row graphic-bottom-margin hide-for-xlarge-up">
     <img src="{{graphic-at-small}}">
</div>

<div class="row graphic-bottom-margin page-padding show-for-xlarge-up" >
    <img src="{{graphic-at-large}}">
</div>