<div class="ac-container ac-title" data-kv-accordion aria-controls="{{id}}" aria-expanded="false">
	<p class="question-wrap">{{question}}</p>
	<span class="ac-dropdown-icon">
		<svg class="icon icon-small-chevron">
			<use xlink:href="#icon-small-chevron"></use>
		</svg>
	</span>
</div>

<article class="ac-body" id="{{id}}" aria-hidden="true">
	<span>
		<p>{{{answer}}}</p>
	</span>
</article>
