<div class="row small-collapse  sidebar-full-width-image">
    <img src="{{sidebar-photo}}">
    <figcaption class="frame sidebar-full-width-image">
       <a href="{{sidebar-photo-href}}">{{sidebar-photo-link}}</a> {{sidebar-photo-caption}}
    </figcaption>
</div>
