<!--This click event associated with the <a> tag is hooked up on the kiva/main side like:
	onclick="kv.Basket.prototype.addOnePrintKivaCard();"
-->
<a  href="#" class="kivaCardUpsellLink" id="kivaCardUpsellLink" kvtrackevent="promo|click|BasketKCUpsell">
	<img class="holidayKivaCardBannerImg" alt="Give a Kiva Card!" data-interchange="
		[//www.kiva.org/cms/page/images/hol_basket_promo_480.png, (default)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_480_retina.png, (retina)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_680.png, (medium)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_680_retina.png, (medium-retina)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_760.png, (large)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_760_retina.png, (large-retina)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_988.png, (xlarge)]
		, [//www.kiva.org/cms/page/images/hol_basket_promo_988_retina.png, (xlarge-retina)]
	"/>
</a>