<div class=" row small-collapse hide-for-xlarge-up" >
    <a href="{{lend-link}}" class="button full-width-button">{{lend-button-text-large}}</a>
    <p class="text-center">
        {{loan-counter-paragraph}}
    </p>
</div>

<div class="show-for-xlarge-up frame">
    <h2> {{loan-headline}}</h2>
    <p>
        {{loan-counter-paragraph}}
    </p>
    <a href="{{lend-link}}" class="button">{{lend-button-text-small}}</a>
</div>