<div class="row page-padding">
    <ul class="category-card-4-up category-card-grid small-block-grid-2 medium-block-grid-2 large-block-grid-4">
        {{#challenges}}
            <li class={{translucency}}>{{> 02-organisms/07-categorycards/00-category-card}}
                <p class="small-text text-center show-for-large-up">{{caption}}</p>
            </li>
        {{/challenges}}
    </ul>
</div>