<div class="deposited-lent-widget{{#is_auto_deposit_active}} auto-deposit-version{{/is_auto_deposit_active}}">
	<svg class="icon icon-recycle">
		<use xlink:href="#icon-recycle"/>
	</svg>
	<div class="deposited-amount">
		<div class="small-statistic-legend">
			{{#total-deposits-help-text}}
				{{> 01-molecules/10-lightbox/04-help-text-lightbox}}
			{{/total-deposits-help-text}}
		</div>
		<div class="statistic">${{total_deposits}}</div>
	</div>
	<div class="lent-amount">
		<div class="statistic">${{total_lent}}</div>
		<div class="small-statistic-legend">
			{{#total-lent-help-text}}
				{{> 01-molecules/10-lightbox/04-help-text-lightbox}}
			{{/total-lent-help-text}}
		</div>
	</div>

	{{#is_auto_deposit_active}}
		<div class="credit-summary-link small-statistic-legend">
			{{#creditSummaryLink}}
				{{> 01-molecules/10-lightbox/04-help-text-lightbox}}
			{{/creditSummaryLink}}

		</div>
	{{/is_auto_deposit_active}}
</div>