<div class="loan-update row">
    <div class="columns large-3 show-for-medium-up">
        <div class="loan-update-image"><img src="{{loanUpdateImageLink}}"></div>
    </div>
    <div class="columns large-9 small-12">
        <div class="loan-update-image hide-for-medium-up"><img src="{{loanUpdateImageLink}}"></div>
        <div class="loan-update-info">
            <div class="loan-update-label small-text">Loan Update</div>
            <b class="loan-update-title"><a href="{{loanUpdateLink}}">{{loanUpdateTitle}}</a></b>
            <div class="loan-update-content">
                <div>{{loanUpdateLocation}}</div>
                <div>{{{loanUpdateText}}}</div>
            </div>
            <div class="loan-update-timestamp small-text">Posted by {{loanUpdateCreator}} on <br/>{{loanUpdateTime}}</div>
        </div>
    </div>



</div>