<div class="loan-update">
    <div class="loan-update-image"><img src="{{loanUpdateImageLink}}"></div>
    <div class="loan-update-info">
        <div class="loan-update-label">Loan Update</div>
        <div class="loan-update-title">
            <a href="{{loanUpdateLink}}">{{loanUpdateTitle}}</a>
        </div>
        <div>{{loanUpdateLocation}}</div>
        <div>{{loanUpdateText}}</div>
        <div class="loan-update-timestamp">Posted by {{loanUpdateCreator}} on {{loanUpdateTime}}</div>
    </div>

</div>