<div class="loan-stats-section">
    <h2 class="row section-header">
        <span class="section-title">{{sectionTitle}}</span>
        <span class="lent-count">{{numLentTo}}/{{totalNum}}</span>
    </h2>
    <div class="row sub-title">
        <div class="small-6 large-6 columns">
            You've lent to
        </div>
        <div class="small-6 large-6 columns">
            You haven't lent to
        </div>
    </div>
    <div class="row">
        <div class="small-6 large-6 columns">
            <ul class="small-block-grid-1 medium-block-grid-2">
                {{#sectionListLentTo}}
                    <li>
                        <img src="{{iconURL}}">
                        <a href="{{labelLink}}">{{label}}</a>
                    </li>
                {{/sectionListLentTo}}
            </ul>
        </div>
        <div class="small-6 large-6 columns">
            <ul class="small-block-grid-1 medium-block-grid-2">
                {{#sectionListNotLentTo}}
                    <li>
                        <img src="{{iconURL}}">
                        <a href="{{labelLink}}">{{label}}</a>
                    </li>
                {{/sectionListNotLentTo}}
                {{^sectionListNotLentTo}}
                    <span class="icon-wrapper">
                        <svg class="icon icon-confirmation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-confirmation"></use>
                        </svg>
                        Great job!
                    </span>
                {{/sectionListNotLentTo}}
            </ul>
        </div>
    </div>

    <div class="ac-body" id="ac-more-{{sectionLabel}}-body" aria-hidden="true">
        <div class="row">
            <div class="small-6 large-6 columns">
                <ul class="small-block-grid-1 medium-block-grid-2">
                    {{#spilloverSectionListLentTo}}
                        <li>
                            <img src="{{iconURL}}">
                            <a href="{{labelLink}}">{{label}}</a>
                        </li>
                    {{/spilloverSectionListLentTo}}
                </ul>
            </div>
            <div class="small-6 large-6 columns">
                <ul class="small-block-grid-1 medium-block-grid-2">
                    {{#spilloverSectionListNotLentTo}}
                        <li>
                            <img src="{{iconURL}}">
                            <a href="{{labelLink}}">{{label}}</a>
                        </li>
                    {{/spilloverSectionListNotLentTo}}
                </ul>
            </div>
        </div>
        <p class="ac-title text-center hide-more-loan-stats" data-kv-accordion aria-controls="ac-more-{{sectionLabel}}-body" aria-expanded="false">
            Hide
        </p>
    </div>

    {{#showSpilloverMessageForSection}}
        <p class="row ac-title text-center show-more-loan-stats" data-kv-accordion aria-controls="ac-more-{{sectionLabel}}-body" aria-expanded="false">
            Show more
        </p>
    {{/showSpilloverMessageForSection}}

    <div class="row bottom-rule lend-link-btn">
        <a href="{{lendingLink}}" class="button secondary">Lend to a new {{sectionLabel}}</a>
    </div>
</div>
