<div class="avg-kiva-compare-table">
	<div class="text-right small-text update-timestamp show-for-large-up">*Updated as of {{updateTimestamp}}</div>
	<div class="text-right small-text update-timestamp hide-for-large-up">*Updated {{updateTimestamp}}</div>
	<table role="grid" summary="My loan portfolio comparison with the average Kiva lender.">
		<thead>
			<tr>
				<th id="comparison-label" class="text-left"></th>
				<th id="my-stats-amount" class="text-right">My stats</th>
				<th id="avg-kiva-lender-amount" class="text-right">Avg Kiva lender</th>
			</tr>
		</thead>
		<tbody>
			{{#compareAmounts}}
				<tr class="{{#showInGray}}show-gray{{/showInGray}}{{#showInWhite}}show-white{{/showInWhite}}">
					<td headers="comparison-label" class="text-left">
						{{#isTabbed}}&emsp;{{/isTabbed}}<a data-reveal-id="{{lightboxRevealLabel}}">{{label}}</a>
					</td>
					<td headers="my-stats-amount" class="text-right">{{myAmount}}</td>
					<td headers="avg-kiva-lender-amount" class="text-right">{{avgKivaLenderAmount}}</td>
				</tr>
			{{/compareAmounts}}
		</tbody>
	</table>
</div>

{{#comparisonHelpTexts}}
    {{> 01-molecules/10-lightbox/04-help-text-lightbox}}
{{/comparisonHelpTexts}}