<a href="#"><span>Keywords</span></a>
<ul id="filter-keywords-search-box-container" class="button-group toggle filter-button-group-ul">
    <li>
		{{> 02-organisms/05-filters/23-keywords-search-item}}
    </li>
</ul>