<div id="filter-slider-container" class="filter filter-slider">
	{{#sliders}}
        <li class="filter filter-slider-item">
			{{> 02-organisms/05-filters/20-slider-items}}
        </li>
	{{/sliders}}
</div>
