<ul id="filter-group-ul" class="button-group toggle filter-button-group-ul" data-toggle="buttons-radio">
	{{#groups}}
        <li class="filter borrower-filter-box">
			{{> 02-organisms/05-filters/17-group-items}}
        </li>
	{{/groups}}
</ul>
