<input type="checkbox" id="filter-matched" name="{{value}}" value="{{value}}">
	<label for="{{value}}" class="filter checkbox-input-span">{{name}}</label>
</input>

<li class="filter checkbox-input">
    <input type="checkbox" id="filter-nonRated" name="filter-nonRated" value="excludeNonRated">
    <label class="filter checkbox-input-span">Exclude Non-Rated Partners</label>
    </input>
</li>