<ul class="sg-colors">
	<li class="sg-colorgroup">Primary</li>
	<li>
		<span class="sg-swatch" style="background: #63a541;"></span>
		<span class="sg-label">#63a541 $kiva-green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #236133;"></span>
		<span class="sg-label">#236133 $kiva-dark-green</span>
	</li>

</ul>