<ul class="sg-colors">
	<li class="sg-colorgroup">Primary</li>
	<li>
		<span class="sg-swatch" style="background: #63a541;"></span>
		<span class="sg-label">#63a541 $kiva-green $green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #236133;"></span>
		<span class="sg-label">#236133 $kiva-dark-green $dark-green</span>
	</li>

	<li class="sg-colorgroup">Secondary</li>
	<li>
		<span class="sg-swatch" style="background: #488443;"></span>
		<span class="sg-label">#488443 $kiva-accent-green $light-green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #26b6e8;"></span>
		<span class="sg-label">#26b6e8 $kiva-accent-blue $blue</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9C021A;"></span>
		<span class="sg-label">#9C021A $kiva-accent-red $red</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #488443;"></span>
		<span class="sg-label">#488443 $kiva-icon-green $graphic-green</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #49953f;"></span>
		<span class="sg-label">#49953f $kiva-navdivider-green $divider-green</span>
	</li>
    <li>
        <span class="sg-swatch" style="background: #d8d8d8;"></span>
        <span class="sg-label">#d8d8d8 $kiva-stroke-gray $light-gray</span>
    </li>
</ul>

<ul class="sg-colors">
	<li class="sg-colorgroup">Background</li>
	<li>
		<span class="sg-swatch" style="background: #fafafa"></span>
		<span class="sg-label">#fafafa $kiva-bg-lightgray $ghost</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #efefef;"></span>
		<span class="sg-label">#efefef $kiva-bg-darkgray $platinum</span>
	</li>
</ul>

<ul class="sg-colors">
    <li class="sg-colorgroup">Text</li>
    <li>
        <span class="sg-swatch" style="background: #333"></span>
        <span class="sg-label">#333 $kiva-text-dark $charcoal</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #666;"></span>
        <span class="sg-label">#666 $kiva-text-medium $dark-gray</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #999;"></span>
        <span class="sg-label">#999 $kiva-text-light $gray</span>
    </li>
</ul>

<ul class="sg-colors">
    <li class="sg-colorgroup">Text Link</li>
    <li>
        <span class="sg-swatch" style="background: #22a9d8"></span>
        <span class="sg-label">#22a9d8 $kiva-textlink $sky-blue</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #6698a9;"></span>
        <span class="sg-label">#6698a9 $kiva-textlink-visited $faded-blue</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #0d8ebb;"></span>
        <span class="sg-label">#0d8ebb $kiva-textlink-hovered $highlight view</span>
    </li>
</ul>