<p>
	<strong>Prepare for the "Private Fundraising Period"</strong>
</p>
<p>Once posted, your loan will enter into the “Private fundraising period, or PFP”. This is a 15-day period where you will be asked to recruit the first 5-35 lenders on your loan from within your personal network.</p>
<p>Conventional lenders charge higher interest rates to riskier businesses — such as startups. On Kiva, such riskier businesses may be asked to recruit slightly more lenders during PFP — but still pay no interest!</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/fundraising-disbursals">Learn more</a>
</div>