<p>
	<strong>Kiva review and approval process</strong>
</p>
<p>Your application has been submitted! Over the next few business days, the Kiva Team will reach out via phone to explain next steps and answer any questions you have.</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/review">Learn more</a>
</div>