<p>
	<strong>Your photo is worth $1,000 (at least)!</strong>
</p>
<p>Your photo can affect your fundraising speed more than anything. Make sure your photo is the best it can be by visiting our photo guidelines. To submit a new photo, email us at <a href="mailto:borrowers@kiva.org">borrowers@kiva.org</a>.</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/profile-photo">See photo guidelines</a>
</div>