<p>
	<strong>Get your friends and family to support you</strong>
</p>
<p>Kiva relies on a borrowers friends and family to vouch for their character by lending to them. Show your community is behind you!</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kivaushub.org/fundraising-templates">View fundraising templates</a>
</div>