<p>
	<strong>Say thank you to lenders</strong>
</p>
<p>Your lenders are your biggest fans! They love hearing updates about your business, especially now that you've fully funded your loan. They receive no other return on giving you money, so your words and dedication are their only real return on investment. Remember, the savviest borrowers are ones who leverage their lenders to be their cheerleaders, brand ambassadors, business advisors, and maybe even their customers!</p>

<div class="text-center">
	<a class="whats-next-action" href="http://www.kiva.org/my/borrower/update">Thank lenders</a>
</div>