<p>
	<strong>Making a payment through PayPal</strong>
</p>
<p>To make a repayment, you can either click the button above, wait for the reminder email or follow the steps below:</p>
	<ol>
		<li>Login to PayPal</li>
		<li>Select “Pay or Send Money” at the top of the page</li>
		<li>Select “Send money to friends or family”</li>
		<li>Send your payment amount to <strong>paypalzip@kiva.org</strong></li>
		<li>Click “Send” and you should receive a confirmation email!</li>
	</ol>

<div class="text-center">
	<a class="whats-next-action" href="https://www.paypal.com">Go to PayPal</a>
</div>