<p>
	<strong>Refer another borrower</strong>
</p>
<p>Do you know another borrower who could benefit from a Kiva loan? Share your unique referral link below, and receive perks from us if they fully fund with their Kiva loan!</p>

<div class="text-center">
	<a class="whats-next-action copyLinkButton" href="#" data-clipboard-text="{{inviteUrl}}">Copy referral link</a>
</div>
