<p>
	<strong>Apply for more funding</strong>
</p>
<p>Now that you successfully repaid your loan on Kiva, you join the ranks of our special community of Kiva borrowers eligible for another loan.</p>

<div class="text-center">
	<a class="whats-next-action" href="https://pages.kiva.org/borrow/start">Apply again</a>
</div>