<p>
	<strong>Apply again</strong>
</p>
<p>We know that it can be a tough process the first time around fundraising for a Kiva loan. If you made it to at least 50% of your goal, you may be eligible to apply again.</p>

<div class="text-center">
	<a class="whats-next-action" href="https://pages.kiva.org/borrow/start">Apply again</a>
</div>