<p>
	<strong>Tell us your story</strong>
</p>
<p>How has Kiva affected your life? Your story can be short and sweet, or long and detailed. It can be inspiring, funny, cute, awkward, or any combination thereof. Ready to share? We're all ears.</p>

<div class="text-center">
	<a class="whats-next-action" href="https://docs.google.com/forms/d/e/1FAIpQLSc5DQtjK7nfyj2HzQgKs1QgrWKejlMMsbzSjmxeo-TgAZM7Wg/viewform">Share your story</a>
</div>