<p>
	<strong>Sign up to repay automatically</strong>
</p>
<p>Never miss a payment by signing up to automatically make payments through your PayPal account. As your Kiva payments impact your business credit score, we want to help you make every payment on time. Click the button below to learn more.</p>

<div class="text-center">
	<a class="whats-next-action" href="/my/borrower/auto-repayments">Learn more</a>
</div>
