<p>
	<strong>Sign up to repay automatically</strong>
</p>
<p>Never miss a payment by signing up to automatically make payments through your PayPal account. Set it up once and never again spend time remembering when you need to make a repayment. Click the button below to learn more.</p>

<div class="text-center">
	<a class="whats-next-action" href="/my/borrower/auto-repayments">Learn more</a>
</div>
