<ul class="paired-button-group button-group">
    <li><a href="#" class="button secondary">{{filters-paired-button-1}}</a></li>
    <li><a href="#" class="button secondary">{{filters-paired-button-2}}</a></li>
</ul>