<div class="submit-controls text-center">
	<div class="monthly-good-disclaimer" class="text-center">
		<p>
			<strong><em>
				We'll charge your PayPal account each month, and any credit <br class="hide-for-small">in your Kiva account will be automatically re-lent for you.
			</em></strong>
		</p>
		{{#has_auto_deposit}}<p><em>* Your new Monthly Good contribution will replace your existing auto deposit.</em></p>{{/has_auto_deposit}}
		{{#has_auto_lending}}<p><em>* Enrolling in Monthly Good will also disable your current auto lending settings.</em></p>{{/has_auto_lending}}
	</div>

	{{^has_billing_agreement}}
		<div id="paypal-button"></div>

		<div class="disclaimer">Thanks to PayPal, Kiva receives
			<br class="so">free payment processing.</div>
	{{/has_billing_agreement}}

	{{#has_billing_agreement}}
		<div id="monthly-good-save-button">
			<button class="button smaller" kvtrackevent="Registration|click-confirm-monthly-good|register-monthly-good|undefined|true">Confirm</button>
			<div class="text-center">
				<em>We'll charge your PayPal account for your Monthly Good</em>
			</div>
		</div>
	{{/has_billing_agreement}}
</div>
