<div class="full-width text-over-image">
	<img alt="" data-interchange= "
		[https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-sm-std.jpg, (default)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-sm-retina.jpg, (retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-med-std.jpg, (medium)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-med-retina.jpg, (medium-retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-lg-std.jpg, (large)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-lg-retina.jpg, (large-retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xl-std.jpg, (xlarge)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xl-retina.jpg, (xlarge-retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xxl-std.jpg, (xxlarge)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xxl-retina.jpg, (xxlarge-retina)]
	">

	<div>
		<div>
			<p class="impact white">Invest in people, be a force for good</p>
			<p class="white">Join our Monthly Good program - the simplest way to help entrepreneurs around the world achieve their dreams.</p>
		</div>
		<div>
			<div class="mg-deposit-amount-input-wrapper">
				<input class="mg-deposit-amount-input" type="text" maxlength="9" placeholder="$" value="$25" data-abide-validator="currency" data-min-amount="5.00" data-max-amount="10000" required="">
			</div>
			<a class="button join-monthly-good" href="">Contribute monthly</a>
		</div>
	</div>
</div>
