<div class="full-width" style="align-content: left; transform-style: preserve-3d; min-height: 385px;">
	<img style="position: relative;" alt="" data-interchange= "
		[https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-sm-std.jpg, (default)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-sm-retina.jpg, (retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-med-std.jpg, (medium)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-med-retina.jpg, (medium-retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-lg-std.jpg, (large)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-lg-retina.jpg, (large-retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xl-std.jpg, (xlarge)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xl-retina.jpg, (xlarge-retina)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xxl-std.jpg, (xxlarge)]
		, [https://www-kiva-org.global.ssl.fastly.net/cms/monthlygood-banner-xxl-retina.jpg, (xxlarge-retina)]
	">

	<div style="position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); margin-left: 5%;">
		<p style="text-align: left; margin: 0;" class="impact white">Invest in people, <br>be a force for good</p>
		<p style="text-align: left; margin: 0;" class="overlay white">Join our Monthly Good program - the simplest way to help entrepreneurs around the world achieve their dreams.</p>

		<div>
			<br>
			<div class="mg-deposit-amount-input-wrapper">
				<input style="width: inherit;" class="mg-deposit-amount-input" type="text" maxlength="9" placeholder="$" value="$25" data-abide-validator="currency" data-min-amount="5.00" data-max-amount="10000" required="">
			</div>
			<br>
			<a class="button join-monthly-good" href="">Contribute monthly</a>
		</div>
	</div>
</div>

