<a href="#" data-reveal-id="{{dataRevealId}}">{{lightboxLinkText}}</a>
<div id="{{dataRevealId}}" class="reveal-modal-bg full standard-lightbox" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-text white">
                <p class="featured">{{{descriptionTitle}}}</p>
                <p>{{{descriptionText}}}</p>
            </div>
        </div>
    </div>
</div>