{{#lightbox_link_text}}<a href="#" data-reveal-id="{{data_reveal_id}}">{{lightbox_link_text}}</a>{{/lightbox_link_text}}
<div id="{{data_reveal_id}}" class="standard-lightbox reveal-modal-bg" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-text white">
                <p class="featured">{{description_title}}</p>

                <p>{{description_text}}</p>
            </div>
        </div>
    </div>
</div>