<h2><a kvtrackevent="Borrower Profile|click-repayment schedule" href="#" class="black-underlined" data-reveal-id="repayment-schedule-tables">Repayment schedule</a></h2>
<div id="repayment-schedule-tables" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-content white repayment-schedule-lightbox">
                <p class="featured">Repayment schedule</p>

                {{#is_direct_loan}}
                    {{#isDisbursed}}
                        <div class="repayment-schedule-wrapper">
                            <table class="simple-repayment-schedule" role="grid" summary="Schedule of expected and actual repayments for this loan.">
                                <thead>
                                <tr>
                                    <th id="total-amount-due" class="text-right shrink">Total amount due</th>
                                    <th id="amount-paid" class="text-right shrink">Amount paid</th>
                                    <th id="due-date-from-borrower" class="shrink">Due from borrower</th>
                                    <th id="status" class="expand">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#directRepayments}}
                                    <tr>
                                        <td headers="total-amount-due" class="text-right shrink">{{totalAmountDue}}</td>
                                        <td headers="amount-paid" class="text-right shrink">{{amountPaid}}</td>
                                        <td headers="due-date-from-borrower" class="shrink">{{dueDateFromBorrower}}</td>
                                        <td headers="status" class="expand">{{status}}</td>
                                    </tr>
                                {{/directRepayments}}
                                </tbody>
                            </table>
                        </div>
                        <p>Disbursement and repayments on this loan will be made via PayPal, a web-based payment system. Repayments made on delinquent loans will be applied towards the oldest outstanding balance until repayments are caught up.</p>
                    {{/isDisbursed}}
                    {{^isDisbursed}}
                        <div class="loan-not-disbursed-text">
                            <p>This borrower’s loan is for {{loanAmount}}.</p>
                            <p>Repayments on this loan will be made in monthly installments of {{monthlyInstallmentAmount}} over a period of {{repaymentTerm}} months. After the funds are disbursed, the borrower will have the standard 1 month before the first payment is due, and may have an additional grace period per the terms outlined in their loan agreement. The detailed repayment schedule will be published here at the time that the funds for this loan are disbursed.</p>
                            <p>Disbursement and repayments will be made via PayPal, a web-based payment system. Repayments made on delinquent loans will be applied toward the oldest payment due until the loan becomes current.</p>
                        </div>
                    {{/isDisbursed}}
                {{/is_direct_loan}}
                {{^is_direct_loan}}
                    {{^isDualStatementLoan}}
                        <div class="show-advanced">
                            <a href="javascript:void(0);" id="show-advanced-toggle">Show advanced</a>
                        </div>

                        <div class="hide-advanced" style="display:none;">
                            <a href="javascript:void(0);" id="hide-advanced-toggle">Hide advanced</a>
                        </div>
                    {{/isDualStatementLoan}}

                    <div class="repayment-schedule-wrapper">
                        <table class="simple-repayment-schedule" role="grid" summary="Schedule of expected and actual repayments for this loan.">
                            <thead>
                            <tr>
                                <th id="expected-repayment-dates" class="shrink">&nbsp;</th>
                                <th id="expected-repayments" class="text-right shrink">Expected</th>
                                <th id="actual-repayments" class="text-right shrink">Actual</th>
                                <th id="comments" class="expand">Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#partnerRepayments}}
                                    <tr>
                                        <td headers="expected-repayment-dates" class="shrink"><strong>{{expectedRepayDate}}</strong></td>
                                        <td headers="expected-repayments" class="text-right shrink">{{expectedRepayment}}</td>
                                        <td headers="actual-repayments" class="text-right shrink">{{actualRepayment}}</td>
                                        <td headers="comments" class="expand">
                                            {{#repaymentReceived}}
                                                <svg class="icon icon-checkbox-good">
                                                    <use xlink:href="#icon-checkbox-good"></use>
                                                </svg>
                                                Repayment received
                                            {{/repaymentReceived}}
                                            {{^repaymentReceived}}
                                                {{#isDelinquent}}
                                                    <svg class="icon icon-checkbox-bad">
                                                        <use xlink:href="#icon-checkbox-bad"></use>
                                                    </svg>
                                                    Delinquent
                                                {{/isDelinquent}}
                                                {{^isDelinquent}}
                                                    {{comments}}
                                                {{/isDelinquent}}
                                            {{/repaymentReceived}}
                                        </td>
                                    </tr>
                                {{/partnerRepayments}}
                            </tbody>
                        </table>

                        {{^isDualStatementLoan}}
                            <table class="advanced-repayment-schedule" style="display:none;" role="grid" summary="Advanced schedule of expected and actual repayments for this loan.">
                                <thead>
                                <tr>
                                    <th id="months" class="shrink">&nbsp;</th>
                                    <th id="expected-repayments" colspan="1"  class="text-left shrink">Expected</th>
                                    <th id="expected-repayments-amount" colspan="1"  class="text-left shrink">Amount</th>
                                    <th id="actual-repayments" colspan="1" class="text-left shrink">Actual</th>
                                    <th id="actual-repayments-received" colspan="1" class="text-left shrink">Received</th>
                                    <th id="comments" class="expand">Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#partnerRepayments}}
                                    <tr class="period">
                                        <th colspan="5">{{expectedRepayDate}}</th>
                                        <th class="status success">
                                            {{#repaymentReceived}}
                                                <svg class="icon icon-checkbox-good">
                                                    <use xlink:href="#icon-checkbox-good"></use>
                                                </svg>
                                                Repayment received
                                            {{/repaymentReceived}}
                                            {{^repaymentReceived}}
                                                {{#isDelinquent}}
                                                    <svg class="icon icon-checkbox-bad">
                                                        <use xlink:href="#icon-checkbox-bad"></use>
                                                    </svg>
                                                    Delinquent
                                                {{/isDelinquent}}
                                                {{^isDelinquent}}
                                                    {{comments}}
                                                {{/isDelinquent}}
                                            {{/repaymentReceived}}
                                        </th>
                                    </tr>
                                    {{#paymentsFromBorrowerToPartner}}
                                        <tr>
                                            <td>{{#showB2FPMessage}}From borrower to Field Partner{{/showB2FPMessage}}{{^showB2FPMessage}}&nbsp;{{/showB2FPMessage}}</td>
                                            <td>{{expectedDate}}</td>
                                            <td>{{expectedAmount}}</td>
                                            <td>{{actualDate}}</td>
                                            <td>{{actualAmount}}</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    {{/paymentsFromBorrowerToPartner}}
                                    <tr>
                                        <td>From Field Partner to lenders</td>
                                        <td>{{expectedRepayDate}}</td>
                                        <td>{{expectedRepayment}}</td>
                                        {{#repaymentReceived}}
                                            <td>{{expectedRepayDate}}</td>
                                        {{/repaymentReceived}}
                                        {{^repaymentReceived}}
                                            {{#isDelinquent}}
                                                <td>{{expectedRepayDate}}</td>
                                            {{/isDelinquent}}
                                        {{/repaymentReceived}}
                                        <td>{{actualRepayment}}</td>
                                        <td>
                                            {{#comments}}
                                                {{comments}}
                                            {{/comments}}
                                            {{#comments}}
                                                {{#currencyLossLenders}}
                                                    <br>
                                                {{/currencyLossLenders}}
                                            {{/comments}}
                                            {{#currencyLossLenders}}
                                                {{currencyLossLenders}} lost to currency devaluation
                                            {{/currencyLossLenders}}
                                            &nbsp;
                                        </td>
                                    </tr>
                                {{/partnerRepayments}}
                                </tbody>
                            </table>
                        {{/isDualStatementLoan}}
                    </div>
                {{/is_direct_loan}}
            </div>
        </div>
    </div>
</div>