{{#showLink}}
    <a href="#" class="black-underlined" data-reveal-id="credit-summary-table">Credit summary</a>
{{/showLink}}
<div id="credit-summary-table" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
    <div class="row">
        <div class="columns small-12">
            <a class="close-reveal-modal" aria-label="Close">
                <svg class="icon icon-x">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
                </svg>
            </a>
            <div class="lightbox-content white credit-summary-lightbox">
                <p class="featured">Kiva credit summary</p>
                <p>Please note, summary data may be up to one hour old.</p>

                <div class="credit-summary-wrapper">
                    <table class="credit-summary" role="grid">
                        <thead>
                            <tr>
                                <th id="creditsDescriptor" class="text-left" colspan="2">Deposits</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#creditSummaryCredits}}
                                <tr>
                                    <td headers="creditsDescriptor" class="text-left">{{name}}</td>
                                    <td headers="amount" class="text-right">{{amount}}</td>
                                </tr>
                            {{/creditSummaryCredits}}
                            <tr>
                                <td headers="creditsDescriptor" class="text-left totalCredit">Subtotal</td>
                                <td headers="amount" class="text-right totalCredit">{{totalCredits}}</td>
                            </tr>
                    </table>
                    <table class="credit-summary" role="grid">
                        <thead>
                            <tr>
                                <th id="creditsDescriptor" class="text-left" colspan="2">Deductions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#creditSummaryDebits}}
                            <tr>
                                <td headers="debitsDescriptor" class="text-left">{{name}}</td>
                                <td headers="amount" class="text-right">{{amount}}</td>
                            </tr>
                        {{/creditSummaryDebits}}
                        <tr>
                            <td headers="debitsDescriptor" class="text-left totalDebit">Subtotal</td>
                            <td headers="amount" class="text-right totalDebit">{{totalDebits}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="credit-summary" role="grid">
                        <tr>
                            <td headers="debitsDescriptor" class="text-left creditSummaryTotal">Total credit in Kiva</td>
                            <td headers="amount" class="text-right creditSummaryTotal">{{availableKivaCredit}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="credit-summary" role="grid">
                        {{#outstandingBalance}}
                        <tr>
                            <td headers="debitsDescriptor" class="text-left">
                                Outstanding balance
                                {{#outstandingPromoBalance}}
                                    (minus {{outstandingPromoBalance}} promo credit balance):
                                {{/outstandingPromoBalance}}
                            </td>
                            <td headers="amount" class="text-right">{{outstandingBalance}}</td>
                        </tr>
                        {{/outstandingBalance}}
                        {{#kivaCredit}}
                        <tr>
                            <td headers="debitsDescriptor" class="text-left">Kiva credit</td>
                            <td headers="amount" class="text-right">{{kivaCredit}}</td>
                        </tr>
                        {{/kivaCredit}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>