{{#is-styleguide}}
	<a href="#" data-reveal-id="trustee-endorse-lightbox">trigger me!</a>
{{/is-styleguide}}


<div id="trustee-endorse-lightbox" class="reveal-modal trustee-endorse-lightbox" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="columns small-12">
			<a class="close-reveal-modal" aria-label="Close">
				<svg class="icon icon-x">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
				</svg>
			</a>
			<div class="lightbox-content white trustee-endorse-lightbox-content">
				{{> 01-molecules/10-lightbox/13-trustee-endorse-lightbox-content}}
			</div>
		</div>
	</div>
</div>
