<li class="loan-card loan-card-listing" data-equalizer-watch>
    <div class="borrower-img-wrap">
        <img class="borrower-img" src="{{img.borrower.src}}" >
    </div>

    <div class="borrower-details-wrap">
        <a href="##">{{title}}</a>
        <div class="country">
			<span class="f16 {{country.code}}"></span>{{country.name}}
        </div>

		<p>{{description}}</p>
    </div>

    <!--{{> molecules-fundraising-meter}}-->
</li>