<div class="loan-card">
    <a class="borrower-img-wrap" href="#">
        <img class="borrower-img" src="{{img.borrower.src}}" >
    </a>

    <div class="borrower-details-wrap">
        <a href="#">{{title}}</a>
        <div class="country">
			<span class="f16 {{country.code}}"></span>{{country.name}}
        </div>

		<p>{{description}}</p>
    </div>

    <div class="borrower-footer-wrap">
        <div class="fundraising-meter progress">
            <span class="meter"></span>
        </div>

        <div class="loan-card-buttons">
            <a class="button" href="#">Lend $25</a>
            <a class="button" href="#">Read More</a>
        </div>
    </div>
</div>