<div class="loan-card">
    <a class="borrower-img-wrap" kvtrackevent="Lending|click-Read more|Photo" href="{{borrower_url}}" data-interchange="[{{image.url}}, (default)], [{{image.retina_url}}, (retina)]">
        {{#show_loan_length}}
            <div class="loan-message">{{loan_length}}</div>
        {{/show_loan_length}}
        {{^show_loan_length}}
            {{#is_expiring_soon}}
                <div class="loan-message urgent">{{expiring_soon_message}}</div>
            {{/is_expiring_soon}}
        {{/show_loan_length}}
    </a>
	<div class="loan-image-footer">
    	{{> molecules-loan-image-footer}}
	</div>

    <div class="borrower-details-wrap" data-equalizer-watch style="height:{{height}};">
        <a kvtrackevent="Lending|click-Read more|Name" href="{{borrower_url}}">{{name}}</a>
        <div class="country">
			<span class="f16 {{location.country.iso_code}}"></span>{{location.country.name}}
        </div>

		<p class="small-text">{{use}}</p>
    </div>

    <div class="borrower-footer-wrap">
        <div class="fundraising-meter progress">
            <span class="meter" style="width:{{progress.percent}}%"></span>
            <span class="caption">{{progress.message}}</span>
        </div>

		<div class="bottom-bar-region">
			{{> molecules-bottom-bar }}
		</div>
    </div>
</div>