{{! (listing) variation change + (selected) state change}}
<div class="loan-card loan-card--listing loan-card--listing-selected">
    <div class="borrower-img-wrap">
        <img src="{{img.avatar.src}}" class="borrower-img">
        <span class="country-flag f16 ht">{{loancard.country-iso}}</span>
        <div class="amount-left">{{loancard.amount-left}}</div>
    </div>

    {{> molecules-fundraising-meter}}

    <div class="borrower-details-wrap">
        <a href="#" class="borrower-name">Amaliana Canterantera</a>
        <div class="sector">Transportation</div>

        <div class="matcher-text">x2 Google.com will match your loan!</div>

        <a href="#" class="button tiny button-cta">Lend $25</a>
        <a href="#" class="button tiny fa fa-star"></a>
    </div>
</div>