<div class="list-view-header">
	<div class="loan-country">Loan / country</div>
	<div class="partner-trustee">Partner / Trustee</div>
	<div class="loan-length">Loan length</div>
</div>

<ul class="loancards-list small-block-grid-1 large-block-grid-2" data-equalizer data-equalizer-mq="large-up">
	{{#loans}}
		<li>
			{{> 02-organisms/04-loancards/00-loancard-listing}}
		</li>
	{{/loans}}

	{{#if-no-results}}
		{{> 01-molecules/07-messaging/01-no-results}}
	{{/if-no-results}}

</ul>

{{> 02-organisms/10-lend/03-paging}}