<ul class="loancards-list">
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
    <li>
        {{> organisms-listing-loancard}}
    </li>
</ul>