<div class="loan-card-2 message-card-2 row" data-equalizer-watch style="height:{{height}};">
	<div class="message small-12 columns">
		<h2>{{title}}</h2>
		<p>{{body}}</p>
	</div>

	<div class="bottom-bar-2">
		<a class="full-width button" href="{{button_url}}">{{button_text}}</a>
	</div>
</div>