<div class="loan-card message-card row" data-equalizer-watch style="height:{{height}};">
	<div class="message small-12 columns">
		<h2>{{title}}</h2>
		<p>{{body}}</p>
	</div>
	<div class="action small-12 columns">
		<a class="button" href="{{button_url}}">{{button_text}}</a>
	</div>
</div>