<div class="loan-card row" data-equalizer-watch style="height:{{height}};">
	<div class="small-12 columns">
		Here is a message. Are you interested in this message? Then <a href="{{url}}">click here</a>.
	</div>
</div>