<div class="loan-card-2 row" data-equalizer-watch style="height:{{height}};">
	<div class="loan-card-2-image-wrap">
		{{#is_admin}}
			<div class="image-edit-buttons">
				<a class="edit" href="{{image.edit_url}}" target="_blank"><svg class="icon icon-edit"><use xlink:href="#icon-edit"/></svg></a>
				<a class="refresh" href="#"><svg class="icon icon-refresh"><use xlink:href="#icon-refresh"/></svg></a>
			</div>
		{{/is_admin}}
		<a class="loan-card-2-image" kvtrackevent="Lending|click-Read more|Photo|{{id}}|true" href="{{borrower_url}}" data-interchange="{{#image.sizes}}[{{url}}, ({{size}})],{{/image.sizes}}">
		</a>

		{{#can_favorite}}
			<a kvtrackevent="Lending|click-Favorite star|Favorite|undefined|true" title="Star this loan to find it quickly later. You can view and manage your starred loans in the ‘Lend’ tab above." href="#" class="favorite-link{{#is_favorite}} is-favorite{{/is_favorite}}">
				<svg class="icon icon-star"><use xlink:href="#icon-star"/></svg>
			</a>
		{{/can_favorite}}
	</div>

    <div class="loan-card-2-details-wrap">
        <a class="loan-card-2-borrower-name" kvtrackevent="Lending|click-Read more|Name|{{id}}|true" href="{{borrower_url}}">{{name}}</a>

		<div class="loan-card-2-country">
			{{location_label}}
        </div>

		<div class="loan-card-2-use">{{use}}</div>
    </div>

	<div class="borrower-partner-trustee">
		{{#partnerName}}
			<span>Field partner:&nbsp;</span>{{partnerName}}
		{{/partnerName}}
		{{#trusteeName}}
			<span>Trustee:&nbsp;</span>{{trusteeName}}
		{{/trusteeName}}
	</div>

	<div class="borrower-loan-length">
		<span>Loan length:&nbsp;</span>{{lenderRepaymentTerm}} months
	</div>

	<div class="loan-card-2-footer-wrap">
		<div class="fundraising-meter progress">
			<span class="meter" style="width:{{progress.percent}}%;"></span>
		</div>

		<div class="left-and-to-go-line">
			{{#is_expiring_soon}}
				<span class="loan-message">{{expiring_soon_message}}</span>
				<span class="short-loan-message">{{short_expiring_soon_message}}</span>
			{{/is_expiring_soon}}

			{{progress.message}}
		</div>

		<div class="matching-line">
			{{#is_matched}}
				{{^is_ended}}
					<svg class="icon icon-match"><use xlink:href="#icon-match"/></svg>
					<span>{{matching_text}}</span>
				{{/is_ended}}
			{{/is_matched}}
		</div>

		<div class="button-line">
			{{> molecules-bottom-bar-2 }}
		</div>
	</div>
</div>
<div class="loan-card-bottom-buffer show-for-touch is-loan-card-2"></div>
