<a class="close-reveal-modal" aria-label="Close">
	<svg class="icon icon-x">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
	</svg>
</a>
<div class="lightbox-content">
	<div class="white-background-box">
		{{#countries_unlent_count}}
			<span class="small-text kiva-gray">You have lent to {{countries_unlent_count}} of {{total_countries_count}} Kiva Countries!</span>
			<br/>
			<a href="#" id="countries-unlent">Find one you have not lent to</a>
		{{/countries_unlent_count}}
		<div id="country-list">
			{{#regions}}
				<section class="region-name">
					{{> 02-organisms/05-filters/country-filter-components/country-filter-regions}}
				</section>
			{{/regions}}
		</div>

		<a href="#" id="filter-country-submit" class="button smaller right">Done</a>

	</div>
</div>
