<div class="lightbox-content">
	<div class="white-background-box">
		<a class="close-reveal-modal" aria-label="Close">
			<svg class="icon icon-x">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-x"></use>
			</svg>
		</a>
		{{#logged_in}}
			<span class="small-text kiva-gray">You have lent to {{countries_unlent_count}} of {{total_countries_count}} countries where Kiva works</span>
			<br/>
			<a href="#" id="countries-unlent">Find a loan in a new country or territory</a>
		{{/logged_in}}
		<div id="country-list">
			{{#regions}}
				<section class="region-name">
					{{> 02-organisms/05-filters/country-filter-components/country-filter-regions}}
				</section>
			{{/regions}}
		</div>
	</div>
		<a href="#" id="filter-country-submit" class="button smaller right">Done</a>
</div>
